﻿@model ClienteSIGREI.Clases.Registro;
@{
    ViewData["Title"] = "Registro";
    Layout = "_LayoutRegistro";
}


<div id="wrapper">
    <div class="header" id="header">
        <div class="header-system">
            <table style="width: 100%; border: 0;">
                
                <tr>
                    <td class="aligns">
                        <div class="header-tittle">
                            <p class="title01">
                                Sistema de Registro de Requerimiento de Información de IMEI
                            </p>
                        </div>
                    </td>
                    <td class="aligns">
                        <div class="header-img">
                            <img src="~/images/osiptel/banner-systems.png" alt="Imagen"/>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <form method="post" id="frmDescargarPlantilla" enctype="multipart/form-data" asp-controller="Registro" asp-action="DescargarPlantillaImeiFisico"></form>
    <form method="post" id="frmDescargarError" enctype="multipart/form-data" asp-controller="Registro" asp-action="DescargarError_Imei"></form>
    <form method="post" id="frmRecargarPagina" enctype="multipart/form-data" asp-controller="Registro" asp-action="RecargarPaginaRegistro"></form>
    <form method="post" id="frmRegistroRequerimiento" enctype="multipart/form-data" asp-controller="Registro" asp-action="Create">
        <div id="cuerpoRegistro" style="background-color: #F2FAFC">

            <div class="row ">
                <div class="col-md-10 col-xs-10">
                    <p class="title-opt">
                        Usuario:
                        @{
                            @using Microsoft.AspNetCore.Http;

                            var usuario = (String)Context.Session.GetString("DesUsuario");
                        }
                        <label id="lblUsuario" runat="server" style="font-weight: bold;">@usuario</label>
                        <input type="hidden" id="ifUsuario" name="ifUsuario" value="@usuario">
                    </p>
                </div>
                <div class="col-md-2 col-xs-2 text-right">
                    <a href="#" style="font-weight:bold;font-size:16px;color:#1883c5;" onclick="fn_descargarManual()">Manual</a>
                </div>

            </div>

            <div id="cabeceraCuerpo" class="content-header">
                <h3 style="color: #ffffff">Registro de Requerimiento</h3>
                <input id="h_tipousuario" name="h_tipousuario" type="hidden" runat="server" value="@ViewBag.TipoUsuario" />
                <input id="h_arroba" name="h_arroba" type="hidden" runat="server" value="@ViewBag.Arroba" />
            </div>
            <div>
                <div class="row ">
                    <div class="col-md-3">
                        <p class="title-opt">
                            Solicitante
                        </p>
                    </div>

                    <div class="col-md-9 ">
                        <asp:Label ID="lblDescTipoSolicitante" runat="server">@ViewBag.DescTipoUsuario</asp:Label>

                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <p class="title-opt">
                            Nombre de la Institución
                        </p>
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.nombreInstitucion, new { htmlAttributes = new { @class = "form-control", @MaxLength = "200" } })

                        @*<asp:TextBox ID="txtNombreInstitucion" runat="server" CssClass="input-content" MaxLength="100" Width="500"></asp:TextBox>*@
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <p class="title-opt">
                            Nombre del Solicitante
                        </p>
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.nombreSolicitante, new { htmlAttributes = new { @class = "form-control" }, @maxlength = "100" })
                        @*<asp:TextBox ID="txtNombreSolicitante" runat="server" CssClass="input-content" MaxLength="100" Width="500"></asp:TextBox>*@
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p class="title-opt">
                            Cargo del Solicitante
                        </p>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.cargo, new { htmlAttributes = new { @class = "form-control" }, @maxlength = "50" })
                        @*<asp:TextBox ID="txt
                            go" runat="server" CssClass="input-content" MaxLength="50" Width="360"></asp:TextBox>*@
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p class="title-opt">
                            Departamento
                        </p>
                    </div>
                    <div class="col-md-5">
                        @Html.DropDownList("ddlUbigeo", new SelectList(ViewBag.Lista_Departamento, "idUbigeo", "descUbigeo"), "Seleccione", new { title = "Seleccione el departamento", @class = "form-control " })
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p class="title-opt">
                            Dirección
                        </p>
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.direccion, new { htmlAttributes = new { @class = "form-control", @maxlength = "200" } })
                        @*<asp:TextBox ID="txtDireccion" runat="server" CssClass="input-content" MaxLength="200" Width="500"></asp:TextBox>*@
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <p class="title-opt">
                            Correo electrónico Institucional
                        </p>
                    </div>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control" }, @maxlength = "100" })
                        @*<asp:TextBox ID="txtCorreo" runat="server" CssClass="input-content" MaxLength="100" Width="300" ToolTip="Para fiscalías @mpfn.gob.pe, comisarías @pnp.gob.pe y ministerio del interior @mininter.gob.pe"></asp:TextBox>*@
                    </div>
                    <div class="col-md-4">
                        <label id="lblInfoCorreo" style="color: #D70000; font-size: 10px; font-weight: normal;">Para fiscalías &#64;mpfn.gob.pe, comisarías &#64;pnp.gob.pe y ministerio del interior &#64;mininter.gob.pe</label>

                    </div>
                </div>

                <div class="row ">
                    <div class="col-md-3">
                        <p class="title-opt">
                            Nro de Teléfono de contacto (Opcional)
                        </p>
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.contacto, new { htmlAttributes = new { @class = "form-control", @MaxLength = "20", @onkeypress = "return soloNumeros(event)" } })
                        @*<asp:TextBox ID="txtNroContacto" runat="server" CssClass="input-content" MaxLength="20" Width="260"></asp:TextBox>*@
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p class="title-opt">
                            Adjuntar Oficio (max. 8MB)
                        </p>
                    </div>
                    <div class="col-md-7">
                        @*<input type="submit" value="Upload">*@
                        @*accept="image/x-png,image/gif,image/jpeg"*@
                        <input type="file" id="fileOficio" name="fileOficio" class="form-control " title="Archivo máximo de 5MB" accept="application/pdf" />
                        @*<asp:FileUpload ID="fileOficio" runat="server" Width="349px" ToolTip="Archivo máximo de 8MB" />*@
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <p class="title-opt">
                            Nro de Oficio
                        </p>
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.nroOficio, new { htmlAttributes = new { @class = "form-control " }, @maxlength = "50" })
                        @*<asp:TextBox ID="txtnroOficio" runat="server" CssClass="input-content" MaxLength="50" Width="360"></asp:TextBox>*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-xs-12">
                        <p class="title-opt">Motivo del requerimiento</p>
                    </div>
                    <div class="col-md-9 col-xs-12">
                        @Html.TextAreaFor(model => model.comentario, new {  @class = "form-control comentario-registro" ,
                       cols = "70",
                       rows = "4",
                       @maxlength = "500"
                   })

                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <p class="title-opt">
                            Nro de Documento referenciado de la Institución (Opcional)
                        </p>
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.nroDocReferenciado, new { htmlAttributes = new { @class = "form-control", @MaxLength = "50" } })

                    </div>
                </div>
                <br />
                <div class="row ">
                    <div class="col-md-3">
                        <p class="title-opt">
                            Adjuntar Archivo IMEI (.xlxs)
                        </p>
                    </div>
                    <div class="col-md-6">
                        <input type="file" id="fileArchivoImei" name="fileArchivoImei" class="form-control " title="El archivo xlxs debe contener mínimo un registro" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />

                    </div>
                    <div class="col-md-3 text-center">
                        <button class="btn btn-default class-buttons" type="button" id="btnDescargar" name="btnDescargar" title="Plantilla Archivo IMEI">
                            <i class="far fa-file-excel fa-lg"/>
                            Plantilla Archivo IMEI
                        </button>

                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-7">
                        <label id="lblInfoCorreo" style="color: #D70000; font-size: 11px; font-weight: normal;">Nota: Para la adecuada identificación del posible propietario deberá remitirnos el código de IMEI físico, el cual cuenta con quince (15) dígitos y suele estar impreso en la parte posterior interna del equipo terminal o en el soporte del CHIP</label>

                    </div>
                </div>

                <div class="row ">
                    <div class="col-md-10 text-center">
                        <button class="btn btn-default class-buttons" type="button" id="btnSolicitar" name="btnSolicitar">
                            Solicitar
                        </button>
                    </div>
                    <div class="col-md-2 text-right">
                        <a asp-area="" class="btn boton-close-sesion" asp-controller="Login" asp-action="Index"><i class="fa fa-power-off fa-lg" aria-hidden="true"></i> Cerrar Sesión</a>
                    </div>
                </div>

            </div>
        </div>
    </form>


</div>
<script src="~/js/appjs/registro/jsRegistro.js?0.0.2"></script>

