﻿@model List<Osiptel.SIGREI.BE.BE_REPORTE_IMEI>;
@{
    Layout = "";
}
<div class="tabla-content-result">
    <input type="hidden" id="hdreqeele" name="hdreqeele" />
    <table id="dtResultadoReporte" class="tabla-osiptel" style="width: 100%">
        <thead>
            <tr>
                <th>Nro</th>
                <th>@ViewBag.TipoReporte</th>
                <th>Enero</th>
                <th>Febrero</th>
                <th>Marzo</th>
                <th>Abril</th>
                <th>Mayo</th>
                <th>Junio</th>
                <th>Julio</th>
                <th>Agosto</th>
                <th>Setiembre</th>
                <th>Octubre</th>
                <th>Noviembre</th>
                <th>Diciembre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

            <tr>
                <td class="text-center">@item.nroItem</td>
                <td class="text-left">@item.descripcion</td>
                <td class="text-center">@item.enero</td>
                <td class="text-center">@item.febrero </td>
                <td class="text-center">@item.marzo </td>
                <td class="text-center">@item.abril</td>
                <td class="text-center">@item.mayo</td>
                <td class="text-center">@item.junio</td>
                <td class="text-center">@item.julio</td>
                <td class="text-center">@item.agosto</td>
                <td class="text-center">@item.setiembre  </td>
                <td class="text-center">@item.octubre  </td>
                <td class="text-center">@item.noviembre</td>
                <td class="text-center">@item.diciembre</td>
            </tr>

            }
        </tbody>
    </table>
</div>
<script type="text/javascript">

    $('#dtResultadoReporte').DataTable({
        colReorder: true,
        "ordering": false,
        responsive: true,
        'columnDefs': [{
            'targets': [0, 1],
            'orderable': false
        }]
    });

</script>
@*<script src="~/js/appjs/requerimiento/jsDetalleIndex.js?0.0.3"></script>*@