﻿
@model IEnumerable<Osiptel.SIGREI.BE.General.BE_COMBO>
@{
    ViewData["Title"] = "Estadistico";
}

<form method="post" id="frmBandejaEstadistico" enctype="multipart/form-data">
    <div class="container contenedor-bandeja">
        <div class="row">
            <div class="col-md-12">
                <div class="content-header cabecera-formulario" style="margin-top: 30px">
                    <h3 style="color: #ffffff">Estadísticos Gerenciales</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row" style="margin-top: 20px;padding: 0 30px;">
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label style="margin-top: 5px;" for="anio" class="col-sm-4 col-form-label">Año</label>
                            <div class="col-sm-8">
                                @Html.DropDownList("anio", new SelectList(ViewBag.ListaAnio, "id", "descripcion"), "Seleccione un Año", new { title = "Anio", @class = "form-control ", @style = "width: 180px;" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label style="margin-top: 5px;" for="requerimiento" class="col-sm-4 col-form-label">Tipo de Requerimiento</label>
                            <div class="col-sm-8">
                                @Html.DropDownList("requerimiento", new SelectList(ViewBag.ListaRequerimiento, "id", "descripcion"), "Todos", new { title = "Anio", @class = "form-control ", @style = "width: 180px;" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label style="margin-top: 5px;" for="EmpOpe" class="col-sm-4 col-form-label">Empresa Operadora</label>
                            <div class="col-sm-8">
                                @Html.DropDownList("EmpOpe", new SelectList(ViewBag.ListaEO, "id", "descripcion"), "Todos", new { title = "Anio", @class = "form-control ", @style = "width: 180px;" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding: 0 30px;">
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label style="margin-top: 5px;" for="InsSol" class="col-sm-4 col-form-label">Tipo de Institucion</label>
                            <div class="col-sm-8">
                                @Html.DropDownList("InsSol", new SelectList(ViewBag.ListaInstitucion, "id", "descripcion"), "Todos", new { title = "Anio", @class = "form-control ", @style = "width: 180px;" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label style="margin-top: 5px;" for="periodo" class="col-sm-4 col-form-label">Periodo</label>
                            <div class="col-sm-8">
                                @*@Html.DropDownList("periodo", new MultiSelectList(ViewBag.ListaPeriodo, "id", "descripcion"), new { title = "Anio", @style = "width: 180px;", multiple = "multiple" })*@
                                <select id="periodo" style="width: 180px;" multiple="multiple">
                                    @foreach (var item in ViewBag.ListaPeriodo)
                                    {
                                        <option value="@item.id">@item.descripcion</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="button" id="btnGraficar" class="btn class-button-bandeja">
                            Graficar
                        </button>
                        <a id="btnExportar" class="btn class-button-bandeja">
                            Exportar
                        </a>
                    </div>
                </div>
                <div class="row" style="margin-top: 25px;">
                    <div class="col-md-4">
                        <canvas id="graficoBarraGeneralAtendidos"></canvas>
                    </div>
                    <div class="col-md-4">
                        <canvas id="graficoBarraGeneralPendientes"></canvas>
                    </div>
                    <div class="col-md-4">
                        <canvas id="graficoPieGeneral"></canvas>
                    </div>
                </div>

                <div class="row" style="margin-top: 25px;">
                    @*<div id="tablaEO" style="padding: 7px;"></div>*@
                    <div id="divTableEmpOpe" class="tabla-content-result">

                    </div>
                </div>
                <div class="row">
                    @*<div id="tablaIns" style="padding: 7px;"></div>*@
                    <div id="divTableInsSol" class="tabla-content-result">

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script>

    var dataSource = null;
    var dataSourceIns = null;
    var BarchartA = null;
    var BarchartP = null;
    var pieChart = null;
    var pgridwidget = null;
    var pgridwidge2 = null;

    $(document).ready(function () {
        $("#btnExportar").on('click', function (e) {
            e.preventDefault();
            $.showLoading({ imgLoading: URLSERVICIO_IMEI + '/images/osiptel/ajax-loader.gif', body: true });
            var anio = $("#anio").val();
            var requerimiento = $("#requerimiento").val() == "" ? "0" : $("#requerimiento").val();
            var EmpOpe = $("#EmpOpe").val() == "" ? "0" : $("#EmpOpe").val();
            var InsSol = $("#InsSol").val() == "" ? "0" : $("#InsSol").val();
            var periodoSelect = [];

            $.each($("#periodo option:selected"), function (index, value) {
                periodoSelect.push($(this).val());
            });

            var periodo = null;

            if (periodoSelect.length == 0) {
                periodo = "0";
                //periodo = '1,2,3,4,5,6,7,8,9,10,11,12';
            } else {
                periodo = periodoSelect.join();
            }

            if (anio == "") {
                $.hideLoading();
                alert("Debe seleccionar un año");
                return;
            }

            var parametro = anio + "|" + requerimiento + "|" + EmpOpe + "|" + InsSol + "|" + periodo;

            $.post(URLSERVICIO_IMEI + "/EstadisticoGerencial/ExportarReporte",
                {
                    parametro: parametro
                }).done(function (data) {
                    var response = data.data;
                    window.location = URLSERVICIO_IMEI + '/EstadisticoGerencial/Download?fileGuid=' + response.fileGuid
                        + '&filename=' + response.fileName;

                    //window.location = URLSERVICIO_IMEI + "/EstadisticoGerencial/Download";
                    /*$.hideLoading();*/
                })
                .fail(function (xhr, status, error) {
                    console.log("xhr", xhr)
                    console.log("status", status)
                    console.log("error", error)
                })
                .always(function () {
                    $.hideLoading();
                });

        });

        $("#periodo").multiselect({
            includeSelectAllOption: true,
            templates: {
                button: '<span class="multiselect dropdown-toggle form-control" data-toggle="dropdown" style="width: 180px;">Seleccionar</span>',
                popupContainer: '<div class="multiselect-container dropdown-menu"></div>',
                option: '<div class="multiselect-option dropdown-item"></div>',
            },
            maxHeight: 200,
            dropDown: true
        });

        $("#btnGraficar").click(function () {
            var anio = $("#anio").val();
            var mensaje = "";
            if (anio === "") {
                mensaje += "Seleccione el Año";
                mensaje += "<br/>";
            }

            if (mensaje != "") {
                mostrarMensajeError(mensaje);
            } else {
                $.showLoading({ imgLoading: URLSERVICIO_IMEI + '/images/osiptel/ajax-loader.gif', body: true });
                var requerimiento = $("#requerimiento").val() == "" ? 0 : $("#requerimiento").val();
                var EmpOpe = $("#EmpOpe").val() == "" ? 0 : $("#EmpOpe").val();
                var InsSol = $("#InsSol").val() == "" ? 0 : $("#InsSol").val();

                var periodoSelect = [];

                $.each($("#periodo option:selected"), function (index, value) {
                    periodoSelect.push($(this).val());
                });

                var periodo = null;

                if (periodoSelect.length == 0) {
                    periodo = '1,2,3,4,5,6,7,8,9,10,11,12';
                } else {
                    periodo = periodoSelect.join();
                }

                $.post(URLSERVICIO_IMEI + "/EstadisticoGerencial/GraficarEOGerencial", {
                    anio: anio,
                    requerimiento: requerimiento,
                    EmpOpe: EmpOpe,
                    InsSol: InsSol,
                    periodo: periodo
                },
                    function (datasets) {

                        if (BarchartA != null) {
                            BarchartA.destroy();
                        }

                        if (BarchartP != null) {
                            BarchartP.destroy();
                        }

                        if (pieChart != null) {
                            pieChart.destroy();
                        }

                        var ctxA = document.getElementById('graficoBarraGeneralAtendidos').getContext('2d');
                        BarchartA = new Chart(ctxA, {
                            type: 'bar',
                            data: datasets["barraAtendido"],
                            options: {
                                scales: {
                                    xAxes: [{
                                        stacked: true
                                    }],
                                    yAxes: [{
                                        stacked: true
                                    }]
                                },
                                legend: {
                                    display: true,
                                    labels: {
                                        fontColor: 'rgb(255, 99, 132)'
                                    }
                                },
                                title: {
                                    display: true,
                                    text: "ATENDIDOS POR EO"
                                }
                            }
                        });

                        var ctxP = document.getElementById('graficoBarraGeneralPendientes').getContext('2d');
                        BarchartP = new Chart(ctxP, {
                            type: 'bar',
                            data: datasets["barraPendiente"],
                            options: {
                                scales: {
                                    xAxes: [{
                                        stacked: true
                                    }],
                                    yAxes: [{
                                        stacked: true
                                    }]
                                },
                                legend: {
                                    display: true,
                                    labels: {
                                        fontColor: 'rgb(255, 99, 132)'
                                    }
                                },
                                title: {
                                    display: true,
                                    text: "PENDIENTES POR EO"
                                }
                            }
                        });

                        var ctxPie = document.getElementById('graficoPieGeneral').getContext('2d');
                        pieChart = new Chart(ctxPie, {
                            type: 'pie',
                            data: datasets["pieGrafica"],
                            options: {
                                tooltips: {
                                    enabled: true,
                                    mode: 'single',
                                    callbacks: {
                                        title: function (tooltipItem, data) {
                                            return data['labels'][tooltipItem[0]['index']];
                                        },
                                        label: function (tooltipItem, data) {
                                            var texto = [];
                                            var sumA = 0;
                                            var sumP = 0;
                                            if (datasets["barraAtendido"]['datasets'][tooltipItem['index']] != undefined) {
                                                $.each(datasets["barraAtendido"]['datasets'][tooltipItem['index']]['data'], function (index, value) {
                                                    sumA += value;
                                                });
                                            }
                                            if (datasets["barraPendiente"]['datasets'][tooltipItem['index']] != undefined) {
                                                $.each(datasets["barraPendiente"]['datasets'][tooltipItem['index']]['data'], function (index, value) {
                                                    sumP += value;
                                                });
                                            }

                                            var atendido = "ATENDIDO: " + sumA;
                                            var pendiente = "PENDIENTE: " + sumP;
                                            texto.push(atendido, pendiente);
                                            return texto;
                                        }
                                    },
                                    displayColors: false
                                },
                                title: {
                                    display: true,
                                    text: "TOTAL DE REQUERIMIENTOS POR EO"
                                }
                            }
                        });

                    }).done(function () {
                        $.post(URLSERVICIO_IMEI + "/EstadisticoGerencial/TablaEOGerencial",
                            {
                                anio: anio,
                                requerimiento: requerimiento,
                                EmpOpe: EmpOpe,
                                InsSol: InsSol,
                                periodo: periodo
                            },
                            function (dataTablaEO) {

                                $("#divTableEmpOpe").empty();

                                if (dataTablaEO.data.length > 0) {
                                    var html = '';

                                    html += '<table id="tablaEmpOpe" class="tabla-osiptel" style="width: 100%">';
                                    html += '<caption style="display: none">TablaDetalle</caption>';
                                    html += '<thead><tr>';
                                    html += '<th rowspan="2">EMPRESA OPERADORA</th>';
                                    html += '<th rowspan="2">TIPO REQUERIMIENTO</th>';
                                    html += '<th rowspan="2">ESTADO</th>';
                                    html += '<th rowspan="2">TIPO DE ESTADO</th>';
                                    $.each(dataTablaEO.meses, function (index, value) {
                                        html += '<th colspan="' + dataTablaEO.dias[index].length + '">' + value + '</th>';
                                    });
                                    html += '<th rowspan="2">Total</th>';
                                    html += '</tr><tr>';
                                    $.each(dataTablaEO.meses, function (index, value) {
                                        $.each(dataTablaEO.dias[index], function (index2, value2) {
                                            html += '<th>' + value2 + '</th>';
                                        });
                                    });
                                    html += '</tr></thead></table>';

                                    $("#divTableEmpOpe").html(html);

                                    $('#tablaEmpOpe').DataTable({
                                        data: dataTablaEO.data,
                                        scrollX: true,
                                        initComplete: function () {
                                            $(".dataTables_scrollBody table thead").addClass("hidden");
                                        }
                                    });
                                } else {
                                    $("#divTableEmpOpe").html('<p style="color: red;"><strong>No se muestra la informacion de la tabla Empresas Operadoras por no contar con DATA</strong></p>');
                                }
                            }).done(function () {
                                $.post(URLSERVICIO_IMEI + "/EstadisticoGerencial/TablaInsGerencial",
                                    {
                                        anio: anio,
                                        requerimiento: requerimiento,
                                        EmpOpe: EmpOpe,
                                        InsSol: InsSol,
                                        periodo: periodo
                                    },
                                    function (dataTablaIns) {

                                        $("#divTableInsSol").empty();

                                        if (dataTablaIns.data.length > 0) {
                                            var html = '';

                                            html += '<table id="tablaInsSol" class="tabla-osiptel" style="width: 100%">';
                                            html += '<caption style="display: none">TablaDetalle</caption>';
                                            html += '<thead><tr>';
                                            html += '<th rowspan="2">TIPO DE INFORMACIÓN</th>';
                                            html += '<th rowspan="2">ENTIDAD PÚBLICA</th>';
                                            html += '<th rowspan="2">UNIDAD ENTIDAD PÚBLICA</th>';
                                            html += '<th rowspan="2">SUB UNIDAD ENTIDAD PÚBLICA</th>';
                                            html += '<th rowspan="2">RUC</th>';
                                            $.each(dataTablaIns.meses, function (index, value) {
                                                html += '<th colspan="' + dataTablaIns.dias[index].length + '">' + value + '</th>';
                                            });
                                            html += '<th rowspan="2">Total</th>';
                                            html += '</tr><tr>';
                                            $.each(dataTablaIns.meses, function (index, value) {
                                                $.each(dataTablaIns.dias[index], function (index2, value2) {
                                                    html += '<th>' + value2 + '</th>';
                                                });
                                            });
                                            html += '</tr></thead></table>';

                                            $("#divTableInsSol").html(html);

                                            $('#tablaInsSol').DataTable({
                                                data: dataTablaIns.data,
                                                scrollX: true,
                                                initComplete: function () {
                                                    $(".dataTables_scrollBody table thead").addClass("hidden");
                                                }
                                            });
                                        } else {
                                            $("#divTableInsSol").html('<p style="color: red;"><strong>No se muestra la informacion de la tabla Institucion Solicitante por no contar con DATA</strong></p>');
                                        }
                                    }).done(function () {
                                        $.hideLoading();
                                    }).fail(function () {
                                        $.hideLoading();
                                    });
                            }).fail(function () {
                                $.hideLoading();
                            });
                    }).fail(function (xhr, status, error) {
                        console.log(xhr);
                        console.log(status);
                        console.log(error);
                        $.hideLoading();
                    });
            }

        });

    });

//function download(filenameEO, filenameInsSol) {
//    var EO = document.createElement('a');
//    EO.setAttribute('href', orb.export(pgridwidget));
//    EO.setAttribute('download', filenameEO);
//    EO.style.display = 'none';
//    document.body.appendChild(EO);
//    EO.click();
//    document.body.removeChild(EO);

//    var InsSol = document.createElement('a');
//    InsSol.setAttribute('href', orb.export(pgridwidge2));
//    InsSol.setAttribute('download', filenameInsSol);
//    InsSol.style.display = 'none';
//    document.body.appendChild(InsSol);
//    InsSol.click();
//    document.body.removeChild(InsSol);
//}


</script>