﻿@model List<Osiptel.SIGREI.BE.BE_REQUERIMIENTO>;
@{
    ViewData["Title"] = "_DetalleRequerimientoEP";
}

<div class="tabla-content-result">
    <div class="row">
        <img src="~/images/iconexcel.png" style="    width: 4%;     margin-left: 1%; cursor:pointer" alt="Descargar Excel Aquí" onclick="GenrarExcelBusquedaEP();" />
    </div>
    <table id="dtResultadoBusqueda" class="tabla-osiptel" style="width: 100%">
        <caption style="    visibility: hidden;">Detalle Usuario EP</caption>
        <thead>
            <tr>
                <th scope="col">Nº</th>
                <th scope="col">Nombre de Institución</th>
                <th scope="col">Nº DE Requerimiento</th>
                <th scope="col">Fecha de Registro</th>
                <th scope="col">Estado</th>
                <th scope="col">Tipo de Dato</th>
                <th scope="col">Total de IMEI</th>
                <th scope="col">Total de MOVIL</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>@item.nroItem</td>
                    <td>@item.nombreInstitucion</td>
                    <td>@item.nroRequerimiento</td>
                    <td>@item.fecRegistro</td>
                    <td>@item.descEstado</td>
                    <td>@item.descTipoOrigen</td>
                    <td>@item.nroImei</td>
                    <td>@item.nroImeiDos</td>

                    <td class="text-center">
                        @if (@item.idEstado == 0)
                        {
                            <a href="RequerimientoEP/NuevoRequerimientoEP" class="fa fa-edit fa-lg" title="Consultar"></a>
                        }
                        <a href="#" onclick="fn_GenerarPdfReqEP(@item.idRequerimiento)" class="fa fa-file-pdf-o fa-lg" title="Descargar"></a>

                        <a href="#" onclick="fn_DetalleReqEP(@item.idRequerimiento)" class="fa fa-search fa-lg" title="Consultar"></a>
                    </td>
                </tr>

            }
        </tbody>

    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#dtResultadoBusqueda').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            colReorder: true,
            responsive: true,
            //'order': [[0, "asc"]],
            'columnDefs': [{
                'targets': [],
                'orderable': false

            }]
        });
    });

    function GenrarExcelBusquedaEP() {
        window.location = URLSERVICIO_IMEI + '/RequerimientoEP/DescargarExcelBusqueda';
    }
   
    function fn_GenerarPdfReqEP(idRequerimiento) {
        $("#hiidValorReqEP").val(idRequerimiento);

        MostrarCargando();

        var msg = "";
        var key = 0;
        var arrGen = [];
        var formdata = new FormData($("#frmGestionRequerimientoEP")[0]);
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/RequerimientoEP/GenerarDocRequerimientoEP",
            contentType: false,
            processData: false,
            dataType: "json",
            data: formdata,
            success: function (data) {
                key = data.key;

                msg = data.value;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                CerrarCargando();
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);
            },
            complete: function () {
                CerrarCargando();
                if (key == "0") {
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    window.location = URLSERVICIO_IMEI + '/RequerimientoEP/DescargarDocSustentoPdf';
                    
                } else if (key == "2") {
                    swalWithBootstrapButtons.fire({
                        title: 'Mensaje del Sistema',
                        text: msg,
                        type: 'warning',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar',
                        reverseButtons: false
                    }).then(function (result) {
                        if (result.value) {

                            //window.location = URLSERVICIO_IMEI + '/GestorUsuario/DescargarError';
                        }
                    })

                }
            }
        });
    }


    function fn_DetalleReqEP(idRequerimiento) {
        var divNuevoParametro = $("#divDetalleReq");
        divNuevoParametro.html("");

        $("#hiidValorReqEP").val(idRequerimiento);

        $("#modalDetalleReq").modal({ backdrop: 'static', keyboard: false });

        var divEditaParametro = $("#divDetalleReq");
       
        MostrarCargando();
       
        var msg = "";
        var key = 0;
        var arrGen = [];
        var formdata = new FormData($("#frmGestionRequerimientoEP")[0]);
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/RequerimientoEP/DetalleRequerimientoEP",
            contentType: false,
            processData: false,
            dataType: "json",
            data: formdata,
            success: function (data) {
                key = data.key;
                
                msg = data.value;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                CerrarCargando();
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);
            },
            complete: function () {
                CerrarCargando();
                if (key == "0") {
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    divEditaParametro.html("");
                    divEditaParametro.html(msg);
                    $('#dtResultadCarMasMovilEP').DataTable({
                        language: {
                            "decimal": "",
                            "emptyTable": "No hay información",
                            "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                            "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                            "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                            "infoPostFix": "",
                            "thousands": ",",
                            "lengthMenu": "Mostrar _MENU_ Entradas",
                            "loadingRecords": "Cargando...",
                            "processing": "Procesando...",
                            "search": "Buscar:",
                            "zeroRecords": "Sin resultados encontrados",
                            "paginate": {
                                "first": "Primero",
                                "last": "Ultimo",
                                "next": "Siguiente",
                                "previous": "Anterior"
                            }
                        },
                        colReorder: true,
                        responsive: true,

                        'columnDefs': [{
                            'targets': [],
                            'orderable': false
                        }]
                    });
                    $('#dtResultadCarMasImeiEP').DataTable({
                        language: {
                            "decimal": "",
                            "emptyTable": "No hay información",
                            "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                            "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                            "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                            "infoPostFix": "",
                            "thousands": ",",
                            "lengthMenu": "Mostrar _MENU_ Entradas",
                            "loadingRecords": "Cargando...",
                            "processing": "Procesando...",
                            "search": "Buscar:",
                            "zeroRecords": "Sin resultados encontrados",
                            "paginate": {
                                "first": "Primero",
                                "last": "Ultimo",
                                "next": "Siguiente",
                                "previous": "Anterior"
                            }
                        },
                        colReorder: true,
                        responsive: true,

                        'columnDefs': [{
                            'targets': [],
                            'orderable': false
                        }]
                    });
                } else if (key == "2") {
                    swalWithBootstrapButtons.fire({
                        title: 'Mensaje del Sistema',
                        text: msg,
                        type: 'warning',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar',
                        reverseButtons: false
                    }).then(function (result) {
                        if (result.value) {

                            //window.location = URLSERVICIO_IMEI + '/GestorUsuario/DescargarError';
                        }
                    })

                }
            }
        });
    }
    
   

</script>

