﻿
@{
    ViewData["Title"] = "Index";
}
<form method="post" id="frmGestionRequerimientoEP" enctype="multipart/form-data">
    <input type="hidden" id="hiidValorReqEP" name="hiidValorReqEP" />
    <div class="container contenedor-bandeja" style="    margin-top: 28px;">
        <div class="row">
            <div class="col-md-12">
                <div class="content-header cabecera-formulario">
                    <h3 style="color: #ffffff">BANDEJA DE REGISTRO DE REQUERIMIENTOS</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="etiqueta">
                    Periodo: Desde
                </label>
            </div>
            <div class="col-md-3">
                <input id="txtPerDesde" name="txtPerDesde" class="input-content" type="date" style="width:100%">
                <input id="txtPerDesde2" name="txtPerDesde2" class="input-content" type="hidden" style="width:100%">
            </div>
            <!--<div class="col-md-3">
        <label class="etiqueta">
            Estado
        </label>
    </div>
    <div class="col-md-3">
        @Html.DropDownList("Lista_Estado", new SelectList(ViewBag.Lista_Estado, "IDESTADO", "ESTADO"), "Seleccione una Opción", new { title = "Tipo de Solicitante", @class = "input-content ", style = "width: 100%;" })
    </div>-->
            <div class="col-md-3">
                <label class="etiqueta">
                    Nº Requerimiento
                </label>
            </div>
            <div class="col-md-3">
                @Html.TextBox("txtNroRequerimiento", "", new { @class = "input-content", style = "width: 100%;" })
            </div>

        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="etiqueta" style="    margin-left: 16%;">
                      Hasta
                </label>
            </div>
            <div class="col-md-3">
                <input id="txtPerHasta" name="txtPerHasta" class="input-content" type="date" style="width:100%">
                <input id="txtPerHasta2" name="txtPerHasta2" class="input-content" type="hidden" style="width:100%">
            </div>
            
            

        </div>

        
        <div class="row">

            <div class="col-md-12" style="text-align:center">
                <button type="button" id="btnBuscarRequerimientoEP" class="btn class-button-bandeja">
                    Buscar
                </button>
                <a href="RequerimientoEP/NuevoRequerimientoEP">
                    <button type="button" id="btnNuevoRequerimiento" class="btn class-button-bandeja">
                        Nuevo Requerimiento
                    </button>
                </a>
            </div>
        </div>
        <br />
        <br />

        <div class="row">
            <div class="col-md-12">
                <div class="content-header cabecera-formulario">
                    <h3 style="color: #ffffff">LISTADO</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="" id="divGrillaRequerimientoEP">

                </div>
            </div>

        </div>
        <div class="modal fade bd-example-modal-lg" id="modalDetalleReq" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lx" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="content-header cabecera-formulario">
                            <h3 style="color: #ffffff">Detalle Requerimiento EP</h3>
                        </div>
                        <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="" id="divDetalleReq">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
<script type="text/javascript">
    $(function () {

        $("#btnBuscarRequerimientoEP").click(function () {
            fn_BuscarRequerimientoEP();
        });
        $('#txtPerDesde').on('keydown', function (e) {
            try {
                return false;
            }
            catch (Exception) {
                return false;
            }
        });  
        $('#txtPerHasta').on('keydown', function (e) {
            try {
                return false;
            }
            catch (Exception) {
                return false;
            }
        });  

    });
    function validarFormatoFecha(campo) {
        var RegExPattern = /^\d{1,2}\/\d{1,2}\/\d{2,4}$/;
        if ((campo.match(RegExPattern)) && (campo != '')) {
            return true;
        } else {
            return false;
        }
    }
    function fn_BuscarRequerimientoEP() {
        BloquearPantalla();
        var mensaje = fn_ValidarBuscarRequerimientoEP();
        if (mensaje === "") {
            var divNuevoParametro = $("#divGrillaRequerimientoEP");
            divNuevoParametro.html("");
            var msg = "";
            var key = 0;
            document.getElementById("txtPerDesde2").value = moment(document.getElementById("txtPerDesde").value).format('DD/MM/YY');
            document.getElementById("txtPerHasta2").value = moment(document.getElementById("txtPerHasta").value).format('DD/MM/YY');
            //var formdata = new FormData($("#frmGestionUsuarios")[0]);
            var formdata = $("#frmGestionRequerimientoEP").serialize();
            $.ajax({
                type: "POST",
                url: URLSERVICIO_IMEI + "/RequerimientoEP/BuscarRequerimientoEP",
                cache: false,
                data: formdata,
                success: function (data) {
                    console.log(data);
                    divNuevoParametro.html("");
                    divNuevoParametro.html(data);

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    DesbloquearPantalla();
                    console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                    mostrarMensajeError("Error al intentar cargar la info para crear un nuevo parametro");
                },
                complete: function () {
                    DesbloquearPantalla();
                }
            });
        } else {
            DesbloquearPantalla();
            mostrarMensajeError(mensaje);
        }
    }

    function fn_ValidarBuscarRequerimientoEP(){
        var mensaje = "";
        var bandera = 0;
        /*var Lista_Estado = $("#Lista_Estado").val();
        if (Lista_Estado == "") {
            bandera = 1;
        } else {
            return mensaje;
        }*/
        var txtNroRequerimiento = $("#txtNroRequerimiento").val();
        if (txtNroRequerimiento == "") {
            bandera = 1;
        } else {
            return mensaje;
        }
        var txtPerDesde = $("#txtPerDesde").val();
        if (txtPerDesde == "") {
            bandera = 1;
        } else {
            var txtPerHasta = $("#txtPerHasta").val();
            if (txtPerHasta == "") {
                bandera = 1;
            } else {
                return mensaje;
            }
        }
        var txtPerHasta = $("#txtPerHasta").val();
        if (txtPerHasta == "") {
            bandera = 1;
        } else {
            var txtPerDesde = $("#txtPerDesde").val();
            if (txtPerDesde == "") {
                bandera = 1;
            } else {
                return mensaje;
            }
        }
        

        if (bandera == 1) {
            mensaje = "*  Debe ingresar parametros para realizar una busqueda";
        }
        return mensaje;
    }
</Script>
