﻿
@model Osiptel.SIGREI.BE.BeUsuarioEP;
@{
    ViewData["Title"] = "NuevoRequerimientoEP";
}

<form method="post" id="frmNuevoRequerimientoEP" enctype="multipart/form-data">
    <div class="container contenedor-bandeja" style="    margin-top: 28px;">
        <div class="row">
            <div class="col-md-12">
                <div class="content-header cabecera-formulario">
                    <h3 style="color: #ffffff">NUEVO REQUERIMIENTO</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="etiqueta">
                    Apellidos
                </label>
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.DES_APE_ALL, new { @class = "input-content", style = "width: 100%;" })
            </div>
            <div class="col-md-3">
                <label class="etiqueta">
                    Región Solicitante
                </label>
            </div>
            <div class="col-md-3" style="display:none;">
                @Html.TextBoxFor(m => m.IDENTPUBLICA, new { @class = "input-content", style = "width: 100%;" })
                @Html.TextBoxFor(m => m.DES_ENTPUB, new { @class = "input-content", style = "width: 100%;" })
                @Html.TextBoxFor(m => m.IDUBIGEO, new { @class = "input-content", style = "width: 100%;" })
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.UBIGEO, new { @class = "input-content", style = "width: 100%;" })
            </div>

        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="etiqueta">
                    Nombres
                </label>
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.DES_NOMBRE, new { @class = "input-content", style = "width: 100%;" })
            </div>

            <div class="col-md-3">
                <label class="etiqueta">
                    Oficina Solicitante
                </label>
            </div>
            <div class="col-md-3" style="display:none;">
                @Html.TextBoxFor(m => m.IDUNIDADEP, new { @class = "input-content", style = "width: 100%;" })
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.NOMBREUNIDADP, new { @class = "input-content", style = "width: 100%;" })
            </div>

        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="etiqueta">
                    Tipo de Documento
                </label>
            </div>
            <div class="col-md-3" style="display:none;">
                @Html.TextBoxFor(m => m.COD_DOCIDE, new { @class = "input-content", style = "width: 100%;" })
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.DES_TDOC, new { @class = "input-content", style = "width: 100%;" })
            </div>

            <div class="col-md-3">
                <label class="etiqueta">
                    Cargo
                </label>
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.CARGO, new { @class = "input-content", style = "width: 100%;" })
            </div>

        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="etiqueta">
                    Número de Documento
                </label>
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.NUM_DOCIDE, new { @class = "input-content", style = "width: 100%;" })
            </div>
            <div class="col-md-3">
                <label class="etiqueta">
                    Fecha de Registro
                </label>
            </div>
            <div class="col-md-3">
                <input id="txtFecActual" name="txtFecActual" class="input-content" type="date" style="width:100%" disabled>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="etiqueta">
                    Correo Electrónico
                </label>
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.CORREO_COMPL, new { @class = "input-content", style = "width: 100%;" })
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <label class="campo_Obligatorio etiqueta">
                            <label class="title-opt">
                                Delito Investigado
                            </label>
                            
                        </label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.DELITO, new { @class = "input-content", style = "width: 100%;" })
                        <!--<input id="txtDelInvestigado" name="txtDelInvestigado" class="input-content" type="text" style="width:100%" placeholder="Ingresar Delito Investigado">-->
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="campo_Obligatorio etiqueta">
                            <label class="title-opt">
                                Motivo del Requerimiento
                            </label>
                            
                        </label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.MOTIVO, new { @class = "input-content", style = "width: 100%;" })
                        <!--<input id="txtMotvRequerimiento" name="txtMotvRequerimiento" class="input-content" type="text" style="width:100%" placeholder="Ingresar Motivo del Requerimiento">-->
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label class="campo_Obligatorio etiqueta">
                            <label class="title-opt">
                                Nº Denuncia/Caso/Carpeta/Expediente
                            </label>
                            
                        </label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.NRODOCREF, new { @class = "input-content", style = "width: 100%;" })
                        <!--<input id="txtNumDeCaCarEx" name="txtNumDeCaCarEx" class="input-content" type="text" style="width:100%" placeholder="Ingresar Nº Denuncia/Caso/Carpeta/Expediente">-->
                    </div>

                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <label class="campo_Obligatorio etiqueta">
                            <label class="title-opt">
                                Tipo de Dato a Cargar
                            </label>
                            
                        </label>
                    </div>
                    <div class="col-md-6">

                        @Html.DropDownListFor(m => m.Lista_Tip_Dato, new SelectList(ViewBag.Lista_Tip_Dato, "valor", "descripcion"), "Seleccione una Opción", new { title = "Tipo de Solicitante", @class = "input-content ", style = "width: 100%;" })
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label class="campo_Obligatorio etiqueta">
                            <label class="title-opt">
                                Tipo de Carga
                            </label>
                            
                        </label>
                    </div>
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.Lista_Tip_Carga, new SelectList(ViewBag.Lista_Tip_Carga, "valor", "descripcion"), "Seleccione una Opción", new { title = "Tipo de Solicitante", @class = "input-content ", style = "width: 100%;" })
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <!--<strong>Para carga de IMEI:</strong>
            <p>
                Cargar el IMEI FISICO(15 digitos) del equipo terminal móvil. El IMEI fisico es el IMEI impreso en el equipo
                terminal y suele encontrarse en la parte trasera del equipo(tapa), debajo de la bateria del equipo o en la bandeja que soporta al sim card(chip).
                <br />
                Cabe precisar que el IMEI LOGICO(IMEI que se muestra al digitar *#06# en el equipo terminal móvil)
                es suceptible de ser alterado. Por esta razón, se solicita cargar el IMEI FISICO del equipo terminal móvil.
                <br />

            </p>
            <strong>Para carga de SERVICIO</strong>
            <p>
                Cargar el NUMERO DE SERVICIO MOVIL de 9 digitos
            </p>-->
            </div>
        </div>

        <div class="row" id="contImeiIndividual">
            <div class="col-md-3">
                <label class="etiqueta">
                    Nº IMEI FISICO INDIVIDUAL
                </label>
            </div>
            <div class="col-md-3">
                <input id="txtImeiIndiv" name="txtImeiIndiv" class="input-content" type="text" style="width:100% ;" disabled>
            </div>
            <div class="col-md-2">
                <button type="button" id="btnValidarImeiIndiv" class="btn class-button-bandeja" disabled>
                    Cargar Individual
                </button>
            </div>
            <div class="col-md-4">
                <label class="etiqueta" id="lblMensajeImeiIndiv" style="font-weight: bold; font-size: 15px;">

                </label>
            </div>


        </div>
        <div class="row" id="contMovilIndividual">
            <div class="col-md-3">
                <label class="etiqueta">
                    Nº SERVICIO MOVIL INDIVIDUAL
                </label>
            </div>
            <div class="col-md-3">
                <input id="txtNumMovIndiv" name="txtNumMovIndiv" class="input-content" type="text" style="width:100% ; " disabled>
            </div>
            <div class="col-md-2">
                <button type="button" id="btnValidarNumMovIndiv" class="btn class-button-bandeja" disabled>
                    Cargar Individual
                </button>
            </div>
            <div class="col-md-4">
                <label class="etiqueta" id="lblMensajeMovilIndiv" style="font-weight: bold; font-size: 15px;">

                </label>
            </div>


        </div> <br />
        <div class="row">
           
            <div class="col-md-4">
                <label class="etiqueta">
                    <button type="button" id="btnDesForMovil" class="btn class-button-bandeja" onclick="DesFormTelefMas();" ; disabled>
                        DESCARGAR FORMATO CARGA MASIVA
                    </button>
                </label>
            </div>
            
        </div><br />
        <div class="row">
            <div class="col-md-12">
                <label class="etiqueta">
                    <strong>IMEI FISICO</strong>
                </label>
            </div>
            <div class="col-md-2" style="display:none;">
                <label class="etiqueta">
                    <button type="button" id="btnDesForImei" class="btn class-button-bandeja" onclick="DesFormImeiMas();" disabled>
                        DESCARGAR FORMATO
                    </button>
                </label>
            </div>
            <div class="col-md-5">
                <input type="file" id="fileCargaMasivaImei" name="fileCargaMasivaImei" class="form-control " title="Archivo máximo de 4MB" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" disabled/>
            </div>
            <div class="col-md-1">
                <label class="etiqueta">
                    <button type="button" id="btnSubArcImei" class="btn class-button-bandeja" disabled>
                        CARGAR MASIVO
                    </button>
                </label>
            </div>

        </div><br />
        <div class="row">
            <div class="col-md-12">
                <label class="etiqueta">
                    <strong>SERVICIO MOVIL</strong>
                </label>
            </div>
            <div class="col-md-2" style="display:none;">
                <label class="etiqueta">
                    <button type="button" id="btnDesForMovil" class="btn class-button-bandeja" onclick="DesFormTelefMas();" ; disabled>
                        DESCARGAR FORMATO
                    </button>
                </label>
            </div>
            <div class="col-md-5">
                <input type="file" id="fileCargaMasivaMovil" name="fileCargaMasivaMovil" class="form-control " title="Archivo máximo de 4MB" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" disabled/>
            </div>
            <div class="col-md-1">
                <label class="etiqueta">
                    <button type="button" id="btnSubArcMovil" class="btn class-button-bandeja" disabled>
                        CARGAR MASIVO
                    </button>
                </label>
            </div>

        </div>
        <hr />
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <strong>Para carga de IMEI FISICO:</strong>
                <p>
                    Cargar el IMEI FISICO(15 digitos) del equipo terminal móvil. El IMEI fisico es el IMEI impreso en el equipo
                    terminal y suele encontrarse en la parte trasera del equipo(tapa), debajo de la bateria del equipo o en la bandeja que soporta al sim card(chip).
                    <br />
                    Cabe precisar que el IMEI LOGICO(IMEI que se muestra al digitar *#06# en el equipo terminal móvil)
                    es suceptible de ser alterado. Por esta razón, se solicita cargar el IMEI FISICO del equipo terminal móvil.
                    <br />

                </p>
                <strong>Para carga de SERVICIO</strong>
                <p>
                    Cargar el NUMERO DE SERVICIO MOVIL de 9 digitos
                </p>
            </div>

        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div class="" id="divGrillaCargarMasImei">
                    <div class="tabla-content-result" style="    margin-top: -2%;">
                        <table id="dtResultadoBusqueda" class="tabla-osiptel" style="width: 100%">
                            <caption style="visibility: hidden;">Detalle Imei</caption>
                            <thead>
                                <tr>
                                    <th scope="col">Dato</th>
                                    <th scope="col">Revisión Preliminar</th>
                                    <th scope="col">¿Procede Cargar?</th>
                                    <th scope="col">Accion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>

        </div><br />
        <div class="row">

            <div class="col-md-3">
                <label class="etiqueta">
                    <button type="button" id="btnDesSusImei" class="btn class-button-bandeja" disabled>
                        Descargar Sustento Revisión Preliminar (IMEI FISICO)
                    </button>
                </label>
            </div>

        </div><br />

        <div class="row">
            <div class="col-md-12">
                <div class="" id="divGrillaCargarMasMovil">
                    <div class="tabla-content-result" style="    margin-top: -2%;">
                        <table id="dtResultadoBusqueda" class="tabla-osiptel" style="width: 100%">
                            <caption style="visibility: hidden;">Detalle Imei</caption>
                            <thead>
                                <tr>
                                    <th scope="col">Dato</th>
                                    <th scope="col">Revisión Preliminar</th>
                                    <th scope="col">¿Procede Cargar?</th>
                                    <th scope="col">Accion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>

        </div><br />
        <div class="row">

            <div class="col-md-3">
                <label class="etiqueta">
                    <button type="button" id="btnDesSusMovil" class="btn class-button-bandeja" disabled>
                        Descargar Sustento Revisión Preliminar (Servicio Móvil)
                    </button>
                </label>
            </div>

        </div><br /><br />
        <div class="row">

            <div class="col-md-12" style="text-align:center">
                <a href="../RequerimientoEP">
                    <button type="button" id="btnCancelarEP" class="btn class-button-bandeja">
                        Cancelar
                    </button>
                </a>
                <button type="button" id="btnRegistrarEP" class="btn class-button-bandeja">
                    Registrar Requerimiento
                </button>
            </div>
        </div>
    </div>

</form>
<script type="text/javascript">

    var fecha = new Date(); //Fecha actual
    var mes = fecha.getMonth() + 1; //obteniendo mes
    var dia = fecha.getDate(); //obteniendo dia
    var ano = fecha.getFullYear(); //obteniendo año
    if (dia < 10)
        dia = '0' + dia; //agrega cero si el menor de 10
    if (mes < 10)
        mes = '0' + mes //agrega cero si el menor de 10
    document.getElementById('txtFecActual').value = ano + "-" + mes + "-" + dia;

    $('#DES_APE_ALL').attr('readonly', true);
    $('#DES_NOMBRE').attr('readonly', true);
    $('#DES_TDOC').attr('readonly', true);
    $('#CARGO').attr('readonly', true);
    $('#NUM_DOCIDE').attr('readonly', true);
    $('#CORREO_COMPL').attr('readonly', true);
    $('#DES_ENTPUB').attr('readonly', true);
    $('#NOMBREUNIDADP').attr('readonly', true);
    $('#DES_PUESTO').attr('readonly', true);
    $('#DES_UUOO').attr('readonly', true);
    $('#UBIGEO').attr('readonly', true);
    
    /*$("#DES_APEPAT").prop('disabled', true);
    $("#DES_NOMBRE").prop('disabled', true);
    $("#DES_TDOC").prop('disabled', true);
    $("#NUM_DOCIDE").prop('disabled', true);
    $("#CORREO_COMPL").prop('disabled', true);
    $("#DES_ENTPUB").prop('disabled', true);
    $("#NOMBREUNIDADP").prop('disabled', true);*/
    $(function () {
        $("#DELITO").val("");
        $("#MOTIVO").val("");
        $("#NRODOCREF").val("");
        $("#Lista_Tip_Dato").val("");
        $("#Lista_Tip_Carga").val("");
        $("#txtImeiIndiv").val("");
        $("#txtNumMovIndiv").val("");
    });


    //VALIDANDO BOTONES PARA HABILIDATR OPCIONES
    function deshabilitarTodo() {
        document.getElementById("txtImeiIndiv").value = "";
        $("#txtImeiIndiv").prop('disabled', true);
        $("#btnValidarImeiIndiv").prop('disabled', true);
        document.getElementById("txtNumMovIndiv").value = "";
        $("#txtNumMovIndiv").prop('disabled', true);
        $("#btnValidarNumMovIndiv").prop('disabled', true);
        $("#fileCargaMasivaImei").prop('disabled', true);
        $("#fileCargaMasivaMovil").prop('disabled', true);
        //
        //LIMPIANDO Y DESHABILITANDO VALORES DE REGISTRO MASIVO TELEFONO Y IMEI
        $("#btnDesForImei").prop('disabled', true);
        $("#btnSubArcImei").prop('disabled', true);
        //$("#btnDesSusImei").prop('disabled', true);
        $("#btnDesForMovil").prop('disabled', true);
        $("#btnSubArcMovil").prop('disabled', true);
        //$("#btnDesSusMovil").prop('disabled', true);
    }

    $("#btnRegistrarEP").click(function () {
        var ent_publica = $("#IDENTPUBLICA").val();
        var uni_ent_publica = $("#IDUNIDADEP").val();
        var tipoSolicitante = $("#COD_DOCIDE").val();
        var descTipoSolicitante = $("#NUM_DOCIDE").val();
        var fecRegistro = $("#txtFecActual").val();
        var apellidos = $("#DES_APE_ALL").val();
        var nombres = $("#DES_NOMBRE").val();
        var tipoDoc = $("#DES_TDOC").val();
        var correo = $("#CORREO_COMPL").val();
        var nombreInstitucion = $("#DES_ENTPUB").val();
        var nombreSolicitante = $("#NOMBREUNIDADP").val();

        var delito = $("#DELITO").val();
        var motivo = $("#MOTIVO").val();
        var num_denuncia = $("#NRODOCREF").val();

        var lstDato = $("#Lista_Tip_Dato").val();
        var lstCarga = $("#Lista_Tip_Carga").val();
        var ubigeo = $("#IDUBIGEO").val();
        var ubigeoText = $("#UBIGEO").val();
        var cargo = $("#CARGO").val();

        if (ent_publica == "" || uni_ent_publica == "" || tipoSolicitante == "" || descTipoSolicitante == "" ||
            fecRegistro == "" || apellidos == "" || nombres == "" || tipoDoc == "" || correo == "" || nombreInstitucion == "" || nombreSolicitante == "" ||
            delito == "" || motivo == "" || num_denuncia == "" || lstDato == "" || lstCarga == "" || ubigeo == "") {

            alert("Campos Vacios");
            return;
        }

        var dataMovil = new Array();
        var dataImei = new Array();

        if (lstDato == 1) {
            var tableMovil = $("#dtResultadCarMasMovilEP").DataTable().data().toArray();
            if (tableMovil != undefined) {
                if (tableMovil.length > 0) {
                    tableMovil.forEach(function (row, i) {
                        var fila = {};
                        fila.nroitem = tableMovil[i][0];
                        fila.dato = tableMovil[i][1];
                        fila.revi = tableMovil[i][2];
                        fila.proce = tableMovil[i][3];
                        dataMovil.push(fila)
                    });
                } else {
                    alert("Tabla de Servicio Movil se encuentra Vacia");
                    return;
                }
            } else {
                alert("Tabla de Servicio Movil se encuentra Vacia");
                return;
            }
        } else if (lstDato == 2) {
            var tableImei = $("#dtResultadCarMasImeiEP").DataTable().data().toArray();
            if (tableImei != undefined) {
                if (tableImei.length > 0) {
                    tableImei.forEach(function (row, i) {
                        var fila = {};
                        fila.nroitem = tableImei[i][0];
                        fila.dato = tableImei[i][1];
                        fila.revi = tableImei[i][2];
                        fila.proce = tableImei[i][3];
                        fila.indi = tableImei[i][5];
                        dataImei.push(fila)
                    });
                } else {
                    alert("Tabla de Imei se encuentra Vacia");
                    return;
                }
            } else {
                alert("Tabla de Imei se encuentra Vacia");
                return;
            }

        } else if (lstDato == 3) {
            //alert("ayuda");
            var tableMovil = $("#dtResultadCarMasMovilEP").DataTable().data().toArray();
            //console.log(tableMovil);
            var tableImei = $("#dtResultadCarMasImeiEP").DataTable().data().toArray();
            //console.log(tableImei);
            if (tableMovil != undefined && tableImei != undefined) {
                if (tableMovil.length > 0 && tableImei.length > 0) {
                    //alert("xxxxxxx");
                    tableMovil.forEach(function (row, i) {
                        var fila = {};
                        fila.nroitem = tableMovil[i][0];
                        fila.dato = tableMovil[i][1];
                        fila.revi = tableMovil[i][2];
                        fila.proce = tableMovil[i][3];
                        dataMovil.push(fila)
                    });

                    tableImei.forEach(function (row, i) {
                        var fila = {};
                        fila.nroitem = tableImei[i][0];
                        fila.dato = tableImei[i][1];
                        fila.revi = tableImei[i][2];
                        fila.proce = tableImei[i][3];
                        fila.indi = tableImei[i][5];
                        dataImei.push(fila)
                    });
                } else {
                    alert("La tabla de Servicios Movil o Imei se encuentra vacia");
                    return;
                }
            } else {
                alert("La tabla de Servicios Movil o Imei se encuentra vacia");
                return;
            }

        }

        var formData = new FormData();
        formData.append('ent_publica', ent_publica);
        formData.append('uni_ent_publica', uni_ent_publica);
        formData.append('tipoSolicitante', tipoSolicitante);
        formData.append('descTipoSolicitante', descTipoSolicitante);
        formData.append('fecRegistro', moment(fecRegistro).format('DD/MM/YYYY'));
        formData.append('apellidos', apellidos);
        formData.append('nombres', nombres);
        formData.append('tipoDoc', tipoDoc);
        formData.append('correo', correo);
        formData.append('nombreInstitucion', nombreInstitucion);
        formData.append('nombreSolicitante', nombreSolicitante);
        formData.append('delito', delito);
        formData.append('motivo', motivo);
        formData.append('num_denuncia', num_denuncia);
        formData.append('lstDato', lstDato);
        formData.append('lstCarga', lstCarga);
        formData.append('dataMovil', JSON.stringify(dataMovil));
        formData.append('dataImei', JSON.stringify(dataImei));
        formData.append('ubigeo', ubigeo);
        formData.append('ubigeoText', ubigeoText);
        formData.append('cargo', cargo);


        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-secondary'
            },
            buttonsStyling: false,
        });

        swalWithBootstrapButtons.fire({
            title: MSJ_MENSAJE_SISTEMA,
            text: "¿Estas seguro de generar el Requerimiento?",
            type: 'question',
            showCancelButton: true,
            confirmButtonText: 'Aceptar',
            cancelButtonText: 'Cancelar',
            reverseButtons: false
        }).then(function (result) {
            $.showLoading({ imgLoading: URLSERVICIO_IMEI + '/images/osiptel/ajax-loader.gif', body: true });
            if (result.value) {

                var msg = "";
                var key = 0;
                var arrGen = [];

                $.ajax({
                    type: "POST",
                    url: URLSERVICIO_IMEI + "/RequerimientoEP/GuardarRequeimientoEP",
                    contentType: false,
                    processData: false,
                    dataType: "json",
                    data: formData,
                    success: function (data) {
                        key = data.key;
                        var arr = data.value;
                        arrGen = arr.split("//");
                        msg = arrGen[0];
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $.hideLoading();
                        console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                        mostrarMensajeError(msg);
                    },
                    complete: function () {
                        $.hideLoading();
                        if (key == "0") {
                            mostrarMensajeError(msg);
                        } else if (key == "1") {
                            window.location = URLSERVICIO_IMEI + '/RequerimientoEP/DescargarDocSustentoPdf';
                            swalWithBootstrapButtons.fire({
                                title: "Informacion del sistema",
                                text: msg,
                                type: 'success',
                                showCancelButton: false,
                                confirmButtonText: 'Aceptar',
                                reverseButtons: false
                            }).then(function (result) {
                                if (result.value) {
                                    
                                    location.href = "../RequerimientoEP";
                                    //location.reload();
                                    
                                }
                            });
                            /*window.location = URLSERVICIO_IMEI + '/RequerimientoEP/DescargarDocSustentoPdf';
                            swalWithBootstrapButtons.fire({
                                title: MSJ_MENSAJE_SISTEMA,
                                text: "¿Desea Registrar otra Solicitud de Requerimiento de Información?",
                                type: 'question',
                                showCancelButton: true,
                                confirmButtonText: 'Aceptar',
                                cancelButtonText: 'Cancelar',
                                reverseButtons: false
                            }).then(function (result) {

                                if (result.value) {
                                   
                                    $("#DELITO").val("");
                                    $("#MOTIVO").val("");
                                    $("#NRODOCREF").val("");
                                    $("#Lista_Tip_Dato").val("");
                                    $("#Lista_Tip_Carga").val("");
                                    if (lstDato == 1 || lstDato == 3) {
                                        $("#dtResultadCarMasMovilEP").DataTable().clear().draw();
                                    } else if (lstDato == 2 || lstDato == 3) {
                                        $("#dtResultadCarMasImeiEP").DataTable().clear().draw();
                                    }
                                    deshabilitarTodo();
                                } else {
                                    location.href = "../RequerimientoEP";
                                }
                            });*/
                        }
                    }
                });

            } else {
                $.hideLoading();
            }
        });
    }); 


    function DesFormTelefMas(){
        window.location = URLSERVICIO_IMEI + '/RequerimientoEP/DescargarPlantillaTelef';
    }
    function DesFormImeiMas() {
        window.location = URLSERVICIO_IMEI + '/RequerimientoEP/DescargarPlantillaImei';
    }
    ////VALIDNADO SI TIENE REGISTRO POR REGISTRAR
    //if (document.getElementById("DES_PUESTO").value != "" && document.getElementById("DES_PUESTO").value != undefined) {
    //    //$("#Lista_Tip_Carga").change(); 
    //    //alert("dasddad");
    //    consultarImeiPendiente();
    //    consultarMovilPendiente();
    //    $("#btnRegistrarRequerimientoEP").prop('disabled', false);
    //    $("#btnGuardRequerimientoEP").prop('disabled', true);
    //}
    function consultarMovilPendiente() {
        MostrarCargando();
        var msg = "";
        var key = 0;
        var arrGen = [];
        var formdata = new FormData($("#frmNuevoRequerimientoEP")[0]);
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/RequerimientoEP/ConsultarMovilPendiente",
            contentType: false,
            processData: false,
            dataType: "json",
            data: formdata,
            success: function (data) {
                key = data.key;
                var arr = data.value;
                arrGen = arr.split("//");
                msg = arrGen[0];
            },
            error: function (jqXHR, textStatus, errorThrown) {
                CerrarCargando();
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);
            },
            complete: function () {
                CerrarCargando();
                if (key == "0") {
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    if (document.getElementById("Lista_Tip_Carga").value == "2") {
                        document.getElementById("divGrillaCargarMasMovil").innerHTML = arrGen[1];
                        $('#dtResultadCarMasMovilEP').DataTable({
                            language: {
                                "decimal": "",
                                "emptyTable": "No hay información",
                                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                                "infoPostFix": "",
                                "thousands": ",",
                                "lengthMenu": "Mostrar _MENU_ Entradas",
                                "loadingRecords": "Cargando...",
                                "processing": "Procesando...",
                                "search": "Buscar:",
                                "zeroRecords": "Sin resultados encontrados",
                                "paginate": {
                                    "first": "Primero",
                                    "last": "Ultimo",
                                    "next": "Siguiente",
                                    "previous": "Anterior"
                                }
                            },
                            colReorder: true,
                            responsive: true,

                            'columnDefs': [{
                                'targets': [],
                                'orderable': false
                            }]
                        });
                    } else {
                        document.getElementById("lblMensajeMovilIndiv").innerText = arrGen[1];
                    }
                }
            }
        });
    }
    function consultarImeiPendiente() {
        MostrarCargando();
        var msg = "";
        var key = 0;
        var arrGen = [];
        var formdata = new FormData($("#frmNuevoRequerimientoEP")[0]);
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/RequerimientoEP/ConsultarImeiPendiente",
            contentType: false,
            processData: false,
            dataType: "json",
            data: formdata,
            success: function (data) {
                key = data.key;
                var arr = data.value;
                arrGen = arr.split("//");
                msg = arrGen[0];
            },
            error: function (jqXHR, textStatus, errorThrown) {
                CerrarCargando();
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);
            },
            complete: function () {
                CerrarCargando();
                if (key == "0") {
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    if (document.getElementById("Lista_Tip_Carga").value == "2") {
                        document.getElementById("divGrillaCargarMasImei").innerHTML = arrGen[1];
                        $('#dtResultadCarMasImeiEP').DataTable({
                            language: {
                                "decimal": "",
                                "emptyTable": "No hay información",
                                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                                "infoPostFix": "",
                                "thousands": ",",
                                "lengthMenu": "Mostrar _MENU_ Entradas",
                                "loadingRecords": "Cargando...",
                                "processing": "Procesando...",
                                "search": "Buscar:",
                                "zeroRecords": "Sin resultados encontrados",
                                "paginate": {
                                    "first": "Primero",
                                    "last": "Ultimo",
                                    "next": "Siguiente",
                                    "previous": "Anterior"
                                }
                            },
                            colReorder: true,
                            responsive: true,

                            'columnDefs': [{
                                'targets': [],
                                'orderable': false
                            }]
                        });
                        $('td:nth-child(6)').hide();
                        $('th:nth-child(6)').hide();
                    } else {
                        document.getElementById("lblMensajeImeiIndiv").innerText = arrGen[1];
                    }
                }
            }
        });
    }

    //
    $("#Lista_Tip_Carga").change(function () {
        if (document.getElementById("Lista_Tip_Dato").value == undefined || document.getElementById("Lista_Tip_Dato").value == "") {
            document.getElementById("Lista_Tip_Carga").value = "";
            deshabilitarTodo();
            mostrarMensajeError("Usted debe seleccionar un Tipo de Dato a Cargar");
            //
        } else if (document.getElementById("Lista_Tip_Dato").value == "1") {
            if (document.getElementById("Lista_Tip_Carga").value == "1") {
                deshabilitarTodo();
                //INDIVIDUAL
                document.getElementById("txtNumMovIndiv").value = "";
                $("#txtNumMovIndiv").prop('disabled', false);
                $("#btnValidarNumMovIndiv").prop('disabled', false);

                document.getElementById("contImeiIndividual").style.display = "none";
                document.getElementById("contMovilIndividual").style.display = "block";

            } else if (document.getElementById("Lista_Tip_Carga").value == "2") {
                deshabilitarTodo();
                //MASIVO
                $("#btnDesForMovil").prop('disabled', false);
                $("#btnSubArcMovil").prop('disabled', false);
                $("#fileCargaMasivaMovil").prop('disabled', false);
                //$("#btnDesSusMovil").prop('disabled', false);
            }
        } else if (document.getElementById("Lista_Tip_Dato").value == "2") {
            if (document.getElementById("Lista_Tip_Carga").value == "1") {
                deshabilitarTodo();
                //INDIVIDUAL
                document.getElementById("txtImeiIndiv").value = "";
                $("#txtImeiIndiv").prop('disabled', false);
                $("#btnValidarImeiIndiv").prop('disabled', false);

                document.getElementById("contImeiIndividual").style.display = "block";
                document.getElementById("contMovilIndividual").style.display = "none";

            } else if (document.getElementById("Lista_Tip_Carga").value == "2") {
                deshabilitarTodo();
                //MASIVO
                $("#btnDesForImei").prop('disabled', false);
                $("#btnDesForMovil").prop('disabled', false);
                $("#btnSubArcImei").prop('disabled', false);
                $("#fileCargaMasivaImei").prop('disabled', false);
                //$("#btnDesSusImei").prop('disabled', false);
            }
        } else if (document.getElementById("Lista_Tip_Dato").value == "3") {
            if (document.getElementById("Lista_Tip_Carga").value == "1") {
                deshabilitarTodo();
                //INDIVIDUAL
                document.getElementById("txtImeiIndiv").value = "";
                $("#txtImeiIndiv").prop('disabled', false);
                $("#btnValidarImeiIndiv").prop('disabled', false);
                document.getElementById("txtNumMovIndiv").value = "";
                $("#txtNumMovIndiv").prop('disabled', false);
                $("#btnValidarNumMovIndiv").prop('disabled', false);

                document.getElementById("contImeiIndividual").style.display = "block";
                document.getElementById("contMovilIndividual").style.display = "block";

            } else if (document.getElementById("Lista_Tip_Carga").value == "2") {
                deshabilitarTodo();
                //MASIVO
                $("#btnDesForImei").prop('disabled', false);
                $("#btnSubArcImei").prop('disabled', false);
                $("#fileCargaMasivaImei").prop('disabled', false);
                //$("#btnDesSusImei").prop('disabled', false);
                $("#btnDesForMovil").prop('disabled', false);
                $("#btnSubArcMovil").prop('disabled', false);
                $("#fileCargaMasivaMovil").prop('disabled', false);
                //$("#btnDesSusMovil").prop('disabled', false);
            }
        }
        var divNuevoParametro = $("#divGrillaCargarMasMovil");
        var cadena_html_user = "";
        cadena_html_user += "<div class='tabla-content-result'>";
        cadena_html_user += "<table id='dtResultadCarMasMovilEP' class='tabla-osiptel' style='width: 100%'>";
        cadena_html_user += " <caption style='visibility: hidden;'>Detalle Parametro</caption>";
        cadena_html_user += " <thead>";
        cadena_html_user += "<tr>";
        cadena_html_user += "<th scope='col'>Dato</th>";
        cadena_html_user += "<th scope='col'>Revisión Preliminar</th>";
        cadena_html_user += "<th scope='col'>¿Procede a Cargar?</th>";
        cadena_html_user += "<th scope='col'>Accion</th>";
        cadena_html_user += "</tr>";
        cadena_html_user += "</thead>";
        cadena_html_user += "<tbody>";
        cadena_html_user += "</tbody>";
        cadena_html_user += "</table>";
        cadena_html_user += "</div>";
        divNuevoParametro.html(cadena_html_user);

        divNuevoParametro = $("#divGrillaCargarMasImei");
        cadena_html_user = "";
        cadena_html_user += "<div class='tabla-content-result'>";
        cadena_html_user += "<table id='dtResultadCarMasImeiEP' class='tabla-osiptel' style='width: 100%'>";
        cadena_html_user += "<caption style='visibility: hidden;'>Detalle Parametro</caption>";
        cadena_html_user += "<thead>";
        cadena_html_user += "<tr>";
        cadena_html_user += "<th scope='col'>Dato</th>";
        cadena_html_user += "<th scope='col'>Revisión Preliminar</th>";
        cadena_html_user += "<th scope='col'>¿Procede a Cargar?</th>";
        cadena_html_user += "<th scope='col'>Accion</th>";
        cadena_html_user += "</tr>";
        cadena_html_user += "</thead>";
        cadena_html_user += "<tbody>";
        cadena_html_user += "</tbody>";
        cadena_html_user += "</table>";
        cadena_html_user += "</div>";
        divNuevoParametro.html(cadena_html_user);
    });
    
    $("#Lista_Tip_Dato").change(function () {
        if (document.getElementById("Lista_Tip_Dato").value == undefined || document.getElementById("Lista_Tip_Dato").value == "") {
            document.getElementById("Lista_Tip_Carga").value = "";
            deshabilitarTodo();
            mostrarMensajeError("Usted debe seleccionar un Tipo de Dato a Cargar");
            //
        } else if (document.getElementById("Lista_Tip_Dato").value == "1") {
            if (document.getElementById("Lista_Tip_Carga").value == "1") {
                deshabilitarTodo();
                //INDIVIDUAL
                document.getElementById("txtNumMovIndiv").value = "";
                $("#txtNumMovIndiv").prop('disabled', false);
                $("#btnValidarNumMovIndiv").prop('disabled', false);

                document.getElementById("contImeiIndividual").style.display = "none";
                document.getElementById("contMovilIndividual").style.display = "block";

            } else if (document.getElementById("Lista_Tip_Carga").value == "2") {
                deshabilitarTodo();
                //MASIVO
                $("#btnDesForMovil").prop('disabled', false);
                $("#btnSubArcMovil").prop('disabled', false);
                $("#fileCargaMasivaMovil").prop('disabled', false);
                //$("#btnDesSusMovil").prop('disabled', false);
            }
        } else if (document.getElementById("Lista_Tip_Dato").value == "2") {
            if (document.getElementById("Lista_Tip_Carga").value == "1") {
                deshabilitarTodo();
                //INDIVIDUAL
                document.getElementById("txtImeiIndiv").value = "";
                $("#txtImeiIndiv").prop('disabled', false);
                $("#btnValidarImeiIndiv").prop('disabled', false);

                document.getElementById("contImeiIndividual").style.display = "block";
                document.getElementById("contMovilIndividual").style.display = "none";

            } else if (document.getElementById("Lista_Tip_Carga").value == "2") {
                deshabilitarTodo();
                //MASIVO
                $("#btnDesForImei").prop('disabled', false);
                $("#btnDesForMovil").prop('disabled', false);
                $("#btnSubArcImei").prop('disabled', false);
                $("#fileCargaMasivaImei").prop('disabled', false);
                //$("#btnDesSusImei").prop('disabled', false);
            }
        } else if (document.getElementById("Lista_Tip_Dato").value == "3") {
            if (document.getElementById("Lista_Tip_Carga").value == "1") {
                deshabilitarTodo();
                //INDIVIDUAL
                document.getElementById("txtImeiIndiv").value = "";
                $("#txtImeiIndiv").prop('disabled', false);
                $("#btnValidarImeiIndiv").prop('disabled', false);
                document.getElementById("txtNumMovIndiv").value = "";
                $("#txtNumMovIndiv").prop('disabled', false);
                $("#btnValidarNumMovIndiv").prop('disabled', false);

                document.getElementById("contImeiIndividual").style.display = "block";
                document.getElementById("contMovilIndividual").style.display = "block";

            } else if (document.getElementById("Lista_Tip_Carga").value == "2") {
                deshabilitarTodo();
                //MASIVO
                $("#btnDesForImei").prop('disabled', false);
                $("#btnSubArcImei").prop('disabled', false);
                $("#fileCargaMasivaImei").prop('disabled', false);
                //$("#btnDesSusImei").prop('disabled', false);
                $("#btnDesForMovil").prop('disabled', false);
                $("#btnSubArcMovil").prop('disabled', false);
                $("#fileCargaMasivaMovil").prop('disabled', false);
                //$("#btnDesSusMovil").prop('disabled', false);
            }
        }
        var divNuevoParametro = $("#divGrillaCargarMasMovil");
        var cadena_html_user = "";
        cadena_html_user += "<div class='tabla-content-result'>";
        cadena_html_user += "<table id='dtResultadCarMasMovilEP' class='tabla-osiptel' style='width: 100%'>";
        cadena_html_user += " <caption style='visibility: hidden;'>Detalle Parametro</caption>";
        cadena_html_user += " <thead>";
        cadena_html_user += "<tr>";
        cadena_html_user += "<th scope='col'>Dato</th>";
        cadena_html_user += "<th scope='col'>Revisión Preliminar</th>";
        cadena_html_user += "<th scope='col'>¿Procede a Cargar?</th>";
        cadena_html_user += "<th scope='col'>Accion</th>";
        cadena_html_user += "</tr>";
        cadena_html_user += "</thead>";
        cadena_html_user += "<tbody>";
        cadena_html_user += "</tbody>";
        cadena_html_user += "</table>";
        cadena_html_user += "</div>";
        divNuevoParametro.html(cadena_html_user);

        divNuevoParametro = $("#divGrillaCargarMasImei");
        cadena_html_user = "";
        cadena_html_user += "<div class='tabla-content-result'>";
        cadena_html_user += "<table id='dtResultadCarMasImeiEP' class='tabla-osiptel' style='width: 100%'>";
        cadena_html_user += "<caption style='visibility: hidden;'>Detalle Parametro</caption>";
        cadena_html_user += "<thead>";
        cadena_html_user += "<tr>";
        cadena_html_user += "<th scope='col'>Dato</th>";
        cadena_html_user += "<th scope='col'>Revisión Preliminar</th>";
        cadena_html_user += "<th scope='col'>¿Procede a Cargar?</th>";
        cadena_html_user += "<th scope='col'>Accion</th>";
        cadena_html_user += "</tr>";
        cadena_html_user += "</thead>";
        cadena_html_user += "<tbody>";
        cadena_html_user += "</tbody>";
        cadena_html_user += "</table>";
        cadena_html_user += "</div>";
        divNuevoParametro.html(cadena_html_user);
    });
    //

    $("#btnDesSusMovil").click(function () {
        $('#dtResultadCarMasMovilEP_length select').val('100').trigger("change"); // ACÁ LE DIGO: QUIERO QUE MUESTRES TODA LA DATA.   
        var data = new Array();
        var table = document.getElementById("dtResultadCarMasMovilEP");
        for (var i = 1; i < table.rows.length; i++) {
            var row = table.rows[i];

            var filas = {};
            filas.nroitem = row.cells[0].innerHTML;
            filas.dato = row.cells[1].innerHTML;
            filas.revi = row.cells[2].innerHTML;
            filas.proce = row.cells[3].innerHTML;
            data.push(filas);
        }
        $('#dtResultadCarMasMovilEP_length select').val('10').trigger("change");// ACÁ LE DIGO VUELVE A MOSTRAR 10 ROWS.
        

        if (data.length > 0) {
            var formdata = new FormData();
            formdata.append('datos', JSON.stringify(data))
            $.ajax({
                type: "POST",
                url: URLSERVICIO_IMEI + "/RequerimientoEP/DescargarSustentoMovil",
                contentType: false,
                processData: false,
                dataType: "json",
                data: formdata,
                complete: function() {
                    window.location = URLSERVICIO_IMEI + '/RequerimientoEP/DescargarSustento';
                }
            });
        } else {
            console.info("sin datos " + data.length);
        }

        //window.location = URLSERVICIO_IMEI + '/RequerimientoEP/DescargarSustento';
    });

    $("#btnDesSusImei").click(function () {
       

        $('#dtResultadCarMasImeiEP_length select').val('100').trigger("change"); // ACÁ LE DIGO: QUIERO QUE MUESTRES TODA LA DATA.   
        var data = new Array();
        var table = document.getElementById("dtResultadCarMasImeiEP");
        for (var i = 1; i < table.rows.length; i++) {
            var row = table.rows[i];

            var filas = {};
            filas.nroitem = row.cells[0].innerHTML;
            filas.dato = row.cells[1].innerHTML;
            filas.revi = row.cells[2].innerHTML;
            filas.proce = row.cells[3].innerHTML;
            filas.indi = row.cells[5].innerHTML;
            data.push(filas);
        }
        $('#dtResultadCarMasImeiEP_length select').val('10').trigger("change");// ACÁ LE DIGO VUELVE A MOSTRAR 10 ROWS.

        if (data.length > 0) {
            var formdata = new FormData();
            formdata.append('datos', JSON.stringify(data))
            $.ajax({
                type: "POST",
                url: URLSERVICIO_IMEI + "/RequerimientoEP/DescargarSustentoImei",
                contentType: false,
                processData: false,
                dataType: "json",
                data: formdata,
                complete: function () {
                    window.location = URLSERVICIO_IMEI + '/RequerimientoEP/DescargarSustento';
                }
            });
        } else {
            console.info("sin datos " + data.length);
        }
        //window.location = URLSERVICIO_IMEI + '/RequerimientoEP/DescargarSustento';
    });

    $("#btnSubArcImei").click(function () {
        var mensaje = "";
        var fileArchivoImei = $("#fileCargaMasivaImei").val();
        if (fileArchivoImei == "") {
            mensaje += "* Tiene que adjuntar el archivo.";
            mensaje += "<br/>";
        } else {
            var extension = fileArchivoImei.substring(fileArchivoImei.lastIndexOf("."));
            if (extension != ".xlsx") {
                mensaje += "* El archivo no es válido.";
                mensaje += "<br/>";
            }
        }
        if (mensaje == "") {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-secondary'
                },
                buttonsStyling: false,
            })
            swalWithBootstrapButtons.fire({
                title: MSJ_MENSAJE_SISTEMA,
                text: "¿Desea cargar la lista adjunta de IMEI?",
                type: 'question',
                showCancelButton: true,
                confirmButtonText: 'Aceptar',
                cancelButtonText: 'Cancelar',
                reverseButtons: false
            }).then(function (result) {
                if (result.value) {
                    fn_cargaImeiMasiva();
                }
            });
        } else {
            mostrarMensajeError(mensaje);
        }

    });

    function fn_cargaImeiMasiva() {
        //alert("entra");
        MostrarCargando();
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-secondary'
            },
            buttonsStyling: false,
        });
        var msg = "";
        var key = 0;
        var arrGen = [];
        var formdata = new FormData($("#frmNuevoRequerimientoEP")[0]);
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/RequerimientoEP/CargarInformacionMasivaImei",
            contentType: false,
            processData: false,
            dataType: "json",
            data: formdata,
            success: function (data) {
                key = data.key;
                var arr = data.value;
                arrGen = arr.split("//");
                msg = arrGen[0];
            },
            error: function (jqXHR, textStatus, errorThrown) {
                CerrarCargando();
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);
            },
            complete: function () {
                CerrarCargando();
                if (key == "0") {
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    
                    swalWithBootstrapButtons.fire({
                        title: "¡Mensaje del Sistema",
                        text: msg,
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar',
                        reverseButtons: false
                    }).then(function (result) {
                        if (result.value) {
                            //$("#frmRecargarPagina").submit();

                            if ($("#Lista_Tip_Dato").val() != 3) {
                                var divNuevoParametro = $("#divGrillaCargarMasMovil");
                                var cadena_html_user = "";
                                cadena_html_user += "<div class='tabla-content-result'>";
                                cadena_html_user += "<table id='dtResultadCarMasMovilEP' class='tabla-osiptel' style='width: 100%'>";
                                cadena_html_user += " <caption style='visibility: hidden;'>Detalle Parametro</caption>";
                                cadena_html_user += " <thead>";
                                cadena_html_user += "<tr>";
                                cadena_html_user += "<th scope='col'>Dato</th>";
                                cadena_html_user += "<th scope='col'>Revisión Preliminar</th>";
                                cadena_html_user += "<th scope='col'>¿Procede a Cargar?</th>";
                                cadena_html_user += "<th scope='col'>Accion</th>";
                                cadena_html_user += "</tr>";
                                cadena_html_user += "</thead>";
                                cadena_html_user += "<tbody>";
                                cadena_html_user += "</tbody>";
                                cadena_html_user += "</table>";
                                cadena_html_user += "</div>";
                                divNuevoParametro.html(cadena_html_user);
                            }

                            var divNuevoParametro = $("#divGrillaCargarMasImei");
                            divNuevoParametro.html("");
                            divNuevoParametro.html(arrGen[1]);
                           

                            $("#btnDesSusImei").prop('disabled', false);
                            $('#dtResultadCarMasImeiEP').DataTable({
                                language: {
                                    "decimal": "",
                                    "emptyTable": "No hay información",
                                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                                    "infoPostFix": "",
                                    "thousands": ",",
                                    "lengthMenu": "Mostrar _MENU_ Entradas",
                                    "loadingRecords": "Cargando...",
                                    "processing": "Procesando...",
                                    "search": "Buscar:",
                                    "zeroRecords": "Sin resultados encontrados",
                                    "paginate": {
                                        "first": "Primero",
                                        "last": "Ultimo",
                                        "next": "Siguiente",
                                        "previous": "Anterior"
                                    }
                                },
                                colReorder: true,
                                responsive: true,

                                'columnDefs': [{
                                    'targets': [],
                                    'orderable': false
                                }]
                            });
                            $('td:nth-child(6)').hide();
                            $('th:nth-child(6)').hide();
                            $('#dtResultadCarMasImeiEP_length select').val('100').trigger("change"); 
                            $('td:nth-child(6)').hide();
                            $('th:nth-child(6)').hide();
                        }
                    });
                } else if (key == "2") {
                    swalWithBootstrapButtons.fire({
                        title: 'Mensaje del Sistema',
                        text: msg,
                        type: 'warning',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar',
                        reverseButtons: false
                    }).then(function (result) {
                        if (result.value) {
                            
                            //window.location = URLSERVICIO_IMEI + '/GestorUsuario/DescargarError';
                        }
                    })

                }
            }
        });
    }

    $("#btnSubArcMovil").click(function () {
        var mensaje = "";
        var fileArchivoImei = $("#fileCargaMasivaMovil").val();
        if (fileArchivoImei == "") {
            mensaje += "* Tiene que adjuntar el archivo.";
            mensaje += "<br/>";
        } else {
            var extension = fileArchivoImei.substring(fileArchivoImei.lastIndexOf("."));
            if (extension != ".xlsx") {
                mensaje += "* El archivo no es válido.";
                mensaje += "<br/>";
            }
        }
        if (mensaje == "") {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-secondary'
                },
                buttonsStyling: false,
            })
            swalWithBootstrapButtons.fire({
                title: MSJ_MENSAJE_SISTEMA,
                text: "¿Desea cargar la lista adjunta de servicios Móviles?",
                type: 'question',
                showCancelButton: true,
                confirmButtonText: 'Aceptar',
                cancelButtonText: 'Cancelar',
                reverseButtons: false
            }).then(function (result) {
                if (result.value) {
                    fn_cargaMovilMasiva();
                }
            });
        } else {
            mostrarMensajeError(mensaje);
        }

    });

    function fn_cargaMovilMasiva() {
        MostrarCargando();
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-secondary'
            },
            buttonsStyling: false,
        });
        var msg = "";
        var key = 0;
        var arrGen = [];
        var formdata = new FormData($("#frmNuevoRequerimientoEP")[0]);
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/RequerimientoEP/CargarInformacionMasivaMovil",
            contentType: false,
            processData: false,
            dataType: "json",
            data: formdata,
            success: function (data) {
                key = data.key;
                var arr = data.value;
                arrGen = arr.split("//");
                msg = arrGen[0];
            },
            error: function (jqXHR, textStatus, errorThrown) {
                CerrarCargando();
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);
            },
            complete: function () {
                CerrarCargando();
                if (key == "0") {
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    swalWithBootstrapButtons.fire({
                        title: "¡Mensaje del Sistema",
                        text: msg,
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar',
                        reverseButtons: false
                    }).then(function (result) {
                        if (result.value) {
                            //$("#frmRecargarPagina").submit();

                            if ($("#Lista_Tip_Dato").val() != 3) {
                                var divNuevoParametro = $("#divGrillaCargarMasImei");
                                var cadena_html_user = "";
                                cadena_html_user += "<div class='tabla-content-result'>";
                                cadena_html_user += "<table id='dtResultadCarMasImeiEP' class='tabla-osiptel' style='width: 100%'>";
                                cadena_html_user += "<caption style='visibility: hidden;'>Detalle Parametro</caption>";
                                cadena_html_user += "<thead>";
                                cadena_html_user += "<tr>";
                                cadena_html_user += "<th scope='col'>Dato</th>";
                                cadena_html_user += "<th scope='col'>Revisión Preliminar</th>";
                                cadena_html_user += "<th scope='col'>¿Procede a Cargar?</th>";
                                cadena_html_user += "<th scope='col'>Accion</th>";
                                cadena_html_user += "</tr>";
                                cadena_html_user += "</thead>";
                                cadena_html_user += "<tbody>";
                                cadena_html_user += "</tbody>";
                                cadena_html_user += "</table>";
                                cadena_html_user += "</div>";
                                divNuevoParametro.html(cadena_html_user);
                            }

                            var divNuevoParametro = $("#divGrillaCargarMasMovil");
                            divNuevoParametro.html("");
                            divNuevoParametro.html(arrGen[1]);
                            $("#btnDesSusMovil").prop('disabled', false);
                            $('#dtResultadCarMasMovilEP').DataTable({
                                language: {
                                    "decimal": "",
                                    "emptyTable": "No hay información",
                                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                                    "infoPostFix": "",
                                    "thousands": ",",
                                    "lengthMenu": "Mostrar _MENU_ Entradas",
                                    "loadingRecords": "Cargando...",
                                    "processing": "Procesando...",
                                    "search": "Buscar:",
                                    "zeroRecords": "Sin resultados encontrados",
                                    "paginate": {
                                        "first": "Primero",
                                        "last": "Ultimo",
                                        "next": "Siguiente",
                                        "previous": "Anterior"
                                    }
                                },
                                colReorder: true,
                                responsive: true,

                                'columnDefs': [{
                                    'targets': [],
                                    'orderable': false
                                }]
                            });
                            $('td:nth-child(6)').hide();
                            $('th:nth-child(6)').hide();
                            $('#dtResultadCarMasMovilEP_length select').val('100').trigger("change");
                            $('td:nth-child(6)').hide();
                            $('th:nth-child(6)').hide();
                            
                        }
                    });
                } else if (key == "2") {
                    swalWithBootstrapButtons.fire({
                        title: 'Mensaje del Sistema',
                        text: msg,
                        type: 'warning',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar',
                        reverseButtons: false
                    }).then(function (result) {
                        if (result.value) {

                            //window.location = URLSERVICIO_IMEI + '/GestorUsuario/DescargarError';
                        }
                    })

                }
            }
        });
    }

    $("#btnValidarImeiIndiv").click(function () {
        var mensaje = "";
        var txtImeiIndiv = $("#txtImeiIndiv").val();
        if (txtImeiIndiv == "") {
            mensaje += "* Tiene que ingresar un número de IMEI.";
            mensaje += "<br/>";
        }
        if (mensaje == "") {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-secondary'
                },
                buttonsStyling: false,
            })
            swalWithBootstrapButtons.fire({
                title: MSJ_MENSAJE_SISTEMA,
                text: "¿Desea cargar el IMEI?",
                type: 'question',
                showCancelButton: true,
                confirmButtonText: 'Aceptar',
                cancelButtonText: 'Cancelar',
                reverseButtons: false
            }).then(function (result) {
                if (result.value) {
                    fn_cargaImei();
                }
            });
        } else {
            mostrarMensajeError(mensaje);
        }

    });

    
    function fn_cargaImei() {
        MostrarCargando();
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-secondary'
            },
            buttonsStyling: false,
        });
        var msg = "";
        var key = 0;
        var arrGen = [];
        var formdata = new FormData($("#frmNuevoRequerimientoEP")[0]);
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/RequerimientoEP/CargarInformacionImei",
            contentType: false,
            processData: false,
            dataType: "json",
            data: formdata,
            success: function (data) {
                key = data.key;
                var arr = data.value;
                arrGen = arr.split("//");
                msg = arrGen[0];
            },
            error: function (jqXHR, textStatus, errorThrown) {
                CerrarCargando();
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);
            },
            complete: function () {
                CerrarCargando();
                if (key == "0") {
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    swalWithBootstrapButtons.fire({
                        title: "¡Mensaje del Sistema",
                        text: msg,
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar',
                        reverseButtons: false
                    }).then(function (result) {
                        if (result.value) {
                            //$("#frmRecargarPagina").submit();
                            //document.getElementById("lblMensajeImeiIndiv").innerText = arrGen[1];

                            var cmbDato = $("#Lista_Tip_Dato").val();

                            if (cmbDato != 3) {
                                var divNuevoParametro = $("#divGrillaCargarMasMovil");
                                var cadena_html_user = "";
                                cadena_html_user += "<div class='tabla-content-result'>";
                                cadena_html_user += "<table id='dtResultadCarMasMovilEP' class='tabla-osiptel' style='width: 100%'>";
                                cadena_html_user += " <caption style='visibility: hidden;'>Detalle Parametro</caption>";
                                cadena_html_user += " <thead>";
                                cadena_html_user += "<tr>";
                                cadena_html_user += "<th scope='col'>Dato</th>";
                                cadena_html_user += "<th scope='col'>Revisión Preliminar</th>";
                                cadena_html_user += "<th scope='col'>¿Procede a Cargar?</th>";
                                cadena_html_user += "<th scope='col'>Accion</th>";
                                cadena_html_user += "</tr>";
                                cadena_html_user += "</thead>";
                                cadena_html_user += "<tbody>";
                                cadena_html_user += "</tbody>";
                                cadena_html_user += "</table>";
                                cadena_html_user += "</div>";
                                divNuevoParametro.html(cadena_html_user);
                            }

                            var divNuevoParametro = $("#divGrillaCargarMasImei");
                            divNuevoParametro.html("");
                            divNuevoParametro.html(arrGen[1]);
                            $("#btnDesSusImei").prop('disabled', false);
                            $('#dtResultadCarMasImeiEP').DataTable({
                                language: {
                                    "decimal": "",
                                    "emptyTable": "No hay información",
                                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                                    "infoPostFix": "",
                                    "thousands": ",",
                                    "lengthMenu": "Mostrar _MENU_ Entradas",
                                    "loadingRecords": "Cargando...",
                                    "processing": "Procesando...",
                                    "search": "Buscar:",
                                    "zeroRecords": "Sin resultados encontrados",
                                    "paginate": {
                                        "first": "Primero",
                                        "last": "Ultimo",
                                        "next": "Siguiente",
                                        "previous": "Anterior"
                                    }
                                },
                                colReorder: true,
                                responsive: true,

                                'columnDefs': [{
                                    'targets': [],
                                    'orderable': false
                                }]
                            });

                            $('td:nth-child(6)').hide();
                            $('th:nth-child(6)').hide();
                        }
                    });
                } else if (key == "2") {
                    swalWithBootstrapButtons.fire({
                        title: 'Mensaje del Sistema',
                        text: msg,
                        type: 'warning',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar',
                        reverseButtons: false
                    }).then(function (result) {
                        if (result.value) {

                            //window.location = URLSERVICIO_IMEI + '/GestorUsuario/DescargarError';
                        }
                    })

                }
            }
        });
    }
    
    $("#btnValidarNumMovIndiv").click(function () {
        var mensaje = "";
        var txtImeiIndiv = $("#txtNumMovIndiv").val();
        if (txtImeiIndiv == "") {
            mensaje += "* Tiene que ingresar un número de Servicio Movil.";
            mensaje += "<br/>";
        }
        if (mensaje == "") {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-secondary'
                },
                buttonsStyling: false,
            })
            swalWithBootstrapButtons.fire({
                title: MSJ_MENSAJE_SISTEMA,
                text: "¿Desea cargar el Servicio Móvil adjunto?",
                type: 'question',
                showCancelButton: true,
                confirmButtonText: 'Aceptar',
                cancelButtonText: 'Cancelar',
                reverseButtons: false
            }).then(function (result) {
                if (result.value) {
                    fn_cargaServicioMovil();
                }
            });
        } else {
            mostrarMensajeError(mensaje);
        }

    });
    
    function fn_cargaServicioMovil() {
        MostrarCargando();
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-secondary'
            },
            buttonsStyling: false,
        });
        var msg = "";
        var key = 0;
        var arrGen = [];
        var formdata = new FormData($("#frmNuevoRequerimientoEP")[0]);
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/RequerimientoEP/CargarInformacionServicioMovil",
            contentType: false,
            processData: false,
            dataType: "json",
            data: formdata,
            success: function (data) {
                key = data.key;
                var arr = data.value;
                arrGen = arr.split("//");
                msg = arrGen[0];
            },
            error: function (jqXHR, textStatus, errorThrown) {
                CerrarCargando();
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);
            },
            complete: function () {
                CerrarCargando();
                if (key == "0") {
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    swalWithBootstrapButtons.fire({
                        title: "¡Mensaje del Sistema",
                        text: msg,
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar',
                        reverseButtons: false
                    }).then(function (result) {
                        if (result.value) {
                            //$("#frmRecargarPagina").submit();
                            //document.getElementById("lblMensajeMovilIndiv").innerText = arrGen[1];
                            //$("#btnDesSusMovil").prop('disabled', false);

                            var cmbDato = $("#Lista_Tip_Dato").val();

                            if (cmbDato != 3) {
                                var divNuevoParametro = $("#divGrillaCargarMasImei");
                                var cadena_html_user = "";
                                cadena_html_user += "<div class='tabla-content-result'>";
                                cadena_html_user += "<table id='dtResultadCarMasImeiEP' class='tabla-osiptel' style='width: 100%'>";
                                cadena_html_user += "<caption style='visibility: hidden;'>Detalle Parametro</caption>";
                                cadena_html_user += "<thead>";
                                cadena_html_user += "<tr>";
                                cadena_html_user += "<th scope='col'>Dato</th>";
                                cadena_html_user += "<th scope='col'>Revisión Preliminar</th>";
                                cadena_html_user += "<th scope='col'>¿Procede a Cargar?</th>";
                                cadena_html_user += "<th scope='col'>Accion</th>";
                                cadena_html_user += "</tr>";
                                cadena_html_user += "</thead>";
                                cadena_html_user += "<tbody>";
                                cadena_html_user += "</tbody>";
                                cadena_html_user += "</table>";
                                cadena_html_user += "</div>";
                                divNuevoParametro.html(cadena_html_user);
                            } 

                            var divNuevoParametro = $("#divGrillaCargarMasMovil");
                            divNuevoParametro.html("");
                            divNuevoParametro.html(arrGen[1]);
                            console.info(arrGen[1]);
                            $("#btnDesSusMovil").prop('disabled', false);
                            $('#dtResultadCarMasMovilEP').DataTable({
                                language: {
                                    "decimal": "",
                                    "emptyTable": "No hay información",
                                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                                    "infoPostFix": "",
                                    "thousands": ",",
                                    "lengthMenu": "Mostrar _MENU_ Entradas",
                                    "loadingRecords": "Cargando...",
                                    "processing": "Procesando...",
                                    "search": "Buscar:",
                                    "zeroRecords": "Sin resultados encontrados",
                                    "paginate": {
                                        "first": "Primero",
                                        "last": "Ultimo",
                                        "next": "Siguiente",
                                        "previous": "Anterior"
                                    }
                                },
                                colReorder: true,
                                responsive: true,

                                'columnDefs': [{
                                    'targets': [],
                                    'orderable': false
                                }]
                            });

                        }
                    });
                } else if (key == "2") {
                    swalWithBootstrapButtons.fire({
                        title: 'Mensaje del Sistema',
                        text: msg,
                        type: 'warning',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar',
                        reverseButtons: false
                    }).then(function (result) {
                        if (result.value) {

                            //window.location = URLSERVICIO_IMEI + '/GestorUsuario/DescargarError';
                        }
                    })

                }
            }
        });
    }

    $("#btnRegistrarRequerimientoEP").click(function () {
        var mensaje = "";
        var fileArchivoImei = $("#DES_PUESTO").val();
        if (fileArchivoImei == "") {
            mensaje += "* Usted tiene que guardar antes de registrar el requerimiento EP.";
            mensaje += "<br/>";
        } 
        if (mensaje == "") {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-secondary'
                },
                buttonsStyling: false,
            })
            swalWithBootstrapButtons.fire({
                title: MSJ_MENSAJE_SISTEMA,
                text: "¿Desea registrar el requerimiento EP?",
                type: 'question',
                showCancelButton: true,
                confirmButtonText: 'Aceptar',
                cancelButtonText: 'Cancelar',
                reverseButtons: false
            }).then(function (result) {
                if (result.value) {
                    fn_ConfirmarRequerimientoEP();
                }
            });
        } else {
            mostrarMensajeError(mensaje);
        }

    });

    function fn_ConfirmarRequerimientoEP() {
        //alert("dasdasd");
        MostrarCargando();
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-secondary'
            },
            buttonsStyling: false,
        });
        var msg = "";
        var key = 0;
        var arrGen = [];
        var formdata = new FormData($("#frmNuevoRequerimientoEP")[0]);
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/RequerimientoEP/ConfirmarRequeimientoEP",
            contentType: false,
            processData: false,
            dataType: "json",
            data: formdata,
            success: function (data) {
                key = data.key;
               
                msg = data.value;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                CerrarCargando();
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);
            },
            complete: function () {
                
                if (key == "0") {
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    swalWithBootstrapButtons.fire({
                        title: "¡Mensaje del Sistema",
                        text: msg,
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar',
                        reverseButtons: false
                    }).then(function (result) {
                        if (result.value) {
                            //$("#frmRecargarPagina").submit();
                            //document.getElementById("lblMensajeMovilIndiv").innerText = arrGen[1];
                            window.location = URLSERVICIO_IMEI + '/RequerimientoEP/DescargarDocSustentoPdf';
                            setTimeout('redireccionarPrinReg()', 3000);
                        }
                    });
                }
            }
        });
    }
    function redireccionarPrinReg() {
        location.href = "RequerimientoEP";
        location.reload();
        DesbloquearPantalla();
    }
    function btnBorrarFila() {

        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-secondary'
            },
            buttonsStyling: false,
        })

        $('#dtResultadCarMasMovilEP tbody').on('click', 'a i.borrar', function () {

            var seleccion = $(this).parents('tr');

            swalWithBootstrapButtons.fire({
                title: MSJ_MENSAJE_SISTEMA,
                text: "¿Desea borrar esta fila?",
                type: 'question',
                showCancelButton: true,
                confirmButtonText: 'Aceptar',
                cancelButtonText: 'Cancelar',
                reverseButtons: false
            }).then(function (result) {
                if (result.value) {
                    $("#dtResultadCarMasMovilEP").DataTable()
                        .row(seleccion)
                        .remove()
                        .draw();
                }
            });
        });
    }
    function btnBorrarFilaImei() {

        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-secondary'
            },
            buttonsStyling: false,
        })

        $('#dtResultadCarMasImeiEP tbody').on('click', 'a i.borrar', function () {

            var seleccion = $(this).parents('tr');

            swalWithBootstrapButtons.fire({
                title: MSJ_MENSAJE_SISTEMA,
                text: "¿Desea borrar esta fila?",
                type: 'question',
                showCancelButton: true,
                confirmButtonText: 'Aceptar',
                cancelButtonText: 'Cancelar',
                reverseButtons: false
            }).then(function (result) {
                if (result.value) {
                    $("#dtResultadCarMasImeiEP").DataTable()
                        .row(seleccion)
                        .remove()
                        .draw();
                }
            });
        });
    }
</script>


