﻿@model List<Osiptel.SIGREI.BE.BE_REQUERIMIENTO>;
@{
    ViewData["Title"] = "_DetalleBandeja";
    Layout = "";
}
<style type="text/css">
    .clase_error_registro {
        background: red;
        color: white;
        font-weight: bold;
    }

</style>

<div class="tabla-content-result">
    <input type="hidden" id="hdreqeele" name="hdreqeele" />
    <table id="dtResultadoBusqueda" class="tabla-osiptel" style="width: 100%">
       
        <thead>
            <tr>
                <th scope="col" class="text-center">Nro</th>
                <th scope="col" class="text-center">Nro SISDOC</th>
                <th scope="col" class="text-center">Nombre de Institución</th>
                <th scope="col" class="text-center">Nombre Solicitante</th>
                <th scope="col" class="text-center">Cargo Solicitante</th>
                <th scope="col" class="text-center">Dirección</th>
                <th scope="col" class="text-center">Nro Oficio</th>
                <th scope="col" class="text-center">IMEI</th>
                <th scope="col" class="text-center">Tamaño IMEI	</th>
                <th scope="col" class="text-center">Estado Luhn</th>
                <th scope="col" class="text-center">Estado IMEI</th>
                <th scope="col" class="text-center">Fecha y Hora del Reporte</th>
                <th scope="col" class="text-center">Empresa Operadora</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    @{
                        var claseError = "";
                        if (item.nombreInstitucion.Trim().Length == 0 || item.nombreSolicitante.Trim().Length == 0 || item.cargo.Trim().Length == 0 ||
                 item.estadoIMEI.Trim().Length == 0 || item.fecReporte.Trim().Length == 0)
                        {
                            claseError = "clase_error_registro";
                        }

                    }

                    <td class="text-center @claseError">@item.nroItem</td>
                    <td class="text-center @claseError">@item.nroSisDoc</td>
                    <td class="text-left @claseError ">@item.nombreInstitucion</td>
                    <td class="text-left @claseError">@item.nombreSolicitante</td>
                    <td class="text-center @claseError">@item.cargo</td>
                    <td class="text-left @claseError">@item.direccion</td>
                    <td class="text-center @claseError">@item.nroOficio</td>
                    <td class="text-center @claseError">@item.nroImei</td>
                    <td class="text-center @claseError">@item.longitudImei</td>
                    <td class="text-center @claseError">@item.estadoLuhn</td>
                    <td class="text-center @claseError">@item.estadoIMEI</td>
                    <td class="text-center @claseError">@item.fecReporte</td>
                    <td class="text-center @claseError">@item.empresaOperadora</td>

                </tr>

            }
        </tbody>

    </table>
</div>

<script  type="text/javascript">

    $(document).ready(function () {
        $('#dtResultadoBusqueda').DataTable({
            colReorder: true,
            //ordering: false,
            rowReorder: {
                selector: 'td:nth-child(2)'
            },
            responsive: true
        });

    });

</script>