﻿
@{
    ViewData["Title"] = "Index";
}
<form method="post" id="frmDescargarPlantilla" enctype="multipart/form-data" asp-controller="SistemaDocumentario" asp-action="DescargarPlantillaImeiSisDoc"></form>
<form method="post" id="frmDescargarError" enctype="multipart/form-data" asp-controller="SistemaDocumentario" asp-action="DescargarErrorSisDoc"></form>
<form method="post" id="frmRecargarPagina" enctype="multipart/form-data" asp-controller="SistemaDocumentario" asp-action="RecargarPaginaCarga"></form>
<form method="post" id="frmBandejaRequerimiento" enctype="multipart/form-data">
    <input type="hidden" name="ihidrequeri" id="ihidrequeri" value="" />

    <input type="hidden" name="ihopcargado" id="ihopcargado" value="@ViewBag.OpionCarga" />


    <div class="container contenedor-bandeja">
        <div class="row">
            <div class="col-md-12">
                <div class="content-header cabecera-formulario">
                    <h3 style="color: #ffffff">Registro de Requerimiento</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <p class="etiqueta">
                    Adjuntar lista de SISDOC y Códigos IMEIs
                </p>
            </div>
            <div class="col-md-4">
                <input type="file" id="fileSisDoc" name="fileSisDoc" class="form-control " title="Archivo máximo de 4MB" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
            </div>
            <div class="col-md-2 col-xs-3 text-right">
                <button type="button" id="btnCargarArchivo" class="btn class-button-bandeja">Cargar Archivo</button>

            </div>
            <div class="col-md-3">
                <button class="btn btn-default class-buttons class-button-bandeja" type="button" id="btnDescargarPlantilla" name="btnDescargarPlantilla" title="Plantilla Archivo SISDOC y Códigos IMEIs">
                    <i class="far fa-file-excel fa-lg"/>
                    Plantilla Archivo SISDOC <br /> y Códigos IMEIs
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="" id="divInformacion" style="margin-top: 14px;">

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <button type="button" id="btnGrabarInfo" name="btnGrabarInfo" class="btn class-button-bandeja" hidden="hidden">
                    Grabar
                </button>
            </div>
        </div>

    </div>
</form>

<script type="text/javascript">
    $(function () {
        
        $("#btnDescargarPlantilla").click(function () {            
            $("#frmDescargarPlantilla").submit();
        });

        $("#btnCargarArchivo").click(function () {
            var mensaje = "";
            var fileArchivoImei = $("#fileSisDoc").val();
            if (fileArchivoImei == "") {
                mensaje += "* Tiene que adjuntar el archivo IMEI.";
                mensaje += "<br/>";
            } else {
                var extension = fileArchivoImei.substring(fileArchivoImei.lastIndexOf("."));
                if (extension != ".xlsx") {
                    mensaje += "* El archivo IMEI no es válido.";
                    mensaje += "<br/>";
                }
            }
            if (mensaje == "") {
                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-secondary' 
                    },
                    buttonsStyling: false,
                })
                swalWithBootstrapButtons.fire({
                    title: MSJ_MENSAJE_SISTEMA,
                    text: "¿Desea cargar la información del archivo IMEI?",
                    type: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Aceptar',
                    cancelButtonText: 'Cancelar',
                    reverseButtons: false
                }).then(function (result) {
                    if (result.value) {   
                        fn_cargaInformacionSisDoc();
                    }
                });
            } else {
                mostrarMensajeError(mensaje);
            }

        });       

        $("#btnGrabarInfo").click(function () {
            var mensaje = "";
            var opcioncarga = $("#ihopcargado").val();

            if (opcioncarga === "0") {
                mensaje = "No existe información que grabar";
            }
            
            if (mensaje == "") {
                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-secondary' 
                    },
                    buttonsStyling: false,
                })
                swalWithBootstrapButtons.fire({
                    title: MSJ_MENSAJE_SISTEMA,
                    text: "¿Desea grabar la información del archivo IMEI?",
                    type: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Aceptar',
                    cancelButtonText: 'Cancelar',
                    reverseButtons: false
                }).then(function (result) {
                    if (result.value) {
                        fn_grabarInformacionSisDoc();
                    }
                });
            } else {
                mostrarMensajeError(mensaje);
            }

        });       

        var opcion = $("#ihopcargado").val();
        if (opcion == "1") {
            CargarDataCargado();
        } else {
            CargarInicial();
        }


    });

    function fn_cargaInformacionSisDoc() {
        MostrarCargando();
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-secondary' 
            },
            buttonsStyling: false,
        });
        var msg = "";
        var key = 0;
        var formdata = new FormData($("#frmBandejaRequerimiento")[0]);
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/SistemaDocumentario/CargarInformacionSisDoc",
            contentType: false,
            processData: false,
            dataType: "json",
            data: formdata,
            success: function (data) {                
                key = data.key;
                msg = data.value;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                CerrarCargando();
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);                
                mostrarMensajeError(msg);                
            },
            complete: function () {
                CerrarCargando();
                if (key == "0") {
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    swalWithBootstrapButtons.fire({
                        title: "¡Mensaje del Sistema",
                        text: msg,
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar',
                        reverseButtons: false
                    }).then(function (result) {
                        if (result.value) {
                            $("#frmRecargarPagina").submit();
                        }
                    });
                } else if (key == "2") {
                    swalWithBootstrapButtons.fire({
                        title: 'Mensaje del Sistema',
                        text: msg,
                        type: 'warning',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar',
                        reverseButtons: false
                    }).then(function (result) {
                        if (result.value) {
                            $("#frmDescargarError").submit();
                        }
                    })

                }
            }
        });
    }
    function fn_grabarInformacionSisDoc() {
        MostrarCargando();
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-secondary' 
            },
            buttonsStyling: false,
        });
        var msg = "";
        var key = 0;
        var formdata = new FormData($("#frmBandejaRequerimiento")[0]);
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/SistemaDocumentario/GrabarInformacionSisDoc",
            contentType: false,
            processData: false,
            dataType: "json",
            data: formdata,
            success: function (data) {                
                key = data.key;
                msg = data.value;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                CerrarCargando();
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);
            },
            complete: function () {
                CerrarCargando();
                if (key == "0") {
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    swalWithBootstrapButtons.fire({
                        title: "¡Mensaje del Sistema",
                        text: msg,
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar',
                        reverseButtons: false
                    }).then(function (result) {
                        if (result.value) {
                            $("#frmRecargarPagina").submit();
                        }
                    });
                }
            }
        });
    }

    function CargarInicial() {
        var divInformacion = $("#divInformacion");
        var msg = "";
        var key = 0;
        var formdata = $("#frmBandejaAsignar").serialize();
        $.ajax({
            type: "GET",
            url: URLSERVICIO_IMEI + "/SistemaDocumentario/BandejaInicial",
            cache: false,
            data: formdata,
            success: function (data) {                
                divInformacion.html(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);
            },
            complete: function () {

            }
        });
    }

    function CargarDataCargado() {
        var divInformacion = $("#divInformacion");
        var msg = "";
        var key = 0;
        var formdata = $("#frmBandejaAsignar").serialize();
        $.ajax({
            type: "GET",
            url: URLSERVICIO_IMEI + "/SistemaDocumentario/CargarDetalleCargado",
            cache: false,
            data: formdata,
            success: function (data) {
                divInformacion.html(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);
            },
            complete: function () {

            }
        });
    }
</script>
