﻿@model List<Osiptel.SIGREI.BE.BE_GSMA>;
@{
    Layout = "";
}

<div class="tabla-content-result">    
    <table id="dtResultadoBusqueda" class="tabla-osiptel" style="width: 100%">
        
        <thead>
            <tr>

                <th scope="col">Nro</th>
                <th scope="col">TAC</th>
                <th scope="col">Marca</th>
                <th scope="col">Modelo Comercial</th>
                <th scope="col">Modelo Técnico</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>

                    <td class="text-center">@item.nroItem</td>
                    <td class="text-left">@item.nroTAc</td>
                    <td class="text-left">@item.marca</td>
                    <td class="text-center">@item.modeloComercial</td>
                    <td class="text-center">@item.modeloTecnico</td>
                </tr>

            }
        </tbody>

    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#dtResultadoBusqueda').DataTable({
            colReorder: true,
            responsive: true,
            'columnDefs': [{
                'targets': [0, 1],
                'orderable': false
            }],
            lengthMenu: [
                [10, 25, 50, 100],
                ['10 ', '25', '50', '100']
            ],
            "lengthChange": false
        });
    });

</script>
