﻿@model List<Osiptel.SIGREI.BE.BE_ABONADO>;
    @{
        Layout = "";
    }
    <div class="row">
        <div class="col-md-12">
            <input type="hidden" id="hdimeiseleccion" name="hdimeiseleccion" />
            <div class="tabla-content-result">
                <table id="dtConsultaImeis" class="tabla-osiptel" style="width: 100%">
                    
                    <thead>
                        <tr>
                            <th scope="col">Nro</th>
                            <th scope="col">IMEI</th>
                            <th scope="col">Concesionario</th>
                            <th scope="col">Número de servicio telefónico móvil </th>
                            <th scope="col">Tipo Abonado</th>
                            <th scope="col">Nombres del Abonado </th>
                            <th scope="col">Apellido Paterno del Abonado </th>
                            <th scope="col">Apellido Materno del Abonado </th>
                            <th scope="col">Razón Social </th>
                            <th scope="col">Tipo de Documento Legal</th>
                            <th scope="col">Número de Documento Legal </th>
                            <th scope="col">Nombres del Representante legal </th>
                            <th scope="col">Apellido Paterno del Representante Legal </th>
                            <th scope="col">Apellido Materno del Representante Legal</th>
                            <th scope="col">Tipo del Documento Legal del Representante legal </th>
                            <th scope="col">Número de Documento Legal del Representante legal  </th>
                            <th scope="col">Fecha y hora de Activación  </th>
                            <th scope="col">Marca Equipo (RENTESEG)</th>
                            <th scope="col">Modelo Equipo (RENTESEG)</th>
                            <th scope="col">Vinculación  del Servicio</th>
                            <th scope="col">Fecha y hora de Vinculación  </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model)
                        {
                            <tr>
                                <td class="text-center">x.nroItem</td>
                                <td class="text-center"> x.nroImei</td>
                                <td class="text-left"> x.nombreConcesionaria</td>
                                <td class="text-center"> x.nroServicioMovil</td>
                                <td class="text-center"> x.tipoAbonado</td>
                                <td class="text-left"> x.nombresAbonado</td>
                                <td class="text-left"> x.ApPaternoAbonado</td>
                                <td class="text-left"> x.ApMaternoAbonado</td>
                                <td class="text-left"> x.razonSocial</td>
                                <td class="text-center"> x.tipoDocLegal</td>
                                <td class="text-center"> x.nroDocLegal</td>
                                <td class="text-center"> x.nombreRepLegal</td>
                                <td class="text-left"> x.ApPatenoRepLegal</td>
                                <td class="text-left"> x.ApMatenoRepLegal</td>
                                <td class="text-center"> x.tipoDocRepLegal</td>
                                <td class="text-center"> x.nroDocRepLegal</td>
                                <td class="text-center"> x.fechaActivacion</td>
                                <td class="text-left"> x.marcaEquipo</td>
                                <td class="text-left"> x.modeloEquipo</td>
                                <td class="text-left"> x.vinculacion</td>
                                <td class="text-center"> x.fechaVinculacion</td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dtConsultaImeis').DataTable({
                colReorder: true,
                'responsive': true,
                'bAutoWidth': true,
                //ordering: false,
                rowReorder: {
                    selector: 'td:nth-child(2)'
                },

            });

        });
    </script>
