﻿
@{
    ViewData["Title"] = "ConsultaGSMA";
}

<form method="post" id="frmBandejaGSMA" enctype="multipart/form-data">
    <input type="hidden" name="ihidrequeri" id="ihidrequeri" value="" />
    <div class="container contenedor-bandeja">
        <div class="row">
            <div class="col-md-12">
                <div class="content-header cabecera-formulario">
                    <h3 style="color: #ffffff">Bandeja de Consulta GSMA</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label class="etiqueta">
                    Nro IMEI
                </label>
            </div>
            <div class="col-md-2">
                @Html.TextBox("txtNroImei", "", new { @class = "input-content", @maxlength = "15", @onkeypress = "return soloNumeros(event)" })
            </div>
            <div class="col-md-2">
                <label class="etiqueta">
                    Nro Tac
                </label>
            </div>
            <div class="col-md-4">
                @Html.TextBox("txtNroTac", "", new { @class = "input-content", @maxlength = "20", @onkeypress = "return soloNumeros(event)" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <label class="etiqueta">
                    Marca
                </label>
            </div>
            <div class="col-md-2">
                @Html.TextBox("txtMarca", "", new { @class = "input-content", @maxlength = "100" })
            </div>
            <div class="col-md-2">
                <label class="etiqueta">
                    Modelo Comercial
                </label>
            </div>
            <div class="col-md-2">
                @Html.TextBox("txtModeloComercial", "", new { @class = "input-content", @maxlength = "100" })
            </div>
            <div class="col-md-2">
                <label class="etiqueta">
                    Modelo Técnico
                </label>
            </div>
            <div class="col-md-2">
                @Html.TextBox("txtModeloTecnico", "", new { @class = "input-content", @maxlength = "100" })
            </div>
        </div>


        <div class="row">
            <div class="col-md-8">

            </div>
            <div class="col-md-4 text-right">
                <button type="button" id="btnLimpiarInformacion" class="btn class-button-bandeja">
                    Limpiar
                </button>
                <button type="button" id="btnBuscarInformacion" class="btn class-button-bandeja">
                    Buscar
                </button>
                <button type="button" id="btnExportarInformacion" class="btn class-button-bandeja">
                    Exportar
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="tabla-content-result">
                    <table id="dtConsultaGSMA" class="tabla-osiptel" style="width: 100%">
                        
                        <thead>
                            <tr>

                                <th scope="col">Nro</th>
                                <th scope="col">TAC</th>
                                <th scope="col">Marca</th>
                                <th scope="col">Modelo Comercial</th>
                                <th scope="col">Modelo Técnico</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

</form>


<script type="text/javascript">


    var objDatos = new Object();
    var GrillaConsultaGSMA;
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        moment.locale('es');
        objDatos.opcion = 1;
        objDatos.nroImei = $("#txtNroImei").val();
        objDatos.nroTAc = $("#txtNroTac").val();
        objDatos.marca = $("#txtMarca").val();
        objDatos.modeloComercial = $("#txtModeloComercial").val();
        objDatos.modeloTecnico = $("#txtModeloTecnico").val();

        GrillaConsultaGSMA =

            $('#dtConsultaGSMA').DataTable({
                'responsive': true,
                'bAutoWidth': true,
                'ajax': {
                    'type': "POST",
                    'url': URLSERVICIO_IMEI + '/Consulta/BuscarInformacionGSMA',
                    // contentType: "application/json; charset=utf-8",
                    //async: true,
                    //'url': '/Bingo/GetAllBingo/',
                    //'type': 'POST',
                    "datatype": "json",
                    data: function (values) {
                        values.models = objDatos;
                    }
                },
                'processing': true,
                'serverSide': true,
                'paging': true,
                'pagingType': 'full_numbers',
                'order': [1, 'asc'],
                'lengthChange': true,
                //"bFilter": true,
                'searching': false,
                "pageLength": 25,
                'columnDefs': [
                    { 'targets': 0, 'name': 'nroItem', 'type': 'numeric-comma', 'sClass': 'text-center align-middle', 'sWidth': '10%', 'visible': true, 'bSearchable': false, 'bSortable': false, },
                    { 'targets': 1, 'name': 'nroTAc', 'type': 'numeric-comma', 'sClass': 'text-center align-middle', 'sWidth': '15%', 'visible': true, 'bSearchable': true, 'bSortable': true, },
                    { 'targets': 2, 'name': 'marca', 'type': 'strings', 'sClass': 'text-left align-middle', 'sWidth': '25%', 'visible': true, 'bSearchable': true, 'bSortable': true, },
                    { 'targets': 3, 'name': 'modeloComercial', 'type': 'strings', 'sClass': 'text-left align-middle', 'sWidth': '25%', 'visible': true, 'bSearchable': true, 'bSortable': true, },
                    { 'targets': 4, 'name': 'modeloTecnico', 'type': 'strings', 'sClass': 'text-left align-middle', 'sWidth': '25%', 'visible': true, 'bSearchable': true, 'bSortable': true, }
                ]

            });

        $("#btnBuscarInformacion").click(function (e) {
            e.preventDefault();

            var nroImei = $("#txtNroImei").val();
            var nroTAc = $("#txtNroTac").val();
            var marca = $("#txtMarca").val();
            var modeloComercial = $("#txtModeloComercial").val();
            var modeloTecnico = $("#txtModeloTecnico").val();

            var realizarBusqueda = false;
            if (nroTAc.length > 0 || (nroImei.length > 0 && nroImei.length == 15)
                || marca.length > 0 
                || modeloComercial.length > 0
                || modeloTecnico.length > 0) {
                realizarBusqueda = true;
            } else {
                realizarBusqueda = false;
            }
            if (realizarBusqueda) {

                objDatos.opcion = 2;
                objDatos.nroImei = $("#txtNroImei").val();
                objDatos.nroTAc = $("#txtNroTac").val();
                objDatos.marca = $("#txtMarca").val();
                objDatos.modeloComercial = $("#txtModeloComercial").val();
                objDatos.modeloTecnico = $("#txtModeloTecnico").val();
                GrillaConsultaGSMA.ajax.reload();
            } else {
                mostrarMensajeError("Ingrese algún criterio de búsqueda");
            }
        });

        $("#btnLimpiarInformacion").click(function (e) {
            e.preventDefault();
            $("#frmBandejaGSMA input").val("");
            objDatos.opcion = 1;
            objDatos.nroImei = $("#txtNroImei").val();
            objDatos.nroTAc = $("#txtNroTac").val();
            objDatos.marca = $("#txtMarca").val();
            objDatos.modeloComercial = $("#txtModeloComercial").val();
            objDatos.modeloTecnico = $("#txtModeloTecnico").val();
            GrillaConsultaGSMA.ajax.reload();
        });


        $("#btnExportarInformacion").click(function () {           
            var iTotalDisplayRecords = GrillaConsultaGSMA.page.info().recordsDisplay;
            if (iTotalDisplayRecords > 1000) {
                mostrarMensajeError("No puede exportar mayor a 1000 registros");
            }
            else if (iTotalDisplayRecords == 0) {
                mostrarMensajeError("Debe de realizar una búsqueda y existir registros a exportar");
            } else {
                BloquearPantalla();
                var msg = "";
                var key = 0;
                var objGSMA = objDatos;  
                $.ajax({
                    type: "POST",
                    url: URLSERVICIO_IMEI + "/Consulta/ValidarDescargaExportarGSMA",
                    cache: false,
                    data: objGSMA,
                    dataType: "json",
                    timeout: 1800000,
                    success: function (data) {
                        key = data.key;
                        msg = data.value;
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                        mostrarMensajeError("Error al usar el servicio");
                        DesbloquearPantalla();
                    },
                    complete: function () {
                        DesbloquearPantalla();
                        if (key == "0") {
                            mostrarMensajeError(msg);
                        } else if (key == "1") {
                            window.location = URLSERVICIO_IMEI + '/Consulta/DescargarInformacionGSMA';
                        }
                    }
                });
            }
        });

    });




</script>