﻿
@{
    ViewData["Title"] = "ConsultaEIR";
}

<form method="post" id="frmBandejaEIR" enctype="multipart/form-data">
    <input type="hidden" id="opcion" name="opcion" value="1">
    <div class="container contenedor-bandeja">
        <div class="row">
            <div class="col-md-12">
                <div class="content-header cabecera-formulario">
                    <h3 style="color: #ffffff">Consulta de la Información Contenida en el EIR</h3>
                </div>
            </div>
        </div>
        <div class="row" style="float: right;">
            <div class="col-md-12 text-right">
                <a href="#" style="font-weight:bold;font-size:16px;color:#1883c5;" onclick="fn_descargarPlantillaBusqueda()"><i class="fa fa-file-excel-o" aria-hidden="true"></i>Plantilla</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <label class="etiqueta">Tipo Busqueda </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="margin-left: 30px;">

                        <input type="radio" id="cbUno" name="tipoBuscador" value="1" checked>
                        <label class="etiqueta" for="cbCobertura" style="display:inline-block;">Nro. IMEI</label><br />
                    </div>
                </div>
            </div>

            <div class="col-md-9" style="margin-top: 20px;">
                <div class="row criterios-busqueda" id="divUno">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="etiqueta">Adjuntar Archivo </label>
                            </div>
                            <div class="col-md-4">
                                <input type="file" id="fileNumeroImei" name="fileNumeroImei" class="form-control " title="Archivo máximo de 4MB" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                            </div>
                            <div class="col-md-5">
                            </div>
                        </div>
                        <div class="row" style="margin-top:4px">
                            <div class="col-md-3">
                                <label class="etiqueta">Valor Individual</label>
                            </div>
                            <div class="col-md-4">
                                @Html.TextBox("txtValorIndividualImei", "", new { @class = "input-content", @maxlength = "15", @onkeypress = "return soloNumeros(event)" })
                            </div>
                            <div class="col-md-5">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <label style="color:red;font-size: 11px;">* En caso de exportar, solo descargará 10000 registros como máximo</label>
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4 text-right">
                <button type="button" id="btnLimpiarInformacion" class="btn class-button-bandeja">
                    Limpiar
                </button>
                <button type="button" id="btnBuscarInformacion" class="btn class-button-bandeja">
                    Buscar
                </button>
                <button type="button" id="btnExportarInformacion" class="btn class-button-bandeja">
                    Exportar
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="tabla-content-result">
                    <table id="dtConsultaEIR" class="tabla-osiptel" style="width: 100%">
                        
                        <thead>
                            <tr>
                                <th scope="col">Nro</th>
                                <th scope="col">Imei</th>
                                <th scope="col">Concesionario</th>
                                <th scope="col">Mes</th>
                                <th scope="col">Año</th>
                                <th scope="col">Fecha Registro</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

</form>


<script type="text/javascript">


    var objDatos = new Object();
    var dtConsultaEIR;
    $(document).ready(function () {
        $('input:radio[name=tipoBuscador]').change(function () {
            //debugger;
            $(".criterios-busqueda").css("display", "none");
            if ($(this).val() == '1') {
                $("#divUno").css("display", "block");
            }

        });
        $('[data-toggle="tooltip"]').tooltip();
        moment.locale('es');
        objDatos.opcion = 1;

        dtConsultaEIR =
            $('#dtConsultaEIR').DataTable({
                'responsive': true,
                'bAutoWidth': true,
                'ajax': {
                    'type': "POST",
                    'url': URLSERVICIO_IMEI + '/Consulta/BuscarInformacionEIR',
                    "datatype": "json",
                    data: function (values) {
                        values.models = objDatos;
                    }
                },
                'processing': true,
                'serverSide': true,
                'paging': true,
                'pagingType': 'full_numbers',
                'order': [1, 'asc'],
                'lengthChange': true,
                "bFilter": false,
                "ordering": false,
                'searching': false,
                "pageLength": 25,
                'columnDefs': [
                    { 'targets': 0, 'name': 'nroItem', 'type': 'numeric-comma', 'sClass': 'text-center align-middle', 'sWidth': '10%', 'visible': true, 'bSearchable': false, 'bSortable': false, },
                    { 'targets': 1, 'name': 'nroImei', 'type': 'strings', 'sClass': 'text-center align-middle', 'sWidth': '20%', 'visible': true, 'bSearchable': true, 'bSortable': true, },
                    { 'targets': 2, 'name': 'nombreConcesionaria', 'type': 'numeric-comma', 'sClass': 'text-left align-middle', 'sWidth': '20%', 'visible': true, 'bSearchable': true, 'bSortable': true, },                    
                    { 'targets': 3, 'name': 'mes', 'type': 'strings', 'sClass': 'text-center align-middle', 'sWidth': '20%', 'visible': true, 'bSearchable': true, 'bSortable': true, },
                    { 'targets': 4, 'name': 'anio', 'type': 'strings', 'sClass': 'text-center align-middle', 'sWidth': '20%', 'visible': true, 'bSearchable': true, 'bSortable': true, },
                    { 'targets': 5, 'name': 'fechaRegistro', 'type': 'strings', 'sClass': 'text-center align-middle', 'sWidth': '30%', 'visible': true, 'bSearchable': true, 'bSortable': true, }
                ]

            });

        $("#btnBuscarInformacion").click(function (e) {
            var mensaje = "";
            var busquedaIndividual = false;
            var tipoBusqueda = $("input[name='tipoBuscador']:checked").val();
            if (tipoBusqueda == "1") {
                var txtValorIndividualImei = $("#txtValorIndividualImei").val();
                var fileNumeroImei = $("#fileNumeroImei").val();
                if (fileNumeroImei == "" && txtValorIndividualImei === "") {
                    mensaje += "* Tiene que adjuntar un archivo con extensión .xls ó ingresar un número de IMEI";
                    mensaje += "<br/>";
                } else {
                    switch (txtValorIndividualImei.length) {
                        case 0:
                            break;
                        case 14:
                        case 15:
                            $("#frmBandejaAbonado #fileNumeroImei").val("");
                            busquedaIndividual = true;
                            break;
                        default:
                            mensaje += "* El número de IMEI no es valido ";
                            mensaje += "<br/>";
                            $("#frmBandejaAbonado #fileNumeroImei").val("");
                            break;
                    }
                    if (!busquedaIndividual && txtValorIndividualImei.length == 0) {
                        if (fileNumeroImei == "") {
                            mensaje += "* Tiene que adjuntar un archivo con extensión .xls";
                            mensaje += "<br/>";
                        } else {
                            var extension = fileNumeroImei.substring(fileNumeroImei.lastIndexOf("."));
                            if (extension != ".xls" && extension != ".xlsx") {
                                mensaje += "* El archivo no es válido.";
                                mensaje += "<br/>";
                            } else {
                                var tamanioArchivo = $('#fileNumeroImei')[0].files[0].size;
                                var archivokiloByte = parseInt(tamanioArchivo / 1024);
                                if (archivokiloByte > 5000) {
                                    mensaje += "*Advertencia: No se permite subir un archivo mayor a 4MB";
                                    mensaje += "<br/>";
                                }
                            }
                        }
                    }
                }
            }
            if (mensaje === "") {
                fn_ValidarBusquedaEIR()
            } else {
                mostrarMensajeError(mensaje);
            }
        });

        $("#btnLimpiarInformacion").click(function (e) {
            e.preventDefault();
            $("#frmBandejaEIR #fileNumeroImei").val("");
            $("#frmBandejaEIR #opcion").val("1");
            $("#frmBandejaEIR #txtValorIndividualImei").val("");
            fn_BuscarListaEIR();
        });
        $("#btnExportarInformacion").click(function () {
            //var iTotalDisplayRecords = dtConsultaEIR.page.info().recordsDisplay;
            //if (iTotalDisplayRecords > 1000) {
            //    mostrarMensajeError("No puede exportar mayor a 1000 registros");
            //}
            //else if (iTotalDisplayRecords == 0) {
            //    mostrarMensajeError("Debe de realizar una búsqueda y existir registros a exportar");
            //} else {
                BloquearPantalla();
                var msg = "";
                var key = 0;
                var objEIR = objDatos;
                $.ajax({
                    type: "POST",
                    url: URLSERVICIO_IMEI + "/Consulta/ValidarDescargaExportarEIR",
                    cache: false,
                    data: objEIR,
                    dataType: "json",
                    timeout: 1800000,
                    success: function (data) {
                        key = data.key;
                        msg = data.value;
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                        mostrarMensajeError("Error al usar el servicio");
                        DesbloquearPantalla();
                    },
                    complete: function () {
                        DesbloquearPantalla();
                        if (key == "0") {
                            mostrarMensajeError(msg);
                        } else if (key == "1") {
                            window.location = URLSERVICIO_IMEI + '/Consulta/DescargarInformacionEIR';
                        }
                    }
                });
            //}
        });
    });
    function fn_ValidarBusquedaEIR() {
        var formdata = new FormData($("#frmBandejaEIR")[0]);
        //debugger;
        var msg = "";
        var key = 0;
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/Consulta/ValidarBusquedaEIR",
            contentType: false,
            processData: false,
            dataType: "json",
            data: formdata,
            timeout: 1800000,
            success: function (data) {
                key = data.key;
                msg = data.value;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError("Se ha presentado un error");
            },
            complete: function () {
                if (key == "0") {
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    $("#frmBandejaEIR #opcion").val("2");
                    fn_BuscarListaEIR();
                }
            }
        });
    }

    function fn_BuscarListaEIR() {
        BuscandoInformacion();
        objDatos.opcion = $("#opcion").val();
        objDatos.tipoConsulta = $("input[name='tipoBuscador']:checked").val();
        dtConsultaEIR.ajax.reload();
        QuitarBloqueo();
    }



</script>