﻿
@{
    ViewData["Title"] = "ConsultaAbonado";
}

<form method="post" id="frmBandejaAbonado" enctype="multipart/form-data">
    <div class="container contenedor-bandeja">
        <div class="row">
            <div class="col-md-12">
                <div class="content-header cabecera-formulario">
                    <h3 style="color: #ffffff">Bandeja de Consulta de Registro de Abonados</h3>
                    <input type="hidden" id="opcion" name="opcion" value="1">
                </div>
            </div>
        </div>
        <div class="row" style="float: right;">
            <div class="col-md-12 text-right">
                <a href="#" style="font-weight:bold;font-size:16px;color:#1883c5;" onclick="fn_descargarPlantillaBusqueda()"><i class="fa fa-file-excel-o" aria-hidden="true"></i>Plantilla</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <label class="etiqueta">Tipo Busqueda </label>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12" style="margin-left: 30px;">

                        <input type="radio" id="cbUno" name="tipoBuscador" value="1"
                               checked>
                        <label class="etiqueta" for="cbCobertura" style="display:inline-block;">Nro. Servicio Telefónico Móvil</label><br />

                        <input type="radio" id="cbDos" name="tipoBuscador" value="2">
                        <label class="etiqueta" style="display:inline-block;"> Nro IMEI</label><br />

                        <input type="radio" id="cbTres" name="tipoBuscador" value="3">
                        <label class="etiqueta" style="display:inline-block;"> Documento Identidad</label><br />
                        <input type="radio" id="cbCuatro" name="tipoBuscador" value="4">
                        <label class="etiqueta" style="display:inline-block;"> Fecha Activación</label>

                    </div>
                </div>
            </div>

            <div class="col-md-9" style="margin-top: 20px;">
                <div class="row criterios-busqueda" id="divUno">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="etiqueta">Adjuntar Archivo </label>
                            </div>
                            <div class="col-md-4">
                                <input type="file" id="fileNumeroTelefono" name="fileNumeroTelefono" class="form-control " title="Archivo máximo de 4MB" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                            </div>
                            <div class="col-md-5">
                            </div>
                        </div>
                        <div class="row" style="margin-top:4px">
                            <div class="col-md-3">
                                <label class="etiqueta">Valor Individual</label>
                            </div>
                            <div class="col-md-4">
                                @Html.TextBox("txtValorIndividualTelefono", "", new { @class = "input-content", @maxlength = "9", @onkeypress = "return soloNumeros(event)" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row criterios-busqueda" id="divDos" hidden="hidden">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="etiqueta">Adjuntar Archivo </label>
                            </div>
                            <div class="col-md-4">
                                <input type="file" id="fileNumeroImei" name="fileNumeroImei" class="form-control " title="Archivo máximo de 4MB" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                            </div>
                            <div class="col-md-5">
                            </div>
                        </div>
                        <div class="row" style="margin-top:4px">
                            <div class="col-md-3">
                                <label class="etiqueta">Valor Individual</label>
                            </div>
                            <div class="col-md-4">
                                @Html.TextBox("txtValorIndividualImei", "", new { @class = "input-content", @maxlength = "15", @onkeypress = "return soloNumeros(event)" })
                            </div>
                            <div class="col-md-5">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row criterios-busqueda" id="divTres" hidden="hidden">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2">
                                <label class="etiqueta">Tipo Documento </label>
                            </div>
                            <div class="col-md-2">
                                @Html.DropDownList("ddlTipoDocumento", new SelectList(ViewBag.Lista_TipoDocumento, "valor", "descripcion"), "Seleccione", new { title = "Tipo de Documento", @class = "input-content ", @style = "width: 150px;" })
                            </div>
                            <div class="col-md-2">
                                <label class="etiqueta">Adjuntar Archivo </label>
                            </div>
                            <div class="col-md-6">
                                <input type="file" id="fileNroDocumento" name="fileNroDocumento" class="form-control " title="Archivo máximo de 4MB" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                            </div>
                        </div>
                        <div class="row" style="margin-top:4px">
                            <div class="col-md-2">
                                <label class="etiqueta">Valor Individual</label>
                            </div>
                            <div class="col-md-2">
                                @Html.TextBox("txtValorIndividualDoc", "", new { @class = "input-content", @maxlength = "16", @onkeypress = "return soloNumeros(event)" })
                            </div>
                            <div class="col-md-8"></div>
                        </div>
                    </div>
                </div>
                <div class="row criterios-busqueda" id="divCuatro" hidden="hidden">
                    <div class="col-md-3">
                        <label class="etiqueta">
                            Fecha Activación  - desde
                        </label>
                    </div>
                    <div class="col-md-3">
                        @Html.TextBox("txtFecActivacionInicio", "", new { @class = "input-content fecha", @maxlength = "10", @style = "width: 100px;" })
                    </div>
                    <div class="col-md-3">
                        <label class="etiqueta">
                            Hasta
                        </label>
                    </div>
                    <div class="col-md-3">
                        @Html.TextBox("txtFecActivacionFin", "", new { @class = "input-content fecha", @maxlength = "10", @style = "width: 100px;" })
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label style="color:red;font-size: 11px;">* En caso de exportar, solo descargará 10000 registros como máximo</label>
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4 text-right">
                <button type="button" id="btnLimpiarInformacion" class="btn class-button-bandeja">
                    Limpiar
                </button>
                <button type="button" id="btnBuscarInformacion" class="btn class-button-bandeja">
                    Buscar
                </button>
                <button type="button" id="btnExportarInformacion" class="btn class-button-bandeja">
                    Exportar
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="tabla-content-result">
                    <table id="dtConsultaAbonado" class="tabla-osiptel" style="width: 100%">
                       
                        <thead>
                            <tr>
                                <th scope="col">Nro</th>
                                <th scope="col">Número de servicio telefónico móvil </th>
                                <th scope="col">Concesionario</th>
                                <th scope="col">Tipo Abonado</th>
                                <th scope="col">Tipo de Documento Legal</th>
                                <th scope="col">Número de Documento Legal </th>
                                <th scope="col">Nombres del Abonado </th>
                                <th scope="col">Apellido Paterno del Abonado </th>
                                <th scope="col">Apellido Materno del Abonado </th>
                                <th scope="col">Razón Social </th>
                                <th scope="col">Tipo del Documento Legal del Representante legal </th>
                                <th scope="col">Número de Documento Legal del Representante legal  </th>
                                <th scope="col">Nombres del Representante legal </th>
                                <th scope="col">Apellido Paterno del Representante Legal </th>
                                <th scope="col">Apellido Materno del Representante Legal</th>
                                <th scope="col">Fecha y hora de Activación  </th>
                                <th scope="col">Estado Servicio </th>
                                <th scope="col">Vinculación Servicio </th>
                                <th scope="col">Fecha y hora de Vinculación  </th>
                                <th scope="col">IMEI</th>
                                <th scope="col">Marca Equipo (RENTESEG)</th>
                                <th scope="col">Modelo Equipo (RENTESEG)</th>
                                <th scope="col">Marca Equipo (GSMA)</th>
                                <th scope="col">Modelo Equipo (GSMA)</th>
                                <th scope="col">Fecha de Registro  </th>

                            </tr>
                        </thead>
                    </table>
                </div>

            </div>

        </div>
    </div>

</form>


<script type="text/javascript">


    var objDatos = new Object();
    var dtConsultaAbonado;
    $(document).ready(function () {

        $('input:radio[name=tipoBuscador]').change(function () {
            debugger;
            $(".criterios-busqueda").css("display", "none");
            if ($(this).val() == '1') {
                $("#divUno").css("display", "block");
            } else if ($(this).val() == '2') {
                $("#divDos").css("display", "block");
            } else if ($(this).val() == '3') {
                $("#divTres").css("display", "block");
            } else if ($(this).val() == '4') {
                $("#divCuatro").css("display", "block");
            }

        });


        $(".fecha").datepicker({ changeMonth: !0, changeYear: !0, showOn: "button", buttonImage: URLSERVICIO_IMEI + "/images/calendar-32-xxl.png", buttonImageOnly: !0 });

        $('[data-toggle="tooltip"]').tooltip();
        moment.locale('es');
        $("#frmBandejaAbonado #opcion").val("1");

        objDatos.opcion = 1;
        objDatos.fechaActivacionInicio = $("#txtFecActivacionInicio").val();
        objDatos.fechaActivacionFin = $("#txtFecActivacionFin").val();
        objDatos.tipoDocLegal = $("#ddlTipoDocumento").val();

        dtConsultaAbonado =
            $('#dtConsultaAbonado').DataTable({
                'responsive': true,
                'bAutoWidth': true,
                'ajax': {
                    'type': "POST",
                    'url': URLSERVICIO_IMEI + '/Consulta/BuscarInformacionAbonados',
                    "datatype": "json",
                    data: function (values) {
                        values.models = objDatos;
                    }
                },
                'processing': false,
                'serverSide': true,
                'paging': true,
                'pagingType': 'full_numbers',
                'order': [1, 'asc'],
                'lengthChange': true,
                "bFilter": false,
                "ordering": false,
                'searching': false,
                "pageLength": 25,
                'columnDefs': [
                    { 'targets': 0, 'name': 'nroItem', 'type': 'numeric-comma', 'sClass': 'text-center align-middle', 'sWidth': '5%', 'visible': true, 'bSearchable': false, 'bSortable': false, },
                    { 'targets': 1, 'name': 'nroServicioMovil', 'type': 'strings', 'sClass': 'text-left align-middle', 'sWidth': '12%', 'visible': true, 'bSearchable': true, 'bSortable': true, },
                    { 'targets': 2, 'name': 'nombreConcesionaria', 'type': 'strings', 'sClass': 'text-left align-middle', 'sWidth': '18%', 'visible': true, 'bSearchable': true, 'bSortable': true, },
                    { 'targets': 3, 'name': 'tipoAbonado', 'type': 'strings', 'sClass': 'text-left align-middle', 'sWidth': '20%', 'visible': true, 'bSearchable': true, 'bSortable': true, },
                    { 'targets': 4, 'name': 'tipoDocLegal', 'type': 'strings', 'sClass': 'text-left align-middle', 'sWidth': '25%', 'visible': true, 'bSearchable': true, 'bSortable': true, },
                    { 'targets': 5, 'name': 'nroDocLegal', 'type': 'strings', 'sClass': 'text-left align-middle', 'sWidth': '25%', 'visible': true, 'bSearchable': true, 'bSortable': true, },
                    { 'targets': 6, 'name': 'nombresAbonado', 'type': 'strings', 'sClass': 'text-left align-middle', 'sWidth': '25%', 'visible': true, 'bSearchable': true, 'bSortable': true, },
                    { 'targets': 7, 'name': 'ApPaternoAbonado', 'type': 'strings', 'sClass': 'text-left align-middle', 'sWidth': '25%', 'visible': true, 'bSearchable': true, 'bSortable': true, },
                    { 'targets': 8, 'name': 'ApMaternoAbonado', 'type': 'strings', 'sClass': 'text-left align-middle', 'sWidth': '25%', 'visible': true, 'bSearchable': true, 'bSortable': true, },
                    { 'targets': 9, 'name': 'razonSocial', 'type': 'strings', 'sClass': 'text-left align-middle', 'sWidth': '25%', 'visible': true, 'bSearchable': true, 'bSortable': true, },
                    { 'targets': 10, 'name': 'tipoDocRepLegal', 'type': 'strings', 'sClass': 'text-left align-middle', 'sWidth': '25%', 'visible': true, 'bSearchable': true, 'bSortable': true, },
                    { 'targets': 11, 'name': 'nroDocRepLegal', 'type': 'strings', 'sClass': 'text-left align-middle', 'sWidth': '25%', 'visible': true, 'bSearchable': true, 'bSortable': true, },
                    { 'targets': 12, 'name': 'nombreRepLegal', 'type': 'strings', 'sClass': 'text-left align-middle', 'sWidth': '25%', 'visible': true, 'bSearchable': true, 'bSortable': true, },
                    { 'targets': 13, 'name': 'ApPatenoRepLegal', 'type': 'strings', 'sClass': 'text-left align-middle', 'sWidth': '25%', 'visible': true, 'bSearchable': true, 'bSortable': true, },
                    { 'targets': 14, 'name': 'ApMatenoRepLegal', 'type': 'strings', 'sClass': 'text-left align-middle', 'sWidth': '25%', 'visible': true, 'bSearchable': true, 'bSortable': true, },
                    { 'targets': 15, 'name': 'fechaActivacion', 'type': 'strings', 'sClass': 'text-left align-middle', 'sWidth': '25%', 'visible': true, 'bSearchable': true, 'bSortable': true, },
                    { 'targets': 16, 'name': 'estadoServicio', 'type': 'strings', 'sClass': 'text-left align-middle', 'sWidth': '25%', 'visible': true, 'bSearchable': true, 'bSortable': true, },
                    { 'targets': 17, 'name': 'vinculacion', 'type': 'strings', 'sClass': 'text-left align-middle', 'sWidth': '25%', 'visible': true, 'bSearchable': true, 'bSortable': true, },
                    { 'targets': 18, 'name': 'fechaVinculacion', 'type': 'strings', 'sClass': 'text-left align-middle', 'sWidth': '25%', 'visible': true, 'bSearchable': true, 'bSortable': true, },
                    { 'targets': 19, 'name': 'nroImei', 'type': 'numeric-comma', 'sClass': 'text-center align-middle', 'sWidth': '10%', 'visible': true, 'bSearchable': true, 'bSortable': true, },
                    { 'targets': 20, 'name': 'marcaEquipo', 'type': 'strings', 'sClass': 'text-left align-middle', 'sWidth': '15%', 'visible': true, 'bSearchable': true, 'bSortable': true, },
                    { 'targets': 21, 'name': 'modeloEquipo', 'type': 'strings', 'sClass': 'text-left align-middle', 'sWidth': '15%', 'visible': true, 'bSearchable': true, 'bSortable': true, },
                    { 'targets': 22, 'name': 'marcaGsma', 'type': 'strings', 'sClass': 'text-left align-middle', 'sWidth': '15%', 'visible': true, 'bSearchable': true, 'bSortable': true, },
                    { 'targets': 23, 'name': 'modeloGsma', 'type': 'strings', 'sClass': 'text-left align-middle', 'sWidth': '15%', 'visible': true, 'bSearchable': true, 'bSortable': true, },
                    { 'targets': 24, 'name': 'fechaRegistro', 'type': 'strings', 'sClass': 'text-left align-middle', 'sWidth': '10%', 'visible': true, 'bSearchable': true, 'bSortable': true, }


                ]
            });

        $("#btnBuscarInformacion").click(function (e) {

            var mensaje = "";
            var busquedaIndividual = false;
            var tipoBusqueda = $("input[name='tipoBuscador']:checked").val();
            if (tipoBusqueda == "1") {
                var fileNumeroTelefono = $("#fileNumeroTelefono").val();
                var txtValorIndividualTelefono = $("#txtValorIndividualTelefono").val();

                if (fileNumeroTelefono == "" && txtValorIndividualTelefono == "" ) {
                    mensaje += "* Tiene que adjuntar un archivo con extensión .xls ó  ingresar un número telefónico. ";
                    mensaje += "<br/>";
                }
                else {
                    switch (txtValorIndividualTelefono.length) {
                        case 0:
                            break;                        
                        case 9:
                            $("#frmBandejaAbonado #fileNumeroTelefono").val("");
                            busquedaIndividual = true;
                            break;
                        default:
                            mensaje += "* El número telefónico no es valido ";
                            mensaje += "<br/>";
                            $("#frmBandejaAbonado #fileNumeroTelefono").val("");
                            break;
                    }
                    if (!busquedaIndividual && txtValorIndividualTelefono.length == 0) {
                        if (fileNumeroTelefono == "") {
                            mensaje += "* Tiene que adjuntar un archivo con extensión .xls";
                            mensaje += "<br/>";
                        } else {
                            var extension = fileNumeroTelefono.substring(fileNumeroTelefono.lastIndexOf("."));
                            if (extension != ".xls" && extension != ".xlsx") {
                                mensaje += "* El archivo no es válido.";
                                mensaje += "<br/>";
                            } else {
                                var tamanioArchivo = $('#fileNumeroTelefono')[0].files[0].size;
                                var archivokiloByte = parseInt(tamanioArchivo / 1024);

                                if (archivokiloByte > 5000) {
                                    mensaje += "*Advertencia: No se permite subir un archivo mayor a 4MB";
                                    mensaje += "<br/>";
                                }
                            }
                        }
                    }
                }
            }
            else if (tipoBusqueda == "2") {
                var txtValorIndividualImei = $("#txtValorIndividualImei").val();
                var fileNumeroImei = $("#fileNumeroImei").val();
                if (fileNumeroImei == "" && txtValorIndividualImei==="") {
                    mensaje += "* Tiene que adjuntar un archivo con extensión .xls ó ingresar un número de IMEI";
                    mensaje += "<br/>";
                } else {
                    switch (txtValorIndividualImei.length) {
                        case 0:
                            break;                     
                        case 14:
                        case 15:
                            $("#frmBandejaAbonado #fileNumeroImei").val("");   
                            busquedaIndividual = true;
                            break;
                        default:
                            mensaje += "* El número de IMEI no es valido ";
                            mensaje += "<br/>";
                            $("#frmBandejaAbonado #fileNumeroImei").val("");   
                            break;
                    }                              
                    if (!busquedaIndividual && txtValorIndividualImei.length==0) {
                        if (fileNumeroImei == "" ) {
                            mensaje += "* Tiene que adjuntar un archivo con extensión .xls";
                            mensaje += "<br/>";
                        } else {
                            var extension = fileNumeroImei.substring(fileNumeroImei.lastIndexOf("."));
                            if (extension != ".xls" && extension != ".xlsx") {
                                mensaje += "* El archivo no es válido.";
                                mensaje += "<br/>";
                            } else {
                                var tamanioArchivo = $('#fileNumeroImei')[0].files[0].size;
                                var archivokiloByte = parseInt(tamanioArchivo / 1024);
                                if (archivokiloByte > 5000) {
                                    mensaje += "*Advertencia: No se permite subir un archivo mayor a 4MB";
                                    mensaje += "<br/>";
                                }
                            }
                        }
                    }
                }
            }
            else if (tipoBusqueda == "3") {
                debugger;
                var txtValorIndividualDoc = $("#txtValorIndividualDoc").val();
                var ddlTipoDocumento = $("#ddlTipoDocumento").val();
                if (ddlTipoDocumento === "" ) {
                    mensaje += "* Tiene que seleccionar tipo de documento.";
                    mensaje += "<br/>";
                }
                var fileNroDocumento = $("#fileNroDocumento").val();
                if (fileNroDocumento == "" && txtValorIndividualDoc === "") {
                    mensaje += "* Tiene que adjuntar un archivo con extensión .xls ó ingresar un número de documento";
                    mensaje += "<br/>";
                } else {
                    switch (txtValorIndividualDoc.length) {
                        case 0:
                            break;
                        case 8:
                        case 9:
                        case 10:
                        case 11:
                        case 12:
                        case 13:
                        case 14:
                        case 15:
                            $("#frmBandejaAbonado #fileNroDocumento").val("");
                            busquedaIndividual = true;
                            break;
                        default:
                            mensaje += "* El número de documento no es valido ";
                            mensaje += "<br/>";
                            $("#frmBandejaAbonado #fileNroDocumento").val("");
                            break;
                    }                  
                    if (!busquedaIndividual && txtValorIndividualDoc.length == 0) {
                        if (fileNroDocumento == "" ) {
                            mensaje += "* Tiene que adjuntar un archivo con extensión .xls";
                            mensaje += "<br/>";
                        } else {
                            var extension = fileNroDocumento.substring(fileNroDocumento.lastIndexOf("."));
                            if (extension != ".xls" && extension != ".xlsx") {
                                mensaje += "* El archivo no es válido.";
                                mensaje += "<br/>";
                            } else {
                                var tamanioArchivo = $('#fileNroDocumento')[0].files[0].size;
                                var archivokiloByte = parseInt(tamanioArchivo / 1024);

                                if (archivokiloByte > 5000) {
                                    mensaje += "*Advertencia: No se permite subir un archivo mayor a 4MB";
                                    mensaje += "<br/>";
                                }
                            }
                        }
                    }
                }
            }
            else if (tipoBusqueda == "4") {
                var txtFecActivacionInicio = $("#txtFecActivacionInicio").val();
                var txtFecActivacionFin = $("#txtFecActivacionFin").val();

                if (txtFecActivacionInicio.length > 0 && txtFecActivacionFin.length > 0) {
                    var arrayFechaUno = txtFecActivacionInicio.split("/");
                    var arrayFechaDos = txtFecActivacionFin.split("/");

                    var fechaUno = new Date(arrayFechaUno[2], arrayFechaUno[1] - 1, arrayFechaUno[0], 0, 0, 0, 0);
                    var fechaDos = new Date(arrayFechaDos[2], arrayFechaDos[1] - 1, arrayFechaDos[0], 0, 0, 0, 0);
                    if (fechaDos < fechaUno) {
                        mensaje += "*La fecha fin de activación no puede ser menor a la fecha de inicio ";
                        mensaje += "</br>";
                    } else {
                        var dif = fechaDos - fechaUno;
                        var dias = Math.floor(dif / (1000 * 60 * 60 * 24));
                        if (dias > 3) {
                            mensaje += "*Solo 3 días como maximo";
                            mensaje += "</br>";
                        }
                    }
                    valido = true;
                    contador = 1;
                } else {
                    mensaje += "*Ingrese la fecha inicio y fin de activación";
                    mensaje += "</br>";
                }
            }
            if (mensaje === "") {
                fn_ValidarArchivoBusqueda()
            } else {
                mostrarMensajeError(mensaje);
            }

        });

        $("#btnLimpiarInformacion").click(function (e) {
            e.preventDefault();
            $("#frmBandejaAbonado #fileNumeroTelefono").val("");
            $("#frmBandejaAbonado #fileNumeroImei").val("");
            $("#frmBandejaAbonado #ddlTipoDocumento").val("");
            $("#frmBandejaAbonado #fileNroDocumento").val("");
            $("#frmBandejaAbonado #txtFecActivacionInicio").val("");
            $("#frmBandejaAbonado #txtFecActivacionFin").val("");
            $("#frmBandejaAbonado #opcion").val("1");

            $("#frmBandejaAbonado #txtValorIndividualDoc").val("");
            $("#frmBandejaAbonado #txtValorIndividualImei").val("");
            $("#frmBandejaAbonado #txtValorIndividualTelefono").val("");

            fn_BuscarAbonados();
        });
        $("#btnExportarInformacion").click(function () {
            debugger;
            //var iTotalDisplayRecords = dtConsultaAbonado.page.info().recordsDisplay;

            //if (iTotalDisplayRecords > 2000) {
            //    mostrarMensajeError("No puede exportar mayor a 1000 registros");
            //}
            //else if (iTotalDisplayRecords == 0) {
            //    mostrarMensajeError("Debe de realizar una búsqueda y existir registros a exportar");
            //} else {
                BloquearPantalla();
                var msg = "";
                var key = 0;
                var objAbonado = objDatos;

                $.ajax({
                    type: "POST",
                    url: URLSERVICIO_IMEI + "/Consulta/ValidarDescargaExportarAbonados",
                    cache: false,
                    data: objAbonado,
                    timeout: 1800000,
                    dataType: "json",
                    success: function (data) {
                        key = data.key;
                        msg = data.value;
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                        mostrarMensajeError("Error al usar el servicio");
                        DesbloquearPantalla();
                    },
                    complete: function () {
                        DesbloquearPantalla();
                        if (key == "0") {
                            mostrarMensajeError(msg);
                        } else if (key == "1") {
                            window.location = URLSERVICIO_IMEI + '/Consulta/DescargarInformacionAbonado';
                        }
                    }
                });
            //}


        });
    });

    function fn_ValidarArchivoBusqueda() {
        var formdata = new FormData($("#frmBandejaAbonado")[0]);
        debugger;
        var msg = "";
        var key = 0;
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/Consulta/ValidarCriteriosBusqueda",
            contentType: false,
            processData: false,
            dataType: "json",
            data: formdata,
            timeout: 1800000,
            success: function (data) {
                key = data.key;
                msg = data.value;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError("Se ha presentado un error");
            },
            complete: function () {
                if (key == "0") {
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    $("#frmBandejaAbonado #opcion").val("2");
                    fn_BuscarAbonados();
                }
            }
        });
    }

    function fn_BuscarAbonados() {
        BuscandoInformacion();
        objDatos.opcion = $("#opcion").val();
        objDatos.tipoConsulta = $("input[name='tipoBuscador']:checked").val();
        objDatos.fechaActivacionInicio = $("#txtFecActivacionInicio").val();
        objDatos.fechaActivacionFin = $("#txtFecActivacionFin").val();
        objDatos.tipoDocLegal = $("#ddlTipoDocumento").val();
        dtConsultaAbonado.ajax.reload();
        QuitarBloqueo();
    }


</script>


