﻿
@{
    ViewData["Title"] = "LoginEp";
    Layout = "_LayoutLogin";
}

<link href="~/css/styleLogin.css?0.0.3" rel="stylesheet" />

<script>
    $(function () {
        $("body").keypress(function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                $("#frmLogin").submit();
            }
        });
        var msg = $("#MensajeSistema").val();
        if (msg != "" && typeof msg != "undefined") {
            mostrarMensajeError(msg);
        }
        $("#btnIniciarSesion").click(function () {
            var txtUsuario = $("#txtUsuario").val();
            var txtClave = $("#txtClave").val();
            if (txtUsuario.trim() === "") { mostrarMensajeError("Ingrese su usuario"); return; }
            if (txtClave.trim() === "") { mostrarMensajeError("Ingrese su clave"); return; }
            $("#frmLogin").submit();
        });
        $("#ddlTipoDocumento").change(function () {
            //alert("ASDAAD");
            if (document.getElementById("ddlTipoDocumento").value != undefined && document.getElementById("ddlTipoDocumento").value != "") {
                if (document.getElementById("ddlTipoDocumento").value == '01') {
                    $("#txtUsuario").attr('maxlength', '8');
                    $("#txtUsuario").val('');

                } else {
                    /* document.getElementById("btnConsultarOtroDoc").style.display = "block";
                     document.getElementById("btnConsultarReniec").style.display = "none";*/
                    $("#txtUsuario").attr('maxlength', '20');
                    $("#txtUsuario").val('');

                }
            } else {

            }
        });
    });
    
</script>


<style type="text/css">
    #login {
        width: 500px;
        height: auto;
        background-color: #F2FAFC;
        margin: 30px auto 0px auto;
    }

    .headerLogin {
        height: 40px;
        background-color: #00a6d0;
        color: #FFF;
        text-align: center;
        line-height: 40px;
        font-size: 14px;
        font-weight: bold;
    }

    #formLogin {
        margin: 10px auto;
        width: 300px;
    }

    #frmLogin label {
        color: #00A6D0;
    }

    .boxLogin {
        width: 275px;
        margin: 5px 0px;
        padding: 5px 0px;
    }

    .InputLogin {
        padding: 5px 0px;
        background-color: #f18626;
        border: 1px solid #f18626;
        color: #FFF;
        width: 100px;
    }

    #btnForm {
        text-align: center;
    }
</style>
<div>
    <div style="text-align: center; color: #00a6d0; font-size: 21px;">
        <br />
        <br />
        Sistema de Registro de Requerimiento de Información de IMEIs
    </div>


    <form class="" method="post" id="frmLogin" asp-controller="LoginEp" asp-action="ValidarUsuario">
        <div id="login">
            <div class="headerLogin">
                <span>INICIAR SESION</span>
            </div>
            <div id="formLogin">
                @*<h1>Iniciar Sesión</h1>*@
                <label>Tipo de Documento:</label>
                <br />
                <div class="form-group grouplogin">
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
                        @Html.DropDownList("ddlTipoDocumento", new SelectList(ViewBag.ddlTipoDocumento, "valor", "descripcion"), "Seleccione una Opción", new { title = "Tipo de Solicitante", @class = "form-control ", style = "width: 100%;margin-top: 0px !important ;" })

                    </div>
                </div>
                <label>Número de Documento:</label>
                <br />
                <div class="form-group grouplogin">
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
                        <input type="text" name="txtUsuario" id="txtUsuario" maxlength="20" placeholder="Usuario" class="form-control" style="margin-top: 0px !important ;">

                    </div>
                </div>
                <label>Contrase&ntilde;a:</label>
                <br />
                <div class="form-group grouplogin">
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
                        <input type="password" name="txtClave" id="txtClave" placeholder="Contraseña" class="form-control" style="margin-top: 0px !important ;">
                    </div>
                </div>
                @if (ViewBag.if_error == true)
                {
                    <div class="form-group grouplogin">
                        <span class="text-danger" style="font-weight: bold;color:red;">@ViewBag.msg_error</span>
                    </div>
                }
                <div class="form-group grouplogin">
        <div class="g-recaptcha"  data-sitekey="6LfJPwATAAAAAEneZUzSrBmBStil1YRMsRL3Akum"></div>
    </div>
                <div class="form-group grouplogin" style="text-align: center;">
                    <a href="GestorContrasenia/CambioClave"><span class="text-danger" style="font-weight: bold;color: #00a6d0; font-size: 16px;">Olvidé mi contraseña</span></a>
                </div>
                <div id="btnForm">
                    <input type="button" name="btnIniciarSesion" value="Ingresar" id="btnIniciarSesion" class="InputLogin">

                    <br />
                </div>
            </div>
        </div>

    </form>
    @{
        @if (TempData["Mensaje"] != null)
        {
            <div>
                @{ var mensaje = TempData["Mensaje"] as String;
                    if (mensaje != null)
                    {
                        @Html.Hidden("MensajeSistema", @mensaje)
                    }
                }
            </div>
        }

    }
</div>
@section scripts{
    <script type="text/javascript" src='https://www.google.com/recaptcha/api.js'></script>
    @*<script type="text/javascript" src="~/Scripts/Modulos/login.js"></script>*@
}





