﻿@model Osiptel.SIGREI.BE.BE_REQUERIMIENTO;
@{
    ViewData["Title"] = "_DetalleBandeja";
    Layout = "";
}
<div class="container contenedor-bandeja">
    <div class="row">
        <div class="col-md-3">
            <div class="etiqueta">
                Nro Registro
            </div>
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.nroRequerimiento)
        </div>
        <div class="col-md-3">
            <div class="etiqueta">
                Tipo Solicitante
            </div>
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.descTipoSolicitante)
        </div>

    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="etiqueta">
                Nombre de Institución
            </div>
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.nombreInstitucion)
        </div>
        <div class="col-md-6">

        </div>

    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="etiqueta">
                Nombre del Solicitante
            </div>
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.nombreSolicitante)
        </div>
        <div class="col-md-3">
            <div class="etiqueta">
                Cargo del Solicitante
            </div>
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.cargo)
        </div>

    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="etiqueta">
                Dirección
            </div>
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.direccion)
        </div>
        <div class="col-md-3">
            <div class="etiqueta">
                Departamento
            </div>
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.departamento)
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="etiqueta">
                Correo electrónico Institucional
            </div>
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.correo)
        </div>
        <div class="col-md-3">
            <div class="etiqueta">
                Nro de Teléfono de Contacto (opcional)
            </div>
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.contacto)
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="etiqueta">
                Nro Oficio
            </div>
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.nroOficio)
        </div>
        <div class="col-md-3">
            <div class="etiqueta">
                Nro de Documento referenciado (opcional)
            </div>
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.nroDocReferenciado)
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="etiqueta">
                Motivo del requerimiento
            </div>
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.comentario)
        </div>
        <div class="col-md-6">

        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="etiqueta">
                Usuario Registro
            </div>
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.usuarioRegistro)
        </div>
        <div class="col-md-3">
            <div class="etiqueta">
                Fecha Ingreso
            </div>
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.fecRegistro)
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="etiqueta">
                Usuario Asignado
            </div>
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.usuarioAsignacion)
        </div>
        <div class="col-md-3">
            <div class="etiqueta">
                Fecha Asignación
            </div>
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.fechaAsignacion)
        </div>
    </div>
</div>