﻿@model List<Osiptel.SIGREI.BE.BE_REQUERIMIENTO>;
@{
    ViewData["Title"] = "_DetalleBandeja";
    Layout = "";
}


<div class="tabla-content-result">
    <input type="hidden" id="hdreqeele" name="hdreqeele" />
    <table id="dtResultadoBusqueda" class="tabla-osiptel" style="width: 100%">
        <thead>
            <tr>
                <th scope="col" class="text-center">

                    @*<input type="checkbox" name="select_all" value="1" id="example-select-all">*@
                    <input type="checkbox" name="chkAll" value="All" id="chkAll" />
                </th>
                <th scope="col">Nro</th>
                <th scope="col">Número Registro</th>
                <th scope="col">Nombre de Institución</th>
                <th scope="col">Nombre Solicitante</th>
                <th scope="col">Cargo Solicitante</th>
                <th scope="col">Correo Electrónico Institución</th>
                <th scope="col">Nro Oficio</th>
                <th scope="col">Fecha y hora de Ingreso</th>
                <th scope="col">IMEIs Registrados</th>
                <th scope="col">Movil Registrados</th>
                <th scope="col">Excepción</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td class="text-center">
                        <input type="checkbox" name="sid" value="@item.idRequerimiento" class="sid" />
                    </td>
                    <td>@item.nroItem</td>
                    <td>@item.nroRequerimiento</td>
                    <td>@item.nombreInstitucion</td>
                    <td>@item.nombreSolicitante</td>
                    <td>@item.cargo</td>
                    <td>@item.correo</td>
                    <td>@item.nroOficio</td>
                    <td>@item.fecRegistro</td>
                    <td>@item.cantidadRegistrado</td>
                    <td>@item.CANTIDAD_MOVIL</td>
                    <td>@item.DES_EXCEPCION</td>
                    <td class="text-center">
                        <a href="#" onclick="verRequermientoImei(@item.idRequerimiento)" class="fa fa-eye fa-lg" title="Consultar"></a>
                        <a href="#" onclick="VerDescargas(@item.idRequerimiento)" class="fa fa-download fa-lg " title="Descargar Información"></a>
                        <a href="#" onclick="verRechazar(@item.idRequerimiento)" class="fa fa-mail-reply fa-lg" title="Rechazar"></a>
                        <a href="#" onclick="Asignar(@item.idRequerimiento)" class="fa fa-send fa-lg" title="Asignar"></a>

                        @if (item.imeiAsignado != 0)
                        {
                            <a href="#" onclick="mostrarImeiAsignados(@item.idRequerimiento)" class="fa fa-navicon fa-lg" title="Ver IMEIs ya asignados"></a>
                        }
                        <a href="#" onclick="VerAnalizarImei(@item.idRequerimiento)" class="fa fa-list fa-lg" title="Detalle"></a>
                        <a href="#" onclick="fn_verDetalleMovil(@item.idRequerimiento)" class="fa fa-list fa-lg" title="Detalle Movil"></a>

                    </td>
                </tr>

            }
        </tbody>

    </table>
</div>

<script src="~/js/appjs/asignar/jsDetalleIndex.js"></script>
<script type="text/javascript">
    function fn_verDetalleMovil(id) {
        $("#ihidrequeri").val("");
        $("#ihidrequeri").val(id);
        $("#modalConsultaMovil").modal({ backdrop: 'static', keyboard: false });
        BloquearPantalla();
        var divConsultaImei = $("#divConsultaMovil");
        var msg = "";
        var formdata = $("#frmBandejaAsignar").serialize();
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/Requerimiento/ConsultaRequerimientoMovil",
            cache: false,
            data: formdata,
            success: function (data) {
                console.log(data);
                divConsultaImei.html("");
                divConsultaImei.html(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);
            },
            complete: function () {
                DesbloquearPantalla();
            }
        });
    }
</script>