﻿@{
    Layout = "";
}
<div class="row">
    <div class="col-md-4 col-sm-6 col-xs-6">
        <p class="etiqueta">Usuario asignado </p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6">
        @Html.DropDownList("ddlUsuarioVarios", new SelectList(ViewBag.Lista_Usuario, "codigo", "nombreCompleto"), "Seleccione", new { title = "Tipo de Solicitante", @class = "input-content " })
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-xs-12 text-right">
        <button type="button" id="btnGrabarAsignacionVarios" class="btn class-button-bandeja">
            Grabar
        </button>
        <button type="button" class="btn btn-secondary btn-cancelar" data-dismiss="modal">Cancelar</button>
    </div>
</div>
<script src="~/js/appjs/asignar/jsAnalizarRequerimientoImeiVarios.js"></script>