﻿@model Osiptel.SIGREI.BE.BE_REQUERIMIENTO;
@{
    Layout = "";
}
<div class="row">
    <div class="col-md-3">
        <div class="etiqueta">
            Nro Registro
        </div>
    </div>
    <div class="col-md-3">
        @Html.DisplayFor(model => model.nroRequerimiento)
    </div>
    <div class="col-md-3">
        <div class="etiqueta">
            Tipo Solicitante
        </div>
    </div>
    <div class="col-md-3">
        @Html.DisplayFor(model => model.descTipoSolicitante)
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="etiqueta">
            Nombre de Institución
        </div>
    </div>
    <div class="col-md-3">
        @Html.DisplayFor(model => model.nombreInstitucion)
    </div>
    <div class="col-md-6">

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input type="hidden" id="hdimeiseleccion" name="hdimeiseleccion" />
        <div class="tabla-content-result">
            <table id="dtDevolverImeis" class="tabla-osiptel" style="width: 100%">
                
                <thead>
                    <tr>
                        <th scope="col" class="text-center">
                            <input type="checkbox" name="chkAllDevolver" value="All" id="chkAllDevolver" />
                        </th>
                        <th scope="col">Nro</th>
                        <th scope="col">IMEI</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.listaRequerimientoIMEI)
                    {
                        <tr>
                            <td class="text-center">
                                @if (item.idEstado == 1)
                                {
                                    <input type="checkbox" name="sidDevolver" value="@item.idRequerimientoImei" class="sidDevolver" />
                                }
                            </td>
                            <td class="text-center">@item.nroItem</td>
                            <td class="text-center">@item.nroImei</td>
                            <td class="text-center">@item.descEstado</td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12 col-xs-12 text-right">
        <button type="button" class="btn class-button-bandeja" id="btnAgregarImei">Agregar IMEI</button>
        <button type="button" id="btnDevolverImei" class="btn class-button-bandeja">
            Devolver IMEI
        </button>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="modalDevolverImei" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="content-header cabecera-formulario">
                    <h3 style="color: #ffffff">Devolver IMEIs a la Institución Solicitante</h3>
                </div>
                <button type="button" class="close-modal btnCancelarDevolver" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="etiqueta">
                            Comentario de Devolución
                        </div>
                    </div>
                    <div class="col-md-6">
                        @Html.TextArea("comentariosDevolver", "", new { @class = "form-control comentario-registro", cols = "70", rows = "4", @maxlength = "500" })
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="etiqueta">
                            Adjuntar Documento
                        </div>
                    </div>
                    <div class="col-md-6">
                        <input type="file" id="fileDocDevolver" name="fileDocDevolver" class="form-control " title="Archivo máximo de 8MB" accept="application/pdf" />
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnDescargarDocumento" class="btn class-button-bandeja">Descargar Documento</button>
                <button type="button" id="btnDevolver" class="btn class-button-bandeja">Devolver</button>
                <button type="button" id="btnCancelarDevolver" class="btn btnCancelarDevolver btn-cancelar">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="modalAgregarImei" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="content-header cabecera-formulario">
                    <h3 style="color: #ffffff">Registrar IMEIs de Institución</h3>
                </div>

                <button type="button" class="close-modal btnCancelarAgregar" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-6">
                        <div class="etiqueta">
                            Nro Imei
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6 col-xs-6">
                        @Html.TextBox("NroImeiAgregar", "", new { @class = "form-control comentario-registro", @maxlength = "16", @onkeypress = "return soloNumeros(event)" })
                    </div>                    
                </div>
                           </div>
            <div class="modal-footer">                
                <button type="button" id="btnAgregarImeiPopup" class="btn class-button-bandeja">Grabar</button>
                <button type="button" id="btnCancelarAgregar" class="btn btnCancelarAgregar btn-cancelar">Cancelar</button>

            </div>
        </div>
    </div>
</div>
<script src="~/js/appjs/asignar/jsAnalizarRequerimientoImei.js?0.0.3"></script>