﻿@model Osiptel.SIGREI.BE.BE_REQUERIMIENTO;
@{
    Layout = "";
}
<div class="row" style="padding-top: 20px;">
    <div class="col-md-3 col-xs-3">
        <p class="etiqueta">
            Nro Registro
        </p>
    </div>
    <div class="col-md-3 col-xs-3">
        @Html.DisplayFor(model => model.nroRequerimiento)
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-xs-3">
        <p class="etiqueta">
            Tipo Solicitante
        </p>
    </div>
    <div class="col-md-9 col-xs-9">
        @Html.DisplayFor(model => model.descTipoSolicitante)        
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-xs-3">
        <p class="etiqueta">
            Nombre de Institución
        </p>
    </div>
    <div class="col-md-9 col-xs-9">
        @Html.DisplayFor(model => model.nombreInstitucion)        
    </div>
</div>
<div class="row ">
    <div class="col-md-3 col-xs-3">
        <p class="etiqueta">
            Nombre del Solicitante
        </p>
    </div>
    <div class="col-md-3 col-xs-3">        
        @Html.DisplayFor(model => model.nombreSolicitante)
    </div>
    <div class="col-md-3 col-xs-3">
        <p class="etiqueta">
            Cargo del Solicitante
        </p>
    </div>
    <div class="col-md-3 col-xs-3">

        @Html.DisplayFor(model => model.cargo)        
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-xs-3">
        <p class="etiqueta">Usuario asignado </p>
    </div>
    <div class="col-md-3 col-xs-3">
        @Html.DropDownList("ddlUsuario", new SelectList(ViewBag.Lista_Usuario, "codigo", "nombreCompleto"), "Seleccione", new { title = "Tipo de Solicitante", @class = "input-content " })
    </div>
    <div class="col-md-6 col-xs-5">
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-xs-12 text-right">
        <button type="button" id="btnGrabarAsignacion" class="btn class-button-bandeja">
            Grabar
        </button>
        <button type="button" class="btn btn-secondary btn-cancelar" data-dismiss="modal">Cancelar</button>
    </div>
</div>
<script src="~/js/appjs/asignar/jsAsignarRequerimiento.js?0.0.1"></script>
