﻿@model List<Osiptel.SIGREI.BE.BE_REQUERIMIENTO_IMEI>;
@{
    ViewData["Title"] = "_DetalleBandeja";
    Layout = "";
}
<div class="tabla-content-result">
    <table id="dtResultadoBusquedaImei" class="tabla-osiptel" style="width: 100%">
        
        <thead>
            <tr>

                <th scope="col">Nro</th>
                <th scope="col">IMEI</th>
                <th scope="col">Nro Registro</th>
                <th scope="col">Fecha de Ingreso</th>
                <th scope="col">Usuario Asignado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td class="text-center">@item.nroItem</td>
                    <td class="text-center">@item.nroImei</td>
                    <td class="text-center">@item.nroRequerimiento</td>
                    <td class="text-center">@item.fecRegistro</td>
                    <td class="text-center">@item.usuarioAsignacion</td>
                </tr>

            }
        </tbody>
    </table>
</div>


<script>
    $(document).ready(function () {
        $('#dtResultadoBusquedaImei').DataTable({
            colReorder: true,
            ordering: false,
            rowReorder: {
                selector: 'td:nth-child(2)'
            },
            responsive: true
        });

    });
</script>
