﻿@model List<Osiptel.SIGREI.BE.BE_REQUERIMIENTO>;
@{
    Layout = "";
}
<div class="row">
    <div class="col-md-2 text-left" style="font-weight:bold;">
        Visualizar
        <select name="length_change" id="length_change">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
        Regitros
    </div>
    <div class="col-md-10">
     
    </div>
</div>
    <div class="tabla-content-result">
        <input type="hidden" id="hdreqeele" name="hdreqeele" />
        <table id="dtResultadoBusqueda" class="tabla-osiptel" style="width: 100%">
            
            <thead>
                <tr>
                    <th class="text-center">
                        <input type="checkbox" name="chkAll" value="All" id="chkAll" onclick="fn_SeleccionTodo('chkAll')" />
                    </th>
                    <th scope="col">Nro</th>
                    <th scope="col">Número Registro</th>
                    <th scope="col">Nombre de Institución</th>
                    <th scope="col">Fecha y hora<br /> Ingreso</th>
                    <th scope="col">Usuario <br /> Asignado</th>
                    <th scope="col">Fecha <br /> Asignación</th>
                    <th scope="col">Fecha <br /> Cierre</th>
                    <th scope="col">IMEIs <br /> Registrados</th>
                    <th scope="col">Movil <br /> Registrados</th>
                    <th scope="col">IMEIs  <br /> Por Devolver a Institución</th>
                    <th scope="col">IMEIs <br /> Enviados a EO</th>
                    <th scope="col">IMEIs <br /> Por Responder a Institución</th>
                    <th scope="col">IMEIs <br /> Respondidos</th>
                    <th scope="col">Excepción</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td class="text-center">
                            @if (item.idEstado == 9)
                            {
                                <input type="checkbox" name="sid" value="@item.idRequerimiento" class="sid" onclick="fn_Seleccion(this)" />
                            }
                        </td>
                        <td class="text-center">@item.nroItem</td>
                        <td class="text-left">@item.nroRequerimiento</td>
                        <td class="text-left">@item.nombreInstitucion</td>
                        <td class="text-center">@item.fecRegistro</td>
                        <td class="text-center">@item.usuarioAsignacion</td>
                        <td class="text-center">@item.fechaAsignacion</td>
                        <td class="text-center">@item.fechaFinalizacion</td>
                        <td class="text-center">@item.cantidadRegistrado</td>
                        <td class="text-center">@item.CANTIDAD_MOVIL</td>
                        <td class="text-center">@item.cantidadPorDevolver</td>
                        <td class="text-center">@item.cantidadEnviado</td>
                        <td class="text-center">@item.cantidadPorAtender</td>
                        <td class="text-center">@item.cantidadAtendido</td>
                        <td>@item.DES_EXCEPCION</td>

                        <td class="text-center">
                            <a href="#" onclick="fn_VerSeguimiento(@item.idRequerimiento)" class="fa fa-th-large fa-lg" title="Seguimiento"></a>
                            <a href="#" onclick="VerDescargas(@item.idRequerimiento)" class="fa fa-download fa-lg " title="Descargar Información"></a>
                            @if (item.idEstado != UTConstantes.ID_ESTADO_ATENDIDO || item.idEstado != UTConstantes.ID_ESTADO_ASIGNADO || item.idEstado != UTConstantes.ID_ESTADO_FINALIZADO)
                            {
                                if ((item.idEstado != UTConstantes.ID_ESTADO_ATENDIDO || item.idEstado != UTConstantes.ID_ESTADO_ASIGNADO) && item.idEstado != UTConstantes.ID_ESTADO_FINALIZADO)
                                {
                                    <a href="#" onclick="fn_Finalizar(@item.idRequerimiento)" class="fa fa-square fa-lg" title="Finalizar"></a>
                                }
                                if (item.idEstado != UTConstantes.ID_ESTADO_FINALIZADO)
                                {
                                    <a href="#" onclick="fn_DevolverAsignado(@item.idRequerimiento)" class="fa fa-mail-reply fa-lg" title="Devolver para Asignación"></a>
                                }

                            }
                            <a href="#" onclick="fn_verDetalleImei(@item.idRequerimiento)" class="fa fa-list fa-lg" title="Detalle"></a>
                            <a href="#" onclick="fn_verDetalleMovil(@item.idRequerimiento)" class="fa fa-list fa-lg" title="Detalle Movil"></a>

                        </td>
                    </tr>

                }
            </tbody>

        </table>
    </div>
    <script src="~/js/appjs/requerimiento/jsDetalleIndex.js?0.0.6"></script>
    <script type="text/javascript">
        function fn_verDetalleMovil(id) {
            $("#ihidrequeri").val("");
            $("#ihidrequeri").val(id);
            $("#modalConsultaMovil").modal({ backdrop: 'static', keyboard: false });
            BloquearPantalla();
            var divConsultaImei = $("#divConsultaMovil");
            var msg = "";
            var formdata = $("#frmBandejaRequerimiento").serialize();
            $.ajax({
                type: "POST",
                url: URLSERVICIO_IMEI + "/Requerimiento/ConsultaRequerimientoMovilPri",
                cache: false,
                data: formdata,
                success: function (data) {
                    console.log(data);
                    divConsultaImei.html("");
                    divConsultaImei.html(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                    mostrarMensajeError(msg);
                },
                complete: function () {
                    DesbloquearPantalla();
                }
            });
        }
        function fn_SeleccionTodo(id) {
            //debugger;
            var checked = $("#" + id).is(':checked');
            $(".sid").prop('checked', checked);
            var valores = "";
            if (checked) {
                $(".sid").each(function () {
                    var valor = $(this).attr('value');
                    valores += valor + "-";
                });
            }
            $("#hdreqeele").val(valores);
        }

        function fn_Seleccion(id) {
            debugger
            var valid = true;
            $("#hdreqeele").val("");
            var valores = "";
            $(".sid").each(function () {
                var checked = $(this).is(':checked');
                if (!checked) {
                    valid = false;
                } else {
                    var valor = $(this).attr('value');
                    valores += valor + "-";
                }
            });
            $("#hdreqeele").val(valores);
            $("#chkAll").prop('checked', valid);
        }
    </script>
