﻿@model Osiptel.SIGREI.BE.BE_REQUERIMIENTO;
@{
    ViewData["Title"] = "_PartialConsultaMovil";
}

<div class="row">
    <div class="col-md-12">
        <input type="hidden" id="hdimeiseleccionCantMovil" name="hdimeiseleccionCantMovil"/>
        @foreach (var item in Model.listaRequerimientoIMEI)
        {
            <input type="hidden" id="hdimeiseleccionMovil" name="hdimeiseleccionMovil" value="@item.idImei" />

        }

        <div class="tabla-content-result">
            <table id="dtConsultaMovil2" class="tabla-osiptel" style="width: 100%">
                
                <thead>
                    <tr>
                        <th scope="col">Nro</th>
                        <th scope="col">MOVIL</th>
                        <th scope="col">Validación</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.listaRequerimientoIMEI)
                    {
                        <tr>
                            <td class="text-center">@item.nroItem</td>
                            <td class="text-center">@item.nroImei</td>
                            <td class="text-center">@item.validacionFormato</td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <button type="button" id="btnResponderConNumero" class="btn class-button-bandeja" onclick="ResponderNumTels();">
            Responder con Número Servicio
        </button>
    </div>
</div>
<script type="text/javascript">
    $(".cerrar_modal_responderMovil").click(function () {
        $("#fileDocDescartar").val("");
        $("#modalResponderMovil").modal("hide");
    });

    function ResponderNumTels() {
        $("#fileDocResponderMovil").val("");
        var imeisSeleccionados = $("#hdimeisPorResponder").val();

        $("#hdopcionResponder").val("1");
        $("#hdopcConServicio").val("1");

        //var table = document.getElementById("dtConsultaMovil");
        var cant_movil = 0;
        var table = document.getElementById("dtConsultaMovil2");
        //cant_movil = table.rows.length;
        for (var i = 1; i < table.rows.length; i++) {
            var row = table.rows[i];

            if (row.cells[0].innerHTML != "" && row.cells[0].innerHTML != undefined && row.cells[0].innerHTML != "No data available in table" && row.cells[0].innerHTML != "No se encontró información") {
                //alert(row.cells[0].innerHTML);
                cant_movil++;
            }
        }
        /*$("#dtConsultaMovil").parent("tr").find("td").each(function () {
            cant_movil++;
        });*/
        //alert(cant_movil);

        if (cant_movil == 0) {
            mostrarMensajeError("No existen registros de servicio móvil en este requerimiento");
        } else {
            //alert("sada");
            $("#modalResponderMovil").modal({ backdrop: 'static', keyboard: false });
            $("#hdimeiseleccionCantMovil").val(cant_movil);

        }
    }
    /*$("#btnResponderConNumero").click(function () {
        $("#fileDocResponderMovil").val("");
        var imeisSeleccionados = $("#hdimeisPorResponder").val();

        $("#hdopcionResponder").val("1");
        $("#hdopcConServicio").val("1");

        //var table = document.getElementById("dtConsultaMovil");
        var cant_movil = 0;
        var table = document.getElementById("dtConsultaMovil2");
        //cant_movil = table.rows.length;
        for (var i = 1; i < table.rows.length; i++) {
            var row = table.rows[i];

            if (row.cells[0].innerHTML != "" && row.cells[0].innerHTML != undefined && row.cells[0].innerHTML != "No data available in table" && row.cells[0].innerHTML != "No se encontró información") {
                //alert(row.cells[0].innerHTML);
                cant_movil++;
            }
        }

        alert(cant_movil);

        if (cant_movil == 0) {
            mostrarMensajeError("No existen registros de servicio móvil en este requerimiento");
        } else {
            //alert("sada");
            $("#modalResponderMovil").modal({ backdrop: 'static', keyboard: false });
            $("#hdimeiseleccionCantMovil").val(cant_movil);
            
        }
    });*/


    function fn_ResponderMovil() {
        var fileDocResponder = $("#fileDocResponderMovil").val();
        //console.log(fileDocResponder);
        var mensaje = "";
        if (fileDocResponder === "") {
            mensaje += "Tiene que agregar un documento .pdf ";
            alert( "Tiene que agregar un documento .pdf ");
        } else {
            var extension = fileDocResponder.substring(fileDocResponder.lastIndexOf("."));
            if (extension != ".pdf") {
                mensaje += "* El archivo  .pdf no es válido.";
                mensaje += "<br/>";
                alert("El archivo  .pdf no es válido.");
            }
        }
        if (mensaje.length == 0) {
            fn_grabarRespuestaMovil();
            /*const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-secondary'
                },
                buttonsStyling: false
            });
            swalWithBootstrapButtons.fire({
                title: MSJ_MENSAJE_SISTEMA,
                text: '¿Desea responder el requerimiento de información de SERVICIOS MÓVIL?',
                type: 'question',
                showCancelButton: true,
                confirmButtonText: 'Aceptar',
                cancelButtonText: 'Cancelar',
                reverseButtons: false
            }).then(function (result) {
                if (result.value) {
                    fn_grabarRespuestaMovil();
                }
            });*/
        }
    }

    function fn_grabarRespuestaMovil() {
        var msg = "";
        var key = 0;
        var formdata
        if ($("#frmBandejaAsignar")[0]) {
             formdata = new FormData($("#frmBandejaAsignar")[0]);
        } else {
             formdata = new FormData($("#frmBandejaRequerimiento")[0]);
        }
        //var formdata = new FormData($("#frmBandejaRequerimiento")[0]);
        
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/Requerimiento/GrabarRespuestaMovil",
            contentType: false,
            processData: false,
            data: formdata,
            dataType: "json",
            success: function (data) {
                key = data.key;
                msg = data.value;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);
            },
            complete: function () {
                /*if (key == "0") {
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    const swalWithBootstrapButtons = Swal.mixin({
                        customClass: {
                            confirmButton: 'btn btn-success',
                            cancelButton: 'btn btn-secondary'
                        },
                        buttonsStyling: false
                    });
                    swalWithBootstrapButtons.fire({
                        title: MSJ_MENSAJE_SISTEMA,
                        text: msg,
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar',
                        reverseButtons: false
                    }).then(function (result) {
                        if (result.value) {
                            $("#modalResponderMovil").modal("hide");
                            $("#modalSeguimiento").modal("hide");

                        }
                    });
                }*/
                alert("Móvil Respondido Correctamente");
                $("#modalResponderMovil").modal("hide");
                $("#modalSeguimiento").modal("hide");
            }
        });
    }
    $(document).ready(function () {

        //alert("adasdasdada");
        $('#dtConsultaMovil2').DataTable({
            colReorder: true,
            //destroy: true,
            //ordering: false,
            rowReorder: {
                selector: 'td:nth-child(2)'
            },

        });
        //$('#dtConsultaMovil2 tbody').empty();
       
        //$("#dtConsultaMovil2").dataTable().fnDestroy();

    });
</script>


