﻿@model List<Osiptel.SIGREI.BE.BE_REQUERIMIENTO_IMEI>;
@{
    Layout = "";
}
<div class="row">
    <div class="col-md-12 text-left" style="font-weight:bold;">
        Visualizar
        <select name="length_Responder_change" id="length_Responder_change">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
        Regitros
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input type="hidden" id="hdimeisPorResponder" name="hdimeisPorResponder" />
        <input type="hidden" id="hdopcionResponder" name="hdopcionResponder" />
        <input type="hidden" id="hdopcConServicio" name="hdopcConServicio" />
        <div class="tabla-content-result">
            <table id="dtImeisPorResponder" class="tabla-osiptel" style="width: 100%">
                
                <thead>
                    <tr>
                        <th scope="col" class="text-center">
                            <input type="checkbox" name="chkAllResponder" value="All" id="chkAllResponder" onclick="fn_SeleccionTodoResponder('chkAllResponder')" />
                        </th>
                        <th scope="col">Nro</th>
                        <th scope="col">IMEI</th>
                        <th scope="col">Empresa Operadora</th>
                        <th scope="col">Estado de <br /> Reporte</th>
                        <th scope="col">Fecha y Hora <br /> de Reporte</th>
                        <th scope="col">Número de <br /> Servicio</th>
                        <th scope="col">Nombre y Apellidos <br /> del posible Propietario</th>
                        <th scope="col">Tipo de <br /> Documento</th>
                        <th scope="col">Número de <br /> Documento</th>
                        <th scope="col">Fecha Envío <br /> a EO</th>
                        <th scope="col">Fecha <br /> Atención de EO</th>
                        <th scope="col">Motivo de <br /> Devolución</th>
                        <th scope="col">Comentarios</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">
                                <input type="checkbox" name="sidResponder" value="@item.idRequerimientoImei" class="sidResponder" onclick="fn_SeleccionResponder(this)" />
                            </td>
                            <td class="text-center">@item.nroItem</td>
                            <td class="text-center">@item.nroImei</td>
                            <td class="text-center">@item.empresaOperadora</td>
                            <td class="text-center">@item.estadoImei</td>
                            <td class="text-center">@item.fecReporte</td>
                            <td class="text-center">@item.nroServicio</td>
                            <td class="text-center">@item.nombreCompletoTitular</td>
                            <td class="text-center">@item.descTipoDocumento</td>
                            <td class="text-center">@item.nroDocumento</td>
                            <td class="text-center">@item.fechaEnvio</td>
                            <td class="text-center">@item.fechaAtencion</td>
                            <td class="text-center">@item.descTipoMotivo</td>
                            <td class="text-center">@item.comentario</td>
                            <td class="text-center">
                                @if (item.descDocumentoAdjunto.Length > 1)
                                {
                                    <a href="#" onclick="fn_DescargarArchivoImei('@item.descDocumentoAdjunto')" class="fa fa-download fa-lg " title="Descargar Archivo"></a>
                                }
                            </td>

                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <button type="button" id="btnResponderConNumero" class="btn class-button-bandeja">
            Responder con Número Servicio
        </button>
        <button type="button" id="btnResponderSinNumero" class="btn class-button-bandeja">
            Responder sin Número Servicio
        </button>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var oTableResponder =  $('#dtImeisPorResponder').DataTable({
            colReorder: true,
            //ordering: false,
            rowReorder: {
                selector: 'td:nth-child(2)'
            },
            lengthMenu: [
                [10, 25, 50, 100],
                ['10 ', '25', '50', '100']
            ],
            "lengthChange": false
        });
        $('#length_Responder_change').val(oTableResponder.page.len());
        $('#length_Responder_change').change(function () {
            $("#chkAllResponder").prop('checked', false);
            $("#hdimeisPorResponder").val("");
            $(".sidResponder").prop('checked', false);
            oTableResponder.page.len($(this).val()).draw();

        }); 

    });
    $(function () {
        //$("#chkAllResponder").click(function () {            
        //    var checked = $(this).is(':checked');
        //    $(".sidResponder").prop('checked', checked);
        //    var valores = "";
        //    if (checked) {
        //        $(".sidResponder").each(function () {
        //            var valor = $(this).attr('value');
        //            valores += valor + "-";
        //        });
        //    }
        //    $("#hdimeisPorResponder").val(valores);
        //});
        //$(".sidResponder").click(function () {
        //    var valid = true;
        //    $("#hdimeisPorResponder").val("");
        //    var valores = "";
        //    $(".sidResponder").each(function () {
        //        var checked = $(this).is(':checked');
        //        if (!checked) {
        //            valid = false;
        //        } else {
        //            var valor = $(this).attr('value');
        //            valores += valor + "-";
        //        }
        //    });
        //    $("#hdimeisPorResponder").val(valores);
        //    $("#chkAllResponder").prop('checked', valid);
        //});
        $(".cerrar_modal_responder").click(function () {
            $("#fileDocDescartar").val("");
            $("#modalResponder").modal("hide");
        });
        $("#btnResponderConNumero").click(function () {
            $("#fileDocResponder").val("");
            var imeisSeleccionados = $("#hdimeisPorResponder").val();

            $("#hdopcionResponder").val("1");
            $("#hdopcConServicio").val("1");

            /*var table = document.getElementById("dtConsultaMovil");
            var cant_movil = 0;

            $("#dtConsultaMovil").parent("tr").find("td").each(function () {
                cant_movil++;
            });
            alert(cant_movil);*/

            if (imeisSeleccionados.length === 0) {
                mostrarMensajeError("Tiene que seleccionar mínino un imei para poder responder");
            } else {               

                $("#modalResponder").modal({ backdrop: 'static', keyboard: false });
            }
        });
        $("#btnResponderSinNumero").click(function () {
            $("#fileDocResponder").val("");
            var imeisSeleccionados = $("#hdimeisPorResponder").val();

            $("#hdopcionResponder").val("1");// pcion o tab en el cual estamos Por Responder
            $("#hdopcConServicio").val("2");

            
            if (imeisSeleccionados.length === 0 ) {
                mostrarMensajeError("Tiene que seleccionar mínino un imei para poder responder");
            } else {               
                $("#modalResponder").modal({ backdrop: 'static', keyboard: false });
            }
        });
    });


    function fn_SeleccionTodoResponder(id) {
        //debugger;
        var checked = $("#" + id).is(':checked');
        $(".sidResponder").prop('checked', checked);
        var valores = "";
        if (checked) {
            $(".sidResponder").each(function () {
                var valor = $(this).attr('value');
                valores += valor + "-";
            });
        }
        $("#hdimeisPorResponder").val(valores);
    }

    function fn_SeleccionResponder(id) {
        //debugger
        var valid = true;
        $("#hdimeisPorResponder").val("");
        var valores = "";
        $(".sidResponder").each(function () {
            var checked = $(this).is(':checked');
            if (!checked) {
                valid = false;
            } else {
                var valor = $(this).attr('value');
                valores += valor + "-";
            }
        });
        $("#hdimeisPorResponder").val(valores);
        $("#chkAllResponder").prop('checked', valid);
    }

    function fn_DescargarImei() {
        var msg = "";
        var key = 0;

        var formdata = $("#frmBandejaRequerimiento").serialize();
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/Requerimiento/ValidarDescargaImeisResponder",
            cache: false,
            data: formdata,
            dataType: "json",
            success: function (data) {
                key = data.key;
                msg = data.value;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);
            },
            complete: function () {
                if (key == "0") {
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    window.location = URLSERVICIO_IMEI + '/Requerimiento/DescargarImeisSeleccionado';
                }
            }
        });
    }
    function fn_DescargarDocumento() {
        var msg = "";
        var key = 0;

        var formdata = $("#frmBandejaRequerimiento").serialize();
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/Requerimiento/ValidarDescargaDocumentoFusionado",
            cache: false,
            data: formdata,
            dataType: "json",
            success: function (data) {
                key = data.key;
                msg = data.value;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);
            },
            complete: function () {
                if (key == "0") {
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    window.location = URLSERVICIO_IMEI + '/Requerimiento/DescargarDocumentoFusionado';
                }
            }
        });
    }

    function fn_ResponderImeis() {        
        var fileDocResponder = $("#fileDocResponder").val();
        var mensaje = "";
        if (fileDocResponder === "") {
            mensaje += "Tiene que agregar un documento .pdf ";
        } else {
            var extension = fileDocResponder.substring(fileDocResponder.lastIndexOf("."));
            if (extension != ".pdf") {
                mensaje += "* El archivo  .pdf no es válido.";
                mensaje += "<br/>";
            }
        }
        if (mensaje.length > 0) {
            mostrarMensajeError(mensaje);
        } else {
            var hdopcConServicio = $("#hdopcConServicio").val();
            var pregunta = "";
            if (hdopcConServicio === "1") {
                pregunta = "¿Desea responder con número de servicio el requerimiento de información de IMEI?";
            } else {
                pregunta = "¿Desea responder sin número de servicio el requerimiento de información de IMEI?";
            }
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-secondary'
                },
                buttonsStyling: false
            });
            swalWithBootstrapButtons.fire({
                title: MSJ_MENSAJE_SISTEMA,
                text: pregunta,
                type: 'question',
                showCancelButton: true,
                confirmButtonText: 'Aceptar',
                cancelButtonText: 'Cancelar',
                reverseButtons: false
            }).then(function (result) {
                if (result.value) {
                    fn_grabarRespuestaImei();
                }
            });
        }
    }

    function fn_grabarRespuestaImei() {
        var msg = "";
        var key = 0;
        var formdata = new FormData($("#frmBandejaRequerimiento")[0]);
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/Requerimiento/GrabarRespuestaImei",
            contentType: false,
            processData: false,
            data: formdata,
            dataType: "json",
            success: function (data) {
                key = data.key;
                msg = data.value;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);
            },
            complete: function () {
                if (key == "0") {
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    const swalWithBootstrapButtons = Swal.mixin({
                        customClass: {
                            confirmButton: 'btn btn-success',
                            cancelButton: 'btn btn-secondary'
                        },
                        buttonsStyling: false
                    });
                    swalWithBootstrapButtons.fire({
                        title: MSJ_MENSAJE_SISTEMA,
                        text: msg,
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar',
                        reverseButtons: false
                    }).then(function (result) {
                        if (result.value) {
                            $("#modalResponder").modal("hide");
                            parent.fn_RefrescarPorResponder();
                        }
                    });
                }
            }
        });
    }


</script>

