﻿@model List<Osiptel.SIGREI.BE.BE_REQUERIMIENTO_IMEI>;
@{
    Layout = "";
}
<div class="row">
    <div class="col-md-12 text-left" style="font-weight:bold;">
        Visualizar
        <select name="length_Devolver_change" id="length_Devolver_change">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
        Regitros
    </div>    
</div>
<div class="row">
    <div class="col-md-12">
        <input type="hidden" id="hdimeisPorDevolver" name="hdimeisPorDevolver" />
        <div class="tabla-content-result">
            <table id="dtImeisPorDevolver" class="tabla-osiptel" style="width: 100%">
               
                <thead>
                    <tr>
                        <th scope="col" class="text-center">
                            <input type="checkbox" name="chkAllDevolver" value="AllDevolver" id="chkAllDevolver" onclick="fn_SeleccionTodoDevolver('chkAllDevolver')" />
                        </th>
                        <th scope="col">Nro</th>
                        <th scope="col">IMEI</th>
                        <th scope="col">Empresa Operadora</th>
                        <th scope="col">Estado de <br /> Reporte</th>
                        <th scope="col">Fecha y Hora <br /> de Reporte</th>
                        <th scope="col">Tamaño IMEI</th>
                        <th scope="col">Pais</th>
                        <th scope="col">Estado Luhn</th>
                        <th scope="col">Motivo de <br /> Devolución</th>
                        <th scope="col">Comentarios</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">
                                <input type="checkbox" name="sidDevolver" value="@item.idRequerimientoImei" class="sidDevolver" onclick="fn_SeleccionDevolver(event);" />
                            </td>
                            <td class="text-center">@item.nroItem</td>
                            <td class="text-center">@item.nroImei</td>
                            <td class="text-center">@item.empresaOperadora</td>
                            <td class="text-center">@item.estadoImei</td>
                            <td class="text-center">@item.fecReporte</td>
                            <td class="text-center">@item.longitudImei</td>
                            <td class="text-center">@item.pais</td>
                            <td class="text-center">@item.estadoLuhn</td>
                            <td class="text-center">@item.descTipoMotivo</td>
                            <td class="text-center">@item.comentario</td>
                            <td class="text-center">
                                @if (item.descDocumentoAdjunto.Length > 1)
                                {
                                    <a href="#" onclick="fn_DescargarArchivoImei('@item.descDocumentoAdjunto')" class="fa fa-download fa-lg " title="Descargar Archivo"></a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <button type="button" id="btnDevolver" class="btn class-button-bandeja">
            Devolver
        </button>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var oTableDevolver=  $('#dtImeisPorDevolver').DataTable({
            colReorder: true,
            rowReorder: {
                selector: 'td:nth-child(2)'
            },
            lengthMenu: [
                [10, 25, 50, 100],
                ['10 ', '25', '50', '100']
            ],
            "lengthChange": false
        });

        $('#length_Devolver_change').val(oTableDevolver.page.len());
        $('#length_Devolver_change').change(function () {
            $("#chkAllDevolver").prop('checked', false);
            $("#hdimeisPorDevolver").val("");
            $(".sidDevolver").prop('checked', false);
            oTableDevolver.page.len($(this).val()).draw();

        }); 

        $(".cerrar_modal_devolver").click(function () {
            $("#fileDocDevolver").val("");
            $("#comentariosDevolver").val("");
            $("#modalDevolver").modal("hide");
        });
        //$("#chkAllDevolver").click(function () {
        //    debugger;
        //    var checked = $(this).is(':checked');
        //    $(".sidDevolver").prop('checked', checked);
        //    var valores = "";
        //    if (checked) {
        //        $(".sidDevolver").each(function () {
        //            var valor = $(this).attr('value');
        //            valores += valor + "-";
        //        });
        //    }
        //    $("#hdimeisPorDevolver").val(valores);
        //});
        //$(".sidDevolver").click(function () {
        //    var valid = true;
        //    $("#hdimeisPorDevolver").val("");
        //    var valores = "";
        //    $(".sidDevolver").each(function () {
        //        var checked = $(this).is(':checked');
        //        if (!checked) {
        //            valid = false;
        //        } else {
        //            var valor = $(this).attr('value');
        //            valores += valor + "-";
        //        }
        //    });
        //    $("#hdimeisPorDevolver").val(valores);
        //    $("#chkAllDevolver").prop('checked', valid);
        //});
        $("#btnDevolver").click(function () {
            $("#fileDocDevolver").val("");
            $("#comentariosDevolver").val("");
            var imeisSeleccionados = $("#hdimeisPorDevolver").val();
            if (imeisSeleccionados.length === 0) {
                mostrarMensajeError("Tiene que seleccionar mínino un imei para poder devolver");
            } else {               
                $("#modalDevolver").modal({ backdrop: 'static', keyboard: false });
            }
        });
    });


    function fn_SeleccionTodoDevolver(id) {
        //debugger;
        var checked = $("#" + id).is(':checked');
        $(".sidDevolver").prop('checked', checked);
        var valores = "";
        if (checked) {
            $(".sidDevolver").each(function () {
                var valor = $(this).attr('value');
                valores += valor + "-";
            });
        }
        $("#hdimeisPorDevolver").val(valores);
    }

    function fn_SeleccionDevolver(id) {
        //debugger
        var valid = true;
        $("#hdimeisPorDevolver").val("");
        var valores = "";
        $(".sidDevolver").each(function () {
            var checked = $(this).is(':checked');
            if (!checked) {
                valid = false;
            } else {
                var valor = $(this).attr('value');
                valores += valor + "-";
            }
        });
        $("#hdimeisPorDevolver").val(valores);
        $("#chkAllDevolver").prop('checked', valid);
    }


    function fn_DescargarImeiDevolver() {
        var msg = "";
        var key = 0;
        var formdata = $("#frmBandejaRequerimiento").serialize();
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/Requerimiento/ValidarDescargaImeisDevolver",
            cache: false,
            data: formdata,
            dataType: "json",
            success: function (data) {
                key = data.key;
                msg = data.value;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);
            },
            complete: function () {
                if (key == "0") {
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    window.location = URLSERVICIO_IMEI + '/Requerimiento/DescargarImeisSeleccionado';
                }
            }
        });
    }
    function fn_DescargarDocumentoDevolver() {
        var msg = "";
        var key = 0;

        var formdata = $("#frmBandejaRequerimiento").serialize();
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/Requerimiento/ValidarDescargaDocumentoDevolverFusionado",
            cache: false,
            data: formdata,
            dataType: "json",
            success: function (data) {
                key = data.key;
                msg = data.value;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);
            },
            complete: function () {
                if (key == "0") {
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    window.location = URLSERVICIO_IMEI + '/Requerimiento/DescargarDocumentoFusionado';
                }
            }
        });
    }
    function fn_DevolverImeis() {
        var fileDocDevolver = $("#fileDocDevolver").val();
        var comentario = $("#comentariosDevolver").val();
        var mensaje = "";
        if (comentario.trim() === "") {
            mensaje += "Ingrese un comentario de devolución";
            mensaje += "<br/>";
        }
        if (fileDocDevolver == "") {
            mensaje += "Tiene que agregar un documento .pdf";
            mensaje += "<br/>";
        } else {
            var extension = fileDocDevolver.substring(fileDocDevolver.lastIndexOf("."));
            if (extension != ".pdf") {
                mensaje += "* El archivo  .pdf no es válido.";
                mensaje += "<br/>";
            }
        }
        if (mensaje.length > 0) {
            mostrarMensajeError(mensaje);
        } else {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-secondary'
                },
                buttonsStyling: false
            });
            swalWithBootstrapButtons.fire({
                title: MSJ_MENSAJE_SISTEMA,
                text: "¿Desea devolver el requerimiento de información de IMEI?",
                type: 'question',
                showCancelButton: true,
                confirmButtonText: 'Aceptar',
                cancelButtonText: 'Cancelar',
                reverseButtons: false
            }).then(function (result) {
                if (result.value) {
                    fn_grabarDevolucionImei();
                };
            });
        }
    }
    function fn_grabarDevolucionImei() {
        var msg = "";
        var key = 0;
        var formdata = new FormData($("#frmBandejaRequerimiento")[0]);
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/Requerimiento/GrabarDevolucionImei",
            contentType: false,
            processData: false,
            data: formdata,
            dataType: "json",
            success: function (data) {
                key = data.key;
                msg = data.value;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);
            },
            complete: function () {
                if (key == "0") {
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    const swalWithBootstrapButtons = Swal.mixin({
                        customClass: {
                            confirmButton: 'btn btn-success',
                            cancelButton: 'btn btn-secondary'
                        },
                        buttonsStyling: false
                    });
                    swalWithBootstrapButtons.fire({
                        title: MSJ_MENSAJE_SISTEMA,
                        text: msg,
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar',
                        reverseButtons: false
                    }).then(function (result) {
                        if (result.value) {
                            $("#modalDevolver").modal("hide");
                            parent.fn_RefrescarPorDevolverInstitucion();
                        }
                    });
                }
            }
        });
    }
</script>

