﻿@model Osiptel.SIGREI.BE.BE_REQUERIMIENTO;
@{
    Layout = "";
}
<div class="row">
    <div class="col-md-2">
        <div class="etiqueta">
            Nro Registro
        </div>
    </div>
    <div class="col-md-4">
        <div class="texto-display">
            @Html.DisplayFor(model => model.nroRequerimiento)
        </div>
    </div>
    <div class="col-md-2">
        <div class="etiqueta">
            Tipo Solicitante
        </div>
    </div>
    <div class="col-md-4">
        <div class="texto-display">
            @Html.DisplayFor(model => model.descTipoSolicitante)
            @*<input type="hidden" name="irTabPorAtender" id="irTabPorAtender" value="@ViewBag.IrTabPorAtender" />*@
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="etiqueta">
            Nombre de Institución
        </div>
    </div>
    <div class="col-md-10">
        <div class="texto-display">
            @Html.DisplayFor(model => model.nombreInstitucion)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <div class="etiqueta">
            Nombre del Solicitante
        </div>
    </div>
    <div class="col-md-4">
        <div class="texto-display">
            @Html.DisplayFor(model => model.nombreSolicitante)
        </div>
    </div>
    <div class="col-md-2">
        <div class="etiqueta">
            Correo electrónico Institucional
        </div>
    </div>
    <div class="col-md-4">
        <div class="texto-display">
            @Html.DisplayFor(model => model.correo)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <div class="etiqueta">
            Motivo del requerimiento
        </div>
    </div>
    <div class="col-md-10">
        <div class="texto-display">
            @Html.DisplayFor(model => model.comentario)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="etiqueta">
            Usuario Registro
        </div>
    </div>
    <div class="col-md-4">
        <div class="texto-display">
            @Html.DisplayFor(model => model.usuarioRegistro)
        </div>
    </div>
    <div class="col-md-2">
        <div class="etiqueta">
            Fecha Ingreso
        </div>
    </div>
    <div class="col-md-4">
        <div class="texto-display">
            @Html.DisplayFor(model => model.fecRegistro)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="etiqueta">
            Usuario Asignado
        </div>
    </div>
    <div class="col-md-4">
        <div class="texto-display">
            @Html.DisplayFor(model => model.usuarioAsignacion)
        </div>
    </div>
    <div class="col-md-2">
        <div class="etiqueta">
            Fecha Asignación
        </div>
    </div>
    <div class="col-md-4">
        <div class="texto-display">
            @Html.DisplayFor(model => model.fechaAsignacion)
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs sidebar-tabs" id="sidebar" role="tablist">
            <li class="active">
                <a href="#tab-1" role="tab" id="tabRespondida" data-toggle="tab">Respondidas</a>
            </li>
            <li>
                <a href="#tab-2" role="tab" id="tabPorResponder" data-toggle="tab">Por Responder a Institución</a>
            </li>
            <li>
                <a href="#tab-3" role="tab" id="tabEnviarEo" data-toggle="tab">Enviadas a EO</a>
            </li>
            <li>
                <a href="#tab-4" role="tab" id="tabDevolver" data-toggle="tab">Por Devolver a Institución</a>
            </li>
            <li>
                <a href="#tab-5" role="tab" id="tabServMovil" data-toggle="tab">Servicio Móvil</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab-1">
                <div class="tabSeguimiento" id="divRespondidas" style="margin-top: 20px;">

                </div>
            </div>
            <div class="tab-pane" id="tab-2">
                <div class="tabSeguimiento" id="divPorResponder" style="margin-top: 20px;">
                </div>
            </div>
            <div class="tab-pane" id="tab-3">
                <div class="tabSeguimiento" id="divEnviadaEO" style="margin-top: 20px;">
                </div>
            </div>
            <div class="tab-pane" id="tab-4">
                <div class="tabSeguimiento" id="divDevolverInstitucion" style="margin-top: 20px;">
                </div>
            </div>
            <div class="tab-pane" id="tab-5">
                <div class="tabSeguimiento" id="divServMovil" style="margin-top: 20px;">
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/js/appjs/requerimiento/jsModalTabSeguimiento.js?0.0.1"></script>
