﻿@model List<Osiptel.SIGREI.BE.BE_REQUERIMIENTO_IMEI>;
@{
    Layout = "";
}
<div class="row">
    <div class="col-md-12">
        <div class="tabla-content-result">
            <table id="dtImeisEnviadaEO" class="tabla-osiptel" style="width: 100%">
                
                <thead>
                    <tr>
                        <th scope="col">Nro</th>
                        <th scope="col">IMEI</th>
                        <th scope="col">Empresa Operadora</th>
                        <th scope="col">Estado de <br /> Reporte</th>
                        <th scope="col">Fecha y Hora <br /> de Reporte</th>
                        <th scope="col">Fecha Envío <br /> a EO</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">@item.nroItem</td>
                            <td class="text-center">@item.nroImei</td>
                            <td class="text-center">@item.empresaOperadora</td>

                            <td class="text-center">@item.estadoImei</td>
                            <td class="text-center">@item.fecReporte</td>
                            <td class="text-center">@item.fechaEnvio</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#dtImeisEnviadaEO').DataTable({
            colReorder: true,
            //ordering: false,
            rowReorder: {
                selector: 'td:nth-child(2)'
            },

        });
    });

</script>

