﻿@model Osiptel.SIGREI.BE.BE_REQUERIMIENTO;
@{
    Layout = "";
}
<div class="row">
    <div class="col-md-3">
        <div class="etiqueta">
            Nro Registro
        </div>
    </div>
    <div class="col-md-3">
        <div class="texto-display">
            @Html.DisplayFor(model => model.nroRequerimiento)
        </div>
    </div>
    <div class="col-md-3">
        <div class="etiqueta">
            Tipo Solicitante
        </div>
    </div>
    <div class="col-md-3">
        <div class="texto-display">
            @Html.DisplayFor(model => model.descTipoSolicitante)

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="etiqueta">
            Nombre de Institución
        </div>
    </div>
    <div class="col-md-9">
        <div class="texto-display">
            @Html.DisplayFor(model => model.nombreInstitucion)
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input type="hidden" id="hdimeiseleccion" name="hdimeiseleccion" />
        <div class="tabla-content-result">
            <table id="dtConsultaImeis" class="tabla-osiptel" style="width: 100%">
                
                <thead>
                    <tr>
                        <th scope="col">Nro</th>
                        <th scope="col">IMEI</th>
                        <th scope="col">Empresa Operadora</th>
                        <th scope="col">Estado deReporte</th>
                        <th scope="col">Tamaño IMEI</th>
                        <th scope="col">Fecha y Horade Reporte</th>
                        <th scope="col">País</th>
                        <th scope="col">Estado Luhn	</th>
                        <th scope="col">Motivo de Devolución</th>
                        <th scope="col">Comentarios</th>
                        <th scope="col">Estado SIGREI</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.listaRequerimientoIMEI)
                    {
                        <tr>
                            <td class="text-center">@item.nroItem</td>
                            <td class="text-center">@item.nroImei</td>
                            <td class="text-center">@item.empresaOperadora</td>
                            <td class="text-center">@item.estadoImei</td>
                            <td class="text-center">@item.longitudImei</td>
                            <td class="text-center">@item.fecReporte</td>
                            <td class="text-center">@item.pais</td>

                            <td class="text-center">@item.estadoLuhn</td>
                            <td class="text-center">@item.descTipoMotivo</td>
                            <td class="text-center">@item.comentario</td>

                            <td class="text-center">@item.descEstado</td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#dtConsultaImeis').DataTable({
            colReorder: true,
            //ordering: false,
            rowReorder: {
                selector: 'td:nth-child(2)'
            },

        });

    });
</script>
