﻿@model List<Osiptel.SIGREI.BE.BE_REQUERIMIENTO_IMEI>;
@{
    Layout = "";
}
<div class="row">
    <div class="col-md-12">
        <input type="hidden" id="hdimeiseleccion" name="hdimeiseleccion" />
        <div class="tabla-content-result">
            <table id="dtImeisRespondidas" class="tabla-osiptel" style="width: 100%">
                
                <thead>
                    <tr>
                        <th scope="col">Nro</th>
                        <th scope="col">IMEI</th>
                        <th scope="col">Empresa Operadora</th>
                        <th scope="col">Estado de <br /> Reporte</th>
                        <th scope="col">Fecha y Hora <br /> de Reporte</th>
                        <th scope="col">Número de <br /> Servicio</th>
                        <th scope="col">Nombre y Apellidos <br> del posible Propietario</th>
                        <th scope="col">Tipo de <br> Documento</th>
                        <th scope="col">Número de <br> Documento</th>
                        <th scope="col">Fecha <br> Atención</th>
                        <th scope="col">Usuario de <br> Atención</th>
                        <th scope="col">Motivo de <br> Atención</th>
                        <th scope="col">Comentarios</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">@item.nroItem</td>
                            <td class="text-center">@item.nroImei</td>
                            <td class="text-center">@item.empresaOperadora</td>
                            <td class="text-center">@item.estadoImei</td>
                            <td class="text-center">@item.fecReporte</td>
                            <td class="text-center">@item.nroServicio</td>
                            <td class="text-center">@item.nombreCompletoTitular</td>
                            <td class="text-center">@item.descTipoDocumento</td>
                            <td class="text-center">@item.nroDocumento</td>
                            <td class="text-center">@item.fechaAtencion</td>
                            <td class="text-center">@item.usuarioAtencion</td>
                            <td class="text-center">@item.descTipoMotivo</td>
                            <td class="text-left">@item.comentario</td>
                            <td class="text-center">
                                @if (item.descDocumentoAdjunto.Length > 1)
                                {
                                    <a href="#" onclick="fn_DescargarArchivoImei('@item.descDocumentoAdjunto')" class="fa fa-download fa-lg " title="Descargar Archivo"></a>
                                }
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#dtImeisRespondidas').DataTable({
            colReorder: true,
            //ordering: false,
            rowReorder: {
                selector: 'td:nth-child(2)'
            },

        });

    });
</script>

