﻿@{
    Layout = "_Layout";
}
<form method="post" id="frmIrAnalizar" enctype="multipart/form-data" asp-controller="Requerimiento" asp-action="IrAnalizarImei">
    <input type="hidden" name="ihimeianaliz" id="ihimeianaliz" value="" />
</form>

<form method="post" id="frmBandejaRequerimiento" enctype="multipart/form-data">
    <input type="hidden" name="ihidrequeri" id="ihidrequeri" value="" />
    <div class="container contenedor-bandeja">
        <div class="row">
            <div class="col-md-12">
                <div class="content-header cabecera-formulario">
                    <h3 style="color: #ffffff">Bandeja de Requerimientos</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label class="etiqueta">
                    Tipo de Solicitante
                </label>
            </div>
            <div class="col-md-2">
                @Html.DropDownList("ddlTipoSolicitante", new SelectList(ViewBag.Lista_TipoSolicitante, "valor", "descripcion"), "Todos", new { title = "Tipo de Solicitante", @class = "input-content " })
            </div>
            <div class="col-md-2">
                <label class="etiqueta">
                    Nombre de Institución
                </label>
            </div>
            <div class="col-md-2">
                @Html.TextBox("txtNombreInstitucion", "", new { @class = "input-content", @maxlength = "100" })
            </div>
            <div class="col-md-2">
                <label class="etiqueta">
                    Sub Unidad Entidad Pública
                </label>
            </div>
            <div class="col-md-2">
                @Html.TextBox("txtNombreSolicitante", "", new { @class = "input-content", @maxlength = "140" })
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-2">
                <label class="etiqueta">
                    Nro de Oficio
                </label>
            </div>
            <div class="col-md-2">
                @Html.TextBox("txtNroOficio", "", new { @class = "input-content", @maxlength = "160" })
            </div>
            <div class="col-md-2">
                <label class="etiqueta">
                    Nro Registro Desde
                </label>
            </div>
            <div class="col-md-2">
                @Html.TextBox("txtNroRequerimientoI", "", new { @class = "input-content", @maxlength = "12" })
            </div>
            <div class="col-md-2">
                <label class="etiqueta">
                    Hasta
                </label>
            </div>
            <div class="col-md-2">
                @Html.TextBox("txtNroRequerimientoF", "", new { @class = "input-content", @maxlength = "12" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label class="etiqueta">
                    Fecha Ingreso Desde
                </label>
            </div>
            <div class="col-md-2">
                @Html.TextBox("txtFechaIngresoInicio", "", new { @class = "input-content", @maxlength = "160", @style = "width: 100px;" })
            </div>
            <div class="col-md-2">
                <label class="etiqueta">
                    Hasta
                </label>
            </div>
            <div class="col-md-2">
                @Html.TextBox("txtFechaIngresoHasta", "", new { @class = "input-content", @maxlength = "10", @style = "width: 100px;" })
            </div>
            <div class="col-md-2">
                <label class="etiqueta">
                    Estado
                </label>
            </div>
            <div class="col-md-2">
                @Html.DropDownList("ddlEstado", new SelectList(ViewBag.Lista_Estado, "IDESTADO", "ESTADO"), "Todos", new { title = "Estado", @class = "input-content " })
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label class="etiqueta">
                    Usuario asignado
                </label>
            </div>
            <div class="col-md-2">
                @Html.DropDownList("ddlUsuarioAsignado", new SelectList(ViewBag.Lista_UsuarioAsignado, "codigo", "nombreCompleto"), "Todos", new { title = "Usuario asignado", @class = "input-content " })
            </div>
            <div class="col-md-2">
                <label class="etiqueta">
                    Nro IMEI
                </label>
            </div>
            <div class="col-md-4">
                @Html.TextBox("txtNroImei", "", new { @class = "input-content", @maxlength = "20", @onkeypress = "return soloNumeros(event)" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">

            </div>
            <div class="col-md-4 text-right">
                <button type="button" id="btnLimpiarRequerimiento" class="btn class-button-bandeja">
                    Limpiar
                </button>
                <button type="button" id="btnBuscarRequerimiento" class="btn class-button-bandeja">
                    Buscar
                </button>
                <button type="button" id="btnAnalizarRequerimiento" class="btn class-button-bandeja">
                    Analizar Requerimiento
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="" id="divGrilla">

                </div>
            </div>

        </div>
    </div>
    <input type="hidden" id="hdimei" name="hdimei" />

    <div class="modal fade bd-example-modal-lg" id="modalFinalizar" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="content-header cabecera-formulario">
                        <h3 style="color: #ffffff">
                            Finalizar Requerimiento
                        </h3>
                    </div>
                    <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="etiqueta">
                                Comentario
                            </div>
                        </div>
                        <div class="col-md-8">
                            @Html.TextArea("comentariosFinalizar", "", new { @class = "form-control comentario-registro", cols = "70", rows = "4", @maxlength = "500" })
                        </div>
                        <div class="col-md-2">

                        </div>
                    </div>
                    <div class="modal-footer">

                        <button type="button" id="btnFinalizarRequerimiento" class="btn class-button-bandeja">
                            Grabar
                        </button>
                        <button type="button" class="btn btn-secondary btn-cancelar" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-lg" id="modalDescargar" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <input type="hidden" id="ihDocumentoOficio" name="ihDocumentoOficio" />
                    <input type="hidden" id="ihDocumentoIMEI" name="ihDocumentoIMEI" />

                    <div class="content-header cabecera-formulario">
                        <h3 style="color: #ffffff">Documentos - Información IMEI</h3>
                    </div>
                    <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-xs-12 text-center">
                            <button type="button" id="btnDescargarOficio" class="btn class-botondescargar" style="height: 60px;border-radius: 11px;">
                                Descargar Oficio
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12 text-center">
                            <button type="button" id="btnDescargarImei" class="btn class-botondescargar" style="height: 60px;border-radius: 11px;">
                                Descargar IMEIs
                            </button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-cancelar" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade bd-example-modal-lg" id="modalConsultaMovil" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="content-header cabecera-formulario">
                        <h3 style="color: #ffffff">Consulta de Requerimiento de Información Movil</h3>
                    </div>
                    <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="" id="divConsultaMovil">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-cancelar" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-lg" id="modalConsultaImei" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="content-header cabecera-formulario">
                        <h3 style="color: #ffffff">Consulta de Requerimiento de Información IMEIs</h3>
                    </div>
                    <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="" id="divConsultaImei">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-cancelar" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-lg" id="modalSeguimiento" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="overflow-y: auto;">
        <div class="modal-dialog modal-lx" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="content-header cabecera-formulario">
                        <h3 style="color: #ffffff">Seguimiento de Requerimiento de Información</h3>
                    </div>
                    <button type="button" class="close-modal" id="btnCerrarModalSeguimiento" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="" id="divSeguimiento">

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-lg" id="modalResponder" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-focus-on="input:first">
        <div class="modal-dialog" role="document" style="width:670px !important">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="content-header cabecera-formulario">
                        <h3 style="color: #ffffff">Responder a la Institución Solicitante</h3>
                    </div>
                    <button type="button" class="close-modal cerrar_modal_responder" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="etiqueta">
                                Documento Adjunto
                            </div>
                        </div>
                        <div class="col-md-8">
                            <input type="file" id="fileDocResponder" name="fileDocResponder" class="form-control " title="Archivo máximo de 4MB" accept="application/pdf" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnDescargarImeiResponder" class="btn class-button-bandeja" onclick="fn_DescargarImei();">Descargar Imeis</button>
                        <button type="button" id="btnDescargarDocumento" class="btn class-button-bandeja" onclick="fn_DescargarDocumento();">Descargar Documento</button>

                        <button type="button" id="btnResponder" class="btn class-button-bandeja" onclick="fn_ResponderImeis();">Adjuntar y Enviar Documento</button>
                        <button type="button" class="btn cerrar_modal_responder btn-cancelar">Cancelar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-lg" id="modalResponderMovil" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-focus-on="input:first">
        <div class="modal-dialog" role="document" style="width:670px !important">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="content-header cabecera-formulario">
                        <h3 style="color: #ffffff">Responder a la Institución Solicitante</h3>
                    </div>
                    <button type="button" class="close-modal cerrar_modal_responderMovil" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="etiqueta">
                                Documento Adjunto
                            </div>
                        </div>
                        <div class="col-md-8">
                            <input type="file" id="fileDocResponderMovil" name="fileDocResponderMovil" class="form-control " title="Archivo máximo de 4MB" accept="application/pdf" />
                        </div>
                    </div>
                    <div class="modal-footer">

                        <button type="button" id="btnResponder" class="btn class-button-bandeja" onclick="fn_ResponderMovil();">Adjuntar y Enviar Documento</button>
                        <button type="button" class="btn cerrar_modal_responderMovil btn-cancelar">Cancelar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-lg" id="modalDevolver" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-focus-on="input:first">
        <div class="modal-dialog" role="document" style="width:670px !important">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="content-header cabecera-formulario">
                        <h3 style="color: #ffffff">Devolver IMEIs a Institución</h3>
                    </div>
                    <button type="button" class="close-modal cerrar_modal_devolver" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="etiqueta">
                                Comentario
                            </div>
                        </div>
                        <div class="col-md-8">
                            @Html.TextArea("comentariosDevolver", "", new { @class = "form-control comentario-registro", cols = "70", rows = "4", @maxlength = "500" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="etiqueta">
                                Adjuntar Documento
                            </div>
                        </div>
                        <div class="col-md-8">
                            <input type="file" id="fileDocDevolver" name="fileDocDevolver" class="form-control " title="Archivo máximo de 4MB" accept="application/pdf" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnDescargarImeiDevolver" class="btn class-button-bandeja" onclick="fn_DescargarImeiDevolver();">Descargar Imeis</button>
                        <button type="button" id="btnDescargarDocumentoDevolver" class="btn class-button-bandeja" onclick="fn_DescargarDocumentoDevolver();">Descargar Documento</button>

                        <button type="button" id="btnResponder" class="btn class-button-bandeja" onclick="fn_DevolverImeis();">Adjuntar y Enviar Documento</button>
                        <button type="button" class="btn cerrar_modal_devolver btn-cancelar">Cancelar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>
<script type="text/javascript" src="~/js/appjs/Requerimiento/jsRequerimientoIndex.js?0.0.10"></script>






























