﻿@model List<Osiptel.SIGREI.BE.BeInsExterna>;
@{
    ViewData["Title"] = "_DetalleInstExterna";
}

<div class="tabla-content-result">
    <table id="dtResultadoBusqueda" class="tabla-osiptel" style="width: 100%">
        <caption style="    visibility: hidden;">Detalle Institución Externa</caption>
        <thead>
            <tr>
                <th scope="col">Nº</th>
                <th scope="col">Ruc</th>
                <th scope="col">Razón Social</th>
                <th scope="col">Tipo Unidad EP</th>
                <th scope="col">Entidad Pública</th>
                <th scope="col">Estado</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

            <tr>
                <td>@item.orden</td>
                <td>@item.NUM_RUC.ToUpper()</td>
                <td>@item.DES_RAZ_SOC.ToUpper()</td>
                <td>@item.TipInstitucion.ToUpper()</td>
                <td>@item.DesEntPublica.ToUpper()</td>
                <td>@item.DesActivo.ToUpper()</td>

                <td class="text-center">
                    <a href="#" onclick="fn_EditarInsExterna(@item.NUM_RUC)" class="fa fa-edit fa-lg" title="Consultar"></a>
                </td>
            </tr>

            }
        </tbody>

    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#dtResultadoBusqueda').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            colReorder: true,
            responsive: true,
            'order': [[0, "asc"]],
            'columnDefs': [{
                'targets': [],
                'orderable': false

            }]
        });
    });

    function fn_EditarInsExterna(numruc) {

            var divNuevoParametro = $("#divNuevoParametro");
            divNuevoParametro.html("");

            $("#hiidValor").val(numruc);

            $("#modalEditarParametro").modal({ backdrop: 'static', keyboard: false });

            var divEditaParametro = $("#divEditarParametro");
            var formdata = $("#frmGestionPerfil").serialize();
            var titulo = $('select[name="ddlParametro"] option:selected').text();
            document.getElementById("gpEditTitulo").innerText = "Actualizar  " + titulo;
            $.ajax({
                type: "POST",
                url: URLSERVICIO_IMEI + "/GestorUsuario/EditarParametro",
                cache: false,
                data: formdata,
                success: function (data) {
                    divEditaParametro.html("");
                    divEditaParametro.html(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //DesbloquearPantalla();
                    console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                    mostrarMensajeError("Error al intentar cargar la info para actualizar un nuevo Unidad de Entidad Pública");
                },
                complete: function () {
                    //DesbloquearPantalla();
                }
            });


    }


</script>

