﻿@model List<Osiptel.SIGREI.BE.BE_PARAMETRO>;
@{
    ViewData["Title"] = "_DetalleParametro";
    Layout = "";
}
<div class="tabla-content-result">
    <table id="dtResultadoBusqueda" class="tabla-osiptel" style="width: 100%">
        <caption style="    visibility: hidden;">Detalle Parámetro</caption>
        <thead>
            <tr>
                <th scope="col">Nro</th>
                <th scope="col">Nombre</th>
                <th scope="col">Abreviatura</th>
                <th scope="col">Estado</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>@item.valor.ToUpper()</td>
                    <td>@item.descripcion.ToUpper()</td>
                    <td>@item.abreviado.ToUpper()</td>
                    <td>@item.ESTADO.ToUpper()</td>

                    <td class="text-center">
                        <a href="#" onclick="fn_EditarParametro(@item.valor,'@item.abreviado','@item.tabla','@item.descripcion','@item.ESTADO',@item.DEPENDENCIA)" class="fa fa-edit fa-lg" title="Consultar"></a>
                    </td>
                </tr>

            }
        </tbody>

    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#dtResultadoBusqueda').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            colReorder: true,
            responsive: true,
            'order': [[0, "desc"]],
            'columnDefs': [{
                'targets': [],
                'orderable': false
                
            }]
        });
    });
    
    function fn_EditarParametro(valor, abreviado, tabla, descripcion, estado, dependencia) {
        if (dependencia == 0) {
            var divNuevoParametro = $("#divNuevoParametro");
            divNuevoParametro.html("");

            $("#hiidValor").val(valor);

            $("#modalEditarParametro").modal({ backdrop: 'static', keyboard: false });

            var divEditaParametro = $("#divEditarParametro");
            var formdata = $("#frmGestionPerfil").serialize();
            var titulo = $('select[name="ddlParametro"] option:selected').text();
            document.getElementById("gpEditTitulo").innerText = "Actualizar  " + titulo;
            $.ajax({
                type: "POST",
                url: URLSERVICIO_IMEI + "/GestorUsuario/EditarParametro",
                cache: false,
                data: formdata,
                success: function (data) {
                    divEditaParametro.html("");
                    divEditaParametro.html(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //DesbloquearPantalla();
                    console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                    mostrarMensajeError("Error al intentar cargar la info para actualizar un nuevo Unidad de Entidad Pública");
                },
                complete: function () {
                    //DesbloquearPantalla();
                }
            });
        } else {
            mostrarMensajeError("La Entidad Pública seleccionada tiene dependencia, no se puede actualizar");
        }
        
    }


</script>