﻿@model List<Osiptel.SIGREI.BE.BeUsuarioEP>;
@{
    ViewData["Title"] = "_DetalleUsuarioEP";
}

<div class="tabla-content-result">
    <div class="row">
       <img src="~/images/iconexcel.png" style="    width: 4%;     margin-left: 1%; cursor:pointer" alt="Descargar Excel Aquí" onclick="GenrarExcelBusqueda();"/>
    </div>
    <table id="dtResultadoBusqueda" class="tabla-osiptel" style="width: 100%">
        <caption style="    visibility: hidden;">Detalle Usuario EP</caption>
        <thead>
            <tr>
                <th scope="col">Nº</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Nombre</th>
                <th scope="col">Usuario</th>
                <th scope="col">Tipo Documento</th>
                <th scope="col">Nº Documento</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Celular</th>
                <th scope="col">Dirección</th>
                <th scope="col">Correo</th>
                <th scope="col">Módulo</th>
                <th scope="col">Perfil</th>
                <th scope="col">Entidad Pública</th>
                <th scope="col">Unidad EP</th>
                <th scope="col">Sub Unidad EP</th>
                <th scope="col">Ruc Unidad EP</th>
                <th scope="col">Cargo</th>
                <th scope="col">Fecha de Inicio</th>
                <th scope="col">Fecha de Fin</th>
                <th scope="col">Fecha de Creación</th>
                <th scope="col">Usuario de Creación</th>
                <th scope="col">Usuario de Modificación</th>
                <th scope="col">Estado</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>@item.nroItem</td>
                    <td>@item.DES_APEPAT.ToUpper()</td>
                    <td>@item.DES_NOMBRE.ToUpper()</td>
                    <td>@item.NUM_DOCIDE.ToUpper()</td>
                    <td>@item.DES_TDOC.ToUpper()</td>
                    <td>@item.NUM_DOCIDE.ToUpper()</td>
                    <td>@item.DES_TLFFIJ.ToUpper()</td>
                    <td>@item.DES_TLFMVL.ToUpper()</td>
                    <td>@item.DIRECCION.ToUpper()</td>
                    <td>@item.CORREO_COMPL.ToUpper()</td>
                    <td>
                        @item.DES_MODU.ToUpper()
                                        <a href="#" onclick="fn_OpcionModuloByPerfil(@item.IDMODULO,@item.IDPERFIL)" class="fa fa-eye fa-lg" title="Consultar Opciones"></a>
                                    </td>
                    <td>@item.DES_PERFIL.ToUpper()</td>
                    <td>@item.DES_ENTPUB.ToUpper()</td>
                    <td>@item.INS_EXT.ToUpper()</td>
                    <td>@item.NOMBREUNIDADP.ToUpper()</td>
                    <td>@item.NUM_RUC</td>
                    <td>@item.CARGO.ToUpper()</td>
                    <td>@item.FECINI</td>
                    <td>@item.FECEXPCONTRASENIA</td>
                    <td>@item.FECCRE</td>
                    <td>@item.USUCRE</td>
                    <td>@item.USUMOD</td>
                    <td>@item.desActivo.ToUpper()</td>

                    <td class="text-center">
                        <a href="#" onclick="fn_EditarUsuarioEP('@item.IDUSUARIO')" class="fa fa-edit fa-lg" title="Consultar Usuario"></a>
                        <a href="#" onclick="fn_EditarVigenciaUser('@item.IDUSUARIO','@item.FECINI','@item.FECEXPCONTRASENIA')" class="fa fa-calendar fa-lg" title="Editar Vigencia"></a>
                    </td>
                </tr>

            }
        </tbody>

    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#dtResultadoBusqueda').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            colReorder: true,
            responsive: true,
            //'order': [[0, "asc"]],
            'columnDefs': [{
                'targets': [],
                'orderable': false

            }]
        });
    });

    function fn_OpcionModuloByPerfil(modulo,perfil) {
        var divNuevoParametro = $("#divPerModPerfUser");
        divNuevoParametro.html("");

        $("#hiidValorModulo").val(modulo);
        $("#hiidValorPerfil").val(perfil);

        $("#modalPerModPerfUser").modal({ backdrop: 'static', keyboard: false });

        var divEditaParametro = $("#divPerModPerfUser");
        var formdata = $("#frmGestionUsuarios").serialize();

        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/GestorUsuario/ListarOpcionesPerMod",
            cache: false,
            data: formdata,
            success: function (data) {
                divEditaParametro.html("");
                divEditaParametro.html(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //DesbloquearPantalla();
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError("Error al intentar cargar la info para actualizar un nuevo Perfil");
            },
            complete: function () {
                //DesbloquearPantalla();
            }
        });
    }

    function fn_EditarUsuarioEP(cPerCodigo) {
        var divNuevoParametro = $("#divEditarUsuario");
        divNuevoParametro.html("");

        $("#hiidValorUser").val(cPerCodigo);

        $("#modalEditarUsuario").modal({ backdrop: 'static', keyboard: false });

        var divEditaParametro = $("#divEditarUsuario");
        var formdata = $("#frmGestionUsuarios").serialize();

        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/GestorUsuario/EditarUsuarioEP",
            cache: false,
            data: formdata,
            success: function (data) {
                divEditaParametro.html("");
                divEditaParametro.html(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //DesbloquearPantalla();
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError("Error al intentar cargar la info para actualizar un nuevo Perfil");
            },
            complete: function () {
                //DesbloquearPantalla();
            }
        });
    }

    function GenrarExcelBusqueda() {
        window.location = URLSERVICIO_IMEI + '/GestorUsuario/DescargarExcelBusqueda';
    }
    function CancelarVigencia() {
        $("#modalEditarVigencia").modal("hide");
        $("#divEditarVigencia").html("");
    }
    $("#btnCancelar").click(function () {
        $("#modalEditarVigencia").modal("hide");
        $("#divEditarVigencia").html("");
    });

    function ActualizarVigencia() {
        //alert($("#fecIni").val());
        var fecha_aux = $("#fecIni").val().split("/");
        //var Fecha1 = new Date(parseInt("20"+fecha_aux[2]), parseInt(fecha_aux[1] - 1), parseInt(fecha_aux[0]));

        var fecha_aux_fin = $("#fecfin").val().split("/");
        //var Fecha2 = new Date(parseInt("20" + fecha_aux_fin[2]), parseInt(fecha_aux_fin[1] - 1), parseInt(fecha_aux_fin[0]));

        //alert((new Date($("#fecIniUpd").val())));
        //alert((new Date(Fecha1)));
        if ((new Date($("#fecIniUpd").val())) > (new Date($("#fecIni").val()))) {
            //if ($("#fecFinUpd").val() > $("#fecfin").val()) {
            if ((new Date($("#fecFinUpd").val())) > (new Date($("#fecfin").val()))) {
                if ($("#fecIniUpd").val() != "" && $("#fecIniUpd").val() != undefined) {
                    if ($("#fecFinUpd").val() != "" && $("#fecFinUpd").val() != undefined) {
                        const swalWithBootstrapButtons = Swal.mixin({
                            customClass: {
                                confirmButton: 'btn btn-success',
                                cancelButton: 'btn btn-secondary'
                            },
                            buttonsStyling: false
                        });
                        swalWithBootstrapButtons.fire({
                            title: MSJ_MENSAJE_SISTEMA,
                            text: "¿Desea actualizar la Vigencia de Usuario?",
                            type: 'question',
                            showCancelButton: true,
                            confirmButtonText: 'Aceptar',
                            cancelButtonText: 'Cancelar',
                            reverseButtons: false
                        }).then(function (result) {
                            if (result.value) {
                                fn_ActualizarVigenciaFin();
                            } else {
                                DesbloquearPantalla();
                                $("#divEditarVigencia").html("");
                            }
                        });
                    } else {
                        mostrarMensajeError("* Ingrese una Fecha Final");
                    }
                } else {
                    mostrarMensajeError("* Ingrese una Fecha Inicial");
                }
            
            } else {
                mostrarMensajeError("* La fecha final de Nueva Vigencia debe ser mayor a la fecha final de vigencia actual");
            }
        } else {
            mostrarMensajeError("* La fecha de Inicio de Nueva Vigencia debe ser mayor a la fecha de inicio de vigencia actual");
        }
        
    }
    function fn_ActualizarVigenciaFin() {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-secondary'
            },
            buttonsStyling: false,
        });
        var msg = "";
        var key = 0;
        var formdata = new FormData($("#frmGestionUsuarios")[0]);
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/GestorUsuario/ActualizarVigenciaUser",
            contentType: false,
            processData: false,
            dataType: "json",
            data: formdata,
            success: function (data) {
                key = data.key;
                msg = data.value;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);

            },
            complete: function () {
                if (key == "0") {
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    swalWithBootstrapButtons.fire({
                        title: MSJ_MENSAJE_SISTEMA,
                        text: msg,
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar',
                        reverseButtons: false
                    }).then(function (result) {
                        if (result.value) {
                            $("#modalEditarVigencia").modal("hide");
                            $("#divEditarVigencia").html("");
                            parent.fn_BuscarUsuariosEP();
                        }
                    });
                } else if (key == "2") {
                    mostrarMensajeError(msg);
                }
            }
        });
    }
    function fn_EditarVigenciaUser(valor, fecini, fecfin) {
        console.log(valor);
        console.log(fecini);
        console.log(fecfin);
        /*var fecha_aux = fecini.split("/");
        var fecha_aux_fin = fecfin.split("/");
        var fec_final_ini = ("20" + fecha_aux[2]).toString() + "-" + fecha_aux[1].toString() + "-" + fecha_aux[0].toString();
        var fec_final_fin = ("20" + fecha_aux_fin[2]).toString() + "-" + fecha_aux_fin[1].toString() + "-" + fecha_aux_fin[0].toString();*/
        //console.log(fecini);
        //var date1 = new Date("16/02/2022");
        //console.log(date1);
        //var fec_final_ini = moment(fecini).format('YYYY-MM-DD');
        //var fec_final_fin = moment(fecfin).format('YYYY-MM-DD');
        //var fec_final_ini = moment(fecini).format('dd/MM/yyyy');
        //var fec_final_fin = moment(fecfin).format('dd/MM/yyyy');
        //var fec_final_ini = moment(fecini).format('yyyy-MM-dd');
        //var fec_final_fin = moment(fecfin).format('yyyy-MM-dd');
        var fec_final_ini = fecini;
        var fec_final_fin = fecfin;
        console.log(fec_final_ini);
        console.log(fec_final_fin);
        var divNuevoParametro = $("#divEditarVigencia");
        divNuevoParametro.html("");

        $("#hiidValorUser").val(valor);

        $("#modalEditarVigencia").modal({ backdrop: 'static', keyboard: false });

        var divEditaParametro = $("#divEditarVigencia");
        var html = "";
        html += "<div class='row'>" +
            "<h4 style='color: #3399FF;margin-left: 2%;'>Vigencia Actual</h4>" +
            " <div class='col-md-3 col-xs-3'>" +
            " <label class='campo_Obligatorio etiqueta'>" +
            "    <label class='title-opt'>" +
            "Fecha de Inicio" +
            "</label>" +
            "</label >" +
            "</div>" +
            "   <div class='col-md-5 col-xs-3 '>" +
            "       <input type='date' class='input-content' id='fecIni' name='fecIni' disabled value='" + fec_final_ini + "'>" +
            "   </div> " +
            "</div>" +
            "<div class='row'>" +
            " <div class='col-md-3 col-xs-3'>" +
            " <label class='campo_Obligatorio etiqueta'>" +
            "    <label class='title-opt'>" +
            "Fecha Fin" +
            "</label>" +
            "</label >" +
            "</div>" +
            "   <div class='col-md-5 col-xs-3 '>" +
            "       <input type='date' id='fecfin'  class='input-content' disabled name='fecfin' value='" + fec_final_fin + "'>" +
            "   </div> " +
            "</div>" +
            "<div class='row'>" +
            "<h4 style='color: #3399FF;margin-left: 2%;'>Nueva Vigencia</h4>" +
            " <div class='col-md-3 col-xs-3'>" +
            " <label class='campo_Obligatorio etiqueta'>" +
            "    <label class='title-opt'>" +
            "Fecha de Inicio" +
            "</label>" +
            "</label>" +
            "</div>" +
            "   <div class='col-md-5 col-xs-3 '>" +
            "       <input type='date'  class='input-content' id='fecIniUpd' name='fecIniUpd' style='width: 42%;'>" +
            "   </div> " +
            "</div>" +
            "<div class='row'>" +
            " <div class='col-md-3 col-xs-3'>" +
            " <label class='campo_Obligatorio etiqueta'>" +
            "    <label class='title-opt'>" +
            "Fecha Fin" +
            "</label>" +
            "</label>" +
            "</div>" +
            "   <div class='col-md-5 col-xs-3 '>" +
            "       <input type='date'  class='input-content' id='fecFinUpd' name='fecFinUpd' style='width: 42%;'>" +
            "   </div> " +
            "</div>" +
            " <div class='row'>"+
            "<div class='col-md-12 col-xs-12 text-right'>" +
            "<button type='button' id='btnActualizarVigencia' onclick='ActualizarVigencia();' class='btn class-button-bandeja'>" +
            "Aplicar Cambios" +
            "</button>" +
            "<button type='button' class='btn btn-secondary btn-cancelar' id='btnCancelar' onclick='CancelarVigencia();'>Cancelar</button>" +
            " </div>" +
"</div >";
        divEditaParametro.html(html);
        /*var formdata = $("#frmGestionUsuarios").serialize();
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/GestorUsuario/CargarVigenciaUser",
            cache: false,
            data: formdata,
            success: function (data) {
                divEditaParametro.html("");
                divEditaParametro.html(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //DesbloquearPantalla();
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError("Error al intentar cargar la info para actualizar un nuevo Unidad de Entidad Pública");
            },
            complete: function () {
                //DesbloquearPantalla();
            }
        });*/
    }


</script>