﻿@model List<Osiptel.SIGREI.BE.BeUnidadEp>;
@{
    ViewData["Title"] = "_DetalleUnidadEP";
    Layout = "";
}
<div class="tabla-content-result">
    <table id="dtResultadoBusqueda" class="tabla-osiptel" style="width: 100%">
        <caption style="    visibility: hidden;">Detalle Parametro</caption>
        <thead>
            <tr>
                <th scope="col">Nro</th>
                <th scope="col">Entidad Pública</th>
                <th scope="col">Unidad EP</th>
                <th scope="col">Sub Unidad EP</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Dirección</th>
                <th scope="col">Ext. Correo</th>
                <th scope="col">Estado</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

            <tr>
                <td>@item.nroItem</td>
                <td>@item.nomEntPublica.ToUpper()</td>
                <td>@item.nomInsExterna.ToUpper()</td>
                <td>@item.nomUniEntPublica.ToUpper()</td>
                <td>@item.telefono.ToUpper()</td>
                <td>@item.direccion.ToUpper()</td>
                <td>@item.extCorreo</td>
                <td>@item.desActivo.ToUpper()</td>

                <td class="text-center">
                    <a href="#" onclick="fn_EditarUnidadEP(@item.idUnidadEP)" class="fa fa-edit fa-lg" title="Consultar"></a>
                </td>
            </tr>

            }
        </tbody>

    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#dtResultadoBusqueda').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            colReorder: true,
            responsive: true,
            'columnDefs': [{
                'targets': [],
                'orderable': false
            }]
        });
    });


    function fn_EditarUnidadEP(idUnidadEP) {
        var divNuevoParametro = $("#divNuevoParametro");
        divNuevoParametro.html("");

        $("#hiidValor").val(idUnidadEP);

        $("#modalEditarParametro").modal({ backdrop: 'static', keyboard: false });
        $("#divEditarParametro").html("");
        var divEditaParametro = $("#divEditarParametro");
        var formdata = $("#frmGestionPerfil").serialize();
        var titulo = $('select[name="ddlParametro"] option:selected').text();
        document.getElementById("gpEditTitulo").innerText = "Actualizar  " + titulo;
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/GestorUsuario/EditarParametro",
            cache: false,
            data: formdata,
            success: function (data) {
                divEditaParametro.html("");
                divEditaParametro.html(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //DesbloquearPantalla();
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError("Error al intentar cargar la info para actualizar un nuevo parametro");
            },
            complete: function () {
                //DesbloquearPantalla();
            }
        });
    }
   
</script>

