﻿@model Osiptel.SIGREI.BE.BE_PARAMETRO;
@{
    ViewData["Title"] = "_EditarMaestros";
}

<div class="row">

    <div class="col-md-5 col-xs-3 ">
        @Html.TextBoxFor(model => model.valor, new { @class = "input-content", @MaxLength = "50", style = "width: 100%;display:none;" })

    </div>

</div>

<div class="row">
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Nombre
            </label>
        </label>
    </div>
    <div class="col-md-5 col-xs-3 ">
        @Html.TextBoxFor(model => model.descripcion, new { @class = "input-content", @MaxLength = "50", style = "width: 100%;" })

    </div>

</div>
<div class="row">
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Abreviado
            </label>
        </label>
    </div>
    <div class="col-md-5 col-xs-3 ">
        @Html.TextBoxFor(model => model.abreviado, new { @class = "input-content", @MaxLength = "50", style = "width: 100%;" })

    </div>

</div>
<div class="row">
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Estado
            </label>
        </label>
    </div>
    <div class="col-md-5 col-xs-3">
        @Html.DropDownListFor(m => m.ESTADO, new SelectList(ViewBag.Lista_Estado, "IDESTADO", "ESTADO"), "Seleccione", new { title = "Estado", @class = "input-content ", style = "width: 100%;" })

    </div>
</div>


<div class="row">
    <div class="col-md-12 col-xs-12 text-right">
        <button type="button" id="btnActualizarParametro" class="btn class-button-bandeja">
            Actualizar
        </button>
        <button type="button" class="btn btn-secondary btn-cancelar" id="btnCancelar">Cancelar</button>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        $("#btnCancelar").click(function () {
            $("#modalEditarParametro").modal("hide");
            $("#divEditarParametro").html("");
        });
        $("#btnActualizarParametro").click(function () {
            var mensaje = fn_ValidarActualizarParametro();
            if (mensaje === "") {
                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-secondary'
                    },
                    buttonsStyling: false
                });
                swalWithBootstrapButtons.fire({
                    title: MSJ_MENSAJE_SISTEMA,
                    text: "¿Desea actualizar la " + $('select[name="ddlParametro"] option:selected').text() + "?",
                    type: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Aceptar',
                    cancelButtonText: 'Cancelar',
                    reverseButtons: false
                }).then(function (result) {
                    if (result.value) {
                        fn_ActualizarParametro();
                    } else {
                        DesbloquearPantalla();
                        $("#divEditarParametro").html("");
                    }
                });
            } else {
                mostrarMensajeError(mensaje);
            }
        });
    });

    function fn_ActualizarParametro() {

        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-secondary'
            },
            buttonsStyling: false,
        });
        var msg = "";
        var key = 0;
        var formdata = new FormData($("#frmGestionPerfil")[0]);
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/GestorUsuario/ActualizarMaestros",
            contentType: false,
            processData: false,
            dataType: "json",
            data: formdata,
            success: function (data) {
                key = data.key;
                msg = data.value;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);

            },
            complete: function () {
                if (key == "0") {
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    swalWithBootstrapButtons.fire({
                        title: MSJ_MENSAJE_SISTEMA,
                        text: msg,
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar',
                        reverseButtons: false
                    }).then(function (result) {
                        if (result.value) {
                            $("#modalEditarParametro").modal("hide");
                            $("#divEditarParametro").html("");
                            parent.fn_ListarParametro();
                        }
                    });
                } else if (key == "2") {
                    mostrarMensajeError(msg);
                }
            }
        });
    }

    function fn_ValidarActualizarParametro() {
        var mensaje = "";
        var txtNombre = $("#descripcion").val();
        if (txtNombre == "") {
            mensaje += "* Ingrese un Nombre";
            mensaje += "<br/>";
        }
        var txtAbreviado = $("#abreviado").val();
        if (txtAbreviado == "") {
            mensaje += "* Ingrese un Abreviado";
            mensaje += "<br/>";
        }

        var ddlEstado = $("#ESTADO").val();
        if (ddlEstado == "") {
            mensaje += "* Debe de seleccionar el estado";
            mensaje += "<br/>";
        }


        return mensaje;

    }
</script>



