﻿@model Osiptel.SIGREI.BE.BeUsuarioEP;
@{
    ViewData["Title"] = "_EditarUsuarioCarMasEP";
}

<div class="row">
    <div class="col-md-3">
        <label class="etiqueta">
            Tipo de Documento
        </label>
    </div>
    <div class="col-md-3">
        @Html.DropDownListFor(m => m.COD_DOCIDE, new SelectList(ViewBag.ddlTipoDocumento, "valor", "descripcion"), "Seleccione una Opción", new { title = "Tipo de Solicitante", @class = "input-content ", style = "width: 100%;" })
    </div>

    <div class="col-md-3">
        <label class="etiqueta">
            Nro Documento
        </label>
    </div>
    <div class="col-md-3">
        @Html.TextBoxFor(model => model.NUM_DOCIDE, new { @class = "input-content", style = "width: 100%;" })
    </div>

</div>

<div class="row">
    <div class="col-md-3">
        <label class="etiqueta">
           Primer Apellido
        </label>
    </div>
    <div class="col-md-3">
        @Html.TextBoxFor(model => model.DES_APEPAT, new { @class = "input-content", style = "width: 100%;" })
    </div>

    <div class="col-md-3">
        <label class="etiqueta">
            Segundo Apellido
        </label>
    </div>
    <div class="col-md-3">
        @Html.TextBoxFor(model => model.DES_APEMAT, new { @class = "input-content", style = "width: 100%;" })
        
    </div>

</div>
<div class="row">
    <div class="col-md-3">
        <label class="etiqueta">
            Primer Nombre
        </label>
    </div>
    <div class="col-md-3">
        @Html.TextBoxFor(model => model.DES_NOMBRE, new { @class = "input-content", style = "width: 100%;" })
    </div>

    <div class="col-md-3">
        <label class="etiqueta">
            Segundo Nombre
        </label>
    </div>
    <div class="col-md-3">
        @Html.TextBoxFor(model => model.DES_NOmBRE_LAST, new { @class = "input-content", style = "width: 100%;" })

    </div>

</div>
<div class="row">
    <div class="col-md-3">
        <label class="etiqueta">
            Teléfono
        </label>
    </div>
    <div class="col-md-3">
        @Html.TextBoxFor(model => model.DES_TLFFIJ, new { @class = "input-content", style = "width: 100%;" })
    </div>

    <div class="col-md-3">
        <label class="etiqueta">
            Celular
        </label>
    </div>
    <div class="col-md-3">
        @Html.TextBoxFor(model => model.DES_TLFMVL, new { @class = "input-content", style = "width: 100%;" })

    </div>

</div>
<div class="row">
    <div class="col-md-3">
        <label class="etiqueta">
            Dirección
        </label>
    </div>
    <div class="col-md-3">
        @Html.TextBoxFor(model => model.DIRECCION, new { @class = "input-content", style = "width: 100%;" })
    </div>

    <div class="col-md-3">
        <label class="etiqueta">
            Cargo
        </label>
    </div>
    <div class="col-md-3">
        @Html.TextBoxFor(model => model.CARGO, new { @class = "input-content", style = "width: 100%;" })

    </div>
  

</div>
<div class="row">
    <div class="col-md-3">
        <label class="etiqueta">
            Sexo
        </label>
    </div>
    <div class="col-md-3">
        @Html.DropDownListFor(m => m.IND_SEXO, new SelectList(ViewBag.ddlSexo, "valor", "descripcion"), "Seleccione una Opción", new { title = "Tipo de Solicitante", @class = "input-content ", style = "width: 100%;" })
    </div>

    <div class="col-md-3">
        <label class="etiqueta">
            Correo
        </label>
    </div>
    <div class="col-md-3">
        @Html.TextBoxFor(model => model.DES_CORELE, new { @class = "input-content", style = "width: 100%;" })

    </div>

</div>
<div class="row">
    <div class="col-md-3">
        
    </div>
    <div class="col-md-3">
       
    </div>

    <div class="col-md-3">
        <label class="etiqueta">

        </label>
    </div>
    <div class="col-md-3">
        <label id="txtCorreoFinal"></label>
    </div>

</div>
<div class="row" style="    margin-top: 36px;">

    <div class="col-md-12" style="text-align:center">


        <button type="button" id="btnActualizarUsuarioMasEp" class="btn class-button-bandeja">
            Actualizar
        </button>

        <button type="button" id="btnCancelarRegistroMas" class="btn class-button-bandeja">
            Cancelar
        </button>
    </div>
</div>
<br />
<br />

<script>

    var arr = document.getElementById("ddlUnidadEP").value.split("//");
    document.getElementById("txtCorreoFinal").innerText = document.getElementById("DES_CORELE").value + arr[1];
    $("#DES_CORELE").keypress(function (e) {
        //alert(e.keyCode);
        if (e.keyCode == 64) {
            tecla = (document.all) ? e.keyCode : e.which;

            //Tecla de retroceso para borrar, siempre la permite
            if (tecla == 8) {
                return true;
            }

            // Patron de entrada, en este caso solo acepta numeros y letras
            patron = /[A-Za-z0-9]/;
            tecla_final = String.fromCharCode(tecla);
            return patron.test(tecla_final);
        }

    });
    $("#DES_CORELE").keyup(function (e) {
        //alert(e.keyCode);
        if (document.getElementById("ddlUnidadEP").value != undefined && document.getElementById("ddlUnidadEP").value != "") {
            if (e.keyCode != 46) {
                var arr = document.getElementById("ddlUnidadEP").value.split("//");
                document.getElementById("txtCorreoFinal").innerText = document.getElementById("DES_CORELE").value + arr[1];
            }
        } else {
            mostrarMensajeError("Debe seleccionar una Sub Unidad de Entidad Pública");
            document.getElementById("DES_CORELE").value = "";
            document.getElementById("txtCorreoFinal").innerText = "";
            return true;
        }


    });

    $(function () {

        $("#btnActualizarUsuarioMasEp").click(function () {
            fn_ActualizarUsuarioMasEP();
        });
        $("#btnCancelarRegistroMas").click(function () {
            fn_Cancelar();
        });


    });


    function fn_Cancelar() {
        //location.href = "GestionUsuarios";
        var divEditaParametro = $("#divEditarCargMasiv");
         divEditaParametro.html("");
        $("#modalEditarCargMasiv").modal("hide");
        $("#divEditarCargMasiv").html("");
    }

    $('#NUM_DOCIDE').on('input', function () {
        this.value = this.value.replace(/[^0-9]/g, '');
    });
    $('#DES_TLFMVL').on('input', function () {
        this.value = this.value.replace(/[^0-9]/g, '');
    });
    $('#DES_TLFFIJ').on('input', function () {
        this.value = this.value.replace(/[^0-9]/g, '');
    });




    function fn_ActualizarUsuarioMasEP() {
        BloquearPantalla();
        var mensaje = fn_ValidarActualizarUsuarioMasEP();
        if (mensaje === "") {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-secondary'
                },
                buttonsStyling: false
            });
            swalWithBootstrapButtons.fire({
                title: MSJ_MENSAJE_SISTEMA,
                text: "¿Desea actualizar el Usuario EP?",
                type: 'question',
                showCancelButton: true,
                confirmButtonText: 'Aceptar',
                cancelButtonText: 'Cancelar',
                reverseButtons: false
            }).then(function (result) {

                if (result.value) {
                    fn_ActualizarFnUsuarioMasEP();
                } else {
                    DesbloquearPantalla();
                    var divEditaParametro = $("#divEditarCargMasiv");
                    divEditaParametro.html("");
                    $("#modalEditarCargMasiv").modal("hide");
                    $("#divEditarCargMasiv").html("");
                }
            });
            //window.open("ArchivoExcelUser/Credenciales de Usuarios.xlsx", 'Download');
            //window.open('../ArchivoExcelUser/Credenciales de Usuarios.xlsx', '', 'width=,height=,resizable=no');
        } else {
            DesbloquearPantalla();
            mostrarMensajeError(mensaje);
        }
    }

    function fn_ValidarActualizarUsuarioMasEP() {
        var mensaje = "";
        var txtSegundoApellido = $("#DES_APEMAT").val();
        if (txtSegundoApellido == "") {
            mensaje += "* Ingrese su Segundo Apellido ";
            mensaje += "<br/>";
        }

        var txtPrimNombre = $("#DES_NOMBRE").val();
        if (txtPrimNombre == "") {
            mensaje += "* Ingrese su Primer Nombre ";
            mensaje += "<br/>";
        }
        /*var txtSegundoNombre = $("#DES_NOmBRE_LAST").val();
        if (txtSegundoNombre == "") {
            mensaje += "* Ingrese su Segundo Nombre ";
            mensaje += "<br/>";
        }*/
        var txtTelefono = $("#DES_TLFFIJ").val();
        if (txtTelefono == "") {
            mensaje += "* Ingrese un Teléfono ";
            mensaje += "<br/>";
        }
        var ddlTipoDocumento = $("#COD_DOCIDE").val();
        if (ddlTipoDocumento == "") {
            mensaje += "* Seleccione un Tipo de Documento ";
            mensaje += "<br/>";
        }
        var txtCelular = $("#DES_TLFMVL").val();
        if (txtCelular == "") {
            mensaje += "* Ingrese su Celular ";
            mensaje += "<br/>";
        }
        var txtNroDocumento = $("#NUM_DOCIDE").val();
        if (txtNroDocumento == "") {
            mensaje += "* Ingrese su Número de Documento ";
            mensaje += "<br/>";
        }
        var txtDireccion = $("#DIRECCION").val();
        if (txtDireccion == "") {
            mensaje += "* Ingrese su Dirección ";
            mensaje += "<br/>";
        }
        var txtPrimerApellido = $("#DES_APEPAT").val();
        if (txtPrimerApellido == "") {
            mensaje += "* Ingrese Primer Apellido ";
            mensaje += "<br/>";
        }
        var txtCorreoElectronico = $("#DES_CORELE").val();
        if (txtCorreoElectronico == "") {
            mensaje += "* Ingrese Correo Electronico ";
            mensaje += "<br/>";
        }
        var ddlSexo = $("#IND_SEXO").val();
        if (ddlSexo == "") {
            mensaje += "* Seleccione Sexo ";
            mensaje += "<br/>";
        }

        return mensaje;
    }

    function fn_ActualizarFnUsuarioMasEP() {
        var cont = [];
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-secondary'
            },
            buttonsStyling: false,
        });
        var msg = "";
        var key = 0;
        var formdata = new FormData($("#frmCargarUsuarioEP")[0]);
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/GestorUsuario/ActualizarUsuarioMasivoEP",
            contentType: false,
            processData: false,
            dataType: "json",
            data: formdata,
            success: function (data) {
                key = data.key;
                var arr = data.value;
                cont = arr.split("//");
                msg = cont[0];
            },
            error: function (jqXHR, textStatus, errorThrown) {
                DesbloquearPantalla();
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);

            },
            complete: function () {

                if (key == "0") {
                    DesbloquearPantalla();
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    swalWithBootstrapButtons.fire({
                        title: MSJ_MENSAJE_SISTEMA,
                        text: msg,
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar',
                        reverseButtons: false
                    }).then(function (result) {
                        if (result.value) {
                            fn_Cancelar();
                            var divNuevoParametro = $("#divGrillaCargarUser");
                            divNuevoParametro.html("");
                            divNuevoParametro.html(cont[1]);
                            $('#dtResultadUserCargaPrevia').DataTable({
                                language: {
                                    "decimal": "",
                                    "emptyTable": "No hay información",
                                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                                    "infoPostFix": "",
                                    "thousands": ",",
                                    "lengthMenu": "Mostrar _MENU_ Entradas",
                                    "loadingRecords": "Cargando...",
                                    "processing": "Procesando...",
                                    "search": "Buscar:",
                                    "zeroRecords": "Sin resultados encontrados",
                                    "paginate": {
                                        "first": "Primero",
                                        "last": "Ultimo",
                                        "next": "Siguiente",
                                        "previous": "Anterior"
                                    }
                                },
                                colReorder: true,
                                responsive: true,

                                'columnDefs': [{
                                    'targets': [],
                                    'orderable': false
                                }]
                            });

                            DesbloquearPantalla();

                        }
                    });
                } else if (key == "2") {
                    DesbloquearPantalla();
                    mostrarMensajeError(msg);
                }
            }
        });
    }
</script>

