﻿@model Osiptel.SIGREI.BE.BeUsuarioEP;
@{
    ViewData["Title"] = "_EditarUsuarioEP";
}

<div class="row">
    <div class="col-md-3">
        <label class="etiqueta">
            Perfil
        </label>
    </div>
    <div class="col-md-3">
        @Html.DropDownListFor(m => m.IDPERFIL, new SelectList(ViewBag.ddlTipoPerfil, "idPerfil", "descripcion"), "Seleccione una Opción", new { title = "Tipo de Solicitante", @class = "input-content ", style = "width: 100%;" })
    </div>

    <div class="col-md-3">
        <label class="etiqueta">
            Segundo Apellido
        </label>
    </div>
    <div class="col-md-3">
        @Html.TextBoxFor(model => model.DES_APEMAT, new { @class = "input-content", @maxlength = "100", style = "width: 100%;background: gray;" })
    </div>

</div>
<div class="row">
    <div class="col-md-3">
        <label class="etiqueta">
            Modulo
        </label>
    </div>
    <div class="col-md-3">
        @Html.DropDownListFor(m => m.IDMODULO, new SelectList(ViewBag.ddlModlulo, "valor", "descripcion"), "Seleccione una Opción", new { title = "Tipo de Solicitante", @class = "input-content ", style = "width: 100%;" })
    </div>
    <div class="col-md-3">
        <label class="etiqueta">
            Primer Nombre
        </label>
    </div>
    <div class="col-md-3">
        @Html.TextBoxFor(model => model.DES_NOMBRE, new { @class = "input-content", @maxlength = "100", style = "width: 100%;background: gray;" })
    </div>

</div>

<div class="row">
    <div class="col-md-3">
        <label class="etiqueta">
            Entidad Pública
        </label>
    </div>
    <div class="col-md-3">
        @Html.DropDownListFor(m => m.IDENTPUBLICA, new SelectList(ViewBag.ddlEntidadPublica, "valor", "descripcion"), "Seleccione una Opción", new { title = "Tipo de Solicitante", @class = "input-content ", style = "width: 100%;" })
    </div>
    <div class="col-md-3">
        <label class="etiqueta">
            Segundo Nombre
        </label>
    </div>
    <div class="col-md-3">
        @Html.TextBoxFor(model => model.DES_NOmBRE_LAST, new { @class = "input-content", @maxlength = "160", style = "width: 100%;background: gray;" })
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <label class="etiqueta">
            Unidad de Entidad Pública
        </label>
    </div>
    <div id="contInsExteUser" class="col-md-3">
        @Html.DropDownListFor(m => m.NUM_RUC, new SelectList(ViewBag.Lista_InsExterna, "NUM_RUC", "DES_RAZ_SOC"), "Seleccione una Opción", new { title = "Tipo de Solicitante", @class = "input-content ", style = "width: 100%;" })
    </div>
    <div class="col-md-3">
        <label class="etiqueta">
            Teléfono
        </label>
    </div>
    <div class="col-md-3">
        @Html.TextBoxFor(model => model.DES_TLFFIJ, new { @class = "input-content", @maxlength = "9", style = "width: 100%;" })
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <label class="etiqueta">
            Sub Unidad de Entidad Pública
        </label>
    </div>
    <div id="contUEP" class="col-md-3">
        @Html.DropDownListFor(m => m.nomEntPublica, new SelectList(ViewBag.ddlUnidadEP, "nomEntPublica", "nomUniEntPublica"), "Seleccione una Opción", new { title = "Tipo de Solicitante", @class = "input-content ", style = "width: 100%;" })
    </div>
    <div class="col-md-3">
        <label class="etiqueta">
            Celular
        </label>
    </div>
    <div class="col-md-3">
        @Html.TextBoxFor(model => model.DES_TLFMVL, new { @class = "input-content", @maxlength = "9", style = "width: 100%;" })
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <label class="etiqueta">
            Tipo de Documento
        </label>
    </div>
    <div class="col-md-3">
        @Html.DropDownListFor(m => m.COD_DOCIDE, new SelectList(ViewBag.ddlTipoDocumento, "valor", "descripcion"), "Seleccione una Opción", new { title = "Tipo de Solicitante", @class = "input-content ", style = "width: 100%;" })
    </div>
    <div class="col-md-3">
        <label class="etiqueta">
            Dirección
        </label>
    </div>
    <div class="col-md-3">
        @Html.TextBoxFor(model => model.DIRECCION, new { @class = "input-content", style = "width: 100%;" })
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <label class="etiqueta">
            Nro Documento
        </label>
    </div>
    <div class="col-md-2">
        @Html.TextBoxFor(model => model.NUM_DOCIDE, new { @class = "input-content", style = "width: 100%;background: gray;" })

    </div>
    <div class="col-md-1">
        <!--<button type="button" id="btnConsultarReniec" class="btn class-button-bandeja">
        RENIEC
    </button>-->
        <button type="button" id="btnConsultarOtroDoc" class="btn class-button-bandeja" disabled>
            VALIDAR
        </button>
    </div>
    <div class="col-md-3">
        <label class="etiqueta">
            Sexo
        </label>
    </div>
    <div class="col-md-3">
        @Html.DropDownListFor(m => m.IND_SEXO, new SelectList(ViewBag.ddlSexo, "valor", "descripcion"), "Seleccione una Opción", new { title = "Tipo de Solicitante", @class = "input-content ", style = "width: 100%;" })
    </div>

</div>
<div class="row">
    <div class="col-md-3">
        <label class="etiqueta">
            Primer Apellido
        </label>
    </div>
    <div class="col-md-3">
        @Html.TextBoxFor(model => model.DES_APEPAT, new { @class = "input-content", style = "width: 100%;background: gray;" })
    </div>
    <div class="col-md-3">
        <label class="etiqueta">
            Cargo
        </label>
    </div>
    <div class="col-md-3">
        @Html.TextBoxFor(model => model.CARGO, new { @class = "input-content", style = "width: 100%;" })
    </div>

</div>
<div class="row">

    <div class="col-md-3">
        <label class="etiqueta">
            Estado
        </label>
    </div>
    <div class="col-md-3">
        @Html.DropDownListFor(m => m.IND_ESTADO, new SelectList(ViewBag.Lista_Estado, "IDESTADO", "ESTADO"), "Seleccione", new { title = "Estado", @class = "input-content ", style = "width: 100%;" })
    </div>

    <div class="col-md-3">
        <label class="etiqueta">
            Correo Electronico
        </label>
    </div>
    <div class="col-md-3">
        @Html.TextBoxFor(model => model.DES_CORELE, new { @class = "input-content", style = "width: 100%;" })
    </div>


</div>
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-3">

    </div>

    <div class="col-md-6" style="text-align: end; margin-left: -9%;">
        <label id="txtCorreoFinal"></label>
    </div>
</div>
<div class="row" style="    margin-top: 36px;">

    <div class="col-md-12" style="text-align:center">


        <button type="button" id="btnActualizarUsuarioEp" class="btn class-button-bandeja">
            Actualizar
        </button>

        <button type="button" id="btnCancelarRegistro" class="btn class-button-bandeja">
            Cancelar
        </button>
    </div>
</div>
<br />
<br />
<script>
    $(function () {
        var arr = document.getElementById("nomEntPublica").value.split("//");
        document.getElementById("txtCorreoFinal").innerText = document.getElementById("DES_CORELE").value + arr[1];
        $("#btnConsultarReniec").click(function () {
            fn_ConsultarReniec();
        });
        $("#btnActualizarUsuarioEp").click(function () {
            fn_ActualizarUsuarioEP();
        });
        $("#btnCancelarRegistro").click(function () {
            fn_Cancelar();
        });

        $("#nomEntPublica").change(function () {
            if (document.getElementById("nomEntPublica").value == undefined || document.getElementById("nomEntPublica").value == "") {
                document.getElementById("DES_CORELE").value = "";
                document.getElementById("txtCorreoFinal").innerText = "";
            } else {
                var arr = document.getElementById("nomEntPublica").value.split("//");
                document.getElementById("txtCorreoFinal").innerText = document.getElementById("DES_CORELE").value + arr[1];
            }
        });
    });

    
     function fn_Cancelar() {
        //location.href = "GestionUsuarios";
         var divEditaParametro = $("#divEditarUsuario");
         divEditaParametro.html("");
         $("#modalEditarUsuario").modal("hide");
         $("#divEditarUsuario").html("");
    }
    function fn_ConsultarReniec() {
        if (document.getElementById("NUM_DOCIDE").value != "" && document.getElementById("NUM_DOCIDE").value != undefined) {
            if (document.getElementById("COD_DOCIDE").value != "" && document.getElementById("COD_DOCIDE").value != undefined) {


                BloquearPantalla();
                var msg = "";
                var key = 0;
                var formdata = new FormData($("#frmGestionUsuarios")[0]);
                $.ajax({
                    type: "POST",
                    url: URLSERVICIO_IMEI + "/GestorUsuario/ConsurmirServiceRen_EditarUser",
                    contentType: false,
                    processData: false,
                    dataType: "json",
                    data: formdata,
                    success: function (data) {
                        //msg = data;
                        var retorno = data;
                        console.log(retorno);
                        /*if (retorno.trim() == "0") {
                            mostrarMensajeError("La validación con RENIEC fallo, ingrese datos manualmente");
                            $('#DES_APEPAT').attr('readonly', false);
                            $('#DES_NOmBRE_LAST').attr('readonly', false);
                            $('#DES_NOMBRE').attr('readonly', false);
                            $('#DES_APEMAT').attr('readonly', false);
                            $('#DES_APEPAT').css('background', 'transparent');
                            $('#DES_NOmBRE_LAST').css('background', 'transparent');
                            $('#DES_NOMBRE').css('background', 'transparent');
                            $('#DES_APEMAT').css('background', 'transparent');
                        } else {
                            //PARSEAR LO QUE DEVUELVE LA WS DE RENIEC
                            $("#DES_APEPAT").val("Delgado");
                            $("#DES_NOmBRE_LAST").val("Jiner");
                            $("#DES_NOMBRE").val("Juan");
                            $("#DES_APEMAT").val("Chavez");
                        }*/
                        var arr = retorno.split("//");
                        if (arr[5].trim() == "0") {
                            mostrarMensajeError(arr[4]);
                            $("#DES_APEPAT").val("");
                            $("#DES_NOmBRE_LAST").val("");
                            $("#DES_NOMBRE").val("");
                            $("#DES_APEMAT").val("");

                        } else if (arr[5].trim() == "2") {
                            mostrarMensajeError("La validación con RENIEC fallo, ingrese datos manualmente");
                            $('#DES_APEPAT').attr('readonly', false);
                            $('#DES_NOmBRE_LAST').attr('readonly', false);
                            $('#DES_NOMBRE').attr('readonly', false);
                            $('#DES_APEMAT').attr('readonly', false);
                            $('#DES_APEPAT').css('background', 'transparent');
                            $('#DES_NOmBRE_LAST').css('background', 'transparent');
                            $('#DES_NOMBRE').css('background', 'transparent');
                            $('#DES_APEMAT').css('background', 'transparent');
                            $("#DES_APEPAT").val("");
                            $("#DES_NOmBRE_LAST").val("");
                            $("#DES_NOMBRE").val("");
                            $("#DES_APEMAT").val("");
                        }
                        else {
                            $("#DES_APEPAT").val(arr[0]);
                            $("#DES_NOmBRE_LAST").val(arr[3]);
                            $("#DES_NOMBRE").val(arr[2]);
                            $("#DES_APEMAT").val(arr[1]);
                        }
                        DesbloquearPantalla();

                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        DesbloquearPantalla();
                        console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                        mostrarMensajeError("Error al intentar cargar la info para crear un nuevo parametro");
                    },
                    complete: function () {
                        /*var idDivMod = $("#contInsExteUser");
                        idDivMod.html("");
                        idDivMod.html(msg);*/
                        DesbloquearPantalla();
                    }
                });
            } else {
                mostrarMensajeError("Debe seleccionar un tipo de documento");
            }


        } else {
            mostrarMensajeError("Debe de ingresar un Número de Documento");
            document.getElementById("DES_APEPAT").value = "";
            document.getElementById("DES_NOmBRE_LAST").value = "";
            document.getElementById("DES_NOMBRE").value = "";
            document.getElementById("DES_APEMAT").value = "";
        }
    }
    $('#NUM_DOCIDE').on('input', function () {
        this.value = this.value.replace(/[^0-9]/g, '');
    });
    $('#DES_TLFMVL').on('input', function () {
        this.value = this.value.replace(/[^0-9]/g, '');
    });
    $('#DES_TLFFIJ').on('input', function () {
        this.value = this.value.replace(/[^0-9]/g, '');
    });
    $("#IDENTPUBLICA").change(function () {
        if (document.getElementById("IDENTPUBLICA").value != undefined && document.getElementById("IDENTPUBLICA").value != "") {
            BloquearPantalla();
            var msg = "";
            var key = 0;
            var formdata = new FormData($("#frmGestionUsuarios")[0]);
            $.ajax({
                type: "POST",
                url: URLSERVICIO_IMEI + "/GestorUsuario/ListarInsExtByEntPubEdit_EditarUser",
                contentType: false,
                processData: false,
                dataType: "json",
                data: formdata,
                success: function (data) {
                    msg = data;


                },
                error: function (jqXHR, textStatus, errorThrown) {
                    DesbloquearPantalla();
                    console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                    mostrarMensajeError("Error al intentar cargar la info para crear un nuevo parametro");
                },
                complete: function () {
                    var idDivMod = $("#contInsExteUser");
                    idDivMod.html("");
                    idDivMod.html(msg);
                    DesbloquearPantalla();
                    var html = "";
                    html = "";
                    html += "<select class='input-content' id='nomEntPublica' name='nomEntPublica' style='width:100%;' title='Tipo de Solicitante'>";
                    html += "<option value=''>Seleccione una Opción</option>";
                    html += "</select>";
                    $("#contUEP").html(html);
                    document.getElementById("txtCorreoFinal").innerText = "";
                }
            });
        } else {
            var html = "";
            html += "<select class='input-content' id='NUM_RUC' onchange='numRucChange();' name='NUM_RUC' style='width:100%;' title='Tipo de Solicitante'>";
            html += "<option value=''>Seleccione una Opción</option>";
            html += "</select>";
            $("#contInsExteUser").html(html);

            html = "";
            html += "<select class='input-content' id='nomEntPublica' name='nomEntPublica' style='width:100%;' title='Tipo de Solicitante'>";
            html += "<option value=''>Seleccione una Opción</option>";
            html += "</select>";
            $("#contUEP").html(html);
            document.getElementById("txtCorreoFinal").innerText = "";
        }
    });

    $("#NUM_RUC").change(function () {
        //alert("ddadada");
        numRucChange();
       
    });

    function numRucChange() {
        if (document.getElementById("NUM_RUC").value != undefined && document.getElementById("NUM_RUC").value != "") {
            BloquearPantalla();
            var msg = "";
            var key = 0;
            var formdata = new FormData($("#frmGestionUsuarios")[0]);
            $.ajax({
                type: "POST",
                url: URLSERVICIO_IMEI + "/GestorUsuario/CargarUnidadEPByEP_EditarUser",
                contentType: false,
                processData: false,
                dataType: "json",
                data: formdata,
                success: function (data) {
                    msg = data;


                },
                error: function (jqXHR, textStatus, errorThrown) {
                    DesbloquearPantalla();
                    console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                    mostrarMensajeError("Error al intentar cargar la info para crear un nuevo parametro");
                },
                complete: function () {
                    var idDivMod = $("#contUEP");
                    idDivMod.html("");
                    idDivMod.html(msg);
                    DesbloquearPantalla();
                    document.getElementById("txtCorreoFinal").innerText = "";
                }
            });
        } else {
            var html = "";
            html += "<select class='input-content' id='nomEntPublica' name='nomEntPublica' style='width:100%;' title='Tipo de Solicitante'>";
            html += "<option value=''>Seleccione una Opción</option>";
            html += "</select>";
            $("#contUEP").html(html);
            document.getElementById("txtCorreoFinal").innerText = "";
        }
    }

   

    $("#DES_CORELE").keyup(function (e) {
        //alert(e.keyCode);
        if (document.getElementById("nomEntPublica").value != undefined && document.getElementById("nomEntPublica").value != "") {
            if (e.keyCode != 46) {
                var arr = document.getElementById("nomEntPublica").value.split("//");
                document.getElementById("txtCorreoFinal").innerText = document.getElementById("DES_CORELE").value + arr[1];
            }
        } else {
            mostrarMensajeError("Debe seleccionar una Unidad de Entidad Pública");
            document.getElementById("DES_CORELE").value = "";
            document.getElementById("txtCorreoFinal").innerText = "";
            return true;
        }


    });
    $('#NUM_DOCIDE').attr('readonly', true);
    $('#COD_DOCIDE').attr('readonly', true);
    //$('#COD_DOCIDE').attr("disabled", true); 
   /* $('#DES_APEPAT').attr('readonly', true);
    $('#DES_NOmBRE_LAST').attr('readonly', true);
    $('#DES_NOMBRE').attr('readonly', true);
    $('#DES_APEMAT').attr('readonly', true);*/
    $('#DES_APEPAT').attr('readonly', false);
    $('#DES_NOmBRE_LAST').attr('readonly', false);
    $('#DES_NOMBRE').attr('readonly', false);
    $('#DES_APEMAT').attr('readonly', false);
    $('#DES_APEPAT').css('background', 'transparent');
    $('#DES_NOmBRE_LAST').css('background', 'transparent');
    $('#DES_NOMBRE').css('background', 'transparent');
    $('#DES_APEMAT').css('background', 'transparent');
    
    

    function fn_ActualizarUsuarioEP() {
        BloquearPantalla();
        var mensaje = fn_ValidarActualizarUsuarioEP();
        if (mensaje === "") {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-secondary'
                },
                buttonsStyling: false
            });
            swalWithBootstrapButtons.fire({
                title: MSJ_MENSAJE_SISTEMA,
                text: "¿Desea actualizar el Usuario EP?",
                type: 'question',
                showCancelButton: true,
                confirmButtonText: 'Aceptar',
                cancelButtonText: 'Cancelar',
                reverseButtons: false
            }).then(function (result) {

                if (result.value) {
                    fn_ActualizarFnUsuarioEP();
                } else {
                    DesbloquearPantalla();
                    var divEditaParametro = $("#divEditarUsuario");
                    divEditaParametro.html("");
                    $("#modalEditarUsuario").modal("hide");
                    $("#divEditarUsuario").html("");
                }
            });
            //window.open("ArchivoExcelUser/Credenciales de Usuarios.xlsx", 'Download');
            //window.open('../ArchivoExcelUser/Credenciales de Usuarios.xlsx', '', 'width=,height=,resizable=no');
        } else {
            DesbloquearPantalla();
            mostrarMensajeError(mensaje);
        }
    }

    function fn_ValidarActualizarUsuarioEP() {
        var mensaje = "";
        var txtPerfil = $("#IDPERFIL").val();
        if (txtPerfil == "") {
            mensaje += "* Seleccione un Perfil ";
            mensaje += "<br/>";
        }
        var txtSegundoApellido = $("#DES_APEMAT").val();
        if (txtSegundoApellido == "") {
            mensaje += "* Ingrese su Segundo Apellido ";
            mensaje += "<br/>";
        }
        var ddlModulo = $("#IDMODULO").val();
        if (ddlModulo == "") {
            mensaje += "* Seleccione un Módulo ";
            mensaje += "<br/>";
        }
        var txtPrimNombre = $("#DES_NOMBRE").val();
        if (txtPrimNombre == "") {
            mensaje += "* Ingrese su Primer Nombre ";
            mensaje += "<br/>";
        }
        var ddlEntidadPublica = $("#IDENTPUBLICA").val();
        if (ddlEntidadPublica == "") {
            mensaje += "* Seleccione una Entidad Pública ";
            mensaje += "<br/>";
        }
        /*var txtSegundoNombre = $("#DES_NOmBRE_LAST").val();
        if (txtSegundoNombre == "") {
            mensaje += "* Ingrese su Segundo Nombre ";
            mensaje += "<br/>";
        }*/
        var ddlInsExterna = $("#NUM_RUC").val();
        if (ddlInsExterna == "") {
            mensaje += "* Seleccione una Unidad de Entidad Pública ";
            mensaje += "<br/>";
        }
        var ddlUnidadEP = $("#nomEntPublica").val();
        if (ddlUnidadEP == "") {
            mensaje += "* Seleccione una Sub Unidad de Entidad Pública ";
            mensaje += "<br/>";
        }
        var txtTelefono = $("#DES_TLFFIJ").val();
        if (txtTelefono == "") {
            mensaje += "* Ingrese un Teléfono ";
            mensaje += "<br/>";
        }
        var ddlTipoDocumento = $("#COD_DOCIDE").val();
        if (ddlTipoDocumento == "") {
            mensaje += "* Seleccione un Tipo de Documento ";
            mensaje += "<br/>";
        }
        var txtCelular = $("#DES_TLFMVL").val();
        if (txtCelular == "") {
            mensaje += "* Ingrese su Celular ";
            mensaje += "<br/>";
        }
        var txtNroDocumento = $("#NUM_DOCIDE").val();
        if (txtNroDocumento == "") {
            mensaje += "* Ingrese su Número de Documento ";
            mensaje += "<br/>";
        }
        var txtDireccion = $("#DIRECCION").val();
        if (txtDireccion == "") {
            mensaje += "* Ingrese su Dirección ";
            mensaje += "<br/>";
        }
        var txtPrimerApellido = $("#DES_APEPAT").val();
        if (txtPrimerApellido == "") {
            mensaje += "* Ingrese Primer Apellido ";
            mensaje += "<br/>";
        }
        var txtCorreoElectronico = $("#DES_CORELE").val();
        if (txtCorreoElectronico == "") {
            mensaje += "* Ingrese Correo Electronico ";
            mensaje += "<br/>";
        }
        var ddlSexo = $("#IND_SEXO").val();
        if (ddlSexo == "") {
            mensaje += "* Seleccione Sexo ";
            mensaje += "<br/>";
        }
        var CARGO = $("#CARGO").val();
        if (CARGO == "") {
            mensaje += "* Ingrese Cargo ";
            mensaje += "<br/>";
        }
        
        return mensaje;
    }

    function fn_ActualizarFnUsuarioEP(){
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-secondary'
            },
            buttonsStyling: false,
        });
        var msg = "";
        var key = 0;
        var formdata = new FormData($("#frmGestionUsuarios")[0]);
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/GestorUsuario/ActualizarrFinUsuarioEP",
            contentType: false,
            processData: false,
            dataType: "json",
            data: formdata,
            success: function (data) {
                key = data.key;
                msg = data.value;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                DesbloquearPantalla();
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);

            },
            complete: function () {

                if (key == "0") {
                    DesbloquearPantalla();
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    swalWithBootstrapButtons.fire({
                        title: MSJ_MENSAJE_SISTEMA,
                        text: msg,
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar',
                        reverseButtons: false
                    }).then(function (result) {
                        if (result.value) {
                            //window.location = URLSERVICIO_IMEI + '/GestorUsuario/DescargarUsuarioCredenciales';


                            setTimeout('fn_Cancelar()', 1000);
                            DesbloquearPantalla();

                        }
                    });
                } else if (key == "2") {
                    DesbloquearPantalla();
                    mostrarMensajeError(msg);
                }
            }
        });
    }
</script>

