﻿@model Osiptel.SIGREI.BE.BeInsExterna;
@{
    ViewData["Title"] = "_EditarInsExterna";
}

<div class="row">

    <div class="col-md-5 col-xs-3 ">
        @Html.TextBoxFor(model => model.NUM_RUC_ACT, new { @class = "input-content", @MaxLength = "50", style = "width: 100%;display:none;" })

    </div>

</div>
<div class="row">
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Entidad Pública
            </label>
        </label>
    </div>
    <div class="col-md-5 col-xs-3">
        @Html.DropDownListFor(m => m.IDENTPUBLICA, new SelectList(ViewBag.Lista_EPublica, "valor", "descripcion"), "Seleccione", new { title = "Estado", @class = "input-content ", style = "width: 100%;" })
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Tipo de Unidad EP
            </label>
        </label>
    </div>
    <div class="col-md-5 col-xs-3">
        @Html.DropDownListFor(m => m.TIP_INSTEXT, new SelectList(ViewBag.Lista_TInstitucion, "valor", "descripcion"), "Seleccione", new { title = "Estado", @class = "input-content ", style = "width: 100%;" })
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                RUC
            </label>
        </label>
    </div>
    <div class="col-md-3 col-xs-3 ">
        @Html.TextBoxFor(model => model.NUM_RUC, new { @class = "input-content", @MaxLength = "50", style = "width: 100%;background: gray;" })

    </div>
    <div>
        <button type="button" id="btnSunat" class="btn class-button-bandeja" disabled>
            SUNAT
        </button>
    </div>

</div>

<div class="row">
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Razón Social
            </label>
        </label>
    </div>
    <div class="col-md-5 col-xs-3 ">
        @Html.TextBoxFor(model => model.DES_RAZ_SOC, new { @class = "input-content", @maxlength = "160", style = "width: 100%;background: gray;" })

    </div>

</div>
<div class="row">
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Estado
            </label>
        </label>
    </div>
    <div class="col-md-5 col-xs-3">
        @Html.DropDownListFor(m => m.ACTIVO, new SelectList(ViewBag.Lista_Estado, "IDESTADO", "ESTADO"), "Seleccione", new { title = "Estado", @class = "input-content ", style = "width: 100%;" })

    </div>
</div>


<div class="row">
    <div class="col-md-12 col-xs-12 text-right">
        <button type="button" id="btnActualizarIE" class="btn class-button-bandeja">
            Actualizar
        </button>
        <button type="button" class="btn btn-secondary btn-cancelar" id="btnCancelar">Cancelar</button>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        
        $('#NUM_RUC').attr('readonly', true);
        $('#DES_RAZ_SOC').attr('readonly', true);
        $("#btnSunat").click(function () {
            if (document.getElementById("NUM_RUC").value != "" && document.getElementById("NUM_RUC").value != undefined) {
                //document.getElementById("DES_RAZ_SOC").value = "Carlos Zavala Gonzales"
                if (document.getElementById("NUM_RUC").value != "" && document.getElementById("NUM_RUC").value != undefined) {
                    //document.getElementById("DES_RAZ_SOC").value = "Carlos Zavala Gonzales"

                    BloquearPantalla();
                    var msg = "";
                    var key = 0;
                    var formdata = new FormData($("#frmGestionPerfil")[0]);
                    $.ajax({
                        type: "POST",
                        url: URLSERVICIO_IMEI + "/GestorUsuario/ConsultarRuc",
                        contentType: false,
                        processData: false,
                        dataType: "json",
                        data: formdata,
                        success: function (data) {
                            //msg = data;
                            //console.log(data);
                            var retorno = data;
                            console.log(retorno);
                            var arr = retorno.split("//");
                            if (arr[1].trim() == "0") {
                                mostrarMensajeError(arr[0]);
                                document.getElementById("DES_RAZ_SOC").value = "";

                            } else {
                                document.getElementById("DES_RAZ_SOC").value = arr[0];
                            }
                            DesbloquearPantalla();
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            DesbloquearPantalla();
                            console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                            mostrarMensajeError("Error al intentar cargar la info para crear un nuevo parametro");
                        },
                        complete: function () {
                            /*var idDivMod = $("#contInsExteUser");
                            idDivMod.html("");
                            idDivMod.html(msg);*/
                            DesbloquearPantalla();
                        }
                    });
                } else {
                    mostrarMensajeError("Ingrese un Número de RUC");
                }
            } else {
                mostrarMensajeError("Ingrese un Número de RUC");
            }
        });
        $("#btnCancelar").click(function () {
            $("#modalEditarParametro").modal("hide");
            $("#divEditarParametro").html("");
        });
        $("#btnActualizarIE").click(function () {
            var mensaje = fn_ValidarActualizarIE();
            if (mensaje === "") {
                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-secondary'
                    },
                    buttonsStyling: false
                });
                swalWithBootstrapButtons.fire({
                    title: MSJ_MENSAJE_SISTEMA,
                    text: "¿Desea actualizar la " + $('select[name="ddlParametro"] option:selected').text() + "?",
                    type: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Aceptar',
                    cancelButtonText: 'Cancelar',
                    reverseButtons: false
                }).then(function (result) {
                    if (result.value) {
                        fn_ActualizarInstExterna();
                    } else {
                        DesbloquearPantalla();
                        $("#divEditarParametro").html("");
                    }
                });
            } else {
                mostrarMensajeError(mensaje);
            }
        });
    });

    function fn_ActualizarInstExterna() {

        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-secondary'
            },
            buttonsStyling: false,
        });
        var msg = "";
        var key = 0;
        var formdata = new FormData($("#frmGestionPerfil")[0]);
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/GestorUsuario/ActualizarInsExterna",
            contentType: false,
            processData: false,
            dataType: "json",
            data: formdata,
            success: function (data) {
                key = data.key;
                msg = data.value;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);

            },
            complete: function () {
                if (key == "0") {
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    swalWithBootstrapButtons.fire({
                        title: MSJ_MENSAJE_SISTEMA,
                        text: msg,
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar',
                        reverseButtons: false
                    }).then(function (result) {
                        if (result.value) {
                            $("#modalEditarParametro").modal("hide");
                            $("#divEditarParametro").html("");
                            parent.fn_ListarParametro();
                        }
                    });
                } else if (key == "2") {
                    mostrarMensajeError(msg);
                }
            }
        });
    }

    function fn_ValidarActualizarIE() {
        var mensaje = "";
        var txtTipInstitucion = $("#TIP_INSTEXT").val();
        if (txtTipInstitucion == "") {
            mensaje += "* Seleccione un Tipo de Institución";
            mensaje += "<br/>";
        }
        var txtEntPublica = $("#IDENTPUBLICA").val();
        if (txtEntPublica == "") {
            mensaje += "* Seleccione una Entidad Pública";
            mensaje += "<br/>";
        }
        var txtRuc = $("#NUM_RUC").val();
        if (txtRuc == "") {
            mensaje += "* Ingrese un RUC";
            mensaje += "<br/>";
        }
        var txtRazSocial = $("#DES_RAZ_SOC").val();
        if (txtRazSocial == "") {
            mensaje += "* El Número de RUC no ha sido validado";
            mensaje += "<br/>";
        }




        return mensaje;

    }
</script>



