﻿@model Osiptel.SIGREI.BE.BeInsExterna;
@{
    ViewData["Title"] = "_NuevaIEducativa";
}
@{
    @using Microsoft.AspNetCore.Http;

    var contraseniaws = (String)Context.Session.GetString("ContraWS");

}
<div class="row">
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Entidad Pública
            </label>
        </label>
    </div>
    <div class="col-md-5 col-xs-3">
        @Html.DropDownList("ddlEPublica", new SelectList(ViewBag.Lista_EPublica, "valor", "descripcion"), "Seleccione", new { title = "Estado", @class = "input-content ", style = "width: 100%;" })
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Tipo de Unidad EP
            </label>
        </label>
    </div>
    <div class="col-md-5 col-xs-3">
        @Html.DropDownList("ddlTInstitucion", new SelectList(ViewBag.Lista_TInstitucion, "valor", "descripcion"), "Seleccione", new { title = "Estado", @class = "input-content ", style = "width: 100%;" })
    </div>
</div>
<!--<div class="row">
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Contraseña Service Web
            </label>
        </label>
    </div>
    <div class="col-md-3 col-xs-3 ">
        @Html.TextBoxFor(model => model.TIP_INSTEXT, @contraseniaws, new { @class = "input-content", style = "width: 100%;", @type = "password" })

    </div>

</div>-->
<div class="row">
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                RUC
            </label>
        </label>
    </div>
    <div class="col-md-3 col-xs-3 ">
        @Html.TextBoxFor(model => model.NUM_RUC, "", new { @class = "input-content", @maxlength = "11", style = "width: 100%;" })

    </div>
    <div>
        <button type="button" id="btnSunat" class="btn class-button-bandeja">
            SUNAT
        </button>
    </div>

</div>
<div class="row">
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Razón Social
            </label>
        </label>
    </div>
    <div class="col-md-5 col-xs-3 ">
        @Html.TextBoxFor(model => model.DES_RAZ_SOC, "", new { @class = "input-content", @maxlength = "160", style = "width: 100%;background: gray;" })

    </div>

</div>



<div class="row">
    <div class="col-md-12 col-xs-12 text-right">
        <button type="button" id="btnGrarIE" class="btn class-button-bandeja">
            Grabar
        </button>
        <button type="button" class="btn btn-secondary btn-cancelar" id="btnCancelar">Cancelar</button>
    </div>
</div>

<script type="text/javascript">
    $('#NUM_RUC').on('input', function () {
        this.value = this.value.replace(/[^0-9]/g, '');
    });
    $('#DES_RAZ_SOC').attr('readonly', true);


    $(function () {
        $("#btnCancelar").click(function () {
            $("#modalNuevoParametro").modal("hide");
            $("#divNuevoParametro").html("");
        });
        $("#btnSunat").click(function () {
            //if (document.getElementById("TIP_INSTEXT").value != "" && document.getElementById("TIP_INSTEXT").value != undefined) {
                if (document.getElementById("NUM_RUC").value != "" && document.getElementById("NUM_RUC").value != undefined) {
                    //document.getElementById("DES_RAZ_SOC").value = "Carlos Zavala Gonzales"
                    MostrarCargando();
                    //BloquearPantalla();
                    var msg = "";
                    var key = 0;
                    var formdata = new FormData($("#frmGestionPerfil")[0]);
                    $.ajax({
                        type: "POST",
                        url: URLSERVICIO_IMEI + "/GestorUsuario/ConsultarRuc",
                        contentType: false,
                        processData: false,
                        dataType: "json",
                        data: formdata,
                        success: function (data) {
                            //msg = data;
                            //console.log(data);
                            var retorno = data;
                            console.log(retorno);
                            var arr = retorno.split("//");
                            if (arr[1].trim() == "0") {
                                mostrarMensajeError(arr[0]);
                                document.getElementById("DES_RAZ_SOC").value = "";

                            } else {
                                document.getElementById("DES_RAZ_SOC").value = arr[0];
                            }
                            //DesbloquearPantalla();
                            CerrarCargando();
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            //DesbloquearPantalla();
                            CerrarCargando();
                            console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                            mostrarMensajeError("Error al intentar cargar la info para crear un nuevo parametro");
                        },
                        complete: function () {
                            /*var idDivMod = $("#contInsExteUser");
                            idDivMod.html("");
                            idDivMod.html(msg);*/
                            //DesbloquearPantalla();
                            CerrarCargando();
                        }
                    });
                } else {
                    mostrarMensajeError("Ingrese un Número de RUC");
                }
            /*} else {
                mostrarMensajeError("Ingrese un Contraseña para validar el RUC ingresado");
            }*/


        });


        $("#btnGrarIE").click(function () {
            var mensaje = fn_ValidarRegistroIE();
            if (mensaje === "") {
                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-secondary'
                    },
                    buttonsStyling: false
                });
                swalWithBootstrapButtons.fire({
                    title: MSJ_MENSAJE_SISTEMA,
                    text: "¿Desea registrar el nuevo " + $('select[name="ddlParametro"] option:selected').text() + "?",
                    type: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Aceptar',
                    cancelButtonText: 'Cancelar',
                    reverseButtons: false
                }).then(function (result) {
                    if (result.value) {
                        fn_GrabarInsExterna();
                    } else {
                        DesbloquearPantalla();
                        $("#divNuevoParametro").html("");
                    }
                });
            } else {
                mostrarMensajeError(mensaje);
            }
        });
    });

    function fn_GrabarInsExterna() {

        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-secondary'
            },
            buttonsStyling: false,
        });
        var msg = "";
        var key = 0;
        var formdata = new FormData($("#frmGestionPerfil")[0]);
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/GestorUsuario/GrabarInsExterna",
            contentType: false,
            processData: false,
            dataType: "json",
            data: formdata,
            success: function (data) {
                key = data.key;
                msg = data.value;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);

            },
            complete: function () {
                if (key == "0") {
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    swalWithBootstrapButtons.fire({
                        title: MSJ_MENSAJE_SISTEMA,
                        text: msg,
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar',
                        reverseButtons: false
                    }).then(function (result) {
                        if (result.value) {
                            $("#modalNuevoParametro").modal("hide");
                            $("#divNuevoParametro").html("");
                            parent.fn_ListarParametro();
                        }
                    });
                } else if (key == "2") {
                    mostrarMensajeError(msg);
                }
            }
        });
    }

    function fn_ValidarRegistroIE() {
        var mensaje = "";
        var txtTipInstitucion = $("#ddlTInstitucion").val();
        if (txtTipInstitucion == "") {
            mensaje += "* Seleccione un Tipo de Institución";
            mensaje += "<br/>";
        }
        var txtEntPublica = $("#ddlEPublica").val();
        if (txtEntPublica == "") {
            mensaje += "* Seleccione una Entidad Pública";
            mensaje += "<br/>";
        }

        var txtRuc = $("#NUM_RUC").val();
        if (txtRuc == "") {
            mensaje += "* Ingrese un RUC";
            mensaje += "<br/>";
        }
        var txtRazSocial = $("#DES_RAZ_SOC").val();
        if (txtRazSocial == "") {
            mensaje += "* El Número de RUC no ha sido validado";
            mensaje += "<br/>";
        }
        /*var txtTIP_INSTEXT = $("#TIP_INSTEXT").val();
        if (txtTIP_INSTEXT == "") {
            mensaje += "* Ingrese una contraseña para consulta a SUNAT";
            mensaje += "<br/>";
        }*/




        return mensaje;

    }

</script>
