﻿@model Osiptel.SIGREI.BE.BeUnidadEp;
@{
    ViewData["Title"] = "";
    Layout = "";
}
<div class="row">
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Entidad Pública
            </label>
        </label>
    </div>
    <div class="col-md-5 col-xs-3">
        @Html.DropDownList("ddlEPublica", new SelectList(ViewBag.Lista_EPublica, "valor", "descripcion"), "Seleccione", new { title = "Estado", @class = "input-content ", style = "width: 100%;" })
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Unidad EP
            </label>
        </label>
    </div>
    <div id="contInsExte" class="col-md-5 col-xs-3">
        @Html.DropDownList("ddlInsExterna", new SelectList(ViewBag.Lista_InsExterna, "NUM_RUC", "DES_RAZ_SOC"), "Seleccione", new { title = "Estado", @class = "input-content ", style = "width: 100%;" })
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Nombre de Sub Unidad EP
            </label>
        </label>
    </div>
    <div class="col-md-5 col-xs-3 ">
        @Html.TextBoxFor(model => model.nomUniEntPublica, new { @class = "input-content", @MaxLength = "50", style = "width: 100%;" })

    </div>

</div>
<div class="row">
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Departamento
            </label>
        </label>
    </div>
    <div id="contInsExte" class="col-md-5 col-xs-3">
        @Html.DropDownList("ListaDepartamento", new SelectList(ViewBag.ListaDepartamento, "id", "descripcion"), "Seleccione", new { title = "Estado", @class = "input-content ", style = "width: 100%;" })
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Provincia
            </label>
        </label>
    </div>
    <div id="contProvincia" class="col-md-5 col-xs-3">
        @Html.DropDownList("ListaProvincia", new SelectList(ViewBag.ListaProvincia, "IDPP", "PROVINCIA"), "Seleccione", new { title = "Estado", @class = "input-content ", style = "width: 100%;" })
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Distrito
            </label>
        </label>
    </div>
    <div id="contDistrito" class="col-md-5 col-xs-3">
        @Html.DropDownList("ListaDistrito", new SelectList(ViewBag.ListaDistrito, "IDDIS", "DISTRITO"), "Seleccione", new { title = "Estado", @class = "input-content ", style = "width: 100%;" })
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Dirección
            </label>
        </label>
    </div>
    <div class="col-md-5 col-xs-3 ">
        @Html.TextBoxFor(model => model.direccion, new { @class = "input-content", @MaxLength = "50", style = "width: 100%; " })

    </div>

</div>
<div class="row">
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Teléfono
            </label>
        </label>
    </div>
    <div class="col-md-5 col-xs-3 ">
        @Html.TextBoxFor(model => model.telefono, new { @class = "input-content", @MaxLength = "9", style = "width: 100%; " })

    </div>

</div>
<div class="row">
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Extensión de Correo E.
            </label>
        </label>
    </div>
    <div class="col-md-5 col-xs-3 ">
        @Html.TextBoxFor(model => model.extCorreo, new { @class = "input-content", @MaxLength = "50", style = "width: 100%;" })

    </div>

</div>
<!--<div class="row">
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Estado
            </label>
        </label>
    </div>
    <div class="col-md-5 col-xs-3">
        @Html.DropDownList("ddlEstadoNuevo", new SelectList(ViewBag.Lista_Estado, "IDESTADO", "ESTADO"), "Seleccione", new { title = "Estado", @class = "input-content ", style = "width: 100%;" })
    </div>
</div>-->
@Html.TextBoxFor(model => model.idUnidadEP, new { @class = "input-content", @MaxLength = "50", style = "width: 100%; display:none;" })


<div class="row">
    <div class="col-md-12 col-xs-12 text-right">
        <button type="button" id="btnGrabarNuevoEP" class="btn class-button-bandeja">
            Grabar
        </button>
        <button type="button" class="btn btn-secondary btn-cancelar" id="btnCancelar">Cancelar</button>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ListaDepartamento").change(function () {
            if (document.getElementById("ListaDepartamento").value != undefined && document.getElementById("ListaDepartamento").value != "") {
                BloquearPantalla();
                var msg = "";
                var key = 0;
                var formdata = new FormData($("#frmGestionPerfil")[0]);
                $.ajax({
                    type: "POST",
                    url: URLSERVICIO_IMEI + "/GestorUsuario/ListarProByDepartamento",
                    contentType: false,
                    processData: false,
                    dataType: "json",
                    data: formdata,
                    success: function (data) {
                        msg = data;


                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        DesbloquearPantalla();
                        console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                        mostrarMensajeError("Error al intentar cargar la info para crear un nuevo parametro");
                    },
                    complete: function () {
                        var idDivMod = $("#contProvincia");
                        idDivMod.html("");
                        idDivMod.html(msg);
                        DesbloquearPantalla();
                        var html = "";

                        html = "";
                        html += "<select class='input-content' id='ListaDistrito' name='ListaDistrito' style='width:100%;' title='Tipo de Solicitante'>";
                        html += "<option value=''>Seleccione una Opción</option>";
                        html += "</select>";
                        $("#contDistrito").html(html);
                    }
                });
            } else {
                var html = "";

                html = "";
                html += "<select class='input-content' id='ListaProvincia' name='ListaProvincia' style='width:100%;' title='Tipo de Solicitante'>";
                html += "<option value=''>Seleccione una Opción</option>";
                html += "</select>";
                $("#contProvincia").html(html);
                var html = "";

                html = "";
                html += "<select class='input-content' id='ListaDistrito' name='ListaDistrito' style='width:100%;' title='Tipo de Solicitante'>";
                html += "<option value=''>Seleccione una Opción</option>";
                html += "</select>";
                $("#contDistrito").html(html);
            }
        });

        $("#ListaProvincia").change(function () {
            //alert("dasdasd");
            if (document.getElementById("ListaProvincia").value != undefined && document.getElementById("ListaProvincia").value != "") {
                BloquearPantalla();
                var msg = "";
                var key = 0;
                var formdata = new FormData($("#frmGestionPerfil")[0]);
                $.ajax({
                    type: "POST",
                    url: URLSERVICIO_IMEI + "/GestorUsuario/ListarDisByProvincia",
                    contentType: false,
                    processData: false,
                    dataType: "json",
                    data: formdata,
                    success: function (data) {
                        msg = data;


                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        DesbloquearPantalla();
                        console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                        mostrarMensajeError("Error al intentar cargar la info para crear un nuevo parametro");
                    },
                    complete: function () {
                        var idDivMod = $("#contDistrito");
                        idDivMod.html("");
                        idDivMod.html(msg);
                        DesbloquearPantalla();
                    }
                });
            } else {
                var html = "";

                html = "";
                html += "<select class='input-content' id='ListaDistrito' name='ListaDistrito' style='width:100%;' title='Tipo de Solicitante'>";
                html += "<option value=''>Seleccione una Opción</option>";
                html += "</select>";
                $("#contDistrito").html(html);
            }
        });
        
    });
    function listarDistritos(){
        if (document.getElementById("ListaProvincia").value != undefined && document.getElementById("ListaProvincia").value != "") {
            BloquearPantalla();
            var msg = "";
            var key = 0;
            var formdata = new FormData($("#frmGestionPerfil")[0]);
            $.ajax({
                type: "POST",
                url: URLSERVICIO_IMEI + "/GestorUsuario/ListarDisByProvincia",
                contentType: false,
                processData: false,
                dataType: "json",
                data: formdata,
                success: function (data) {
                    msg = data;


                },
                error: function (jqXHR, textStatus, errorThrown) {
                    DesbloquearPantalla();
                    console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                    mostrarMensajeError("Error al intentar cargar la info para crear un nuevo parametro");
                },
                complete: function () {
                    var idDivMod = $("#contDistrito");
                    idDivMod.html("");
                    idDivMod.html(msg);
                    DesbloquearPantalla();
                }
            });
        } else {
            var html = "";

            html = "";
            html += "<select class='input-content' id='ListaDistrito' name='ListaDistrito' style='width:100%;' title='Tipo de Solicitante'>";
            html += "<option value=''>Seleccione una Opción</option>";
            html += "</select>";
            $("#contDistrito").html(html);
        }
    }
    $("#ddlEPublica").change(function () {
        if (document.getElementById("ddlEPublica").value != undefined && document.getElementById("ddlEPublica").value != "") {
            BloquearPantalla();
            var msg = "";
            var key = 0;
            var formdata = new FormData($("#frmGestionPerfil")[0]);
            $.ajax({
                type: "POST",
                url: URLSERVICIO_IMEI + "/GestorUsuario/ListarInsExtByEntPub",
                contentType: false,
                processData: false,
                dataType: "json",
                data: formdata,
                success: function (data) {
                    msg = data;


                },
                error: function (jqXHR, textStatus, errorThrown) {
                    DesbloquearPantalla();
                    console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                    mostrarMensajeError("Error al intentar cargar la info para crear un nuevo parametro");
                },
                complete: function () {
                    var idDivMod = $("#contInsExte");
                    idDivMod.html("");
                    idDivMod.html(msg);
                    DesbloquearPantalla();
                }
            });
        } else {
            var html = "";
            html += "<select class='input-content' id='ddlInsExterna' name='ddlInsExterna' style='width:100%;' title='Tipo de Solicitante'>";
            html += "<option value=''>Seleccione una Opción</option>";
            html += "</select>";
            $("#contInsExte").html(html);
        }
    });
    $("#extCorreo").keypress(function (e) {
        //alert(e.keyCode);
        if (e.keyCode == 64) {
            tecla = (document.all) ? e.keyCode : e.which;

            //Tecla de retroceso para borrar, siempre la permite
            if (tecla == 8) {
                return true;
            }

            // Patron de entrada, en este caso solo acepta numeros y letras
            patron = /[A-Za-z0-9]/;
            tecla_final = String.fromCharCode(tecla);
            return patron.test(tecla_final);
        }

    });

    $('#telefono').on('input', function () {
        this.value = this.value.replace(/[^0-9]/g, '');
    });

    $(function () {
        $("#btnCancelar").click(function () {
            $("#modalNuevoParametro").modal("hide");
            $("#divNuevoParametro").html("");
        });
        $("#btnGrabarNuevoEP").click(function () {
            var mensaje = fn_ValidarRegistroUnidadEP();
            if (mensaje === "") {
                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-secondary'
                    },
                    buttonsStyling: false
                });
                swalWithBootstrapButtons.fire({
                    title: MSJ_MENSAJE_SISTEMA,
                    text: "¿Desea registrar la nueva " + $('select[name="ddlParametro"] option:selected').text() + "?",
                    type: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Aceptar',
                    cancelButtonText: 'Cancelar',
                    reverseButtons: false
                }).then(function (result) {
                    if (result.value) {
                        fn_GrabarUnidadEP();
                    } else {
                        DesbloquearPantalla();
                        $("#divNuevoParametro").html("");
                    }
                });
            } else {
                mostrarMensajeError(mensaje);
            }
        });
        $("#btnValidarRuc").click(function () {
            if (document.getElementById("nroRuc").value != "" && document.getElementById("nroRuc").value != undefined) {
                document.getElementById("razSocial").value = "SERVICIOS GENERALES";
                document.getElementById("direccion").value = "SANTA INES 540";
            } else {
                alert("Debe de ingresar un número de Ruc..");
            }
        });
    });

    function fn_GrabarUnidadEP() {

        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-secondary'
            },
            buttonsStyling: false,
        });
        var msg = "";
        var key = 0;
        var formdata = new FormData($("#frmGestionPerfil")[0]);
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/GestorUsuario/GrabarUnidadEP",
            contentType: false,
            processData: false,
            dataType: "json",
            data: formdata,
            success: function (data) {
                key = data.key;
                msg = data.value;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);

            },
            complete: function () {
                if (key == "0") {
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    swalWithBootstrapButtons.fire({
                        title: MSJ_MENSAJE_SISTEMA,
                        text: msg,
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar',
                        reverseButtons: false
                    }).then(function (result) {
                        if (result.value) {
                            $("#modalNuevoParametro").modal("hide");
                            $("#divNuevoParametro").html("");
                            parent.fn_ListarParametro();
                        }
                    });
                } else if (key == "2") {
                    mostrarMensajeError(msg);
                }
            }
        });
    }

    function fn_ValidarRegistroUnidadEP() {
        var mensaje = "";
        var ddlEPublica = $("#ddlEPublica").val();
        if (ddlEPublica == "") {
            mensaje += "* Debe de seleccionar una Entidad pública";
            mensaje += "<br/>";
        }
        var ddlInsExterna = $("#ddlInsExterna").val();
        if (ddlInsExterna == "") {
            mensaje += "* Debe de seleccionar una Intitución Externa";
            mensaje += "<br/>";
        }

        var txtNombre = $("#nomUniEntPublica").val();
        if (txtNombre == "") {
            mensaje += "* Ingrese un Nombre";
            mensaje += "<br/>";
        } 
        var ListaDepartamento = $("#ListaDepartamento").val();
        if (ListaDepartamento == "") {
            mensaje += "* Seleccione un Departamento";
            mensaje += "<br/>";
        } 
        var ListaProvincia = $("#ListaProvincia").val();
        if (ListaProvincia == "") {
            mensaje += "* Seleccione una Provincia";
            mensaje += "<br/>";
        } 
        var ListaDistrito = $("#ListaDistrito").val();
        if (ListaDistrito == "") {
            mensaje += "* Seleccione un Distrito";
            mensaje += "<br/>";
        } 
        var txtDir = $("#direccion").val();
        if (txtDir == "") {
            mensaje += "* Ingrese una Dirección";
            mensaje += "<br/>";
        }
        var txtRuc = $("#telefono").val();
        if (txtRuc == "") {
            mensaje += "* Ingrese un Número de Teléfono";
            mensaje += "<br/>";
        }

        var txtExtC = $("#extCorreo").val();
        if (txtExtC == "") {
            mensaje += "* Ingrese una Extensión de Correo";
            mensaje += "<br/>";
        }

        /*var ddlEstado = $("#ddlEstadoNuevo").val();
        if (ddlEstado == "") {
            mensaje += "* Debe de seleccionar el estado";
            mensaje += "<br/>";
        }*/


        return mensaje;

    }


</script>

