﻿@model Osiptel.SIGREI.BE.BeAccesoOpcion;
@{
    ViewData["Title"] = "_NuevoModulo";
    Layout = "";
}

<div class="row">
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Tipo Menú
            </label>
        </label>
    </div>
    <div class="col-md-5 col-xs-3 ">
        @Html.DropDownList("ddlTipoMenu", new SelectList(ViewBag.Lista_Tip_Menu, "IDTIPMENU", "DESCRIPCION"), "Seleccione", new { title = "Estado", @class = "input-content ", style = "width: 100%;" })

    </div>

</div>
<div class="row" id="contPadres" style="display:none;">
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Menú Principal
            </label>
        </label>
    </div>
    <div class="col-md-5 col-xs-3 ">
        @Html.DropDownList("ddlMenprincipal", new SelectList(ViewBag.Lista_MPrincipal, "IDOPCION", "DESCRIPCION"), "Seleccione", new { title = "Estado", @class = "input-content ", style = "width: 100%;" })

    </div>

</div>
<div class="row" id="contDescripcion" style="display:none;">
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Descripción
            </label>
        </label>
    </div>
    <div class="col-md-5 col-xs-3 ">
        @Html.TextBoxFor(model => model.DESCRIPCION, new { @class = "input-content", @MaxLength = "50", style = "width: 100%;" })

    </div>

</div>
</div>
<div class="row" id="contRuta" style="display:none;">
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Ruta
            </label>
        </label>
    </div>
    <div class="col-md-5 col-xs-3 ">
        @Html.TextBoxFor(model => model.RUTA, new { @class = "input-content", @MaxLength = "50", style = "width: 100%;" })

    </div>

</div>

@Html.TextBoxFor(model => model.IDOPCION, new { @class = "input-content", @MaxLength = "50", style = "width: 100%; display:none;" })

<div class="row">
    <div class="col-md-12 col-xs-12 text-right">
        <button type="button" id="btnGrabarNuevo" class="btn class-button-bandeja">
            Grabar
        </button>
        <button type="button" class="btn btn-secondary btn-cancelar" id="btnCancelar">Cancelar</button>
    </div>
</div>

<script type="text/javascript">
    $('#RUTA').val("");
    //$("#frmGestionPerfil")[0].reset();
    //alert($('#RUTA').val());
    $("#ddlTipoMenu").change(function () {
      
        if ($(this).val() == "1") {
            document.getElementById("contRuta").style.display = 'none';
            document.getElementById("contPadres").style.display = 'none';
            document.getElementById("contDescripcion").style.display = 'block';

        } else if ($(this).val() == "0") {
            document.getElementById("contRuta").style.display = 'block';
            document.getElementById("contPadres").style.display = 'block';
            document.getElementById("contDescripcion").style.display = 'block';
        } else {
            document.getElementById("contRuta").style.display = 'none';
            document.getElementById("contPadres").style.display = 'none';
            document.getElementById("contDescripcion").style.display = 'none';
        }
    });
   

    $(function () {
        $("#btnCancelar").click(function () {
            $("#modalNuevoParametro").modal("hide");
            $("#divNuevoParametro").html("");
        });
        $("#btnGrabarNuevo").click(function () {
            var mensaje = fn_ValidarRegistroParametro();
            if (mensaje == "") {
                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-secondary'
                    },
                    buttonsStyling: false
                });
                swalWithBootstrapButtons.fire({
                    title: MSJ_MENSAJE_SISTEMA,
                    text: "¿Desea registrar el nuevo " + $('select[name="ddlParametro"] option:selected').text() + "?",
                    type: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Aceptar',
                    cancelButtonText: 'Cancelar',
                    reverseButtons: false
                }).then(function (result) {
                    if (result.value) {
                        fn_GrabarParametro();
                    } else {
                        DesbloquearPantalla();
                        $("#divNuevoParametro").html("");
                    }
                });
            } else {
                mostrarMensajeError(mensaje);
            }
        });
    });

    function fn_GrabarParametro() {

        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-secondary'
            },
            buttonsStyling: false,
        });
        var msg = "";
        var key = 0;
        //alert($('#RUTA').val());
        var formdata = new FormData($("#frmGestionPerfil")[0]);
        console.log(formdata);
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/GestorUsuario/GrabarMenu",
            contentType: false,
            processData: false,
            dataType: "json",
            data: formdata,
            success: function (data) {
                key = data.key;
                msg = data.value;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);

            },
            complete: function () {
                if (key == "0") {
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    swalWithBootstrapButtons.fire({
                        title: MSJ_MENSAJE_SISTEMA,
                        text: msg,
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar',
                        reverseButtons: false
                    }).then(function (result) {
                        if (result.value) {
                            $("#modalNuevoParametro").modal("hide");
                            $("#divNuevoParametro").html("");
                            parent.fn_ListarParametro();
                        }
                    });
                } else if (key == "2") {
                    mostrarMensajeError(msg);
                }
            }
        });
    }

    function fn_ValidarRegistroParametro() {
        var mensaje = "";

        if (document.getElementById("ddlTipoMenu").value == "1") {
            var txtNombre = $("#DESCRIPCION").val();
            if (txtNombre == "") {
                mensaje += "* Ingrese una Descripción";
                mensaje += "<br/>";
            }
        } else if (document.getElementById("ddlTipoMenu").value == "0") {
            var txtNombre = $("#DESCRIPCION").val();
            if (txtNombre == "") {
                mensaje += "* Ingrese una Descripción";
                mensaje += "<br/>";
            }


            var ddlEstado = $("#ddlMenprincipal").val();
            if (ddlEstado == "") {
                mensaje += "* Debe de seleccionar un Menu Principal";
                mensaje += "<br/>";
            }

            var txtRuta = $("#RUTA").val();
            if (txtRuta == "") {
                mensaje += "* Ingrese una Ruta";
                mensaje += "<br/>";
            }
        } else {
            mensaje += "* Complete los Datos";
            mensaje += "<br/>";
        }
       


        return mensaje;

    }
    
</script>
