﻿
@{
    ViewData["Title"] = "CargaMasicaUsuarioEP";
}


<form method="post" id="frmDescargarError" enctype="multipart/form-data" asp-controller="GestorUsuario" asp-action="DescargarError"></form>
<form method="post" id="frmRecargarPagina" enctype="multipart/form-data" asp-controller="GestorUsuario" asp-action="RecargarPaginaCarga"></form>
<form method="post" id="frmCargarUsuarioEP" enctype="multipart/form-data">
    <input type="hidden" id="hiidValorEditCar" name="hiidValorEditCar" />
    <input type="hidden" id="hiidValorElimCar" name="hiidValorElimCar" />
    <div class="container contenedor-bandeja" style="    margin-top: 28px;">
        <div class="row">
            <div class="col-md-12">
                <div class="content-header cabecera-formulario">
                    <h3 style="color: #ffffff">CARGA MASIVA -  NUEVO USUARIO</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="etiqueta">
                    Perfil
                </label>
            </div>
            <div class="col-md-3">
                @Html.DropDownList("ddlTipoPerfil", new SelectList(ViewBag.ddlTipoPerfil, "idPerfil", "descripcion"), "Seleccione una Opción", new { title = "Tipo de Solicitante", @class = "input-content ", style = "width: 100%;" })
            </div>

            <div class="col-md-3">
                <label class="etiqueta">
                    Módulo
                </label>
            </div>
            <div class="col-md-3" id="contenModulo">
                @Html.DropDownList("ddlModulo", new SelectList(ViewBag.ddlModlulo, "valor", "descripcion"), "Seleccione una Opción", new { title = "Tipo de Solicitante", @class = "input-content ", style = "width: 100%;" })
            </div>

        </div>

        <div class="row">
            <div class="col-md-3">
                <label class="etiqueta">
                    Entidad Pública
                </label>
            </div>
            <div class="col-md-3">
                @Html.DropDownList("ddlEPublica", new SelectList(ViewBag.ddlEntidadPublica, "valor", "descripcion"), "Seleccione una Opción", new { title = "Tipo de Solicitante", @class = "input-content ", style = "width: 100%;" })
            </div>
            <div class="col-md-3">
                <label class="etiqueta">
                    Unidad de Entidad Pública
                </label>
            </div>
            <div id="contInsExteUser" class="col-md-3">
                @Html.DropDownList("ddlInsExternaUser", new SelectList(ViewBag.Lista_InsExterna, "NUM_RUC", "DES_RAZ_SOC"), "Seleccione una Opción", new { title = "Tipo de Solicitante", @class = "input-content ", style = "width: 100%;" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="etiqueta">
                    Sub Unidad de Entidad Pública
                </label>
            </div>
            <div id="contUEP" class="col-md-3">
                @Html.DropDownList("ddlUnidadEP", new SelectList(ViewBag.ddlUnidadEP, "nomEntPublica", "nomUniEntPublica"), "Seleccione una Opción", new { title = "Tipo de Solicitante", @class = "input-content ", style = "width: 100%;" })
            </div>
            <!--<div class="col-md-3">
                <label class="etiqueta">
                    Contraseña Service Web
                </label>

            </div>
            <div class="col-md-3">
               
            </div>-->
        </div>
        <div class="row">
            <div class="col-md-2">
                <label class="etiqueta">
                    Descargar Formato
                </label>

            </div>
            <div class="col-md-1">
                <img src="~/images/iconexcel.png" style="    width: 31%;     margin-left: -100%; cursor:pointer" alt="Descargar Excel Aquí" onclick="DescargarFormatoExcel();" />
            </div>
            <div class="col-md-2">
                <label class="etiqueta">
                    Seleccionar Formato
                </label>
            </div>
            <div class="col-md-4" style="    margin-left: -5%;">
                <input type="file" id="fileCargaMasiva" name="fileCargaMasiva" class="form-control " title="Archivo máximo de 4MB" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
            </div>
            <div class="col-md-1">
                <button type="button" id="btnCargarArchivo" class="btn class-button-bandeja">
                    Cargar
                </button>
            </div>
        </div>

        <br />
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="content-header cabecera-formulario">
                    <h3 style="color: #ffffff">REGISTROS PARA PROCESAR</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="" id="divGrillaCargarUser">

                </div>
            </div>

        </div>
        <div class="row" style="    margin-top: 36px;">

            <div class="col-md-12" style="text-align:center">


                <button type="button" id="btnProcesarUsuarioEP" class="btn class-button-bandeja">
                    Procesar
                </button>

                <button type="button" id="btnCancelarRegistro" class="btn class-button-bandeja">
                    Cancelar
                </button>
            </div>
        </div>


    </div>
    <div class="modal fade bd-example-modal-lg" id="modalEditarCargMasiv" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lx" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="content-header cabecera-formulario">
                        <h3 style="color: #ffffff" > EDITAR USUARIO CARGA MASIVA</h3>
                    </div>
                    <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="" id="divEditarCargMasiv">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $("#ddlTipoPerfil").change(function () {
        if (document.getElementById("ddlTipoPerfil").value != undefined && document.getElementById("ddlTipoPerfil").value != "") {
            BloquearPantalla();
            var msg = "";
            var key = 0;
            var formdata = new FormData($("#frmCargarUsuarioEP")[0]);
            $.ajax({
                type: "POST",
                url: URLSERVICIO_IMEI + "/GestorUsuario/ListarModuloByPerfil",
                contentType: false,
                processData: false,
                dataType: "json",
                data: formdata,
                success: function (data) {
                    msg = data;


                },
                error: function (jqXHR, textStatus, errorThrown) {
                    DesbloquearPantalla();
                    console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                    mostrarMensajeError("Error al intentar cargar la info para crear un nuevo parametro");
                },
                complete: function () {
                    var idDivMod = $("#contenModulo");
                    idDivMod.html("");
                    idDivMod.html(msg);
                    DesbloquearPantalla();
                }
            });
        } else {
            var html = "";

            html = "";
            html += "<select class='input-content' id='ddlModulo' name='ddlModulo' style='width:100%;' title='Tipo de Solicitante'>";
            html += "<option value=''>Seleccione una Opción</option>";
            html += "</select>";
            $("#contenModulo").html(html);
        }
    });
    $(function () {
        $("#btnProcesarUsuarioEP").click(function () {
            fn_ProcesarUsuariosEP();
        });
        
        $("#btnCancelarRegistro").click(function () {
            fn_Cancelar();
        });


    });
    function fn_Cancelar() {
        location.href = "GestionUsuarios";
    }
    function DescargarFormatoExcel() {
        window.location = URLSERVICIO_IMEI + '/GestorUsuario/DescargarPlantillaCarga';
    }
    $("#ddlEPublica").change(function () {
        if (document.getElementById("ddlEPublica").value != undefined && document.getElementById("ddlEPublica").value != "") {
            BloquearPantalla();
            var msg = "";
            var key = 0;
            var formdata = new FormData($("#frmCargarUsuarioEP")[0]);
            $.ajax({
                type: "POST",
                url: URLSERVICIO_IMEI + "/GestorUsuario/ListarInsExtByEntPubUser",
                contentType: false,
                processData: false,
                dataType: "json",
                data: formdata,
                success: function (data) {
                    msg = data;


                },
                error: function (jqXHR, textStatus, errorThrown) {
                    DesbloquearPantalla();
                    console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                    mostrarMensajeError("Error al intentar cargar la info para crear un nuevo parametro");
                },
                complete: function () {
                    var idDivMod = $("#contInsExteUser");
                    idDivMod.html("");
                    idDivMod.html(msg);

                    html = "";
                    html += "<select class='input-content' id='ddlUnidadEP' name='ddlUnidadEP' style='width:100%;' title='Tipo de Solicitante'>";
                    html += "<option value=''>Seleccione una Opción</option>";
                    html += "</select>";
                    $("#contUEP").html(html);
                    DesbloquearPantalla();
                }
            });
        } else {
            var html = "";
            html += "<select class='input-content' id='ddlInsExternaUser' name='ddlInsExternaUser' style='width:100%;' title='Tipo de Solicitante'>";
            html += "<option value=''>Seleccione una Opción</option>";
            html += "</select>";
            $("#contInsExteUser").html(html);

            html = "";
            html += "<select class='input-content' id='ddlUnidadEP' name='ddlUnidadEP' style='width:100%;' title='Tipo de Solicitante'>";
            html += "<option value=''>Seleccione una Opción</option>";
            html += "</select>";
            $("#contUEP").html(html);
        }
    });

    function listarUEP() {
        if (document.getElementById("ddlInsExternaUser").value != undefined && document.getElementById("ddlInsExternaUser").value != "") {
            BloquearPantalla();
            var msg = "";
            var key = 0;
            var formdata = new FormData($("#frmCargarUsuarioEP")[0]);
            $.ajax({
                type: "POST",
                url: URLSERVICIO_IMEI + "/GestorUsuario/CargarUnidadEPByEP",
                contentType: false,
                processData: false,
                dataType: "json",
                data: formdata,
                success: function (data) {
                    msg = data;


                },
                error: function (jqXHR, textStatus, errorThrown) {
                    DesbloquearPantalla();
                    console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                    mostrarMensajeError("Error al intentar cargar la info para crear un nuevo parametro");
                },
                complete: function () {
                    var idDivMod = $("#contUEP");
                    idDivMod.html("");
                    idDivMod.html(msg);
                    DesbloquearPantalla();
                }
            });
        } else {
            var html = "";
            html += "<select class='input-content' id='ddlUnidadEP' name='ddlUnidadEP' style='width:100%;' title='Tipo de Solicitante'>";
            html += "<option value=''>Seleccione una Opción</option>";
            html += "</select>";
            $("#contUEP").html(html);
        }
    }

    $("#btnCargarArchivo").click(function () {
        var mensaje = "";
        
        /*var txtContrasenaSW = $("#txtContrasenaSW").val();
        if (txtContrasenaSW == "") {
            mensaje += "* Tiene que ingresar una contraseña para consultar RENIEC.";
            mensaje += "<br/>";
        } */
        var ddlEPublica = $("#ddlEPublica").val();
        if (ddlEPublica == "") {
            mensaje += "* Tiene que seleccionar una Entidad Pública.";
            mensaje += "<br/>";
        } 
        var ddlInsExternaUser = $("#ddlInsExternaUser").val();
        if (ddlInsExternaUser == "") {
            mensaje += "* Tiene que seleccionar una Unidad de Entidad Pública.";
            mensaje += "<br/>";
        } 
        var ddlUnidadEP = $("#ddlUnidadEP").val();
        if (ddlUnidadEP == "") {
            mensaje += "* Tiene que seleccionar una Sub Unidad de Entidad Pública.";
            mensaje += "<br/>";
        } 
        var fileArchivoImei = $("#fileCargaMasiva").val();
        if (fileArchivoImei == "") {
            mensaje += "* Tiene que adjuntar el archivo.";
            mensaje += "<br/>";
        } else {
            var extension = fileArchivoImei.substring(fileArchivoImei.lastIndexOf("."));
            if (extension != ".xlsx") {
                mensaje += "* El archivo no es válido.";
                mensaje += "<br/>";
            }
        }
        if (mensaje == "") {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-secondary'
                },
                buttonsStyling: false,
            })
            swalWithBootstrapButtons.fire({
                title: MSJ_MENSAJE_SISTEMA,
                text: "¿Desea cargar los usuarios del documento adjuntado?",
                type: 'question',
                showCancelButton: true,
                confirmButtonText: 'Aceptar',
                cancelButtonText: 'Cancelar',
                reverseButtons: false
            }).then(function (result) {
                if (result.value) {
                    fn_cargaUsuariosMasiva();
                }
            });
        } else {
            mostrarMensajeError(mensaje);
        }

    });

    function fn_EditarUsuarioCargaM(dni) {
        var divNuevoParametro = $("#divEditarCargMasiv");
        divNuevoParametro.html("");

        $("#hiidValorEditCar").val(dni);

        $("#modalEditarCargMasiv").modal({ backdrop: 'static', keyboard: false });

        var divEditaParametro = $("#divEditarCargMasiv");
        var formdata = $("#frmCargarUsuarioEP").serialize();
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/GestorUsuario/EditarUsuarioCargaMasiva",
            cache: false,
            data: formdata,
            success: function (data) {
                divEditaParametro.html("");
                divEditaParametro.html(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //DesbloquearPantalla();
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError("Error al intentar cargar la info para actualizar un nuevo Unidad de Entidad Pública");
            },
            complete: function () {
                //DesbloquearPantalla();
            }
        });
    }

    function fn_EliminarUsuarioCargaM(dni) {
        var cont = [];
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-secondary'
            },
            buttonsStyling: false,
        })
        swalWithBootstrapButtons.fire({
            title: MSJ_MENSAJE_SISTEMA,
            text: "¿Desea eliminar el usuario seleccionado?",
            type: 'question',
            showCancelButton: true,
            confirmButtonText: 'Aceptar',
            cancelButtonText: 'Cancelar',
            reverseButtons: false
        }).then(function (result) {
            if (result.value) {
                document.getElementById("hiidValorElimCar").value = dni;
                var formdata = new FormData($("#frmCargarUsuarioEP")[0]);
                $.ajax({
                    type: "POST",
                    url: URLSERVICIO_IMEI + "/GestorUsuario/EliminarUsuarioCargaMasiva",
                    contentType: false,
                    processData: false,
                    dataType: "json",
                    data: formdata,
                    success: function (data) {
                        key = data.key;
                        var arr = data.value;
                         cont = arr.split("//");
                        msg = cont[0];
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        CerrarCargando();
                        console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                        mostrarMensajeError(msg);
                    },
                    complete: function () {
                        CerrarCargando();
                        if (key == "0") {
                            mostrarMensajeError(msg);
                        } else if (key == "1") {
                            swalWithBootstrapButtons.fire({
                                title: "¡Mensaje del Sistema",
                                text: msg,
                                type: 'success',
                                showCancelButton: false,
                                confirmButtonText: 'Aceptar',
                                cancelButtonText: 'Cancelar',
                                reverseButtons: false
                            }).then(function (result) {
                                if (result.value) {
                                    //$("#frmRecargarPagina").submit();
                                    var divNuevoParametro = $("#divGrillaCargarUser");
                                    divNuevoParametro.html("");
                                    divNuevoParametro.html(cont[1]);

                                    $('#dtResultadUserCargaPrevia').DataTable({
                                        language: {
                                            "decimal": "",
                                            "emptyTable": "No hay información",
                                            "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                                            "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                                            "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                                            "infoPostFix": "",
                                            "thousands": ",",
                                            "lengthMenu": "Mostrar _MENU_ Entradas",
                                            "loadingRecords": "Cargando...",
                                            "processing": "Procesando...",
                                            "search": "Buscar:",
                                            "zeroRecords": "Sin resultados encontrados",
                                            "paginate": {
                                                "first": "Primero",
                                                "last": "Ultimo",
                                                "next": "Siguiente",
                                                "previous": "Anterior"
                                            }
                                        },
                                        colReorder: true,
                                        responsive: true,

                                        'columnDefs': [{
                                            'targets': [],
                                            'orderable': false
                                        }]
                                    });

                                  
                                }
                            });
                        } else if (key == "2") {
                            swalWithBootstrapButtons.fire({
                                title: 'Mensaje del Sistema',
                                text: msg,
                                type: 'warning',
                                showCancelButton: false,
                                confirmButtonText: 'Aceptar',
                                cancelButtonText: 'Cancelar',
                                reverseButtons: false
                            }).then(function (result) {
                                if (result.value) {
                                   // $("#frmDescargarError").submit();

                                   // window.location = URLSERVICIO_IMEI + '/GestorUsuario/DescargarError';
                                }
                            })

                        }
                    }
                });
            }
        });
        
    }

    function fn_cargaUsuariosMasiva() {
        MostrarCargando();
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-secondary'
            },
            buttonsStyling: false,
        });
        var msg = "";
        var key = 0;
        var arrGen = [];
        var formdata = new FormData($("#frmCargarUsuarioEP")[0]);
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/GestorUsuario/CargarInformacionMasivaUsuario",
            contentType: false,
            processData: false,
            dataType: "json",
            data: formdata,
            success: function (data) {
                key = data.key;
                var arr = data.value;
                 arrGen = arr.split("//");
                msg = arrGen[0];
            },
            error: function (jqXHR, textStatus, errorThrown) {
                CerrarCargando();
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);
            },
            complete: function () {
                CerrarCargando();
                if (key == "0") {
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    swalWithBootstrapButtons.fire({
                        title: "¡Mensaje del Sistema",
                        text: msg,
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar',
                        reverseButtons: false
                    }).then(function (result) {
                        if (result.value) {
                            //$("#frmRecargarPagina").submit();
                            var divNuevoParametro = $("#divGrillaCargarUser");
                            divNuevoParametro.html("");
                            divNuevoParametro.html(arrGen[1]);

                            $('#dtResultadUserCargaPrevia').DataTable({
                                language: {
                                    "decimal": "",
                                    "emptyTable": "No hay información",
                                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                                    "infoPostFix": "",
                                    "thousands": ",",
                                    "lengthMenu": "Mostrar _MENU_ Entradas",
                                    "loadingRecords": "Cargando...",
                                    "processing": "Procesando...",
                                    "search": "Buscar:",
                                    "zeroRecords": "Sin resultados encontrados",
                                    "paginate": {
                                        "first": "Primero",
                                        "last": "Ultimo",
                                        "next": "Siguiente",
                                        "previous": "Anterior"
                                    }
                                },
                                colReorder: true,
                                responsive: true,

                                'columnDefs': [{
                                    'targets': [],
                                    'orderable': false
                                }]
                            });

                            //VERIFICANDO SI HAY ERRORES
                            if (arrGen[2] > 0) {
                                //mostrarMensajeError(msg);
                                //$("#frmDescargarError").submit();
                                window.location = URLSERVICIO_IMEI + '/GestorUsuario/DescargarError';
                            }

                            //

                        //});
                        }
                    });
                } else if (key == "2") {
                    swalWithBootstrapButtons.fire({
                        title: 'Mensaje del Sistema',
                        text: msg,
                        type: 'warning',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar',
                        reverseButtons: false
                    }).then(function (result) {
                        if (result.value) {
                            //$("#frmDescargarError").submit();
                            //window.location = URLSERVICIO_IMEI + '/GestorUsuario/DescargarError';
                        }
                    })

                }
                input = document.getElementById("fileCargaMasiva");
                input.value = '';
            }
        });
    }

    function fn_ProcesarUsuariosEP() {
        BloquearPantalla();
        var mensaje = fn_ValidarRegistroUsuarioMasivoEP();
        if (mensaje === "") {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-secondary'
                },
                buttonsStyling: false
            });
            swalWithBootstrapButtons.fire({
                title: MSJ_MENSAJE_SISTEMA,
                text: "¿Desea procesar el registro masivo de Usuario de EP?",
                type: 'question',
                showCancelButton: true,
                confirmButtonText: 'Aceptar',
                cancelButtonText: 'Cancelar',
                reverseButtons: false
            }).then(function (result) {

                if (result.value) {
                    fn_GrabarUsuarioMasivoEP();
                } else {
                    DesbloquearPantalla();
                    $("#divNuevoParametro").html("");
                }
            });

        } else {
            DesbloquearPantalla();
            mostrarMensajeError(mensaje);
        }
    }

    function fn_ValidarRegistroUsuarioMasivoEP() {
        var mensaje = "";
        var txtPerfil = $("#ddlTipoPerfil").val();
        if (txtPerfil == "") {
            mensaje += "* Seleccione un Perfil ";
            mensaje += "<br/>";
        }
      
        var ddlModulo = $("#ddlModulo").val();
        if (ddlModulo == "") {
            mensaje += "* Seleccione un Módulo ";
            mensaje += "<br/>";
        }
       
        var ddlEntidadPublica = $("#ddlEPublica").val();
        if (ddlEntidadPublica == "") {
            mensaje += "* Seleccione una Entidad Pública ";
            mensaje += "<br/>";
        }
      
        var ddlInsExterna = $("#ddlInsExternaUser").val();
        if (ddlInsExterna == "") {
            mensaje += "* Seleccione una Unidad de Entidad Pública ";
            mensaje += "<br/>";
        }
        var ddlUnidadEP = $("#ddlUnidadEP").val();
        if (ddlUnidadEP == "") {
            mensaje += "* Seleccione una Sub Unidad de Entidad Pública ";
            mensaje += "<br/>";
        }
        return mensaje;
    }

    function fn_GrabarUsuarioMasivoEP() {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-secondary'
            },
            buttonsStyling: false,
        });
        var msg = "";
        var key = 0;
        var formdata = new FormData($("#frmCargarUsuarioEP")[0]);
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/GestorUsuario/GrabarFinUsuarioMasivoEP",
            contentType: false,
            processData: false,
            dataType: "json",
            data: formdata,
            success: function (data) {
                key = data.key;
                msg = data.value;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                DesbloquearPantalla();
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);

            },
            complete: function () {

                if (key == "0") {
                    DesbloquearPantalla();
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    swalWithBootstrapButtons.fire({
                        title: MSJ_MENSAJE_SISTEMA,
                        text: msg,
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar',
                        reverseButtons: false
                    }).then(function (result) {
                        if (result.value) {
                            /*window.location = URLSERVICIO_IMEI + '/GestorUsuario/DescargarUsuarioCredenciales';


                            setTimeout('redireccionaruSER()', 3000);*/
                            //window.location = URLSERVICIO_IMEI + '/GestorUsuario/DescargarUsuarioCredenciales';


                            setTimeout('redireccionaruSERMas()', 1000);
                            DesbloquearPantalla();
                           

                        }
                    });
                } else if (key == "2") {
                    DesbloquearPantalla();
                    mostrarMensajeError(msg);
                }
            }
        });
    }
    function redireccionaruSERMas() {
        location.href = "GestionUsuarios";
    }
</script>

