﻿
@{
    ViewData["Title"] = "GenerarEnlace";
    Layout = "_LayoutLogin";
}

<link href="~/css/styleLogin.css?0.0.3" rel="stylesheet" />

<script>
    $(function () {
        $("body").keypress(function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                $("#frmLogin").submit();
            }
        });
        var msg = $("#MensajeSistema").val();
        if (msg != "" && typeof msg != "undefined") {
            mostrarMensajeError(msg);
        }
        $("#btnIniciarSesion").click(function () {
            var txtUsuario = $("#txtUsuario").val();
            var txtClave = $("#txtClave").val();
            if (txtUsuario.trim() === "") { mostrarMensajeError("Ingrese su usuario"); return; }
            if (txtClave.trim() === "") { mostrarMensajeError("Ingrese su clave"); return; }
            $("#frmLogin").submit();
        });
        $("#ddlTipoDocumento").change(function () {
            //alert("ASDAAD");
            if (document.getElementById("ddlTipoDocumento").value != undefined && document.getElementById("ddlTipoDocumento").value != "") {
                if (document.getElementById("ddlTipoDocumento").value == '01') {
                    $("#txtUsuario").attr('maxlength', '8');
                    $("#txtUsuario").val('');

                } else {
                    /* document.getElementById("btnConsultarOtroDoc").style.display = "block";
                     document.getElementById("btnConsultarReniec").style.display = "none";*/
                    $("#txtUsuario").attr('maxlength', '20');
                    $("#txtUsuario").val('');

                }
            } else {

            }
        });
    });

</script>


<style type="text/css">
    #login {
        width: 500px;
        height: auto;
        background-color: #F2FAFC;
        margin: 30px auto 0px auto;
    }

    .headerLogin {
        height: 40px;
        background-color: #00a6d0;
        color: #FFF;
        text-align: center;
        line-height: 40px;
        font-size: 14px;
        font-weight: bold;
    }

    #formLogin {
        margin: 10px auto;
        width: 300px;
    }

    #frmLogin label {
        color: #00A6D0;
    }


    .boxLogin {
        width: 275px;
        margin: 5px 0px;
        padding: 5px 0px;
    }

    .InputLogin {
        padding: 5px 0px;
        background-color: #f18626;
        border: 1px solid #f18626;
        color: #FFF;
        width: 100px;
    }

    #btnForm {
        text-align: center;
    }
</style>
<div style="margin-top: -8%;">
    <div style="text-align: center; color: #00a6d0; font-size: 21px;">
        <br />
        <br />
        Sistema de Registro de Requerimiento de Información de IMEIs
    </div>


    <form method="post" id="frmGestorEnlace" enctype="multipart/form-data">
        <div id="login">
            <div class="headerLogin">
                <span>GENERAR NUEVO ENLACE</span>
            </div><br />
            <p>
                Por tu seguridad te solictamos que ingreses la siguiente información:
            </p>
            <div id="formLogin">
                <label>Tipo de Documento:</label>
                <br />
                <div class="form-group grouplogin">
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
                        @Html.DropDownList("ddlTipoDocumento", new SelectList(ViewBag.ddlTipoDocumento, "valor", "descripcion"), "Seleccione una Opción", new { title = "Tipo de Solicitante", @class = "form-control ", style = "width: 100%;margin-top: 0px !important ;" })

                    </div>
                </div>
                <label>Número de Documento:</label>
                <br />
                <div class="form-group grouplogin">
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
                        <input type="text" name="txtUsuario" id="txtUsuario" maxlength="20" placeholder="Usuario" class="form-control" style="margin-top: 0px !important ;">

                    </div>
                </div>
                <label>Confirmar correo electronico:</label>
                <br />
                <div class="form-group grouplogin">
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                        <input type="email" name="txtMail" id="txtMail" placeholder="Ingrese Correo Electronico" class="form-control" style="margin-top: 0px !important ;">

                    </div>
                </div>

                <div id="btnForm">
                    <button type="button" id="btnGenerarEnlaceUEP" class="InputLogin" style="width: 43%;
    border-radius: 11px;">
                        Generar
                    </button>

                    <br />
                </div>
            </div>
        </div>

    </form>

</div>

<script type="text/javascript">




    $(function () {

        $("#btnGenerarEnlaceUEP").click(function () {
            fn_GenerarEnlace();
        });



    });


    function fn_GenerarEnlace() {
        BloquearPantalla();
        var mensaje = fn_ValidarEnlaceEP();
        if (mensaje === "") {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-secondary'
                },
                buttonsStyling: false
            });
            swalWithBootstrapButtons.fire({
                title: MSJ_MENSAJE_SISTEMA,
                text: "¿Desea Generar un Nuevo Enlace?",
                type: 'question',
                showCancelButton: true,
                confirmButtonText: 'Aceptar',
                cancelButtonText: 'Cancelar',
                reverseButtons: false
            }).then(function (result) {

                if (result.value) {
                    fn_GenerarEnlaceUEPFin();
                } else {
                    DesbloquearPantalla();
                    //$("#divNuevoParametro").html("");
                }
            });
            //window.open("ArchivoExcelUser/Credenciales de Usuarios.xlsx", 'Download');
            //window.open('../ArchivoExcelUser/Credenciales de Usuarios.xlsx', '', 'width=,height=,resizable=no');
        } else {
            DesbloquearPantalla();
            mostrarMensajeError(mensaje);
        }
    }

    function fn_GenerarEnlaceUEPFin() {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-secondary'
            },
            buttonsStyling: false,
        });
        var msg = "";
        var key = 0;
        var formdata = new FormData($("#frmGestorEnlace")[0]);
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/GestorUsuario/GenerarEnlaceUEP",
            contentType: false,
            processData: false,
            dataType: "json",
            data: formdata,
            success: function (data) {
                key = data.key;
                msg = data.value;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                DesbloquearPantalla();
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);

            },
            complete: function () {

                if (key == "0") {
                    DesbloquearPantalla();
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    swalWithBootstrapButtons.fire({
                        title: MSJ_MENSAJE_SISTEMA,
                        text: msg,
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar',
                        reverseButtons: false
                    }).then(function (result) {
                        if (result.value) {

                            DesbloquearPantalla();
                            location.href = "../LoginEp";

                        }
                    });
                } else if (key == "2") {
                    DesbloquearPantalla();
                    mostrarMensajeError(msg);
                }
            }
        });
    }


    function fn_ValidarEnlaceEP() {
        var mensaje = "";
        var txtMail = $("#txtMail").val();
        if (txtMail == "") {
            mensaje += "* Ingrese un Mail correcto";
            mensaje += "<br/>";
        }
        var ddlTipoDocumento = $("#ddlTipoDocumento").val();
        if (ddlTipoDocumento == "") {
            mensaje += "* Seleccione un Tipo de Documento";
            mensaje += "<br/>";
        }

        var txtUsuario = $("#txtUsuario").val();
        if (txtUsuario == "") {
            mensaje += "* Ingrese un Usuario";
            mensaje += "<br/>";
        }
        return mensaje;

    }
</script>







