﻿
@{
    ViewData["Title"] = "GestionUsuarios";
}

<form method="post" id="frmGestionUsuarios" enctype="multipart/form-data">
    <input type="hidden" id="hiidValorUser" name="hiidValorUser" />
    <input type="hidden" id="hiidValorPerfil" name="hiidValorPerfil" />
    <input type="hidden" id="hiidValorModulo" name="hiidValorModulo" />
    <div class="container contenedor-bandeja" style="    margin-top: 28px;">
        <div class="row">
            <div class="col-md-12">
                <div class="content-header cabecera-formulario">
                    <h3 style="color: #ffffff">BUSCAR USUARIOS</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="etiqueta">
                    Perfil
                </label>
            </div>
            <div class="col-md-3">
                @Html.DropDownList("ddlTipoPerfil", new SelectList(ViewBag.ddlTipoPerfil, "idPerfil", "descripcion"), "Seleccione una Opción", new { title = "Tipo de Solicitante", @class = "input-content ", style = "width: 100%;" })

            </div>
            <div class="col-md-3">
                <label class="etiqueta">
                    Tipo de Documento
                </label>
            </div>
            <div class="col-md-3">
                @Html.DropDownList("ddlTipoDocumento", new SelectList(ViewBag.ddlTipoDocumento, "valor", "descripcion"), "Seleccione una Opción", new { title = "Tipo de Solicitante", @class = "input-content ", style = "width: 100%;" })
            </div>

        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="etiqueta">
                    Módulo
                </label>
            </div>
            <div class="col-md-3" id="contenModulo">
                @Html.DropDownList("ddlModulo", new SelectList(ViewBag.ddlModlulo, "valor", "descripcion"), "Seleccione una Opción", new { title = "Tipo de Solicitante", @class = "input-content ", style = "width: 100%;" })
            </div>
            <div class="col-md-3">
                <label class="etiqueta">
                    Número de Documento
                </label>
            </div>
            <div class="col-md-3">
                @Html.TextBox("txtNroDocumento", "", new { @class = "input-content", style = "width: 100%;" })
            </div>

        </div>

        <div class="row">
            <div class="col-md-3">
                <label class="etiqueta">
                    Entidad Pública
                </label>
            </div>
            <div class="col-md-3">
                @Html.DropDownList("ddlEPublica", new SelectList(ViewBag.ddlEntidadPublica, "valor", "descripcion"), "Seleccione una Opción", new { title = "Tipo de Solicitante", @class = "input-content ", style = "width: 100%;" })
            </div>
            <div class="col-md-3">
                <label class="etiqueta">
                    Apellidos
                </label>
            </div>
            <div class="col-md-3">
                @Html.TextBox("txtApellidos", "", new { @class = "input-content", @maxlength = "160", style = "width: 100%;" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="etiqueta">
                    Unidad de Entidad Pública
                </label>
            </div>
            <div class="col-md-3" id="contInsExteGU">
                @Html.DropDownList("ddlInsExternaUser", new SelectList(ViewBag.Lista_InsExterna, "NUM_RUC", "DES_RAZ_SOC"), "Seleccione una Opción", new { title = "Tipo de Solicitante", @class = "input-content ", style = "width: 100%;" })
            </div>
            <div class="col-md-3">
                <label class="etiqueta">
                    Nombres
                </label>
            </div>
            <div class="col-md-3">
                @Html.TextBox("txtNombres", "", new { @class = "input-content", @maxlength = "10", style = "width: 100%;" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="etiqueta">
                    Sub Unidad de Entidad Pública
                </label>
            </div>
            <div class="col-md-3" id="contUEPGU">
                @Html.DropDownList("ddlUnidadEP", new SelectList(ViewBag.ddlUnidadEP, "idUnidadEP", "nomUniEntPublica"), "Seleccione una Opción", new { title = "Tipo de Solicitante", @class = "input-content ", style = "width: 100%;" })
            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-3">

            </div>
        </div>
        <div class="row">

            <div class="col-md-12" style="text-align:center">
                <button type="button" id="btnBuscarUsuariosEP" class="btn class-button-bandeja">
                    Buscar
                </button>
                <a href="UsuarioEntidadP">
                    <button type="button" id="btnRegistrarUsuarioEP" class="btn class-button-bandeja">
                        Nuevo
                    </button>
                </a>
                <a href="CargaMasicaUsuarioEP">
                    <button type="button" id="btnCargaMasivaEP" class="btn class-button-bandeja">
                        Carga Masiva
                    </button>
                </a>
            </div>
        </div>
        <br />
        <br />

        <div class="row">
            <div class="col-md-12">
                <div class="content-header cabecera-formulario">
                    <h3 style="color: #ffffff">LISTADO</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="" id="divGrillaUSUEP">

                </div>
            </div>

        </div>
        <div class="modal fade bd-example-modal-lg" id="modalPerModPerfUser" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lx" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="content-header cabecera-formulario">
                            <h3 style="color: #ffffff">Opciones por Modulo</h3>
                        </div>
                        <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="" id="divPerModPerfUser">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="modalEditarVigencia" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lx" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="content-header cabecera-formulario">
                            <h3 style="color: #ffffff">Vigencia de Usuario</h3>
                        </div>
                        <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="" id="divEditarVigencia">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="modalEditarUsuario" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lx" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="content-header cabecera-formulario">
                            <h3 style="color: #ffffff">Editar Usuario</h3>
                        </div>
                        <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="" id="divEditarUsuario">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<script type="text/javascript">
    $("#ddlTipoPerfil").change(function () {
        if (document.getElementById("ddlTipoPerfil").value != undefined && document.getElementById("ddlTipoPerfil").value != "") {
            BloquearPantalla();
            var msg = "";
            var key = 0;
            var formdata = new FormData($("#frmGestionUsuarios")[0]);
            $.ajax({
                type: "POST",
                url: URLSERVICIO_IMEI + "/GestorUsuario/ListarModuloByPerfil",
                contentType: false,
                processData: false,
                dataType: "json",
                data: formdata,
                success: function (data) {
                    msg = data;


                },
                error: function (jqXHR, textStatus, errorThrown) {
                    DesbloquearPantalla();
                    console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                    mostrarMensajeError("Error al intentar cargar la info para crear un nuevo parametro");
                },
                complete: function () {
                    var idDivMod = $("#contenModulo");
                    idDivMod.html("");
                    idDivMod.html(msg);
                    DesbloquearPantalla();
                }
            });
        } else {
            var html = "";

            html = "";
            html += "<select class='input-content' id='ddlModulo' name='ddlModulo' style='width:100%;' title='Tipo de Solicitante'>";
            html += "<option value=''>Seleccione una Opción</option>";
            html += "</select>";
            $("#contenModulo").html(html);
        }
    });
    $(function () {

        $("#btnBuscarUsuariosEP").click(function () {
            fn_BuscarUsuariosEP();
        });
       
        
    });

    function fn_BuscarUsuariosEP() {
        BloquearPantalla();
        var mensaje = fn_ValidarBuscarUsuarioEP();
        if (mensaje === "") {
            var divNuevoParametro = $("#divGrillaUSUEP");
            divNuevoParametro.html("");
            var msg = "";
            var key = 0;
            //var formdata = new FormData($("#frmGestionUsuarios")[0]);
            var formdata = $("#frmGestionUsuarios").serialize();
            $.ajax({
                type: "POST",
                url: URLSERVICIO_IMEI + "/GestorUsuario/BuscarUsuariosEP",
                cache: false,
                data: formdata,
                success: function (data) {
                    console.log(data);
                    divNuevoParametro.html("");
                    divNuevoParametro.html(data);

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    DesbloquearPantalla();
                    console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                    mostrarMensajeError("Error al intentar cargar la info para crear un nuevo parametro");
                },
                complete: function () {
                    DesbloquearPantalla();
                }
            });
            /*$.ajax({
                type: "POST",
                url: URLSERVICIO_IMEI + "/GestorUsuario/BuscarUsuariosEP",
                contentType: false,
                processData: false,
                dataType: "json",
                data: formdata,
                success: function (data) {
                    //msg = data;
                    divNuevoParametro.html("");
                    divNuevoParametro.html(data);

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    DesbloquearPantalla();
                    console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                    mostrarMensajeError("Error al intentar cargar la info para crear un nuevo parametro");
                },
                complete: function () {
                    DesbloquearPantalla();
                }
            });*/
        } else {
            DesbloquearPantalla();
            mostrarMensajeError(mensaje);
        }
    }

    function fn_ValidarBuscarUsuarioEP() {
        var mensaje = "";
        var bandera = 0;
        var txtModulo = $("#ddlModulo").val();
        if (txtModulo == "") {
            bandera = 1;
        } else {
            return mensaje;
        }
        var txtPerfil = $("#ddlTipoPerfil").val();
        if (txtPerfil == "") {
            bandera = 1;
        } else {
            return mensaje;
        }
        var txtEPublica = $("#ddlEPublica").val();
        if (txtEPublica == "") {
            bandera = 1;
        } else {
            return mensaje;
        }
        var txtInsExt = $("#ddlInsExternaUser").val();
        if (txtInsExt == "") {
            bandera = 1;
        } else {
            return mensaje;
        }
        var txtUniEP = $("#ddlUnidadEP").val();
        if (txtUniEP == "") {
            bandera = 1;
        } else {
            return mensaje;
        }
        var txtTipDoc = $("#ddlTipoDocumento").val();
        if (txtTipDoc == "") {
            bandera = 1;
        } else {
            return mensaje;
        }
        var txtNumDoc = $("#txtNroDocumento").val();
        if (txtNumDoc == "") {
            bandera = 1;
        } else {
            return mensaje;
        }
        var txtApellido = $("#txtApellidos").val();
        if (txtApellido == "") {
            bandera = 1;
        } else {
            return mensaje;
        }
        var txtNombres = $("#txtNombres").val();
        if (txtNombres == "") {
            bandera = 1;
        } else {
            return mensaje;
        }
       
        if (bandera == 1) {
            mensaje = "*  Debe ingresar parametros para realizar una busqueda";
        }
        return mensaje;

    }

    $("#ddlEPublica").change(function () {
        if (document.getElementById("ddlEPublica").value != undefined && document.getElementById("ddlEPublica").value != "") {
            BloquearPantalla();
            var msg = "";
            var key = 0;
            var formdata = new FormData($("#frmGestionUsuarios")[0]);
            $.ajax({
                type: "POST",
                url: URLSERVICIO_IMEI + "/GestorUsuario/ListarInsExtByEntPubUser",
                contentType: false,
                processData: false,
                dataType: "json",
                data: formdata,
                success: function (data) {
                    msg = data;


                },
                error: function (jqXHR, textStatus, errorThrown) {
                    DesbloquearPantalla();
                    console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                    mostrarMensajeError("Error al intentar cargar la info para crear un nuevo parametro");
                },
                complete: function () {
                    var idDivMod = $("#contInsExteGU");
                    idDivMod.html("");
                    idDivMod.html(msg);
                    DesbloquearPantalla();
                }
            });
        } else {
            var html = "";
            html += "<select class='input-content' id='ddlInsExternaUser' name='ddlInsExternaUser' style='width:100%;' title='Tipo de Solicitante'>";
            html += "<option value=''>Seleccione una Opción</option>";
            html += "</select>";
            $("#contInsExteGU").html(html);

            html = "";
            html += "<select class='input-content' id='ddlUnidadEP' name='ddlUnidadEP' style='width:100%;' title='Tipo de Solicitante'>";
            html += "<option value=''>Seleccione una Opción</option>";
            html += "</select>";
            $("#contUEPGU").html(html);
        }
    });
    function listarUEP() {
        if (document.getElementById("ddlInsExternaUser").value != undefined && document.getElementById("ddlInsExternaUser").value != "") {
            BloquearPantalla();
            var msg = "";
            var key = 0;
            var formdata = new FormData($("#frmGestionUsuarios")[0]);
            $.ajax({
                type: "POST",
                url: URLSERVICIO_IMEI + "/GestorUsuario/CargarUnidadEPByEP",
                contentType: false,
                processData: false,
                dataType: "json",
                data: formdata,
                success: function (data) {
                    msg = data;


                },
                error: function (jqXHR, textStatus, errorThrown) {
                    DesbloquearPantalla();
                    console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                    mostrarMensajeError("Error al intentar cargar la info para crear un nuevo parametro");
                },
                complete: function () {
                    var idDivMod = $("#contUEPGU");
                    idDivMod.html("");
                    idDivMod.html(msg);
                    DesbloquearPantalla();
                }
            });
        } else {
            var html = "";
            html += "<select class='input-content' id='ddlUnidadEP' name='ddlUnidadEP' style='width:100%;' title='Tipo de Solicitante'>";
            html += "<option value=''>Seleccione una Opción</option>";
            html += "</select>";
            $("#contUEPGU").html(html);
        }
    }
    /*$(function () {

        $("#btnRegistrarUsuarioEP").click(function () {
            fn_NuevoUsuarioEP();
        });
        $("#btnListarRequerimiento").click(function () {
            fn_ListarParametro();
        });

    });


    function fn_NuevoUsuarioEP() {
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/GestorUsuario/CargarVistaUnidadEP",
            cache: false,
            data: formdata,
            success: function (data) {
                console.log(data);
                

            },
            error: function (jqXHR, textStatus, errorThrown) {
                DesbloquearPantalla();
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError("Error al intentar cargar la info para crear un nuevo parametro");
            },
            complete: function () {
                DesbloquearPantalla();
            }
        });
    }*/
</script>

