﻿
@{
    ViewData["Title"] = "GestorContrasenia";
    Layout = "_LayoutLogin";
}
<link href="~/css/styleLogin.css?0.0.3" rel="stylesheet" />

<script>
    $(function () {
        $("body").keypress(function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                $("#frmLogin").submit();
            }
        });
        var msg = $("#MensajeSistema").val();
        if (msg != "" && typeof msg != "undefined") {
            mostrarMensajeError(msg);
        }
        $("#btnIniciarSesion").click(function () {
            var txtUsuario = $("#txtUsuario").val();
            var txtClave = $("#txtClave").val();
            if (txtUsuario.trim() === "") { mostrarMensajeError("Ingrese su usuario"); return; }
            if (txtClave.trim() === "") { mostrarMensajeError("Ingrese su clave"); return; }
            $("#frmLogin").submit();
        });
    });

</script>


<style type="text/css">
    #login {
        width: 500px;
        height: auto;
        background-color: #F2FAFC;
        margin: 30px auto 0px auto;
    }

    .headerLogin {
        height: 40px;
        background-color: #00a6d0;
        color: #FFF;
        text-align: center;
        line-height: 40px;
        font-size: 14px;
        font-weight: bold;
    }

    #formLogin {
        margin: 10px auto;
        width: 300px;
    }

    #frmLogin label {
        color: #00A6D0;
    }


    .boxLogin {
        width: 275px;
        margin: 5px 0px;
        padding: 5px 0px;
    }

    .InputLogin {
        padding: 5px 0px;
        background-color: #f18626;
        border: 1px solid #f18626;
        color: #FFF;
        width: 100px;
    }

    #btnForm {
        text-align: center;
    }
    footer {
        margin-bottom: -10%;
    }
</style>
<div style="margin-top: -8%;">
    <div style="text-align: center; color: #00a6d0; font-size: 21px;">
        <br />
        <br />
        Sistema de Registro de Requerimiento de Información de IMEIs
    </div>


    <form method="post" id="frmGestorContrasenia" enctype="multipart/form-data">
        <div id="login">
            <div class="headerLogin">
                <span>CONFIRMACIÓN DE CLAVE</span>
            </div>
            <div id="formLogin">
                <p>
                    <strong>Requisitos de Contraseña</strong><br />
                                                             <ul>
                                                                 <li>Contener 1 letra minúscula</li>
                                                                 <li>Contener 1 letra mayúscula</li>
                                                                 <li>Contener 1 Número o caracter especial</li>
                                                                 <li>Contener mínimo 8 caracteres</li>
                                                                 <li>Contener un máximo 15 caracteres</li>
                                                                 
                                                             </ul>
                    
                    

                </p>
                <label>Ingrese Número de Documento:</label>
                <br />
                <div class="form-group grouplogin">
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
                        <input type="text" name="txtUsuario" id="txtUsuario" placeholder="Usuario" class="form-control" style="margin-top: 0px !important ;">

                    </div>
                </div>
                <label>Ingrese Clave:</label>
                <br />
                <div class="form-group grouplogin">
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
                        <input type="password" name="txtClave" id="txtClave" placeholder="Contraseña" class="form-control" style="margin-top: 0px !important ;">
                        <button id="show_password" class="btn btn-primary" type="button" onclick="mostrarPassword()" style="display: inline-block;position: absolute; height: 70%;margin-top: 0%;background-color: #00a6d0;"> <span class="fa fa-eye-slash icon"></span> </button>
                       
                    </div>
                </div>
                <label>Ingrese Nueva Clave:</label>
                <br />
                <div class="form-group grouplogin">
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
                        <input type="password" name="txtClaveNew" id="txtClaveNew" placeholder="Contraseña" class="form-control" style="margin-top: 0px !important ;">
                        <button id="show_password" class="btn btn-primary" type="button" onclick="mostrarPassword2()" style="display: inline-block;position: absolute; height: 70%;margin-top: 0%;background-color: #00a6d0;"> <span class="fa fa-eye-slash icon2"></span> </button>

                    </div>
                </div>
                <label>Confirmación de Nueva Clave:</label>
                <br />
                <div class="form-group grouplogin">
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
                        <input type="password" name="txtClaveNewConf" id="txtClaveNewConf" placeholder="Contraseña" class="form-control" style="margin-top: 0px !important ;">
                        <button id="show_password" class="btn btn-primary" type="button" onclick="mostrarPassword3()" style="display: inline-block;position: absolute; height: 70%;margin-top: 0%;background-color: #00a6d0;"> <span class="fa fa-eye-slash icon3"></span> </button>

                    </div>
                </div>
                <div id="btnForm">
                    <button type="button" id="btnActualizarContraeniaUEP" class="InputLogin" style="width: 43%;
    border-radius: 11px;">
                        Aplicar Cambios
                    </button>

                    <br />
                </div>
            </div>
        </div>

    </form>

</div>

<script type="text/javascript">




    $(function () {

        $("#btnActualizarContraeniaUEP").click(function () {
            fn_ActualizarContrasenia();
        });



    });
    function mostrarPassword() {
        var cambio = document.getElementById("txtClave");
        if (cambio.type == "password") {
            cambio.type = "text";
            $('.icon').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
        } else {
            cambio.type = "password";
            $('.icon').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
        }
    } 
    function mostrarPassword2() {
        var cambio = document.getElementById("txtClaveNew");
        if (cambio.type == "password") {
            cambio.type = "text";
            $('.icon2').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
        } else {
            cambio.type = "password";
            $('.icon2').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
        }

    } 
    function mostrarPassword3() {
        var cambio = document.getElementById("txtClaveNewConf");
        if (cambio.type == "password") {
            cambio.type = "text";
            $('.icon3').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
        } else {
            cambio.type = "password";
            $('.icon3').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
        }
    } 

    function fn_ActualizarContrasenia() {
        BloquearPantalla();
        var mensaje = fn_ValidarContraseniaEP();
        if (mensaje === "") {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-secondary'
                },
                buttonsStyling: false
            });
            swalWithBootstrapButtons.fire({
                title: MSJ_MENSAJE_SISTEMA,
                text: "¿Desea registrar su Nueva Contraseña?",
                type: 'question',
                showCancelButton: true,
                confirmButtonText: 'Aceptar',
                cancelButtonText: 'Cancelar',
                reverseButtons: false
            }).then(function (result) {

                if (result.value) {
                    $.showLoading({ imgLoading: URLSERVICIO_IMEI + '/images/osiptel/ajax-loader.gif', body: true });
                    MostrarCargando();
                    document.getElementById("hg-show-loading-0").style.display = "contents";
                    document.getElementById("hg-show-loading-0").style.textAlign = "center";
                    fn_GrabarContraseniaEP();
                } else {
                    DesbloquearPantalla();
                    //$("#divNuevoParametro").html("");
                }
            });
            //window.open("ArchivoExcelUser/Credenciales de Usuarios.xlsx", 'Download');
            //window.open('../ArchivoExcelUser/Credenciales de Usuarios.xlsx', '', 'width=,height=,resizable=no');
        } else {
            DesbloquearPantalla();
            mostrarMensajeError(mensaje);
        }
    }

    function fn_GrabarContraseniaEP() {
        /*const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-secondary'
            },
            buttonsStyling: false,
        });*/
        var msg = "";
        var key = 0;
        var formdata = new FormData($("#frmGestorContrasenia")[0]);
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/GestorUsuario/ActualizarContraseniaUEP",
            contentType: false,
            processData: false,
            dataType: "json",
            data: formdata,
            success: function (data) {
                key = data.key;
                msg = data.value;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                DesbloquearPantalla();
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);

            },
            complete: function () {

                if (key == "0") {
                    DesbloquearPantalla();
                    mostrarMensajeError(msg);
                    document.getElementById("hg-show-loading-0").style.display = "none";
                } else if (key == "1") {
                    const swalWithBootstrapButtons = Swal.mixin({
                        customClass: {
                            confirmButton: 'btn btn-success',
                            cancelButton: 'btn btn-secondary'
                        },
                        buttonsStyling: false,
                    });
                    swalWithBootstrapButtons.fire({
                        title: MSJ_MENSAJE_SISTEMA,
                        text: msg,
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar',
                        reverseButtons: false
                    }).then(function (result) {
                        if (result.value) {
                            
                            DesbloquearPantalla();
                            location.href = "../LoginEp";
                        }
                    });
                   
                } else if (key == "2") {
                    DesbloquearPantalla();
                    mostrarMensajeError(msg);
                    document.getElementById("hg-show-loading-0").style.display = "none";
                }
            }
        });
    }


    function fn_ValidarContraseniaEP() {
        var mensaje = "";
        var txtUsuario = $("#txtUsuario").val();
        if (txtUsuario == "") {
            mensaje += "* Ingrese un Usuario ";
            mensaje += "<br/>";
        }

        var txtClave = $("#txtClave").val();
        if (txtClave == "") {
            mensaje += "* Ingrese su Clave ";
            mensaje += "<br/>";
        }
        var txtClaveNew = $("#txtClaveNew").val();
        if (txtClaveNew == "") {
            mensaje += "* Ingrese su Nueva Clave ";
            mensaje += "<br/>";
        }
        var txtClaveNewConf = $("#txtClaveNewConf").val();
        if (txtClaveNewConf == "") {
            mensaje += "* Confirme su Nueva Clave";
            mensaje += "<br/>";
        }

        if (txtClaveNew != txtClaveNewConf) {
            mensaje += "* La nueva clave no coincide con la ingresada en la Confirmación";
            mensaje += "<br/>";
        }
        var ayuda = 0;
        if (txtClaveNew == txtClave) {
            ayuda = 1;
            mensaje += "* La Clave temporal ingresada no puede ser usada como nueva contraseña";
            mensaje += "<br/>";
        }
        if (txtClaveNewConf == txtClave) {
            if (ayuda == 0) {
                mensaje += "* La Clave temporal ingresada no puede ser usada como nueva contraseña";
                mensaje += "<br/>";
            }
           
        }
        return mensaje;

    }
</script>





