﻿@model Osiptel.SIGREI.BE.BE_PARAMETRO;
@{
    ViewData["Title"] = "GestionPerfil";

}


<form method="post" id="frmGestionPerfil" enctype="multipart/form-data">
    <input type="hidden" id="hiidValor" name="hiidValor" />
    <input type="hidden" id="hiidValor2" name="hiidValor2" />

    <div class="container contenedor-bandeja" style="    margin-top: 2%;">
        <div class="row">
            <div class="col-md-12">
                <div class="content-header cabecera-formulario">
                    <h3 style="color: #ffffff">GESTIÓN GENERAL</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="etiqueta">
                    Parámetro
                </label>
            </div>
            <div class="col-md-3">
                @Html.DropDownList("ddlParametro", new SelectList(ViewBag.ddlParametro, "valor", "descripcion"), "Seleccione una Opción", new { title = "Tipo de Solicitante", @class = "input-content ", style = "width: 100%;" })
            </div>
            @Html.TextBoxFor(model => model.tipoParametro, new { @class = "input-content", @MaxLength = "50", style = "width: 100%; display:none;" })

        </div>

        <div class="row">
           
            <div class="col-md-12" style="text-align:center">
                <button type="button" id="btnListarRequerimiento" class="btn class-button-bandeja">
                    Buscar
                </button>
                <button type="button" id="btnNuevoParametro" class="btn class-button-bandeja">
                    Nuevo
                </button>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="content-header cabecera-formulario">
                    <h3 style="color: #ffffff">LISTADO</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="" id="divGrilla">

                </div>
            </div>

        </div>
    </div>
    <div class="modal fade bd-example-modal-lg" id="modalNuevoParametro" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lx" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="content-header cabecera-formulario">
                        <h3 style="color: #ffffff" id="gptitulo"></h3>
                    </div>
                    <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="" id="divNuevoParametro">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-lg" id="modalEditarParametro" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lx" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="content-header cabecera-formulario">
                        <h3 style="color: #ffffff" id="gpEditTitulo"></h3>
                    </div>
                    <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="" id="divEditarParametro">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    //$("#frmGestionPerfil")[0].reset();
    $("#ddlParametro").change(function () {
        $("#divGrilla").html(""); 
    });
    $(function () {

        $("#btnNuevoParametro").click(function () {
            fn_NuevoParametro();
        });
        $("#btnListarRequerimiento").click(function () {
            fn_ListarParametro();
        });

    });

    function fn_ListarParametro() {
        //alert(document.getElementById("ddlParametro").value);
        if (document.getElementById("ddlParametro").value != undefined && document.getElementById("ddlParametro").value != "") {
            //VALIDANDO TIPO DE FORMULARIO
            if (document.getElementById("ddlParametro").value == "3" || document.getElementById("ddlParametro").value == "4" || document.getElementById("ddlParametro").value == "2" || document.getElementById("ddlParametro").value == "1" || document.getElementById("ddlParametro").value == "5" || document.getElementById("ddlParametro").value == "6") {
                BloquearPantalla();
                var divNuevoParametro = $("#divGrilla");
                document.getElementById("tipoParametro").value = $('select[name="ddlParametro"] option:selected').text();
                //$("#frmGestionPerfil")[0].reset();
                var formdata = $("#frmGestionPerfil").serialize();
                $.ajax({
                    type: "POST",
                    url: URLSERVICIO_IMEI + "/GestorUsuario/ListarParametro",
                    cache: false,
                    data: formdata,
                    success: function (data) {
                        console.log(data);
                        divNuevoParametro.html("");
                        divNuevoParametro.html(data);

                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        DesbloquearPantalla();
                        console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                        mostrarMensajeError("Error al intentar cargar la info para crear un nuevo parametro");
                    },
                    complete: function () {
                        DesbloquearPantalla();
                    }
                });
            }

        } else {
            alert("Debe seleccionar una Opción");
        }

    }



    function fn_NuevoParametro() {
        if (document.getElementById("ddlParametro").value != undefined && document.getElementById("ddlParametro").value != "") {
            //VALIDANDO TIPO DE FORMULARIO
            if (document.getElementById("ddlParametro").value == "3" || document.getElementById("ddlParametro").value == "4" || document.getElementById("ddlParametro").value == "2" | document.getElementById("ddlParametro").value == "1" || document.getElementById("ddlParametro").value == "5" || document.getElementById("ddlParametro").value == "6") {
                //BloquearPantalla();
                //$("#frmGestionPerfil")[0].reset();
                // var divEditarUsuario = $("#modalNuevoParametro");
                //divNuevoParametro.html("");
                var titulo = $('select[name="ddlParametro"] option:selected').text();
                document.getElementById("gptitulo").innerText = "Registrar " + titulo;
                $("#modalNuevoParametro").modal({ backdrop: 'static', keyboard: false });
                var divNuevoParametro = $("#divNuevoParametro");
                var formdata = $("#frmGestionPerfil").serialize();
                $.ajax({
                    type: "POST",
                    url: URLSERVICIO_IMEI + "/GestorUsuario/NuevoParametro",
                    cache: false,
                    data: formdata,
                    success: function (data) {
                        divNuevoParametro.html("");
                        divNuevoParametro.html(data);
                       
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        DesbloquearPantalla();
                        console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                        mostrarMensajeError("Error al intentar cargar la info para crear un nuevo parametro");
                    },
                    complete: function () {
                        //DesbloquearPantalla();
                        //$("#frmGestionPerfil")[0].reset();
                    }
                });
            } else {
                alert("Seleccione una Opción Correcta...");
            }

        } else {
            alert("Debe seleccionar una Opción");
        }

    }



</script>



