﻿@model List<Osiptel.SIGREI.BE.BeAccesoOpcion>;
@{
    ViewData["Title"] = "PermisoPerfil";
}
<form method="post" id="frmPermisoPerfil" enctype="multipart/form-data">
    <input type="hidden" id="hiidValor" name="hiidValor" />
    <input type="hidden" id="hiidValor2" name="hiidValor2" />

    <div class="container contenedor-bandeja" style="    margin-top: 2%;">
        <div class="row">
            <div class="col-md-12">
                <div class="content-header cabecera-formulario">
                    <h3 style="color: #ffffff">PERMISO PERFIL</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">Módulo</a></li>
                    <li><a data-toggle="tab" href="#menu1">Perfil</a></li>
                </ul>

                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <div class="row" style="    margin: 3%;">
                            <div class="col-md-3">
                                <label class="etiqueta">
                                    Módulo
                                </label>
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownList("ddlModulo", new SelectList(ViewBag.Lista_Modulo, "valor", "descripcion"), "Seleccione una Opción", new { title = "Tipo de Solicitante", @class = "input-content ", style = "width: 100%;" })
                            </div>

                        </div>
                        <div class="row" style="    margin: 3%;">
                            <div class="col-md-3">
                                <label class="etiqueta">
                                    Opciones del Sistema
                                </label>
                            </div>
                            <div class="col-md-7" id="contModOpcion">
                               
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12" style="text-align:center">
                                <button type="button" id="btnRegistrarModPerfil" class="btn class-button-bandeja">
                                    Aplicar Cambios
                                </button>
                                <button type="button" id="btnCancelarPer" onclick="location.reload()" class="btn class-button-bandeja">
                                    Cancelar
                                </button>
                            </div>
                            <div class="col-md-6" style="text-align:center">
                               
                            </div>
                        </div>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <div class="row" style="    margin: 3%;">
                            <div class="col-md-3">
                                <label class="etiqueta">
                                    Perfil
                                </label>
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownList("ddlPerfilPer", new SelectList(ViewBag.Lista_Perfil, "idPerfil", "descripcion"), "Seleccione una Opción", new { title = "Tipo de Solicitante", @class = "input-content ", style = "width: 100%;" })
                            </div>

                        </div>
                        <div class="row" style="    margin: 3%;">
                            <div class="col-md-3">
                                <label class="etiqueta">
                                    Módulo
                                </label>
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownList("ddlModuloPer", new SelectList(ViewBag.Lista_Modulo, "valor", "descripcion"), "Seleccione una Opción", new { title = "Tipo de Solicitante", @class = "input-content ", style = "width: 100%;" })
                            </div>

                        </div>
                        <div class="row" style="    margin: 3%;">
                            <div class="col-md-3">
                                <label class="etiqueta">
                                    Opciones del Sistema
                                </label>
                            </div>
                            <div class="col-md-7" id="contPerModOpcion">
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12" style="text-align:center">
                                <button type="button" id="btnRegistrarPerModPerfil" class="btn class-button-bandeja">
                                    Aplicar Cambios
                                </button>
                                <button type="button" id="btnCancelarPerPer" onclick="location.reload()" class="btn class-button-bandeja">
                                    Cancelar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
      


    </div>

</form>

<script type="text/javascript">
    function desplegar(cod) {
        var nombre = "contPadre" + cod;
        
        if ($("#" + nombre).html() == "") {
            mostrarMensajeError("No Cuenta con opciones registradas");
        } else {
            var esVisible = $("#" + nombre).is(":visible");
            if (esVisible) {
                document.getElementById(nombre).style.display = "none";
            } else {
                document.getElementById(nombre).style.display = "block";
            }
        }
        
    }
    function desplegarModPrincipal(cod) {
        var nombre = "contPadreMod" + cod;
        //alert($("#" + nombre).length);
        if ($("#" + nombre)[0]) {
            var esVisible = $("#" + nombre).is(":visible");
            if (esVisible) {
                document.getElementById(nombre).style.display = "none";
            } else {
                document.getElementById(nombre).style.display = "block";
            }
        } else {
            

            //alert("fsfsdf");
            mostrarMensajeError("No Cuenta con opciones registradas");
        }
       
    }
    $(function () {

        $("#btnRegistrarModPerfil").click(function () {
            fn_Nueva_Asignacion_ModMenu();
        });

        $("#btnRegistrarPerModPerfil").click(function () {
            fn_Nueva_Asignacion_ModMenu_By_Perfil();
        });
       

    });

    function cambiarEstado(cod,padre) {
        if (document.getElementById("MenOp" +cod).checked) {
            document.getElementById("MenOp" + cod).value = 1;
            document.getElementById("MenOp" + padre).value = 1;
            document.getElementById("MenOp" + padre).checked = true;
        } else {
            document.getElementById("MenOp" + cod).value = 0;
            var bandera = 0;
            var arr = document.getElementById("concHij" + padre).innerText.split(",");
            for (var i = 0; i < arr.length - 1; i++) {
                if (document.getElementById("MenOp" + arr[i]).checked) {
                    bandera = 1;
                }
            }
            //alert(bandera);
            if (bandera == 0) {
                 document.getElementById("MenOp" + padre).value = 0;
            }
        }
    }

    function cambiarEstadoModP(cod, padre) {
        if (document.getElementById("MenOpModP" + cod).checked) {
            document.getElementById("MenOpModP" + cod).value = 1;
            document.getElementById("MenOpModP" + padre).value = 1;
            document.getElementById("MenOpModP" + padre).checked = true;
        } else {
            document.getElementById("MenOpModP" + cod).value = 0;
            var bandera = 0;
            var arr = document.getElementById("concHijModP" + padre).innerText.split(",");
            for (var i = 0; i < arr.length - 1; i++) {
                if (document.getElementById("MenOpModP" + arr[i]).checked) {
                    bandera = 1;
                }
            }
            //alert(bandera);
            if (bandera == 0) {
                document.getElementById("MenOpModP" + padre).value = 0;
            }
        }
    }

    function cambiarEstadoPadre(cod) {
        if (document.getElementById("MenOp"+cod).checked) {
            document.getElementById("MenOp"+cod).value = 1;
            var arr = document.getElementById("concHij" + cod).innerText.split(",");
           
            for (var i = 0; i < arr.length-1;i++) {
                document.getElementById("MenOp" + arr[i]).value = 1;
            }

            if (document.getElementById("concHij" + cod).innerText == "") {
                alert("Esta opción no cuenta con sub registros..");
            }
        } else {
            document.getElementById("MenOp" + cod).value = 0;
            var arr = document.getElementById("concHij" + cod).innerText.split(",");
            for (var i = 0; i < arr.length - 1; i++) {
                document.getElementById("MenOp" + arr[i]).value = 0;
            }
            if (document.getElementById("concHij" + cod).innerText == "") {
                alert("Esta opción no cuenta con sub registros..");
            }
        }
    }

    function cambiarEstadoPadreModP(cod) {
        if (document.getElementById("MenOpModP" + cod).checked) {
            document.getElementById("MenOpModP" + cod).value = 1;
            var arr = document.getElementById("concHijModP" + cod).innerText.split(",");

            for (var i = 0; i < arr.length - 1; i++) {
                document.getElementById("MenOpModP" + arr[i]).value = 1;
            }
            if (document.getElementById("concHijModP" + cod).innerText == "") {
                alert("Esta opción no cuenta con sub registros..");
            }
        } else {
            document.getElementById("MenOpModP" + cod).value = 0;
            var arr = document.getElementById("concHijModP" + cod).innerText.split(",");
            for (var i = 0; i < arr.length - 1; i++) {
                document.getElementById("MenOpModP" + arr[i]).value = 0;
            }

            if (document.getElementById("concHijModP" + cod).innerText == "") {
                alert("Esta opción no cuenta con sub registros..");
            }
        }
    }

    function cambiarEstadoPMOP(cod) {
        if (document.getElementById(cod).checked) {
            document.getElementById(cod).value = 1;
        } else {
            document.getElementById(cod).value = 0;
        }
    }

    function fn_Nueva_Asignacion_ModMenu_By_Perfil() {
        if (document.getElementById("ddlModuloPer").value != undefined && document.getElementById("ddlModuloPer").value != "") {
            if (document.getElementById("ddlPerfilPer").value != undefined && document.getElementById("ddlPerfilPer").value != "") {
                BloquearPantalla();
                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-secondary'
                    },
                    buttonsStyling: false,
                });
                var msg = "";
                var key = 0;
                var formdata = new FormData($("#frmPermisoPerfil")[0]);
                $.ajax({
                    type: "POST",
                    url: URLSERVICIO_IMEI + "/GestorUsuario/RegistrarModuloMenuPerfil",
                    contentType: false,
                    processData: false,
                    dataType: "json",
                    data: formdata,
                    success: function (data) {
                        key = data.key;
                        msg = data.value;

                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        DesbloquearPantalla();
                        console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                        mostrarMensajeError("Error al intentar cargar la info para crear un nuevo parametro");
                    },
                    complete: function () {
                        if (key == "0") {
                            mostrarMensajeError(msg);
                            DesbloquearPantalla();
                        } else if (key == "1") {
                            swalWithBootstrapButtons.fire({
                                title: MSJ_MENSAJE_SISTEMA,
                                text: msg,
                                type: 'success',
                                showCancelButton: false,
                                confirmButtonText: 'Aceptar',
                                cancelButtonText: 'Cancelar',
                                reverseButtons: false
                            }).then(function (result) {
                                if (result.value) {
                                    DesbloquearPantalla();
                                    location.reload();
                                }
                            });
                        } else if (key == "2") {
                            mostrarMensajeError(msg);
                            DesbloquearPantalla();
                        }
                    }
                });
            } else {
                alert("Debe seleccionar un Perfil....");
            }
            
        } else {
            alert("Debe seleccionar un Módulo....");
        }
    }

    function fn_Nueva_Asignacion_ModMenu() {
        if (document.getElementById("ddlModulo").value != undefined && document.getElementById("ddlModulo").value != "") {
            BloquearPantalla();
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-secondary'
                },
                buttonsStyling: false,
            });
            var msg = "";
            var key = 0;
            var formdata = new FormData($("#frmPermisoPerfil")[0]);
            $.ajax({
                type: "POST",
                url: URLSERVICIO_IMEI + "/GestorUsuario/RegistrarModuloMenu",
                contentType: false,
                processData: false,
                dataType: "json",
                data: formdata,
                success: function (data) {
                    key = data.key;
                    msg = data.value;

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    DesbloquearPantalla();
                    console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                    mostrarMensajeError("Error al intentar cargar la info para crear un nuevo parametro");
                },
                complete: function () {
                    if (key == "0") {
                        mostrarMensajeError(msg);
                    } else if (key == "1") {
                        swalWithBootstrapButtons.fire({
                            title: MSJ_MENSAJE_SISTEMA,
                            text: msg,
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonText: 'Aceptar',
                            cancelButtonText: 'Cancelar',
                            reverseButtons: false
                        }).then(function (result) {
                            if (result.value) {
                                DesbloquearPantalla();
                            }
                        });
                    } else if (key == "2") {
                        mostrarMensajeError(msg);
                    }
                }
            });
        } else {
            alert("Debe seleccionar un Modulo....");
        }

    }
    $("#ddlModulo").change(function () {
        // alert($(this).val())
        BloquearPantalla();
        var msg = "";
        var key = 0;
        var formdata = new FormData($("#frmPermisoPerfil")[0]);
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/GestorUsuario/ListarOpcionesByModulo",
            contentType: false,
            processData: false,
            dataType: "json",
            data: formdata,
            success: function (data) {
                //console.log(data);
                msg = data;
                //key = data.key;
                //msg = data.value;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);

            },
            complete: function () {
                var idDivMod = $("#contModOpcion");
                idDivMod.html(msg);
                DesbloquearPantalla();
                //console.log(msg);
                /*if (key == "0") {
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                   //LLAMADA CORRECTA
                    alert("entrooooo");
                } else if (key == "2") {
                    mostrarMensajeError(msg);
                }*/
                var cant = document.getElementById("cantTotal").innerText;
                for (var i = 0; i < cant; i++) {
                    var num = i+1;
                    var idt = "treeview" + num;
                    $("#" + idt).hummingbird();
                   
                   $("#" + idt).hummingbird("collapseAll");
                  
                }
                
            }
        });
    });

    function validarPadre(codPadre) {
        console.log(document.getElementById("MenOp25").value);
        console.log(codPadre);
        if (document.getElementById("MenOp" + codPadre).checked == false) {
            alert("xxxxxxxx");
            document.getElementById("MenOp" + codPadre).checked = true;
        }
    }

    $("#ddlPerfilPer").change(function () {
        $("#ddlModuloPer").val('');
        //$("#opciones").val("Seleccionar");
        $("#contPerModOpcion").html(""); 
    });
    $("#ddlModuloPer").change(function () {
        // alert($(this).val())
        if (document.getElementById("ddlPerfilPer").value != "" && document.getElementById("ddlPerfilPer").value != undefined) {
            if (document.getElementById("ddlModuloPer").value != undefined && document.getElementById("ddlModuloPer").value != "") {
                BloquearPantalla();
                var msg = "";
                var key = 0;
                var formdata = new FormData($("#frmPermisoPerfil")[0]);
                $.ajax({
                    type: "POST",
                    url: URLSERVICIO_IMEI + "/GestorUsuario/ListarOpcionesByModuloPer",
                    contentType: false,
                    processData: false,
                    dataType: "json",
                    data: formdata,
                    success: function (data) {
                        //console.log(data);
                        msg = data;
                        //key = data.key;
                        //msg = data.value;
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                        mostrarMensajeError(msg);

                    },
                    complete: function () {
                        var idDivMod = $("#contPerModOpcion");
                        idDivMod.html(msg);
                        var cant = document.getElementById("cantTotalModP").innerText;
                        for (var i = 0; i < cant; i++) {
                            var num = i + 1;
                            var idt = "treeviewModP" + num;
                            $("#" + idt).hummingbird();
                            $("#" + idt).hummingbird("collapseAll");
                        }

                        DesbloquearPantalla();

                    }
                });
            } else {
                var idDivMod = $("#contPerModOpcion");
                idDivMod.html("");
            }
           
        } else {
            alert("Debe Seleccionar un Perfil.....");
        }
       
    });
   
</script>






