﻿
@{
    ViewData["Title"] = "UsuarioEntidadP";
}

<form method="post" id="frmUsuarioEntidadP" enctype="multipart/form-data">
    <div class="container contenedor-bandeja" style="    margin-top: 28px;">
        <div class="row">
            <div class="col-md-12">
                <div class="content-header cabecera-formulario">
                    <h3 style="color: #ffffff">REGISTRAR NUEVO USUARIO</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="etiqueta">
                    Perfil
                </label>
            </div>
            <div class="col-md-3">
                @Html.DropDownList("ddlTipoPerfil", new SelectList(ViewBag.ddlTipoPerfil, "idPerfil", "descripcion"), "Seleccione una Opción", new { title = "Tipo de Solicitante", @class = "input-content ", style = "width: 100%;" })
            </div>

            <div class="col-md-3">
                <label class="etiqueta">
                    Segundo Apellido
                </label>
            </div>
            <div class="col-md-3">
                @Html.TextBox("txtSegundoApellido", "", new { @class = "input-content", @maxlength = "100", style = "width: 100%;background: gray;" })
            </div>

        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="etiqueta">
                    Módulo
                </label>
            </div>
            <div class="col-md-3" id="contenModulo">
                @Html.DropDownList("ddlModulo", new SelectList(ViewBag.ddlModlulo, "valor", "descripcion"), "Seleccione una Opción", new { title = "Tipo de Solicitante", @class = "input-content ", style = "width: 100%;" })
            </div>
            <div class="col-md-3">
                <label class="etiqueta">
                    Primer Nombre
                </label>
            </div>
            <div class="col-md-3">
                @Html.TextBox("txtPrimNombre", "", new { @class = "input-content", @maxlength = "100", style = "width: 100%;background: gray;" })
            </div>

        </div>

        <div class="row">
            <div class="col-md-3">
                <label class="etiqueta">
                    Entidad Pública
                </label>
            </div>
            <div class="col-md-3">
                @Html.DropDownList("ddlEPublica", new SelectList(ViewBag.ddlEntidadPublica, "valor", "descripcion"), "Seleccione una Opción", new { title = "Tipo de Solicitante", @class = "input-content ", style = "width: 100%;" })
            </div>
            <div class="col-md-3">
                <label class="etiqueta">
                    Segundo Nombre
                </label>
            </div>
            <div class="col-md-3">
                @Html.TextBox("txtSegundoNombre", "", new { @class = "input-content", @maxlength = "160", style = "width: 100%;background: gray;" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="etiqueta">
                    Unidad de Entidad Pública
                </label>
            </div>
            <div id="contInsExteUser" class="col-md-3">
                @Html.DropDownList("ddlInsExternaUser", new SelectList(ViewBag.Lista_InsExterna, "NUM_RUC", "DES_RAZ_SOC"), "Seleccione una Opción", new { title = "Tipo de Solicitante", @class = "input-content ", style = "width: 100%;" })
            </div>
            <div class="col-md-3">
                <label class="etiqueta">
                    Teléfono
                </label>
            </div>
            <div class="col-md-3">
                @Html.TextBox("txtTelefono", "", new { @class = "input-content", @maxlength = "9", style = "width: 100%;" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="etiqueta">
                    Sub Unidad de Entidad Pública
                </label>
            </div>
            <div id="contUEP" class="col-md-3">
                @Html.DropDownList("ddlUnidadEP", new SelectList(ViewBag.ddlUnidadEP, "nomEntPublica", "nomUniEntPublica"), "Seleccione una Opción", new { title = "Tipo de Solicitante", @class = "input-content ", style = "width: 100%;" })
            </div>
            <div class="col-md-3">
                <label class="etiqueta">
                    Celular
                </label>
            </div>
            <div class="col-md-3">
                @Html.TextBox("txtCelular", "", new { @class = "input-content", @maxlength = "9", style = "width: 100%;" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="etiqueta">
                    Tipo de Documento
                </label>
            </div>
            <div class="col-md-3">
                @Html.DropDownList("ddlTipoDocumento", new SelectList(ViewBag.ddlTipoDocumento, "valor", "descripcion"), "Seleccione una Opción", new { title = "Tipo de Solicitante", @class = "input-content ", style = "width: 100%;" })
            </div>
            <div class="col-md-3">
                <label class="etiqueta">
                    Dirección
                </label>
            </div>
            <div class="col-md-3">
                @Html.TextBox("txtDireccion", "", new { @class = "input-content", style = "width: 100%;" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="etiqueta">
                    Nro Documento
                </label>
            </div>
            <div class="col-md-2">
                @Html.TextBox("txtNroDocumento", "", new { @class = "input-content", @maxlength = "10", style = "width: 100%;" })

            </div>
            <div class="col-md-1">
                <button type="button" id="btnConsultarReniec" class="btn class-button-bandeja" style="display:none;">
                    RENIEC
                </button>
                <button type="button" id="btnConsultarOtroDoc" class="btn class-button-bandeja">
                    VALIDAR
                </button>
            </div>
            <div class="col-md-3">
                <label class="etiqueta">
                    Sexo
                </label>
            </div>
            <div class="col-md-3">
                @Html.DropDownList("ddlSexo", new SelectList(ViewBag.ddlSexo, "valor", "descripcion"), "Seleccione una Opción", new { title = "Tipo de Solicitante", @class = "input-content ", style = "width: 100%;" })
            </div>

        </div>
        <div class="row">
            <div class="col-md-3">
                <label class="etiqueta">
                    Primer Apellido
                </label>

            </div>
            <div class="col-md-3">
                @Html.TextBox("txtPrimerApellido", "", new { @class = "input-content", style = "width: 100%;background: gray;" })
            </div>
            <!--<div class="col-md-3" id="ContraReniecC">
            <label class="etiqueta">

                Contraseña Service Web
            </label>
        </div>
        <div class="col-md-3" id="ContraReniecB">
            @Html.TextBox("txtContrasenaSW", "", new { @class = "input-content", style = "width: 100%;", @type = "password" })

        </div>-->
            <div class="col-md-3">
                <label class="etiqueta">
                    Cargo
                </label>
            </div>
            <div class="col-md-3">
                @Html.TextBox("txtCargo", "", new { @class = "input-content", style = "width: 100%;" })
            </div>

        </div>
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-3">
                <label class="etiqueta">
                    Correo Electronico
                </label>
            </div>
            <div class="col-md-3">
                @Html.TextBox("txtCorreoElectronico", "", new { @class = "input-content", style = "width: 100%;" })
            </div>
        </div>
            <div class="row">
                <div class="col-md-3">
                    <!-- <label class="etiqueta">
                     Primer Apellido
                 </label>-->

                </div>
                <div class="col-md-3">

                </div>

                <div class="col-md-6" style="text-align: end; margin-left: -9%;">
                    <label id="txtCorreoFinal"></label>
                </div>
            </div>
            <div class="row" style="    margin-top: 36px;">

                <div class="col-md-12" style="text-align:center">


                    <button type="button" id="btnRegistrarUsuarioEP" class="btn class-button-bandeja">
                        Registrar
                    </button>

                    <button type="button" id="btnCancelarRegistro" class="btn class-button-bandeja">
                        Cancelar
                    </button>
                </div>
            </div>
            <br />
            <br />

        </div>

</form>

<script type="text/javascript">
    /*$('#txtPrimerApellido').attr('readonly', false);
    $('#txtSegundoNombre').attr('readonly', false);
    $('#txtPrimNombre').attr('readonly', false);
    $('#txtSegundoApellido').attr('readonly', false);
    $('#txtPrimerApellido').css('background', 'transparent');
    $('#txtSegundoNombre').css('background', 'transparent');
    $('#txtPrimNombre').css('background', 'transparent');
    $('#txtSegundoApellido').css('background', 'transparent');
    $("#txtPrimerApellido").val("");
    $("#txtSegundoNombre").val("");
    $("#txtPrimNombre").val("");
    $("#txtSegundoApellido").val("");*/
    $("#ddlTipoDocumento").change(function () {
        if (document.getElementById("ddlTipoDocumento").value != undefined && document.getElementById("ddlTipoDocumento").value != "") {
            if (document.getElementById("ddlTipoDocumento").value == '01') {
                $("#txtNroDocumento").attr('maxlength', '8');
                $("#txtNroDocumento").val('');
                /*document.getElementById("btnConsultarReniec").style.display = "block";
                document.getElementById("btnConsultarOtroDoc").style.display = "none";*/
                document.getElementById("ContraReniecC").style.display = "block";
                document.getElementById("ContraReniecB").style.display = "block";
            } else {
               /* document.getElementById("btnConsultarOtroDoc").style.display = "block";
                document.getElementById("btnConsultarReniec").style.display = "none";*/
                $("#txtNroDocumento").attr('maxlength', '20');
                $("#txtNroDocumento").val('');
                document.getElementById("ContraReniecC").style.display = "none";
                document.getElementById("ContraReniecB").style.display = "none";
            }
        } else {
            
        }
    });
    $("#ddlTipoPerfil").change(function () {
        if (document.getElementById("ddlTipoPerfil").value != undefined && document.getElementById("ddlTipoPerfil").value != "") {
            BloquearPantalla();
            var msg = "";
            var key = 0;
            var formdata = new FormData($("#frmUsuarioEntidadP")[0]);
            $.ajax({
                type: "POST",
                url: URLSERVICIO_IMEI + "/GestorUsuario/ListarModuloByPerfil",
                contentType: false,
                processData: false,
                dataType: "json",
                data: formdata,
                success: function (data) {
                    msg = data;


                },
                error: function (jqXHR, textStatus, errorThrown) {
                    DesbloquearPantalla();
                    console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                    mostrarMensajeError("Error al intentar cargar la info para crear un nuevo parametro");
                },
                complete: function () {
                    var idDivMod = $("#contenModulo");
                    idDivMod.html("");
                    idDivMod.html(msg);
                    DesbloquearPantalla();
                }
            });
        } else {
            var html = "";

            html = "";
            html += "<select class='input-content' id='ddlModulo' name='ddlModulo' style='width:100%;' title='Tipo de Solicitante'>";
            html += "<option value=''>Seleccione una Opción</option>";
            html += "</select>";
            $("#contenModulo").html(html);
        }
    });
    function listarUEP() {
        if (document.getElementById("ddlInsExternaUser").value != undefined && document.getElementById("ddlInsExternaUser").value != "") {
            BloquearPantalla();
            var msg = "";
            var key = 0;
            var formdata = new FormData($("#frmUsuarioEntidadP")[0]);
            $.ajax({
                type: "POST",
                url: URLSERVICIO_IMEI + "/GestorUsuario/CargarUnidadEPByEP",
                contentType: false,
                processData: false,
                dataType: "json",
                data: formdata,
                success: function (data) {
                    msg = data;


                },
                error: function (jqXHR, textStatus, errorThrown) {
                    DesbloquearPantalla();
                    console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                    mostrarMensajeError("Error al intentar cargar la info para crear un nuevo parametro");
                },
                complete: function () {
                    var idDivMod = $("#contUEP");
                    idDivMod.html("");
                    idDivMod.html(msg);
                    DesbloquearPantalla();
                }
            });
        } else {
            var html = "";
            html += "<select class='input-content' id='ddlUnidadEP' name='ddlUnidadEP' style='width:100%;' title='Tipo de Solicitante'>";
            html += "<option value=''>Seleccione una Opción</option>";
            html += "</select>";
            $("#contUEP").html(html);
        }
    }

    $("#ddlEPublica").change(function () {
        if (document.getElementById("ddlEPublica").value != undefined && document.getElementById("ddlEPublica").value != "") {
            BloquearPantalla();
            var msg = "";
            var key = 0;
            var formdata = new FormData($("#frmUsuarioEntidadP")[0]);
            $.ajax({
                type: "POST",
                url: URLSERVICIO_IMEI + "/GestorUsuario/ListarInsExtByEntPubUser",
                contentType: false,
                processData: false,
                dataType: "json",
                data: formdata,
                success: function (data) {
                    msg = data;


                },
                error: function (jqXHR, textStatus, errorThrown) {
                    DesbloquearPantalla();
                    console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                    mostrarMensajeError("Error al intentar cargar la info para crear un nuevo parametro");
                },
                complete: function () {
                    var idDivMod = $("#contInsExteUser");
                    idDivMod.html("");
                    idDivMod.html(msg);

                    html = "";
                    html += "<select class='input-content' id='ddlUnidadEP' name='ddlUnidadEP' style='width:100%;' title='Tipo de Solicitante'>";
                    html += "<option value=''>Seleccione una Opción</option>";
                    html += "</select>";
                    $("#contUEP").html(html);
                    DesbloquearPantalla();
                }
            });
        } else {
            var html = "";
            html += "<select class='input-content' id='ddlInsExternaUser' name='ddlInsExternaUser' style='width:100%;' title='Tipo de Solicitante'>";
            html += "<option value=''>Seleccione una Opción</option>";
            html += "</select>";
            $("#contInsExteUser").html(html);

            html = "";
            html += "<select class='input-content' id='ddlUnidadEP' name='ddlUnidadEP' style='width:100%;' title='Tipo de Solicitante'>";
            html += "<option value=''>Seleccione una Opción</option>";
            html += "</select>";
            $("#contUEP").html(html);
        }
    });

    $("#ddlUnidadEP").change(function () {
        if (document.getElementById("ddlUnidadEP").value == undefined || document.getElementById("ddlUnidadEP").value == "") {
            document.getElementById("txtCorreoElectronico").value = "";
            document.getElementById("txtCorreoFinal").innerText = "";
        } else {
            var arr = document.getElementById("ddlUnidadEP").value.split("//");
            document.getElementById("txtCorreoFinal").innerText = document.getElementById("txtCorreoElectronico").value + arr[1];
        }
    });
    $("#txtCorreoElectronico").keypress(function (e) {
        //alert(e.keyCode);
        if (e.keyCode == 64) {
            tecla = (document.all) ? e.keyCode : e.which;

            //Tecla de retroceso para borrar, siempre la permite
            if (tecla == 8) {
                return true;
            }

            // Patron de entrada, en este caso solo acepta numeros y letras
            patron = /[A-Za-z0-9]/;
            tecla_final = String.fromCharCode(tecla);
            return patron.test(tecla_final);
        }

    });
    $("#txtCorreoElectronico").keyup(function (e) {
        //alert(e.keyCode);
        if (document.getElementById("ddlUnidadEP").value != undefined && document.getElementById("ddlUnidadEP").value != "") {
            if (e.keyCode != 46) {
                var arr = document.getElementById("ddlUnidadEP").value.split("//");
                document.getElementById("txtCorreoFinal").innerText = document.getElementById("txtCorreoElectronico").value + arr[1];
            }
        } else {
            mostrarMensajeError("Debe seleccionar una Unidad de Entidad Pública");
            document.getElementById("txtCorreoElectronico").value = "";
            document.getElementById("txtCorreoFinal").innerText = "";
            return true;
        }
        

    });

    $('#txtPrimerApellido').attr('readonly', true);
    $('#txtSegundoNombre').attr('readonly', true);
    $('#txtPrimNombre').attr('readonly', true);
    $('#txtSegundoApellido').attr('readonly', true);
   /* $("#txtPrimerApellido").prop('disabled', true);
    $("#txtSegundoNombre").prop('disabled', true);
    $("#txtPrimNombre").prop('disabled', true);
    $("#txtSegundoApellido").prop('disabled', true);*/
    $(function () {
        $("#btnConsultarOtroDoc").click(function () {
            fn_ConsultarOtroDoc();
        });
        $("#btnConsultarReniec").click(function () {
            fn_ConsultarReniec();
        });
        $("#btnRegistrarUsuarioEP").click(function () {
            fn_RegistrarUsuarioEP();
        });
        $("#btnCancelarRegistro").click(function () {
            fn_Cancelar();
        });
        

    });
    function fn_ConsultarOtroDoc() {

            if (document.getElementById("txtNroDocumento").value != "" && document.getElementById("txtNroDocumento").value != undefined) {
                if (document.getElementById("ddlTipoDocumento").value != "" && document.getElementById("ddlTipoDocumento").value != undefined) {


                    BloquearPantalla();
                    var msg = "";
                    var key = 0;
                    var formdata = new FormData($("#frmUsuarioEntidadP")[0]);
                    $.ajax({
                        type: "POST",
                        url: URLSERVICIO_IMEI + "/GestorUsuario/ConsultarOtroDocumento",
                        contentType: false,
                        processData: false,
                        dataType: "json",
                        data: formdata,
                        success: function (data) {
                            //msg = data;
                            var retorno = data;
                           
                            var arr = retorno.split("//");
                            if (arr[5].trim() == "0") {
                                mostrarMensajeError(arr[4]);
                                $("#txtPrimerApellido").val("");
                                $("#txtSegundoNombre").val("");
                                $("#txtPrimNombre").val("");
                                $("#txtSegundoApellido").val("");

                            } else if (arr[5].trim() == "2") {
                                mostrarMensajeError("Validación Correcta, Ingrese Datos Manualmente");
                                $('#txtPrimerApellido').attr('readonly', false);
                                $('#txtSegundoNombre').attr('readonly', false);
                                $('#txtPrimNombre').attr('readonly', false);
                                $('#txtSegundoApellido').attr('readonly', false);
                                $('#txtPrimerApellido').css('background', 'transparent');
                                $('#txtSegundoNombre').css('background', 'transparent');
                                $('#txtPrimNombre').css('background', 'transparent');
                                $('#txtSegundoApellido').css('background', 'transparent');
                                $("#txtPrimerApellido").val("");
                                $("#txtSegundoNombre").val("");
                                $("#txtPrimNombre").val("");
                                $("#txtSegundoApellido").val("");
                            }
                            else {
                                $("#txtPrimerApellido").val(arr[0]);
                                $("#txtSegundoNombre").val(arr[3]);
                                $("#txtPrimNombre").val(arr[2]);
                                $("#txtSegundoApellido").val(arr[1]);
                            }
                            DesbloquearPantalla();

                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            DesbloquearPantalla();
                            console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                            mostrarMensajeError("Error al intentar cargar la info para crear un nuevo parametro");
                        },
                        complete: function () {
                            /*var idDivMod = $("#contInsExteUser");
                            idDivMod.html("");
                            idDivMod.html(msg);*/
                            DesbloquearPantalla();
                        }
                    });
                } else {
                    mostrarMensajeError("Debe seleccionar un tipo de documento");
                }


            } else {
                mostrarMensajeError("Debe de ingresar un Número de Documento");
                document.getElementById("txtPrimerApellido").value = "";
                document.getElementById("txtSegundoNombre").value = "";
                document.getElementById("txtPrimNombre").value = "";
                document.getElementById("txtSegundoApellido").value = "";
            }
       
    }

    function fn_Cancelar() {
        location.href = "GestionUsuarios";
    }
    function fn_ConsultarReniec() {
        //if (document.getElementById("txtContrasenaSW").value != "" && document.getElementById("txtContrasenaSW").value != undefined) {
            if (document.getElementById("txtNroDocumento").value != "" && document.getElementById("txtNroDocumento").value != undefined) {
                if (document.getElementById("ddlTipoDocumento").value != "" && document.getElementById("ddlTipoDocumento").value != undefined) {


                    BloquearPantalla();
                    var msg = "";
                    var key = 0;
                    var formdata = new FormData($("#frmUsuarioEntidadP")[0]);
                    $.ajax({
                        type: "POST",
                        url: URLSERVICIO_IMEI + "/GestorUsuario/ConsurmirServiceRen",
                        contentType: false,
                        processData: false,
                        dataType: "json",
                        data: formdata,
                        success: function (data) {
                            //msg = data;
                            var retorno = data;
                            /*console.log(retorno);
                            if (retorno.trim() == "0") {
                                mostrarMensajeError("La validación con RENIEC fallo, ingrese datos manualmente");
                                $('#txtPrimerApellido').attr('readonly', false);
                                $('#txtSegundoNombre').attr('readonly', false);
                                $('#txtPrimNombre').attr('readonly', false);
                                $('#txtSegundoApellido').attr('readonly', false);
                                $('#txtPrimerApellido').css('background', 'transparent');
                                $('#txtSegundoNombre').css('background', 'transparent');
                                $('#txtPrimNombre').css('background', 'transparent');
                                $('#txtSegundoApellido').css('background', 'transparent');
                            } else {
                                //PARSEAR LO QUE DEVUELVE LA WS DE RENIEC
                                $("#txtPrimerApellido").val("Delgado");
                                $("#txtSegundoNombre").val("Jiner");
                                $("#txtPrimNombre").val("Juan");
                                $("#txtSegundoApellido").val("Chavez");
                            }*/
                            var arr = retorno.split("//");
                            if (arr[5].trim() == "0") {
                                mostrarMensajeError(arr[4]);
                                $("#txtPrimerApellido").val("");
                                $("#txtSegundoNombre").val("");
                                $("#txtPrimNombre").val("");
                                $("#txtSegundoApellido").val("");

                            } else if (arr[5].trim() == "2") {
                                mostrarMensajeError("La validación con RENIEC fallo, ingrese datos manualmente");
                                $('#txtPrimerApellido').attr('readonly', false);
                                $('#txtSegundoNombre').attr('readonly', false);
                                $('#txtPrimNombre').attr('readonly', false);
                                $('#txtSegundoApellido').attr('readonly', false);
                                $('#txtPrimerApellido').css('background', 'transparent');
                                $('#txtSegundoNombre').css('background', 'transparent');
                                $('#txtPrimNombre').css('background', 'transparent');
                                $('#txtSegundoApellido').css('background', 'transparent');
                                $("#txtPrimerApellido").val("");
                                $("#txtSegundoNombre").val("");
                                $("#txtPrimNombre").val("");
                                $("#txtSegundoApellido").val("");
                            }
                            else {
                                $("#txtPrimerApellido").val(arr[0]);
                                $("#txtSegundoNombre").val(arr[3]);
                                $("#txtPrimNombre").val(arr[2]);
                                $("#txtSegundoApellido").val(arr[1]);
                            }
                            DesbloquearPantalla();

                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            DesbloquearPantalla();
                            console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                            mostrarMensajeError("Error al intentar cargar la info para crear un nuevo parametro");
                        },
                        complete: function () {
                            /*var idDivMod = $("#contInsExteUser");
                            idDivMod.html("");
                            idDivMod.html(msg);*/
                            DesbloquearPantalla();
                        }
                    });
                } else {
                    mostrarMensajeError("Debe seleccionar un tipo de documento");
                }


            } else {
                mostrarMensajeError("Debe de ingresar un Número de Documento");
                document.getElementById("txtPrimerApellido").value = "";
                document.getElementById("txtSegundoNombre").value = "";
                document.getElementById("txtPrimNombre").value = "";
                document.getElementById("txtSegundoApellido").value = "";
            }
        /*} else{
            mostrarMensajeError("Ingrese un Contraseña para validar el Documento ingresado");
        }*/

        
    }
    $('#txtNroDocumento').on('input', function () {
        if (document.getElementById("ddlTipoDocumento").value == '01') {
            this.value = this.value.replace(/[^0-9]/g, '');
        } 
        
    });
    $('#txtCelular').on('input', function () {
        this.value = this.value.replace(/[^0-9]/g, '');
    });
    $('#txtTelefono').on('input', function () {
        this.value = this.value.replace(/[^0-9]/g, '');
    });

    
    function fn_RegistrarUsuarioEP() {
        BloquearPantalla();
        var mensaje = fn_ValidarRegistroUsuarioEP();
        if (mensaje === "") {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-secondary'
                },
                buttonsStyling: false
            });
            swalWithBootstrapButtons.fire({
                title: MSJ_MENSAJE_SISTEMA,
                text: "¿Desea registrar el nuevo Usuario de EP?",
                type: 'question',
                showCancelButton: true,
                confirmButtonText: 'Aceptar',
                cancelButtonText: 'Cancelar',
                reverseButtons: false
            }).then(function (result) {
                
                if (result.value) {
                    fn_GrabarUsuarioEP();
                } else {
                    DesbloquearPantalla();
                    $("#divNuevoParametro").html("");
                }
            });
        //window.open("ArchivoExcelUser/Credenciales de Usuarios.xlsx", 'Download');
        //window.open('../ArchivoExcelUser/Credenciales de Usuarios.xlsx', '', 'width=,height=,resizable=no');
       } else {
            DesbloquearPantalla();
            mostrarMensajeError(mensaje);
        }
    }

    function fn_GrabarUsuarioEP() {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-secondary'
            },
            buttonsStyling: false,
        });
        var msg = "";
        var key = 0;
        var formdata = new FormData($("#frmUsuarioEntidadP")[0]);
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/GestorUsuario/GrabarFinUsuarioEP",
            contentType: false,
            processData: false,
            dataType: "json",
            data: formdata,
            success: function (data) {
                key = data.key;
                msg = data.value;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                DesbloquearPantalla();
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);

            },
            complete: function () {
                
                if (key == "0") {
                    DesbloquearPantalla();
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    swalWithBootstrapButtons.fire({
                        title: MSJ_MENSAJE_SISTEMA,
                        text: msg,
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar',
                        reverseButtons: false
                    }).then(function (result) {
                        if (result.value) {
                            //window.location = URLSERVICIO_IMEI + '/GestorUsuario/DescargarUsuarioCredenciales';

                           
                            setTimeout('redireccionaruSER()', 1000);
                            DesbloquearPantalla();
                           
                        }
                    });
                } else if (key == "2") {
                    DesbloquearPantalla();
                    mostrarMensajeError(msg);
                }
            }
        });
    }

    function redireccionaruSER(){
        location.href = "GestionUsuarios";
    }

    function fn_ValidarRegistroUsuarioEP(){
        var mensaje = "";
        var txtPerfil = $("#ddlTipoPerfil").val();
        if (txtPerfil == "") {
            mensaje += "* Seleccione un Perfil ";
            mensaje += "<br/>";
        }
        var txtSegundoApellido = $("#txtSegundoApellido").val();
        if (txtSegundoApellido == "") {
            mensaje += "* Ingrese su Segundo Apellido ";
            mensaje += "<br/>";
        }
        var ddlModulo = $("#ddlModulo").val();
        if (ddlModulo == "") {
            mensaje += "* Seleccione un Módulo ";
            mensaje += "<br/>";
        }
        var txtPrimNombre = $("#txtPrimNombre").val();
        if (txtPrimNombre == "") {
            mensaje += "* Ingrese su Primer Nombre ";
            mensaje += "<br/>";
        }
        var ddlEntidadPublica = $("#ddlEntidadPublica").val();
        if (ddlEntidadPublica == "") {
            mensaje += "* Seleccione una Entidad Pública ";
            mensaje += "<br/>";
        }
        /*var txtSegundoNombre = $("#txtSegundoNombre").val();
        if (txtSegundoNombre == "") {
            mensaje += "* Ingrese su Segundo Nombre ";
            mensaje += "<br/>";
        }*/
        var ddlInsExterna = $("#ddlInsExternaUser").val();
        if (ddlInsExterna == "") {
            mensaje += "* Seleccione una Unidad de Entidad Pública ";
            mensaje += "<br/>";
        }
        var ddlUnidadEP = $("#ddlUnidadEP").val();
        if (ddlUnidadEP == "") {
            mensaje += "* Seleccione una Sub Unidad de Entidad Pública ";
            mensaje += "<br/>";
        }
        var txtTelefono = $("#txtTelefono").val();
        if (txtTelefono == "") {
            mensaje += "* Ingrese un Teléfono ";
            mensaje += "<br/>";
        } else {
            if (!(txtTelefono.length == 8 || txtTelefono.length == 9)) {
                mensaje += "* El número de teléfono debe contener 9 o 8 caracteres ";
                mensaje += "<br/>";
            }
        }
        var ddlTipoDocumento = $("#ddlTipoDocumento").val();
        if (ddlTipoDocumento == "") {
            mensaje += "* Seleccione un Tipo de Documento ";
            mensaje += "<br/>";
        }
        var txtCelular = $("#txtCelular").val();
        if (txtCelular == "") {
            mensaje += "* Ingrese su Celular ";
            mensaje += "<br/>";
        }
        var txtNroDocumento = $("#txtNroDocumento").val();
        if (txtNroDocumento == "") {
            mensaje += "* Ingrese su Número de Documento ";
            mensaje += "<br/>";
        }
        var txtDireccion = $("#txtDireccion").val();
        if (txtDireccion == "") {
            mensaje += "* Ingrese su Dirección ";
            mensaje += "<br/>";
        }
        var txtPrimerApellido = $("#txtPrimerApellido").val();
        if (txtPrimerApellido == "") {
            mensaje += "* Ingrese Primer Apellido ";
            mensaje += "<br/>";
        }
        var txtCorreoElectronico = $("#txtCorreoElectronico").val();
        if (txtCorreoElectronico == "") {
            mensaje += "* Ingrese Correo Electronico ";
            mensaje += "<br/>";
        }
        var ddlSexo = $("#ddlSexo").val();
        if (ddlSexo == "") {
            mensaje += "* Seleccione Sexo ";
            mensaje += "<br/>";
        }
        var txtCargo = $("#txtCargo").val();
        if (txtCargo == "") {
            mensaje += "* Ingrese un Cargo ";
            mensaje += "<br/>";
        }
        
        return mensaje;

    }
</script>


