﻿@model List<Osiptel.SIGREI.BE.BE_REQUERIMIENTO_IMEI>;
@{    
    Layout = "";
}

<div class="tabla-content-result">
    <input type="hidden" id="hdreqeele" name="hdreqeele" />
    <table id="dtResultadoAnalizar" class="tabla-osiptel" style="width: 100%">
        
        <thead>
            <tr>
                <th scope="col">Nro Registro</th>
                <th scope="col">IMEI</th>
                <th scope="col">Estado IMEI</th>
                <th scope="col">Fecha y Hora de Reporte</th>
                <th scope="col">País</th>
                <th scope="col">Empresa Operadora	</th>
                <th scope="col">Cant. Eventos</th>
                <th scope="col">Seleccionar Evento</th>
                <th scope="col">Estado Luhn</th>
                <th scope="col">Tamaño IMEI</th>
                <th scope="col">Último Digito</th>
                <th scope="col">Motivo de <br /> Devolución</th>
                <th scope="col">Marca/Modelo - GSMA	</th>
                <th scope="col">Registro SIGREI Anterior	</th>
                <th scope="col">Usuario SIGREI Anterior</th>
                <th scope="col">Fecha SIGREI Anterior</th>
                <th scope="col">Estado</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>


                    <td>@item.nroRequerimiento</td>
                    <td>@item.nroImei</td>
                    <td>@item.estadoImei</td>
                    <td>@item.fecReporte</td>
                    <td>@item.pais</td>
                    <td>@item.empresaOperadora</td>
                    <td>@item.cantEventos</td>
                    <td>
                        @if (item.cantEventos > 1 && item.idEstado == 1)
                        {
                            <a href="#" onclick="fn_verEventos('@item.nroImei',@item.idRequerimientoImei)" class="fa fa-th-list fa-lg" title="Seleccionar Evento"></a>
                        }
                    </td>
                    <td>@item.estadoLuhn</td>
                    <td>@item.longitudImei</td>
                    <td>@item.ultimoDigito</td>
                    <td class="text-center">@item.descTipoMotivo</td>
                    <td>@item.descMarcaModelo</td>
                    <td>@item.nroSisDocAnteriores</td>
                    <td>@item.usuSisDocAnterior</td>
                    <td>@item.fecSisDocAnterior</td>
                    <td>@item.descEstado</td>
                    <td class="text-center">
                        @if (item.idEstado == UTConstantes.VALOR_UNO && item.cantEventos == UTConstantes.VALOR_UNO)// nada
                        {
                            <a href="#" onclick="fn_VerRequermientoImei(@item.idRequerimientoImei)" class="fa fa-send fa-lg" title="Para Enviar a EO"></a>
                            <a href="#" onclick="fn_ParaResponder(@item.idRequerimientoImei)" class="fa fa-check fa-lg" title="Para Responder"></a>
                            <a href="#" onclick="fn_ParaDevolver(@item.idRequerimientoImei)" class="fa fa-exchange fa-lg" title="Para Devolver"></a>
                        }
                        else if (item.idEstado == UTConstantes.VALOR_UNO && item.cantEventos > UTConstantes.VALOR_UNO)// nada
                        {
                            <a href="#" onclick="fn_ParaResponder(@item.idRequerimientoImei)" class="fa fa-check fa-lg" title="Para Responder"></a>
                            <a href="#" onclick="fn_ParaDevolver(@item.idRequerimientoImei)" class="fa fa-exchange fa-lg" title="Para Devolver"></a>
                        }
                        else if (item.idEstado > UTConstantes.VALOR_UNO && item.indDevolver != UTConstantes.VALOR_UNO)// por enviar
                        {
                            <a href="#" onclick="fn_Deshacer(@item.idRequerimientoImei)" class="fa fa-undo fa-lg" title="Deshacer Acción"></a>
                        }
                    </td>
                </tr>

            }
        </tbody>

    </table>
</div>
<script src="~/js/appjs/analizar/jsDetalleBandeja.js?0.0.3"></script>