﻿@{
    Layout = "";
}
<div class="row">
    <div class="col-md-4 col-sm-6 col-xs-6">
        <p class="etiqueta">Motivo</p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6">
        @Html.DropDownList("ddlMotivo", new SelectList(ViewBag.Lista_Motivo, "valor", "descripcion"), "Seleccione", new { title = "Tipo de Solicitante", @class = "input-content " })
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-xs-12 text-right">
        <button type="button" id="btnGrabarDevolver" class="btn class-button-bandeja">
            Grabar
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    </div>
</div>
<script src="~/js/appjs/analizar/jsDevolverImei.js"></script>