﻿
@model List<Osiptel.SIGREI.BE.BE_EVENTO_IMEI>;
@{
    Layout = "";
}

<div class="tabla-content-result">
    <input type="hidden" id="ihEveSele" name="ihEveSele" value="@ViewBag.EventoSeleccionado" />
    <table id="dtResultadoEvento" class="tabla-osiptel" style="width: 100%">
        
        <thead>
            <tr>
                <th scope="col">Nro</th>
                <th scope="col">IMEI</th>
                <th scope="col">País</th>
                <th scope="col">Empresa Operadora	</th>
                <th scope="col">Archivo</th>
                <th scope="col">Fecha y Hora </th>
                <th scope="col">Reporte</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>

                    <td>@item.nroItem</td>
                    <td>@item.nroImei</td>
                    <td>@item.pais</td>
                    <td>@item.empresaOperadora</td>
                    <td>@item.nomArchivo</td>
                    <td>@item.fechaHora</td>
                    <td>@item.estadoReporte</td>
                    <td>
                        @if (item.idTermMoviSeleccionado != 0)
                        {
                            <i class="fa fa-check-square" aria-hidden="true"></i>
                        }
                        else
                        {
                            <a href="#" onclick="fn_SeleccionarEvento(@item.idTermMovi)" class="fa fa fa-circle fa-lg" title="Seleccionar Evento"></a>
                        }
                    </td>

                </tr>

            }
        </tbody>

    </table>
</div>

<div class="row">
    <div class="col-md-12 col-xs-12 text-center">
        <button type="button" id="btnAceptarSeleccion" class="btn class-button-bandeja">
            Aceptar
        </button>
        <button type="button" id="btnCancelarSelecccion" class="btn class-button-bandeja">
            Cancelar
        </button>

        @*<asp:Button ID="btnCancelar" runat="server" class="class-buttonsCancelar" Text="Cerrar" OnClientClick="CerrarIframe()" />
            <asp:Button ID="btnAceptar" runat="server" class="class-buttonsCancelar" Text="Aceptar" OnClientClick="CerrarIframe()" />*@
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#dtResultadoEvento').DataTable({
            colReorder: true,
            ordering: false,
            responsive: true
        });
        $("#btnCancelarSelecccion").click(function () {
            $("#modalSeleccionarEvento").modal("hide");
        });
        $("#btnAceptarSeleccion").click(function () {
            var ihEveSele = $("#ihEveSele").val();
            if (ihEveSele == "0") {
                mostrarMensajeError("Tiene que seleccionar un evento");
            } else {
                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-secondary'
                    },
                    buttonsStyling: false,
                });
                swalWithBootstrapButtons.fire({
                    title: MSJ_MENSAJE_SISTEMA,
                    text: "¿Estás seguro de aceptar el evento seleccionado y enviar a la empresa operadora?",
                    type: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Aceptar',
                    cancelButtonText: 'Cancelar',
                    reverseButtons: false
                }).then(function (result) {
                    if (result.value) {
                        enviarEmpresaOperadora();
                    } 
                });
            }
        });
    });

    function fn_SeleccionarEvento(id) {
        //BloquearPantalla();
        $("#ihidevent").val("");
        $("#ihidevent").val(id);
        var msg = "";
        var key = 0;

        var formdata = $("#frmAnalizarIMEI").serialize();
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/AnalizarIMEI/SeleccionEvento",
            cache: false,
            data: formdata,
            dataType: "json",
            success: function (data) {
                key = data.key;
                msg = data.value;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);
            },
            complete: function () {                
                if (key == "0") {
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    parent.fn_RefrescarEventos();
                }                
            }
        });
    }

    function enviarEmpresaOperadora() {
        $("#modalSeleccionarEvento").modal("hide");
        MostrarCargando();
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-secondary'
            },
            buttonsStyling: false,
        });
        var msg = "";
        var key = 0;
        var formdata = new FormData($("#frmAnalizarIMEI")[0]);
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/AnalizarIMEI/GrabarSeleccionEvento",
            contentType: false,
            processData: false,
            dataType: "json",
            data: formdata,
            success: function (data) {                
                key = data.key;
                msg = data.value;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);
                CerrarCargando();
            },
            complete: function () {
                CerrarCargando();
                if (key == "0") {
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    swalWithBootstrapButtons.fire({
                        title: MSJ_MENSAJE_SISTEMA,
                        text: msg,
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar',
                        reverseButtons: false
                    }).then(function (result) {
                        if (result.value) {
                            CerrarCargando();
                            parent.buscarRequerimientoInicial();
                        }
                    });
                }
            }
        });
    }


</script>
@*<script src="~/js/appjs/analizar/jsDetalleBandeja.js?0.0.1"></script>*@