﻿@{    
    Layout = "_Layout";
}
<form method="post" id="frmEnviarEO" enctype="multipart/form-data" asp-controller="AnalizarIMEI" asp-action="EnviarEmpresaOperadora">
    <input type="hidden" name="ihidimei" id="ihidimei" value="" />
</form>
<form method="post" id="frmRetornar" enctype="multipart/form-data" asp-controller="AnalizarIMEI" asp-action="irBandejaRequerimiento">
    
</form>
<form method="post" id="frmAnalizarIMEI" enctype="multipart/form-data">
    <input type="hidden" name="ihidimeiDevolver" id="ihidimeiDevolver" value="" />
    <input type="hidden" name="ihni" id="ihni" value="" />
    <input type="hidden" name="ihidevent" id="ihidevent" value="" />
    <input type="hidden" name="ihidimeiban" id="ihidimeiban" value="" />
    <div class="container contenedor-bandeja">
        <div class="row">
            <div class="col-md-12">
                <div class="content-header cabecera-formulario">
                    <h3 style="color: #ffffff">Análisis de Requerimiento</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="" id="divPartialAnalizar">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button type="button" id="btnCerrarAnalisis" class="btn class-button-bandeja">
                    Cancelar Análisis
                </button>
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-lg" id="modalDevolver" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="content-header cabecera-formulario">
                        <h3 style="color: #ffffff">Devolver a Institución</h3>
                    </div>
                    <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="" id="divDevolverImei">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-lg" id="modalSeleccionarEvento" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-focus-on="input:first">
        <div class="modal-dialog" role="document" style="width:670px !important">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="content-header cabecera-formulario">
                        <h3 style="color: #ffffff">Seleccionar Evento de IMEI</h3>
                    </div>
                    <button type="button" class="close-modal cerrar_modal_responder" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="" id="divSeleccionEvento">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>
<script src="~/js/appjs/analizar/jsIndex.js?0.0.1"></script>