﻿
@{
    ViewData["Title"] = "Estadistico";
}

<form method="post" id="frmBandejaEstadistico" enctype="multipart/form-data">
    <div class="container contenedor-bandeja">
        <div class="row">
            <div class="col-md-12">
                <div class="content-header cabecera-formulario" style="margin-top: 30px">
                    <h3 style="color: #ffffff">Estadísticos Operativos</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="tabRegion-tab" data-toggle="tab" href="#tabRegion" role="tab" aria-controls="tabRegion" aria-selected="true">Por Region</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tabInsSolicitante-tab" data-toggle="tab" href="#tabInsSolicitante" role="tab" aria-controls="tabInsSolicitante" aria-selected="false">Por Institucion Solicitante</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tabEmpOperadora-tab" data-toggle="tab" href="#tabEmpOperadora" role="tab" aria-controls="tabEmpOperadora" aria-selected="false">Por Empresa Operadora</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabReportes">
                    <div class="tab-pane fade active" id="tabRegion" role="tabpanel" aria-labelledby="tabRegion-tab">
                        <div class="row" style="margin-top: 20px;padding: 0 30px;">
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label style="margin-top: 5px;" for="anioRegion" class="col-sm-4 col-form-label">Año</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("anioRegion", new SelectList(ViewBag.ListaAnio, "id", "descripcion"), "Seleccione un Año", new { title = "Anio", @class = "form-control ", @style = "width: 180px;" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label style="margin-top: 5px;" for="reqRegion" class="col-sm-4 col-form-label">Tipo de Requerimiento</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("reqRegion", new SelectList(ViewBag.ListaRequerimiento, "id", "descripcion"), "Todos", new { title = "Anio", @class = "form-control ", @style = "width: 180px;" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label style="margin-top: 5px;" for="regRegion" class="col-sm-2 col-form-label">Region</label>
                                    <div class="col-sm-10">
                                        @Html.DropDownList("regRegion", new SelectList(ViewBag.ListaRegion, "id", "descripcion"), "Todo", new { title = "Region", @class = "form-control ", @style = "width: 180px;" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding: 0 30px;">
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label style="margin-top: 5px;" for="insRegion" class="col-sm-4 col-form-label">Tipo de Institucion</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("insRegion", new SelectList(ViewBag.ListaInstitucion, "id", "descripcion"), "Todos", new { title = "Anio", @class = "form-control ", @style = "width: 180px;" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="rbFiltroDateRegion" id="rbFiltroPeriodoRegion" value="1" checked>
                                            <label class="form-check-label" for="rbFiltroPeriodoRegion">
                                                Periodo
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="margin-left: -34px;">
                                        @Html.DropDownList("periodoRegion", new SelectList(ViewBag.ListaPeriodo, "id", "descripcion"), "Todos", new { title = "Anio", @class = "form-control ", @style = "width: 180px;" })
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 15px;">
                                    <div class="col-md-5">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="rbFiltroDateRegion" id="rbFiltroFechaRegion" value="2">
                                            <label class="form-check-label" for="rbFiltroFechaRegion">
                                                Rango de Fechas
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="margin-left: -34px;margin-top: -4px;">
                                        <div id="ctnDateRangeRegion" class="input-group" style="display: none">
                                            <input id="dtpDesdeRegion" type="date" class="form-control" style="width: 142px;font-size: .9em;">
                                            <div class="input-group-addon">-</div>
                                            <input id="dtpHastaRegion" type="date" class="form-control" style="width: 142px;font-size: .9em;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button type="button" id="btnLimpiarBandejaRegion" class="btn class-button-bandeja">
                                    Limpiar
                                </button>
                                <button type="button" id="btnGraficarRegion" class="btn class-button-bandeja">
                                    Graficar
                                </button>
                                <a id="btnExportarRegion" class="btn class-button-bandeja" onclick="btnExportarRegion()" href="javascript: void(0)">
                                    Exportar
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <canvas id="graficoRegion"></canvas>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 25px;">
                            <div id="divTableRegion" class="tabla-content-result"></div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabInsSolicitante" role="tabpanel" aria-labelledby="tabInsSolicitante-tab">
                        <div class="row" style="margin-top: 20px;padding: 0 30px;">
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label style="margin-top: 5px;" for="anioInsSol" class="col-sm-4 col-form-label">Año</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("anioInsSol", new SelectList(ViewBag.ListaAnio, "id", "descripcion"), "Seleccione un Año", new { title = "Anio", @class = "form-control ", @style = "width: 180px;margin-left: 35px;" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label style="margin-top: 5px;" for="insInsSol" class="col-sm-4 col-form-label">Tipo de Institucion</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("insInsSol", new SelectList(ViewBag.ListaInstitucion, "id", "descripcion"), "Todos", new { title = "Anio", @class = "form-control ", @style = "width: 180px;" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label style="margin-top: 5px;" for="reqInsSol" class="col-sm-4 col-form-label">Tipo de Requerimiento</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("reqInsSol", new SelectList(ViewBag.ListaRequerimiento, "id", "descripcion"), "Todos", new { title = "Anio", @class = "form-control ", @style = "width: 180px;" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding: 0 30px;">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="rbFiltroDateInsSol" id="rbFiltroPeriodoInsSol" value="1" checked>
                                            <label class="form-check-label" for="rbFiltroPeriodoInsSol">
                                                Periodo
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DropDownList("periodoInsSol", new SelectList(ViewBag.ListaPeriodo, "id", "descripcion"), "Todos", new { title = "Anio", @class = "form-control ", @style = "width: 180px;" })
                                    </div>
                                </div>

                                <div class="row" style="margin-top: 15px;">
                                    <div class="col-md-5">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="rbFiltroDateInsSol" id="rbFiltroFechaInsSol" value="2">
                                            <label class="form-check-label" for="rbFiltroFechaInsSol">
                                                Rango de Fechas
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div id="ctnDateRangeInsSol" class="input-group" style="display: none">
                                            <input id="dtpDesdeInsSol" type="date" class="form-control" style="width: 142px;font-size: .9em;">
                                            <div class="input-group-addon">-</div>
                                            <input id="dtpHastaInsSol" type="date" class="form-control" style="width: 142px;font-size: .9em;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button type="button" id="btnLimpiarBandejaInsSol" class="btn class-button-bandeja">
                                    Limpiar
                                </button>
                                <button type="button" id="btnGraficarInsSol" class="btn class-button-bandeja">
                                    Graficar
                                </button>
                                <a id="btnExportarInsSol" class="btn class-button-bandeja" href="javascript: void(0)" onclick="btnExportarInsSol()">
                                    Exportar
                                </a>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 25px;">
                            <div class="col-md-6">
                                <canvas id="graficoBarraInsSol"></canvas>
                            </div>
                            <div class="col-md-6">
                                <canvas id="graficoPieInsSol"></canvas>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 25px;">
                            @*<div id="tablaInsSol" style="padding: 7px;"></div>*@
                            <div id="divTableInsSol" class="tabla-content-result">

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabEmpOperadora" role="tabpanel" aria-labelledby="tabEmpOperadora-tab">
                        <div class="row" style="margin-top: 20px;padding: 0 30px;">
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label style="margin-top: 5px;" for="anioEmpOpe" class="col-sm-4 col-form-label">Año</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("anioEmpOpe", new SelectList(ViewBag.ListaAnio, "id", "descripcion"), "Seleccione un Año", new { title = "Anio", @class = "form-control ", @style = "width: 180px;margin-left: 35px;" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label style="margin-top: 5px;" for="empopeEmpOpe" class="col-sm-4 col-form-label">Empresa Operadora</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("empopeEmpOpe", new SelectList(ViewBag.ListaEO, "id", "descripcion"), "Todos", new { title = "Anio", @class = "form-control ", @style = "width: 180px;" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label style="margin-top: 5px;" for="reqEmpOpe" class="col-sm-4 col-form-label">Tipo de Requerimiento</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("reqEmpOpe", new SelectList(ViewBag.ListaRequerimiento, "id", "descripcion"), "Todos", new { title = "Anio", @class = "form-control ", @style = "width: 180px;" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding: 0 30px;">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="rbFiltroDateEmpOpe" id="rbFiltroPeriodoEmpOpe" value="1" checked>
                                            <label class="form-check-label" for="rbFiltroPeriodoEmpOpe">
                                                Periodo
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DropDownList("periodoEmpOpe", new SelectList(ViewBag.ListaPeriodo, "id", "descripcion"), "Todos", new { title = "Anio", @class = "form-control ", @style = "width: 180px;" })
                                    </div>
                                </div>

                                <div class="row" style="margin-top: 15px;">
                                    <div class="col-md-5">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="rbFiltroDateEmpOpe" id="rbFiltroFechaEmpOpe" value="2">
                                            <label class="form-check-label" for="rbFiltroFechaEmpOpe">
                                                Rango de Fechas
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div id="ctnDateRangeEmpOpe" class="input-group" style="display: none">
                                            <input id="dtpDesdeEmpOpe" type="date" class="form-control" style="width: 142px;font-size: .9em;">
                                            <div class="input-group-addon">-</div>
                                            <input id="dtpHastaEmpOpe" type="date" class="form-control" style="width: 142px;font-size: .9em;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button type="button" id="btnLimpiarBandejaEmpOpe" class="btn class-button-bandeja">
                                    Limpiar
                                </button>
                                <button type="button" id="btnGraficarEmpOpe" class="btn class-button-bandeja">
                                    Graficar
                                </button>
                                <a id="btnExportarEmpOpe" class="btn class-button-bandeja" onclick="btnExportarEmpOpe()" href="javascript: void(0)">
                                    Exportar
                                </a>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 25px;">
                            <div class="col-md-4">
                                <canvas id="graficoBarraGeneralAtendidos"></canvas>
                            </div>
                            <div class="col-md-4">
                                <canvas id="graficoBarraGeneralPendientes"></canvas>
                            </div>
                            <div class="col-md-4">
                                <canvas id="graficoPieGeneral"></canvas>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 25px;">
                            @*<div id="tablaEmpOpe" style="padding: 7px;"></div>*@
                            <div id="divTableEmpOpe" class="tabla-content-result">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

<script>

    var chartRegion = null;
    var dataSource = null;
    var tablaReporteRegion = null;

    var Barchart = null;
    var pieChart = null;
    var tablaReporteInsSol = null;

    var BarchartA = null;
    var BarchartP = null;
    var pieChartE = null;
    var tablaReporteEmpOpe = null;

    var dataSourceEO = null;

    $(document).ready(function () {
        $('.nav-tabs a').click(function () {
            $("#btnLimpiarBandejaRegion").click();
            $("#btnLimpiarBandejaInsSol").click();
            $("#btnLimpiarBandejaEmpOpe").click();
        });

        $('.nav-tabs a[href="#tabRegion"]').tab('show');

        //TabRegion

        $('input[name=rbFiltroDateRegion]').change(function () {
            var value = $('input[name=rbFiltroDateRegion]:checked').val();
            if (value == '1') {
                $("#periodoRegion").show();
                $("#dtpDesdeRegion").val("");
                $("#dtpHastaRegion").val("");
                $("#ctnDateRangeRegion").hide();
            } else if (value == '2') {
                $("#periodoRegion").hide();
                $("#anioRegion").val("");
                $("#periodoRegion").val("");
                $("#ctnDateRangeRegion").show();
            }
        });

        //REPLICA ESTO CON EL OTRO ID Y EL OTRO ID DEL RADIO BUTTON

        $('#anioRegion').on('change', function () {
            if (this.value > 0) {
                $("#rbFiltroPeriodoRegion").prop("checked", true);
                $('#rbFiltroPeriodoRegion').trigger("change");
            }
        });

        $("#btnLimpiarBandejaRegion").click(function () {
            $("#anioRegion").val("");
            $("#reqRegion").val("");
            $("#regRegion").val("");
            $("#insRegion").val("");
            $("#periodoRegion").val("");
            $("#dtpDesdeRegion").val("");
            $("#dtpHastaRegion").val("");
            if (chartRegion != null) {
                chartRegion.destroy();
            }
            $("#tablaRegion").empty();
        });

        $("#btnGraficarRegion").click(function () {
            var anio = $("#anioRegion").val() == "" ? 0 : $("#anioRegion").val();
            var desde = $("#dtpDesdeRegion").val() == "" ? 0 : $("#dtpDesdeRegion").val();
            var hasta = $("#dtpHastaRegion").val() == "" ? 0 : $("#dtpHastaRegion").val();
            var mensaje = "";
            if (anio == 0 && desde == 0 && hasta == 0) {
                mensaje += "Seleccione un Año o un Rango de Fechas";
                mensaje += "<br/>";
            }
            if (mensaje != "") {
                mostrarMensajeError(mensaje);
            } else {
                //MostrarCargando();
                $.showLoading({ imgLoading: URLSERVICIO_IMEI + '/images/osiptel/ajax-loader.gif', body: true });
                var requerimiento = $("#reqRegion").val() == "" ? 0 : $("#reqRegion").val();
                var region = $("#regRegion").val() == "" ? 0 : $("#regRegion").val();
                var institucion = $("#insRegion").val() == "" ? 0 : $("#insRegion").val();
                var periodo = $("#periodoRegion").val() == "" ? 0 : $("#periodoRegion").val();

                if (desde != 0 && hasta != 0) {
                    desde = moment(desde).format('DD/MM/YYYY');
                    hasta = moment(hasta).format('DD/MM/YYYY');
                }

                $.post(URLSERVICIO_IMEI + "/Estadistico/GraficarRegion",
                    {
                        anio: anio,
                        requerimiento: requerimiento,
                        region: region,
                        institucion: institucion,
                        periodo: periodo,
                        desde: desde,
                        hasta: hasta
                    },
                    function (datasets) {
                        if (chartRegion != null) {
                            chartRegion.destroy();
                        }

                        var ctx = document.getElementById('graficoRegion').getContext('2d');
                        chartRegion = new Chart(ctx, {
                            type: 'horizontalBar',
                            data: datasets,
                            options: {
                                maintainAspectRatio: false,
                                animation: {
                                    "duration": 1,
                                    "onComplete": function () {
                                        var chartInstance = this.chart,
                                            ctx = chartInstance.ctx;
                                        ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                                        ctx.textAlign = 'center';
                                        ctx.textBaseline = 'bottom';
                                        this.data.datasets.forEach(function (dataset, i) {
                                            var meta = chartInstance.controller.getDatasetMeta(i);
                                            meta.data.forEach(function (bar, index) {
                                                var data = dataset.data[index];
                                                ctx.fillText(data, bar._model.x + 10, bar._model.y + 7);
                                            });
                                        });
                                    }
                                },
                                tooltips: {
                                    enabled: true,
                                    mode: 'single',
                                    callbacks: {
                                        title: function (tooltipItem, data) {
                                            return "Region: " + data['labels'][tooltipItem[0]['index']];
                                        },
                                        label: function (tooltipItem, data) {
                                            var texto = [];
                                            $.each(data["datasets"], function (index, value) {
                                                var label = value.label + ": " + value.data[tooltipItem['index']];
                                                texto.push(label)
                                            });
                                            return texto;
                                        },
                                        footer: function (tooltipItem, data) {
                                            if (requerimiento == 0) {
                                                var imei = data['datasets'][0]['data'][tooltipItem[0]['index']];
                                                var movil = data['datasets'][1]['data'][tooltipItem[0]['index']];
                                                return "Total: " + (imei + movil);
                                            }
                                        }
                                    },
                                    displayColors: false
                                },
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    },
                                    xAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                }
                            }
                        });

                        var dataRows = chartRegion.config.data.datasets.length;
                        var dataLabels = chartRegion.config.data.labels.length

                        if (dataRows == 1 && dataLabels == 1) {
                            $("#graficoRegion").css("height", "100px");
                        } else if (dataRows > 1 && dataLabels == 1) {
                            $("#graficoRegion").css("height", "120px");
                        } else {
                            var alto = $("#graficoRegion").css("height");
                            var valorAlto = alto.split("px");
                            $("#graficoRegion").css("height", (parseInt(valorAlto[0]) + 50).toString() + "px");
                        }

                    }).done(function () {

                        $.post(URLSERVICIO_IMEI + "/Estadistico/TablaRegion",
                            {
                                anio: anio,
                                requerimiento: requerimiento,
                                region: region,
                                institucion: institucion,
                                periodo: periodo,
                                desde: desde,
                                hasta: hasta
                            },
                            function (dataTabla) {
                                $("#divTableRegion").empty();

                                if (dataTabla.data.length > 0) {
                                    var html = '';

                                    if (periodo == 0 && desde == 0 && hasta == 0) {
                                        html += '<table id="tablaRegion" class="tabla-osiptel" style="width: 100%">';
                                        html += '<caption style="display: none">TablaDetalle</caption>';
                                        html += '<thead><tr>';
                                        html += '<th rowspan="2">REGION</th>';
                                        html += '<th rowspan="2">ENTIDAD PÚBLICA</th>';
                                        html += '<th rowspan="2">UNIDAD ENTIDAD PÚBLICA</th>';
                                        html += '<th rowspan="2">SUB UNIDAD ENTIDAD PÚBLICA</th>';
                                        //html += '<th rowspan="2">RUC</th>';
                                        html += '<th rowspan="2">TIPO REQUERIMIENTO</th>';

                                        $.each(dataTabla.parseFechas, function (index, value) {
                                            html += '<th colspan="' + value.meses.length + '">' + value.anio + '</th>';
                                        });

                                        html += '<th rowspan="2">Total</th>';
                                        html += '</tr><tr>';

                                        $.each(dataTabla.parseFechas, function (index, value) {
                                            $.each(value.meses, function (index1, value2) {
                                                html += '<th>' + value2.mes + '</th>';
                                            });
                                        });

                                        html += '</tr></thead></table>';
                                    } else {

                                        html += '<table id="tablaRegion" class="tabla-osiptel" style="width: 100%">';
                                        html += '<caption style="display: none">TablaDetalle</caption>';
                                        html += '<thead><tr>';
                                        html += '<th rowspan="3">REGION</th>';
                                        html += '<th rowspan="3">ENTIDAD PÚBLICA</th>';
                                        html += '<th rowspan="3">UNIDAD ENTIDAD PÚBLICA</th>';
                                        html += '<th rowspan="3">SUB UNIDAD ENTIDAD PÚBLICA</th>';
                                        //html += '<th rowspan="3">RUC</th>';
                                        html += '<th rowspan="3">TIPO REQUERIMIENTO</th>';


                                        $.each(dataTabla.parseFechas, function (index, value) {
                                            var sumColumnAnio = 0;
                                            $.each(value.meses, function (index2, value2) {
                                                sumColumnAnio += value2.dias.length;
                                            });
                                            html += '<th colspan="' + sumColumnAnio + '">' + value.anio + '</th>';
                                        });


                                        html += '<th rowspan="3">Total</th>';
                                        html += '</tr><tr>';

                                        $.each(dataTabla.parseFechas, function (index, value) {
                                            $.each(value.meses, function (index1, value2) {
                                                html += '<th colspan="' + value2.dias.length + '">' + value2.mes + '</th>';
                                            });
                                        });

                                        html += '</tr><tr>';

                                        $.each(dataTabla.parseFechas, function (index, value) {
                                            $.each(value.meses, function (index2, value2) {
                                                $.each(value2.dias, function (index3, value3) {
                                                    html += '<th>' + value3 + '</th>';
                                                });
                                            });
                                        });

                                        html += '</tr></thead></table>';
                                    }

                                    $("#divTableRegion").html(html);

                                    $('#tablaRegion').DataTable({
                                        data: dataTabla.data
                                    });
                                }

                            }).done(function () {
                                $.hideLoading();
                            }).fail(function () {
                                $.hideLoading();
                            });
                    });
            }
        });

        //Tab Institucion Solicitante

        $('input[name=rbFiltroDateInsSol]').change(function () {
            var value = $('input[name=rbFiltroDateInsSol]:checked').val();
            if (value == '1') {
                $("#periodoInsSol").show();
                $("#dtpDesdeInsSol").val("");
                $("#dtpHastaInsSol").val("");
                $("#ctnDateRangeInsSol").hide();
            } else if (value == '2') {
                $("#periodoInsSol").hide();
                $("#anioInsSol").val("");
                $("#periodoInsSol").val("");
                $("#ctnDateRangeInsSol").show();
            }
        });

        $("#btnLimpiarBandejaInsSol").click(function () {
            $("#anioInsSol").val("");
            $("#reqInsSol").val("");
            $("#insInsSol").val("");
            $("#periodoInsSol").val("");
            $("#dtpDesdeInsSol").val("");
            $("#dtpHastaInsSol").val("");
            if (Barchart != null) {
                Barchart.destroy();
            }
            if (pieChart != null) {
                pieChart.destroy();
            }
            $("#tablaInsSol").empty();
        });

        $('#anioInsSol').on('change', function () {
            if (this.value > 0) {
                $("#rbFiltroPeriodoInsSol").prop("checked", true);
                $('#rbFiltroPeriodoInsSol').trigger("change");
            }
        });

        $("#btnGraficarInsSol").click(function () {
            var anio = $("#anioInsSol").val() == "" ? 0 : $("#anioInsSol").val();
            var desde = $("#dtpDesdeInsSol").val() == "" ? 0 : $("#dtpDesdeInsSol").val();
            var hasta = $("#dtpHastaInsSol").val() == "" ? 0 : $("#dtpHastaInsSol").val();
            var mensaje = "";
            if (anio == 0 && desde == 0 && hasta == 0) {
                mensaje += "Seleccione el Año";
                mensaje += "<br/>";
            }

            if (mensaje != "") {
                mostrarMensajeError(mensaje);
            } else {
                $.showLoading({ imgLoading: URLSERVICIO_IMEI + '/images/osiptel/ajax-loader.gif', body: true });
                var requerimiento = $("#reqInsSol").val() == "" ? 0 : $("#reqInsSol").val();
                var institucion = $("#insInsSol").val() == "" ? 0 : $("#insInsSol").val();
                var periodo = $("#periodoInsSol").val() == "" ? 0 : $("#periodoInsSol").val();

                if (desde != 0 && hasta != 0) {
                    desde = moment(desde).format('DD/MM/YYYY');
                    hasta = moment(hasta).format('DD/MM/YYYY');
                }

                $.post(URLSERVICIO_IMEI + "/Estadistico/GraficarEntidad",
                    {
                        anio: anio,
                        requerimiento: requerimiento,
                        institucion: institucion,
                        periodo: periodo,
                        desde: desde,
                        hasta: hasta
                    },
                    function (datasets) {

                        if (Barchart != null) {
                            Barchart.destroy();
                        }

                        if (pieChart != null) {
                            pieChart.destroy();
                        }

                        var ctx = document.getElementById('graficoBarraInsSol').getContext('2d');
                        Barchart = new Chart(ctx, {
                            type: 'bar',
                            data: datasets["barra"],
                            options: {
                                maintainAspectRatio: false,
                                scales: {
                                    xAxes: [{
                                        stacked: true
                                    }],
                                    yAxes: [{
                                        stacked: true
                                    }]
                                },
                                legend: {
                                    display: true,
                                    labels: {
                                        fontColor: 'rgb(255, 99, 132)'
                                    }
                                },
                                tooltips: {
                                    enabled: true,
                                    mode: 'single',
                                    callbacks: {
                                        title: function (tooltipItem, data) {
                                            return data['datasets'][tooltipItem[0]['datasetIndex']]['label'];
                                        },
                                        label: function (tooltipItem, data) {

                                            var texto = [];
                                            if (requerimiento == 0) {
                                                $.each(datasets["toolTip"][tooltipItem["index"]]["entidades"][tooltipItem["datasetIndex"]]["servicios"], function (index, value) {
                                                    var servicio = value.servicio + ": " + value.valor;
                                                    texto.push(servicio);
                                                });

                                                var total = "Total: " + tooltipItem['value'];
                                                texto.push(total);
                                            } else {
                                                $.each(datasets["toolTip"][tooltipItem["index"]]["entidades"][tooltipItem["datasetIndex"]]["servicios"], function (index, value) {
                                                    var servicio = value.servicio + ": " + value.valor;
                                                    texto.push(servicio);
                                                });
                                            }
                                            return texto;
                                        }
                                    },
                                    displayColors: false
                                }
                            }
                        });

                        $("#graficoBarraInsSol").css("height", "220px");

                        var ctxPie = document.getElementById('graficoPieInsSol').getContext('2d');
                        pieChart = new Chart(ctxPie, {
                            type: 'pie',
                            data: datasets["pie"],
                            options: {
                                maintainAspectRatio: false,
                                tooltips: {
                                    enabled: true,
                                    mode: 'single',
                                    callbacks: {
                                        title: function (tooltipItem, data) {
                                            return data['labels'][tooltipItem[0]['index']];
                                        },
                                        label: function (tooltipItem, data) {
                                            var texto = [];
                                            var totalC = 0;

                                            $.each(data['datasets'][0]['data'], function (index, value) {
                                                totalC += value
                                            });

                                            if (requerimiento == 0) {
                                                $.each(datasets["toolTipPorcentaje"][tooltipItem['index']]["servicios"], function (index, value) {
                                                    var servicio = value.servicio + ": " + value.valor;
                                                    texto.push(servicio);
                                                });

                                                var total = "Total: " + ((data['datasets'][0]['data'][tooltipItem['index']] / totalC) * 100).toFixed(2) + "%";
                                                texto.push(total);
                                            } else {
                                                $.each(datasets["toolTipPorcentaje"][tooltipItem['index']]["servicios"], function (index, value) {
                                                    var servicio = value.servicio + ": " + ((data['datasets'][tooltipItem['datasetIndex']]['data'][tooltipItem['index']] / totalC) * 100).toFixed(2) + "%";
                                                    texto.push(servicio);
                                                });
                                            }
                                            return texto;
                                        }
                                    },
                                    displayColors: false
                                }
                            }
                        });

                        $("#graficoPieInsSol").css("height", "220px");

                    }).done(function () {
                        $.post(URLSERVICIO_IMEI + "/Estadistico/TablaEntidad",
                            {
                                anio: anio,
                                requerimiento: requerimiento,
                                institucion: institucion,
                                periodo: periodo,
                                desde: desde,
                                hasta: hasta
                            },
                            function (dataTabla) {

                                $("#divTableInsSol").empty();

                                if (dataTabla.data.length > 0) {
                                    var html = '';

                                    if (periodo == 0 && desde == 0 && hasta == 0) {
                                        html += '<table id="tablaInsSol" class="tabla-osiptel" style="width: 100%">';
                                        html += '<caption style="display: none">TablaDetalle</caption>';
                                        html += '<thead><tr>';
                                        html += '<th rowspan="2">ENTIDAD PÚBLICA</th>';
                                        html += '<th rowspan="2">UNIDAD ENTIDAD PÚBLICA</th>';
                                        html += '<th rowspan="2">SUB UNIDAD ENTIDAD PÚBLICA</th>';
                                        //html += '<th rowspan="2">RUC</th>';
                                        html += '<th rowspan="2">TIPO REQUERIMIENTO</th>';
                                        $.each(dataTabla.anios, function (index, value) {
                                            html += '<th colspan="' + dataTabla.meses.length + '">' + value + '</th>';
                                        });
                                        html += '<th rowspan="2">Total</th>';
                                        html += '</tr><tr>';
                                        $.each(dataTabla.anios, function (index, value) {
                                            $.each(dataTabla.meses, function (index, value) {
                                                html += '<th>' + value + '</th>';
                                            });
                                        });
                                        html += '</tr></thead></table>';
                                    } else {
                                        html += '<table id="tablaInsSol" class="tabla-osiptel" style="width: 100%">';
                                        html += '<caption style="display: none">TablaDetalle</caption>';
                                        html += '<thead><tr>';
                                        html += '<th rowspan="3">ENTIDAD PÚBLICA</th>';
                                        html += '<th rowspan="3">UNIDAD ENTIDAD PÚBLICA</th>';
                                        html += '<th rowspan="3">SUB UNIDAD ENTIDAD PÚBLICA</th>';
                                        //html += '<th rowspan="3">RUC</th>';
                                        html += '<th rowspan="3">TIPO REQUERIMIENTO</th>';
                                        $.each(dataTabla.anios, function (index, value) {
                                            var sumColumn = 0;
                                            $.each(dataTabla.dias, function (index2, value2) {
                                                sumColumn += value2.length;
                                            });
                                            html += '<th colspan="' + sumColumn + '">' + value + '</th>';
                                        });
                                        html += '<th rowspan="3">Total</th>';
                                        html += '</tr><tr>';
                                        $.each(dataTabla.anios, function (index, value) {
                                            $.each(dataTabla.meses, function (index, value) {
                                                html += '<th colspan="' + dataTabla.dias[index].length + '">' + value + '</th>';
                                            });
                                        });
                                        html += '</tr><tr>';
                                        $.each(dataTabla.anios, function (index, value) {
                                            $.each(dataTabla.meses, function (index, value) {
                                                $.each(dataTabla.dias[index], function (index2, value2) {
                                                    html += '<th>' + value2 + '</th>';
                                                });
                                            });
                                        });
                                        html += '</tr></thead></table>';
                                    }

                                    $("#divTableInsSol").html(html);

                                    $('#tablaInsSol').DataTable({
                                        data: dataTabla.data
                                    });
                                }

                            }).done(function () {
                                $.hideLoading();
                            }).fail(function () {
                                $.hideLoading();
                            });
                    }).fail(function () {
                        $.hideLoading();
                    });
            }
        });

        //Tab Empresa Operadora

        $('input[name=rbFiltroDateEmpOpe]').change(function () {
            var value = $('input[name=rbFiltroDateEmpOpe]:checked').val();
            if (value == '1') {
                $("#periodoEmpOpe").show();
                $("#dtpDesdeEmpOpe").val("");
                $("#dtpHastaEmpOpe").val("");
                $("#ctnDateRangeEmpOpe").hide();
            } else if (value == '2') {
                $("#periodoEmpOpe").hide();
                $("#anioEmpOpe").val("");
                $("#periodoEmpOpe").val("");
                $("#ctnDateRangeEmpOpe").show();
            }
        });

        $("#btnLimpiarBandejaEmpOpe").click(function () {
            $("#anioEmpOpe").val("");
            $("#reqEmpOpe").val("");
            $("#empopeEmpOpe").val("");
            $("#periodoEmpOpe").val("");
            $("#dtpDesdeEmpOpe").val("");
            $("#dtpHastaEmpOpe").val("");
            if (BarchartA != null) {
                BarchartA.destroy();
            }

            if (BarchartP != null) {
                BarchartP.destroy();
            }

            if (pieChartE != null) {
                pieChartE.destroy();
            }
            $("#tablaEmpOpe").empty();
        });

        $('#anioEmpOpe').on('change', function () {
            if (this.value > 0) {
                $("#rbFiltroPeriodoEmpOpe").prop("checked", true);
                $('#rbFiltroPeriodoEmpOpe').trigger("change");
            }
        });

        $("#btnGraficarEmpOpe").click(function () {
            var anio = $("#anioEmpOpe").val() == "" ? 0 : $("#anioEmpOpe").val();
            var desde = $("#dtpDesdeEmpOpe").val() == "" ? 0 : $("#dtpDesdeEmpOpe").val();
            var hasta = $("#dtpHastaEmpOpe").val() == "" ? 0 : $("#dtpHastaEmpOpe").val();
            var mensaje = "";
            if (anio == 0 && desde == 0 && hasta == 0) {
                mensaje += "Seleccione el Año";
                mensaje += "<br/>";
            }

            if (mensaje != "") {
                mostrarMensajeError(mensaje);
            } else {
                $.showLoading({ imgLoading: URLSERVICIO_IMEI + '/images/osiptel/ajax-loader.gif', body: true });
                var requerimiento = $("#reqEmpOpe").val() == "" ? 0 : $("#reqEmpOpe").val();
                var empresa = $("#empopeEmpOpe").val() == "" ? 0 : $("#empopeEmpOpe").val();
                var mes = $("#periodoEmpOpe").val() == "" ? 0 : $("#periodoEmpOpe").val();


                if (desde != 0 && hasta != 0) {
                    desde = moment(desde).format('DD/MM/YYYY');
                    hasta = moment(hasta).format('DD/MM/YYYY');
                }

                $.post(URLSERVICIO_IMEI + "/Estadistico/GraficarEmpOpe",
                    {
                        anio: anio,
                        requerimiento: requerimiento,
                        empresa: empresa,
                        mes: mes,
                        desde: desde,
                        hasta: hasta
                    },
                    function (datasets) {
                        if (BarchartA != null) {
                            BarchartA.destroy();
                        }

                        if (BarchartP != null) {
                            BarchartP.destroy();
                        }

                        if (pieChartE != null) {
                            pieChartE.destroy();
                        }

                        var ctxA = document.getElementById('graficoBarraGeneralAtendidos').getContext('2d');
                        BarchartA = new Chart(ctxA, {
                            type: 'bar',
                            data: datasets["barraAtendido"],
                            options: {
                                scales: {
                                    xAxes: [{
                                        stacked: true
                                    }],
                                    yAxes: [{
                                        stacked: true
                                    }]
                                },
                                legend: {
                                    display: true,
                                    labels: {
                                        fontColor: 'rgb(255, 99, 132)'
                                    }
                                },
                                title: {
                                    display: true,
                                    text: "ATENDIDOS POR EO"
                                }
                            }
                        });

                        var ctxP = document.getElementById('graficoBarraGeneralPendientes').getContext('2d');
                        BarchartP = new Chart(ctxP, {
                            type: 'bar',
                            data: datasets["barraPendiente"],
                            options: {
                                scales: {
                                    xAxes: [{
                                        stacked: true
                                    }],
                                    yAxes: [{
                                        stacked: true
                                    }]
                                },
                                legend: {
                                    display: true,
                                    labels: {
                                        fontColor: 'rgb(255, 99, 132)'
                                    }
                                },
                                title: {
                                    display: true,
                                    text: "PENDIENTES POR EO"
                                }
                            }
                        });

                        var ctxPie = document.getElementById('graficoPieGeneral').getContext('2d');
                        pieChartE = new Chart(ctxPie, {
                            type: 'pie',
                            data: datasets["pieGrafica"],
                            options: {
                                tooltips: {
                                    enabled: true,
                                    mode: 'single',
                                    callbacks: {
                                        title: function (tooltipItem, data) {
                                            return data['labels'][tooltipItem[0]['index']];
                                        },
                                        label: function (tooltipItem, data) {
                                            var texto = [];
                                            var sumA = 0;
                                            var sumP = 0;
                                            if (datasets["barraAtendido"]['datasets'][tooltipItem['index']] != undefined) {
                                                $.each(datasets["barraAtendido"]['datasets'][tooltipItem['index']]['data'], function (index, value) {
                                                    sumA += value;
                                                });
                                            }

                                            if (datasets["barraPendiente"]['datasets'][tooltipItem['index']] != undefined) {
                                                $.each(datasets["barraPendiente"]['datasets'][tooltipItem['index']]['data'], function (index, value) {
                                                    sumP += value;
                                                });
                                            }

                                            var atendido = "ATENDIDO: " + sumA;
                                            var pendiente = "PENDIENTE: " + sumP;
                                            texto.push(atendido, pendiente);
                                            return texto;
                                        }
                                    },
                                    displayColors: false
                                },
                                title: {
                                    display: true,
                                    text: "TOTAL DE REQUERIMIENTOS POR EO"
                                }
                            }
                        });
                    }).done(function () {
                        $.post(URLSERVICIO_IMEI + "/Estadistico/TablaEmpOpe",
                            {
                                anio: anio,
                                requerimiento: requerimiento,
                                empresa: empresa,
                                mes: mes,
                                desde: desde,
                                hasta: hasta
                            },
                            function (dataTabla) {

                                $("#divTableEmpOpe").empty();

                                if (dataTabla.data.length > 0) {
                                    var html = '';
                                    if (mes == 0 && desde == 0 && hasta == 0) {
                                        html += '<table id="tablaEmpOpe" class="tabla-osiptel" style="width: 100%">';
                                        html += '<caption style="display: none">TablaDetalle</caption>';
                                        html += '<thead><tr>';
                                        html += '<th rowspan="2">EMPRESA OPERADORA</th>';
                                        html += '<th rowspan="2">TIPO REQUERIMIENTO</th>';
                                        html += '<th rowspan="2">ESTADO</th>';
                                        html += '<th rowspan="2">TIPO DE ESTADO</th>';
                                        $.each(dataTabla.anios, function (index, value) {
                                            html += '<th colspan="' + dataTabla.meses.length + '">' + value + '</th>';
                                        });
                                        html += '<th rowspan="2">Total</th>';
                                        html += '</tr><tr>';
                                        $.each(dataTabla.anios, function (index, value) {
                                            $.each(dataTabla.meses, function (index, value) {
                                                html += '<th>' + value + '</th>';
                                            });
                                        });
                                        html += '</tr></thead></table>';
                                    } else {
                                        html += '<table id="tablaEmpOpe" class="tabla-osiptel" style="width: 100%">';
                                        html += '<caption style="display: none">TablaDetalle</caption>';
                                        html += '<thead><tr>';
                                        html += '<th rowspan="3">EMPRESA OPERADORA</th>';
                                        html += '<th rowspan="3">TIPO REQUERIMIENTO</th>';
                                        html += '<th rowspan="3">ESTADO</th>';
                                        html += '<th rowspan="3">TIPO DE ESTADO</th>';
                                        $.each(dataTabla.anios, function (index, value) {
                                            var sumColumn = 0;
                                            $.each(dataTabla.dias, function (index2, value2) {
                                                sumColumn += value2.length;
                                            });
                                            html += '<th colspan="' + sumColumn + '">' + value + '</th>';
                                        });
                                        html += '<th rowspan="3">Total</th>';
                                        html += '</tr><tr>';
                                        $.each(dataTabla.anios, function (index, value) {
                                            $.each(dataTabla.meses, function (index, value) {
                                                html += '<th colspan="' + dataTabla.dias[index].length + '">' + value + '</th>';
                                            });
                                        });
                                        html += '</tr><tr>';
                                        $.each(dataTabla.anios, function (index, value) {
                                            $.each(dataTabla.meses, function (index, value) {
                                                $.each(dataTabla.dias[index], function (index2, value2) {
                                                    html += '<th>' + value2 + '</th>';
                                                });
                                            });
                                        });
                                        html += '</tr></thead></table>';
                                    }

                                    $("#divTableEmpOpe").html(html);

                                    $('#tablaEmpOpe').DataTable({
                                        data: dataTabla.data
                                    });
                                }

                            }).done(function () {
                                $.hideLoading();
                            }).fail(function () {
                                $.hideLoading();
                            });
                    }).fail(function () {
                        $.hideLoading();
                    });
            }
        });
    });

    function btnExportarRegion() {
        var anio = $("#anioRegion").val() == "" ? 0 : $("#anioRegion").val();
        var desde = $("#dtpDesdeRegion").val() == "" ? 0 : $("#dtpDesdeRegion").val();
        var hasta = $("#dtpHastaRegion").val() == "" ? 0 : $("#dtpHastaRegion").val();
        var mensaje = "";
        if (anio == 0 && desde == 0 && hasta == 0) {
            mensaje += "Seleccione un Año o un Rango de Fechas";
            mensaje += "<br/>";
        }
        if (mensaje != "") {
            mostrarMensajeError(mensaje);
        } else {
            //MostrarCargando();
            $.showLoading({ imgLoading: URLSERVICIO_IMEI + '/images/osiptel/ajax-loader.gif', body: true });
            var requerimiento = $("#reqRegion").val() == "" ? 0 : $("#reqRegion").val();
            var region = $("#regRegion").val() == "" ? 0 : $("#regRegion").val();
            var institucion = $("#insRegion").val() == "" ? 0 : $("#insRegion").val();
            var periodo = $("#periodoRegion").val() == "" ? 0 : $("#periodoRegion").val();

            if (desde != 0 && hasta != 0) {
                desde = moment(desde).format('DD/MM/YYYY');
                hasta = moment(hasta).format('DD/MM/YYYY');
            }


            $.post(URLSERVICIO_IMEI + "/Estadistico/ExportarTablaRegio", {
                anio: anio,
                requerimiento: requerimiento,
                region: region,
                institucion: institucion,
                periodo: periodo,
                desde: desde,
                hasta: hasta
            }, function (data) {
                var response = data.data;
                window.location = URLSERVICIO_IMEI + '/Estadistico/Download?fileGuid=' + response.fileGuid
                    + '&filename=' + response.fileName;
            }).always(function () {
                $.hideLoading();
            });

            //var urlExportarRegion = URLSERVICIO_IMEI + "/Estadistico/ExportarTablaRegio?anio=" + anio + "&requerimiento=" + requerimiento + "&region=" + region + "&institucion=" + institucion + "&periodo=" + periodo + "&desde=" + desde + "&hasta=" + hasta;

            //window.location.replace(urlExportarRegion);


        }
    }

    function btnExportarInsSol() {
        var anio = $("#anioInsSol").val() == "" ? 0 : $("#anioInsSol").val();
        var desde = $("#dtpDesdeInsSol").val() == "" ? 0 : $("#dtpDesdeInsSol").val();
        var hasta = $("#dtpHastaInsSol").val() == "" ? 0 : $("#dtpHastaInsSol").val();
        var mensaje = "";
        if (anio == 0 && desde == 0 && hasta == 0) {
            mensaje += "Seleccione el Año";
            mensaje += "<br/>";
        }

        if (mensaje != "") {
            mostrarMensajeError(mensaje);
        } else {
            $.showLoading({ imgLoading: URLSERVICIO_IMEI + '/images/osiptel/ajax-loader.gif', body: true });
            var requerimiento = $("#reqInsSol").val() == "" ? 0 : $("#reqInsSol").val();
            var institucion = $("#insInsSol").val() == "" ? 0 : $("#insInsSol").val();
            var periodo = $("#periodoInsSol").val() == "" ? 0 : $("#periodoInsSol").val();

            if (desde != 0 && hasta != 0) {
                desde = moment(desde).format('DD/MM/YYYY');
                hasta = moment(hasta).format('DD/MM/YYYY');
            }

            $.post(URLSERVICIO_IMEI + "/Estadistico/ExportarTablaInsSol", {
                anio: anio,
                requerimiento: requerimiento,
                institucion: institucion,
                periodo: periodo,
                desde: desde,
                hasta: hasta
            }, function (data) {
                var response = data.data;
                window.location = URLSERVICIO_IMEI + '/Estadistico/Download?fileGuid=' + response.fileGuid
                    + '&filename=' + response.fileName;
            }).always(function () {
                $.hideLoading();
            });

            //window.location.href = URLSERVICIO_IMEI + "/Estadistico/ExportarTablaInsSol?anio=" + anio + "&requerimiento=" + requerimiento + "&institucion=" + institucion + "&periodo=" + periodo + "&desde=" + desde + "&hasta=" + hasta;

            //$.hideLoading();
        }
    }

    function btnExportarEmpOpe() {
        var anio = $("#anioEmpOpe").val() == "" ? 0 : $("#anioEmpOpe").val();
        var desde = $("#dtpDesdeEmpOpe").val() == "" ? 0 : $("#dtpDesdeEmpOpe").val();
        var hasta = $("#dtpHastaEmpOpe").val() == "" ? 0 : $("#dtpHastaEmpOpe").val();
        var mensaje = "";
        if (anio == 0 && desde == 0 && hasta == 0) {
            mensaje += "Seleccione el Año";
            mensaje += "<br/>";
        }

        if (mensaje != "") {
            mostrarMensajeError(mensaje);
        } else {
            $.showLoading({ imgLoading: URLSERVICIO_IMEI + '/images/osiptel/ajax-loader.gif', body: true });
            var requerimiento = $("#reqEmpOpe").val() == "" ? 0 : $("#reqEmpOpe").val();
            var empresa = $("#empopeEmpOpe").val() == "" ? 0 : $("#empopeEmpOpe").val();
            var mes = $("#periodoEmpOpe").val() == "" ? 0 : $("#periodoEmpOpe").val();


            if (desde != 0 && hasta != 0) {
                desde = moment(desde).format('DD/MM/YYYY');
                hasta = moment(hasta).format('DD/MM/YYYY');
            }

            $.post(URLSERVICIO_IMEI + "/Estadistico/ExportarTablaEmpOpe", {
                anio: anio,
                mes: mes,
                empresa: empresa,
                desde: desde,
                hasta: hasta,
                requerimiento: requerimiento
            }, function (data) {
                var response = data.data;
                window.location = URLSERVICIO_IMEI + '/Estadistico/Download?fileGuid=' + response.fileGuid
                    + '&filename=' + response.fileName;
            }).always(function () {
                $.hideLoading();
            });

            //window.location.href = URLSERVICIO_IMEI + "/Estadistico/ExportarTablaEmpOpe?anio=" + anio + "&mes=" + mes + "&empresa=" + empresa + "&desde=" + desde + "&hasta=" + hasta + "&requerimiento=" + requerimiento;

            //$.hideLoading();
        }
    }

</script>