﻿@model Osiptel.SIGREI.BE.UsuarioEOBE;
@{
    ViewData["Title"] = "";
    Layout = "";
}

<div class="row">
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Usuario
            </label>
        </label>
    </div>
    <div class="col-md-3 col-xs-3 ">
        @Html.DisplayFor(model => model.IDUSUARIO)
    </div>
    <div class="col-md-3 col-xs-3">
        <label class="title-opt">
            Nombre:
        </label>
    </div>
    <div class="col-md-3 col-xs-3">
        @Html.DisplayFor(model => model.NOMBRE)       
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-xs-3">
        <label class="title-opt">
            Ap. Paterno:
        </label>
    </div>
    <div class="col-md-3 col-xs-3">
        @Html.DisplayFor(model => model.APEPAT)
    </div>
    <div class="col-md-3 col-xs-3">
        <label class="title-opt">
            Ap. Materno:
        </label>
    </div>
    <div class="col-md-3 col-xs-3">
        @Html.DisplayFor(model => model.APEMAT)
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Clave
            </label>
        </label>
    </div>
    <div class="col-md-3 col-xs-3">        
        @Html.PasswordFor(model => model.CLAVE, new { @class = "input-content" })        
    </div>
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Reingrese su Clave:
            </label>
        </label>
    </div>
    <div class="col-md-3 col-xs-3">
        @Html.PasswordFor(model => model.CONFCLAVE, new { @class = "input-content" })        
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-xs-12 text-right">
        <button type="button" id="btnActualizarClave" class="btn class-button-bandeja">
            Actualizar Clave
        </button>
        <button type="button" class="btn btn-secondary btn-cancelar" data-dismiss="modal">Cancelar</button>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        $("#btnActualizarClave").click(function () {
            var mensaje = fn_ValidarInfoObligatorio();
            if (mensaje === "") {
                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-secondary' 
                    },
                    buttonsStyling: false
                });
                swalWithBootstrapButtons.fire({
                    title: MSJ_MENSAJE_SISTEMA,
                    text: "¿Desea actualizar la clave del usuario operador?",
                    type: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Aceptar',
                    cancelButtonText: 'Cancelar',
                    reverseButtons: false
                }).then(function (result) {
                    if (result.value) {
                        fn_ActualizarClave();
                    } else {
                        DesbloquearPantalla();
                    }
                });
            } else {
                mostrarMensajeError(mensaje);
            }
        });
    });

    function fn_ValidarInfoObligatorio() {
        var mensaje = "";
        var txtClave = $("#CLAVE").val();
        var txtConfiClave = $("#CONFCLAVE").val();

        if (txtClave == "") {
            mensaje += "* Ingrese la clave";
            mensaje += "<br/>";
        } else if (txtConfiClave === "") {
            mensaje += "* Ingrese la confirmacion de la clave";
            mensaje += "<br/>";
        } else if (txtClave != txtConfiClave) {
            mensaje += "* Las claves no coinciden ";
            mensaje += "<br/>";
        } else {
            if (txtClave.length < 8) {
                mensaje += "* La longitud de la clave es 8 caracteres como mínimo ";
                mensaje += "<br/>";
            }
        }
        return mensaje;
    }

    function fn_ActualizarClave() {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-secondary' 
            },
            buttonsStyling: false,
        });
        var msg = "";
        var key = 0;
        var formdata = new FormData($("#frmBandejaSolicitud")[0]);
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/UsuarioEO/ActualizarClaveUsuarioEO",
            contentType: false,
            processData: false,
            dataType: "json",
            data: formdata,
            success: function (data) {                
                key = data.key;
                msg = data.value;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);

            },
            complete: function () {
                if (key == "0") {
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    swalWithBootstrapButtons.fire({
                        title: MSJ_MENSAJE_SISTEMA,
                        text: msg,
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar',
                        reverseButtons: false
                    }).then(function (result) {
                        if (result.value) {
                            $("#divCambioClave").html("")
                            $("#modalCambioClave").modal("hide");
                            parent.fn_BuscarUsuariosEO();
                        }
                    });
                } 
            }
        });
    }
</script>

