﻿@model List<Osiptel.SIGREI.BE.UsuarioEOBE>;
@{
    ViewData["Title"] = "_DetalleBandeja";
    Layout = "";
}
<div class="tabla-content-result">    
    <table id="dtResultadoBusqueda" class="tabla-osiptel" style="width: 100%">
        
        <thead>
            <tr>
                <th scope="col">Nro</th>
                <th scope="col">Usuario</th>
                <th scope="col">Nombres</th>
                <th scope="col">Ape. Paterno</th>
                <th scope="col">Ape. Materno</th>
                <th scope="col">Email</th>
                <th scope="col">Email Personal</th>
                <th scope="col">Area</th>
                <th scope="col">Cargo</th>
                <th scope="col">Estado</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>@item.NROITEM</td>
                    <td>@item.USUARIO</td>
                    <td>@item.NOMBRE</td>
                    <td>@item.APEPAT</td>
                    <td>@item.APEMAT</td>
                    <td>@item.EMAILEO</td>
                    <td>@item.EMAILPERS</td>
                    <td>@item.AREA</td>
                    <td>@item.CARGO</td>
                    <td>@item.ESTADO</td>

                    <td class="text-center">
                        <a href="#" onclick="fn_Editar('@item.IDUSUARIO',@item.IDESTADO)" class="fa fa-edit fa-lg" title="Consultar"></a>
                        <a href="#" onclick="fn_CambiarEstado('@item.IDUSUARIO',@item.IDESTADO)" class="fa fa-retweet fa-lg" title="Cambio de Estado"></a>
                        <a href="#" onclick="fn_CambiarClave('@item.IDUSUARIO')" class="fa fa-fire fa-lg" title="Cambio de Clave"></a>
                    </td>
                </tr>

            }
        </tbody>

    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#dtResultadoBusqueda').DataTable({
            colReorder: true,
            responsive: true,
            'columnDefs': [{
                'targets': [0, 1],
                'orderable': false
            }]
        });
    });

    function fn_CambiarEstado(idusu,idesta) {
        BloquearPantalla();
        $("#hiidUsuEO").val("");
        $("#hiidEstado").val("");
        $("#hiidUsuEO").val(idusu);
        $("#hiidEstado").val(idesta);

        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-secondary' 
            },
            buttonsStyling: false
        });
        swalWithBootstrapButtons.fire({
            title: MSJ_MENSAJE_SISTEMA,
            text: "¿Esta seguro que desea cambiar el estado?",
            type: 'question',
            showCancelButton: true,
            confirmButtonText: 'Aceptar',
            cancelButtonText: 'Cancelar',
            reverseButtons: false
        }).then(function (result) {
            if (result.value) {
                fn_ActualizarEstado();
            } else {
                DesbloquearPantalla();
            }
        });
    }
    function fn_ActualizarEstado() {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-secondary' 
            },
            buttonsStyling: false,
        });
        var msg = "";
        var key = 0;
        var formdata = new FormData($("#frmBandejaSolicitud")[0]);
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/UsuarioEO/CambiarEstado",
            contentType: false,
            processData: false,
            dataType: "json",
            data: formdata,
            success: function (data) {                
                key = data.key;
                msg = data.value;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);
                DesbloquearPantalla();
            },
            complete: function () {
                DesbloquearPantalla();
                if (key == "0") {
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    swalWithBootstrapButtons.fire({
                        title: MSJ_MENSAJE_SISTEMA,
                        text: msg,
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar',
                        reverseButtons: false
                    }).then(function (result) {
                        if (result.value) {
                            parent.fn_BuscarUsuariosEO();
                        }
                    });
                }
            }
        });
    }


    function fn_Editar(idEo, idestado) {
        
        var divNuevoUsuario = $("#divNuevoUsuario");
        divNuevoUsuario.html("");
        $("#hiidUsuEO").val(idEo);
        $("#hiidEstado").val(idestado);
        $("#modalEditarUsuario").modal({ backdrop: 'static', keyboard: false });

        var divEditarUsuario = $("#divEditarUsuario");
        var formdata = $("#frmBandejaSolicitud").serialize();
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/UsuarioEO/EditarUsuario",
            cache: false,
            data: formdata,
            success: function (data) {
                divEditarUsuario.html("");
                divEditarUsuario.html(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //DesbloquearPantalla();
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError("Error al intentar cargar la info para actualizar un nuevo usuario EO");
            },
            complete: function () {
                //DesbloquearPantalla();
            }
        });
    }

    function fn_CambiarClave(idEo) {
        $("#hiidUsuEO").val("");
        $("#hiidUsuEO").val(idEo);

        $("#modalCambioClave").modal({ backdrop: 'static', keyboard: false });

        var divCambioClave = $("#divCambioClave");
        var formdata = $("#frmBandejaSolicitud").serialize();
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/UsuarioEO/CambiarClaveUsuario",
            cache: false,
            data: formdata,
            success: function (data) {
                divCambioClave.html("");
                divCambioClave.html(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //DesbloquearPantalla();
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError("Error al intentar cargar la info para actualizar un nuevo usuario EO");
            },
            complete: function () {
                //DesbloquearPantalla();
            }
        });
    }

    


</script>