﻿@model Osiptel.SIGREI.BE.UsuarioEOBE;
@{
    ViewData["Title"] = "";
    Layout = "";
}

<div class="row">
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Usuario
            </label>
        </label>
    </div>
    <div class="col-md-3 col-xs-3 ">
        @Html.TextBoxFor(model => model.IDUSUARIO, new { @class = "input-content", @MaxLength = "50" })        

    </div>
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Estado
            </label>
        </label>
    </div>
    <div class="col-md-3 col-xs-3">
        @Html.DropDownList("ddlEstadoNuevo", new SelectList(ViewBag.Lista_Estado, "IDESTADO", "ESTADO"), "Seleccione", new { title = "Estado", @class = "input-content " })    
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Clave
            </label>
        </label>
    </div>
    <div class="col-md-3 col-xs-3">    
        @Html.PasswordFor(model => model.CLAVE, new { @class = "input-content", @MaxLength = "20" })    
    </div>
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Reingrese su Clave:
            </label>
        </label>
    </div>
    <div class="col-md-3 col-xs-3">
        @Html.PasswordFor(model => model.CONFCLAVE, new { @class = "input-content", @MaxLength = "20" })        
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-xs-3">
        <label class="title-opt">
            Fecha Expiración:
        </label>
    </div>
    <div class="col-md-3 col-xs-3">
        @Html.TextBoxFor(model => model.FECVIG, new { @class = "input-content fechaVigencia", @MaxLength = "10" })        
    </div>
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Perfil:
            </label>
        </label>
    </div>
    <div class="col-md-3 col-xs-3">
        @Html.DropDownList("ddlPerfil", new SelectList(ViewBag.Lista_Perfil, "IDPERFIL", "DESCRIPCION"), "Seleccione", new { title = "Estado", @class = "input-content " })
       
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-xs-3">
        <label class="title-opt">
            Nombre:
        </label>
    </div>
    <div class="col-md-3 col-xs-3">
        @Html.TextBoxFor(model => model.NOMBRE, new { @class = "input-content", @MaxLength = "40" })
        

    </div>
    <div class="col-md-3 col-xs-3">
        <label class="title-opt">
            Ap. Paterno:
        </label>
    </div>
    <div class="col-md-3 col-xs-3">
        @Html.TextBoxFor(model => model.APEPAT, new { @class = "input-content", @MaxLength = "40" })       

    </div>
</div>
<div class="row">
    <div class="col-md-3 col-xs-3">

        <label class="title-opt">
            Ap. Materno:
        </label>

    </div>
    <div class="col-md-3 col-xs-3">
        @Html.TextBoxFor(model => model.APEMAT, new { @class = "input-content", @MaxLength = "40" })
      

    </div>
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Sexo:
            </label>
        </label>
    </div>
    <div class="col-md-3 col-xs-3">
        @Html.DropDownList("ddlSexo", new SelectList(ViewBag.Lista_Sexo, "IDSEXO", "SEXO"), "Seleccione", new { title = "Sexo", @class = "input-content ", @style = "width: 180px;" })
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Email:
            </label>
        </label>
    </div>
    <div class="col-md-3 col-xs-3">
        @Html.TextBoxFor(model => model.EMAILEO, new { @class = "input-content", @MaxLength = "100" })
        @*<asp:TextBox ID="txtEmail" runat="server" CssClass="input-content" MaxLength="100" Width="160"></asp:TextBox>*@

    </div>
    <div class="col-md-3 col-xs-3">
        <label class="title-opt">
            Area:
        </label>
    </div>
    <div class="col-md-3 col-xs-3">
        @Html.TextBoxFor(model => model.AREA, new { @class = "input-content", @MaxLength = "100" })
        @*<asp:TextBox ID="txtArea" runat="server" CssClass="input-content" MaxLength="100" Width="160"></asp:TextBox>*@
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-xs-3">

        <label class="title-opt">
            Cargo:
        </label>

    </div>

    <div class="col-md-3 col-xs-3">
        @Html.TextBoxFor(model => model.CARGO, new { @class = "input-content", @MaxLength = "100" })
        @*<asp:TextBox ID="txtCargo" runat="server" CssClass="input-content" MaxLength="100" Width="160"></asp:TextBox>*@

    </div>
    <div class="col-md-3 col-xs-3">

        <label class="title-opt">
            Tel. Fijo:
        </label>

    </div>
    <div class="col-md-3 col-xs-3">
        @Html.TextBoxFor(model => model.TELEFIJO, new { @class = "input-content", @MaxLength = "20" })

        @*<asp:TextBox ID="txtTelefonoFijo" runat="server" CssClass="input-content" MaxLength="20" Width="160"></asp:TextBox>*@

    </div>
</div>

<div class="row">
    <div class="col-md-3 col-xs-3">

        <label class="title-opt">
            Tel. Movil:
        </label>

    </div>
    <div class="col-md-3 col-xs-3">
        @Html.TextBoxFor(model => model.TELMOV, new { @class = "input-content", @MaxLength = "20" })
        @*<asp:TextBox ID="txtTelefonoMovil" runat="server" CssClass="input-content" MaxLength="20" Width="160"></asp:TextBox>*@

    </div>
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Tipo Documento:
            </label>
        </label>
    </div>
    <div class="col-md-3 col-xs-3">
        @Html.DropDownList("ddlTipoDocumento", new SelectList(ViewBag.Lista_Documento, "IDTIPODOCUMENTO", "TIPODOCUMENTO"), "Seleccione", new { title = "Tipo de Documento", @class = "input-content ", @style = "width: 180px;" })
        @*<asp:UpdatePanel ID="UpdatePanel4" runat="server" UpdateMode="Conditional">
                <ContentTemplate>
                    <asp:DropDownList ID="ddlTipoDocumento" runat="server" CssClass="css-select input-content"
                                      AutoPostBack="true">
                    </asp:DropDownList>
                </ContentTemplate>
            </asp:UpdatePanel>*@

    </div>
</div>
<div class="row">
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Nro. Documento:
            </label>
        </label>
    </div>
    <div class="col-md-3 col-xs-3">
        @Html.TextBoxFor(model => model.NRODOC, new { @class = "input-content", @MaxLength = "25" })
        @*<asp:TextBox ID="txtNroDocumento" runat="server" CssClass="input-content" MaxLength="25" Width="160"></asp:TextBox>*@

    </div>
    <div class="col-md-3 col-xs-3">

        <label class="title-opt">
            Email Personal:
        </label>

    </div>
    <div class="col-md-3 col-xs-3">
        @Html.TextBoxFor(model => model.EMAILPER, new { @class = "input-content", @MaxLength = "100" })
        @*<asp:TextBox ID="txtEmailPersonal" runat="server" CssClass="input-content" MaxLength="100" Width="160"></asp:TextBox>*@

    </div>
</div>
<div class="row">
    <div class="col-md-3 col-xs-3">
        <label class="campo_Obligatorio etiqueta">
            <label class="title-opt">
                Empresa:
            </label>
        </label>
    </div>
    <div class="col-md-3 col-xs-3">
        @Html.DropDownList("ddlEmpresaNuevo", new SelectList(ViewBag.Lista_EmpresaEO, "idEmpresa", "empresaOperadora"), "Seleccione", new { title = "Empresa Operadora", @class = "input-content ", @style = "width: 180px;" })
        @*<asp:UpdatePanel ID="UpdatePanel5" runat="server" UpdateMode="Conditional">
                <ContentTemplate>
                    <asp:DropDownList ID="ddlEmpresaOperadora" runat="server" CssClass="css-select input-content"
                                      AutoPostBack="true">
                    </asp:DropDownList>
                </ContentTemplate>
            </asp:UpdatePanel>*@
    </div>
    <div class="col-md-6">
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-xs-3">
        <p class="title-opt">
            Informacion Adicional:
        </p>
    </div>
    <div class="col-md-6">
        @Html.TextAreaFor(model => model.INFOADIC, new { @class = "input-content", @cols = "80", @row = "3", @style = "resize: none;", @MaxLength = "200" })
    </div>
    <div class="col-md-3 col-xs-3">
    </div>

</div>

<div class="row">
    <div class="col-md-12 col-xs-12 text-right">
        <button type="button" id="btnGrabarNuevo" class="btn class-button-bandeja">
            Grabar
        </button>
        <button type="button" class="btn btn-secondary btn-cancelar" data-dismiss="modal">Cancelar</button>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        $(".fechaVigencia").datepicker({ changeMonth: !0, changeYear: !0, showOn: "button", buttonImage: URLSERVICIO_IMEI + "/images/calendar-32-xxl.png", buttonImageOnly: !0 });
        $("#btnGrabarNuevo").click(function () {
            var mensaje = fn_ValidarRegistroUsuario();
            if (mensaje === "") {
                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-secondary' 
                    },
                    buttonsStyling: false
                });
                swalWithBootstrapButtons.fire({
                    title: MSJ_MENSAJE_SISTEMA,
                    text: "¿Desea registrar el usuario operador?",
                    type: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Aceptar',
                    cancelButtonText: 'Cancelar',
                    reverseButtons: false
                }).then(function (result) {
                    if (result.value) {
                        fn_GrabarUsuario();
                    } else {
                        DesbloquearPantalla();
                    }
                });
            } else {
                mostrarMensajeError(mensaje);
            }
        });
    });

    function fn_ValidarRegistroUsuario() {
        var mensaje = "";
        var txtUsuario = $("#IDUSUARIO").val();
        if (txtUsuario == "") {
            mensaje += "* Ingrese el usuario";
            mensaje += "<br/>";
        } else if (txtUsuario.substring(0, 3) != "eo_") {
            mensaje += "* Ingrese el usuario no tiene el prefijo eo_";
            mensaje += "<br/>";
        }

        var ddlEstado = $("#ddlEstadoNuevo").val();
        if (ddlEstado == "") {
            mensaje += "* Debe de seleccionar el estado";
            mensaje += "<br/>";
        }
        var txtClave = $("#CLAVE").val();
        var txtConfiClave = $("#CONFCLAVE").val();

        if (txtClave == "") {
            mensaje += "* Ingrese la clave";
            mensaje += "<br/>";
        } else if (txtConfiClave === "") {
            mensaje += "* Ingrese la confirmacion de la clave";
            mensaje += "<br/>";
        } else if (txtClave != txtConfiClave) {
            mensaje += "* Las claves no coinciden ";
            mensaje += "<br/>";
        }

        var ddlPerfil = $("#ddlPerfil").val();
        if (ddlPerfil == "") {
            mensaje += "* Debe de seleccionar el perfil";
            mensaje += "<br/>";
        }
        var ddlSexo = $("#ddlSexo").val();
        if (ddlSexo == "") {
            mensaje += "* Debe de seleccionar sexo";
            mensaje += "<br/>";
        }
        var txtEmail = $("#EMAILEO").val();
        if (txtEmail == "") {
            mensaje += "* Ingrese el Email";
            mensaje += "<br/>";
        } else if (!validarEmail(txtEmail)) {
            mensaje += "* El email no es válido";
            mensaje += "<br/>";
        }
        var ddlTipoDocumento = $("#ddlTipoDocumento").val();
        if (ddlTipoDocumento == "") {
            mensaje += "* Debe de seleccionar tipo de documento";
            mensaje += "<br/>";
        }

        var txtNroDocumento = $("#NRODOC").val();
        if (txtNroDocumento == "") {
            mensaje += "* Ingrese el nro. de documento ";
            mensaje += "<br/>";
        }
        var ddlEmpresaOperadora = $("#ddlEmpresaNuevo").val();
        if (ddlEmpresaOperadora == "") {
            mensaje += "* Debe de seleccionar empresa";
            mensaje += "<br/>";
        }



        return mensaje;

    }

    function fn_GrabarUsuario() {

        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-secondary' 
            },
            buttonsStyling: false,
        });
        var msg = "";
        var key = 0;
        var formdata = new FormData($("#frmBandejaSolicitud")[0]);
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/UsuarioEO/GrabarUsuarioEO",
            contentType: false,
            processData: false,
            dataType: "json",
            data: formdata,
            success: function (data) {                
                key = data.key;
                msg = data.value;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);
                
            },
            complete: function () {                
                if (key == "0") {
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    swalWithBootstrapButtons.fire({
                        title: MSJ_MENSAJE_SISTEMA,
                        text: msg,
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar',
                        reverseButtons: false
                    }).then(function (result) {
                        if (result.value) {
                            $("#modalNuevoUsuario").modal("hide");
                            parent.fn_BuscarUsuariosEO();
                        }
                    });
                } else if (key == "2") {
                    mostrarMensajeError(msg);
                }
            }
        });
    }
</script>

