﻿
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<form method="post" id="frmBandejaSolicitud" enctype="multipart/form-data">
    <input type="hidden" id="hiidUsuEO" name="hiidUsuEO" />
    <input type="hidden" id="hiidEstado" name="hiidEstado" />
    <div class="container contenedor-bandeja">
        <div class="row">
            <div class="col-md-12">
                <div class="content-header cabecera-formulario">
                    <h3 style="color: #ffffff">Gestión de Usuario EO</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="etiqueta">
                    Empresa
                </div>
            </div>
            <div class="col-md-2">
                @Html.DropDownList("ddlEmpresa", new SelectList(ViewBag.Lista_EmpresaEO, "idEmpresa", "empresaOperadora"), "Todos", new { title = "Empresa Operadora", @class = "input-content ", @style = "width: 180px;" })
            </div>
            <div class="col-md-2">
                <div class="etiqueta">
                    Usuario
                </div>
            </div>

            <div class="col-md-2">
                @Html.TextBox("txtUsuarioBusqueda", "", new { @class = "input-content", @maxlength = "50" })
            </div>
            <div class="col-md-4 text-right">
                <button type="button" id="btnNuevo" class="btn class-buttonsNuevo" style="float:right">
                    Nuevo
                </button>

            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <label class="etiqueta">
                    Nombres:
                </label>
            </div>
            <div class="col-md-2">
                @Html.TextBox("txtNombres", "", new { @class = "input-content ", @maxlength = "10" })
            </div>
            <div class="col-md-2">
                <label class="etiqueta">
                    Estado:
                </label>
            </div>
            <div class="col-md-2">
                @Html.DropDownList("ddlEstado", new SelectList(ViewBag.Listado_Estado, "IDESTADO", "ESTADO"), "Todos", new { title = "Estado", @class = "input-content " })
            </div>
            <div class="col-md-4">
            </div>
        </div>


        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-4 text-right">
                <button type="button" id="btnLimpiarBandeja" class="btn class-button-bandeja">
                    Limpiar
                </button>
                <button type="button" id="btnBuscarUsuarios" class="btn class-button-bandeja">
                    Buscar
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="" id="divUsuariosEO">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-lg" id="modalNuevoUsuario" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lx" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="content-header cabecera-formulario">
                        <h3 style="color: #ffffff">Nuevo Usuario - Empresa Operadora</h3>
                    </div>
                    <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="" id="divNuevoUsuario">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-lg" id="modalEditarUsuario" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lx" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="content-header cabecera-formulario">
                        <h3 style="color: #ffffff">Editar Usuario - Empresa Operadora</h3>
                    </div>
                    <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="" id="divEditarUsuario">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-lg" id="modalCambioClave" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lx" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="content-header cabecera-formulario">
                        <h3 style="color: #ffffff">Cambio de Clave Usuario - Empresa Operadora</h3>
                    </div>
                    <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="" id="divCambioClave">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<script type="text/javascript">
    $(function () {
        fn_BusquedaInicial();

        $("#btnLimpiarBandeja").click(function () {
            MostrarCargando();
            fn_LimpiarCriterios();
            fn_BusquedaInicial();
            CerrarCargando();
        });
        $("#btnBuscarUsuarios").click(function () {
            fn_BuscarUsuariosEO();
        });
        $("#btnNuevo").click(function () {
            fn_NuevoUsuariosEO();
        });
    });


    function fn_LimpiarCriterios() {
        $("#ddlEmpresa").val("");
        $("#txtUsuarioBusqueda").val("");
        $("#txtNombres").val("");
        $("#ddlEstado").val("");
    }

    function fn_BuscarUsuariosEO() {
        BloquearPantalla();
        var divUsuariosEO = $("#divUsuariosEO");
        var formdata = $("#frmBandejaSolicitud").serialize();
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/UsuarioEO/BuscarUsuariosEO",
            cache: false,
            data: formdata,
            success: function (data) {
                divUsuariosEO.html("");
                divUsuariosEO.html(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                DesbloquearPantalla();
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError("Error al consultar la información del Usuario");
            },
            complete: function () {
                DesbloquearPantalla();
            }
        });
    }


    function fn_BusquedaInicial() {
        var divUsuariosEO = $("#divUsuariosEO");        
        var formdata = $("#frmBandejaSolicitud").serialize();
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/UsuarioEO/BandejaInicial",
            cache: false,
            data: formdata,
            success: function (data) {
                divUsuariosEO.html("");
                divUsuariosEO.html(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {           
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError("Error al consultar la información del Usuario");
            },
            complete: function () {           
            }
        });
    }


    function fn_NuevoUsuariosEO() {
        //BloquearPantalla();

        var divEditarUsuario = $("#divEditarUsuario");
        divEditarUsuario.html("");
        $("#modalNuevoUsuario").modal({ backdrop: 'static', keyboard: false });
        var divNuevoUsuario = $("#divNuevoUsuario");
        var formdata = $("#frmBandejaSolicitud").serialize();
        $.ajax({
            type: "POST",
            url: URLSERVICIO_IMEI + "/UsuarioEO/NuevoUsuario",
            cache: false,
            data: formdata,
            success: function (data) {
                divNuevoUsuario.html("");
                divNuevoUsuario.html(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //DesbloquearPantalla();
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError("Error al intentar cargar la info para crear un nuevo usuario EO");
            },
            complete: function () {
                //DesbloquearPantalla();
            }
        });
    }



</script>