﻿@model List<Osiptel.SIGREI.BE.BE_REQUERIMIENTO_EO>;
@{    
    Layout = "";
}
<div class="tabla-content-result">
    <input type="hidden" id="hdreqeele" name="hdreqeele" />
    <table id="dtResultSolicitud" class="tabla-osiptel" style="width: 100%">
        <caption style="display: none">TablaDetalle</caption>
        <thead>
            <tr>

                <th scope="col">Nro</th>
                <th scope="col">Empresa Operadora</th>
                <th scope="col">Fecha Envío a EO</th>
                <th scope="col">Fecha Vencimiento</th>
                <th scope="col">Fecha Atención</th>
                <th scope="col">Cantidad IMEI Enviado </th>
                <th scope="col">Cantidad IMEI Por Atender</th>
                <th scope="col">Cantidad IMEI Atendido</th>
                <th scope="col">Estado</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@item.nroItem</td>
                    <td class="text-left">@item.empresaOperadora</td>
                    <td class="text-center">@item.fecRegistro</td>
                    <td class="text-center">@item.fechaPlazo</td>
                    <td class="text-center">@item.fechaAtendido</td>
                    <td class="text-center">@item.cantidadRegistrado</td>
                    <td class="text-center">@item.cantidadPorAtender</td>
                    <td class="text-center">@item.cantidadAtendido</td>
                    <td class="text-center">@item.descEstado</td>
                    <td class="text-center">
                        <a href="#" onclick="fn_verConsultar(@item.idRequerimientoEO)" class="fa fa-eye fa-lg" title="Consultar"></a>
                        <a href="#" onclick="fn_CambiarFechaVencimiento(@item.idRequerimientoEO,'@item.fechaPlazo')" class="fa fa-exchange fa-lg" title="Cambiar Fecha de Vencimiento"></a>
                        <a href="#" onclick="fn_Descargar(@item.idRequerimientoEO)" class="fa fa-download fa-lg" title="Descargar IMEIs"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script src="~/js/appjs/bandejaSolicitud/jsDetalleIndex.js"></script>
