﻿
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<form method="post" id="frmDescargarImei" enctype="multipart/form-data" asp-controller="CargaInformacion" asp-action="DescargarDocumentoIMEI">
    <input type="hidden" id="ihrequerimientoeoDes" name="ihrequerimientoeoDes" />
</form>
<form method="post" id="frmBandejaSolicitud" enctype="multipart/form-data">
    <input type="hidden" id="ihrequerimientoeo" name="ihrequerimientoeo" />
    <input type="hidden" name="ihidimeiDevolver" id="ihidimeiDevolver" value="" />
    <div class="container contenedor-bandeja">
        <div class="row">
            <div class="col-md-12">
                <div class="content-header cabecera-formulario">
                    <h3 style="color: #ffffff">Bandeja de Requerimientos EO</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="etiqueta">
                    Empresa Operadora
                </div>
            </div>
            <div class="col-md-2">
                @Html.DropDownList("ddlEmpresaOperadora", new SelectList(ViewBag.Lista_EmpresaEO, "idEmpresa", "empresaOperadora"), "Todos", new { title = "Empresa Operadora", @class = "input-content ", @style = "width: 180px;" })
            </div>
            <div class="col-md-2">
                <div class="etiqueta">
                    Nro IMEI
                </div>
            </div>

            <div class="col-md-2">
                @Html.TextBox("txtNroImei", "", new { @class = "input-content", @maxlength = "20" , @onkeypress = "return soloNumeros(event)" })
            </div>

            <div class="col-md-2">
                <div class="etiqueta">
                    Estado
                </div>
            </div>
            <div class="col-md-2">
                @Html.DropDownList("ddlEstado", new SelectList(ViewBag.Lista_Estado, "IDESTADO", "ESTADO"), "Todos", new { title = "Estado", @class = "input-content " })
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <label class="etiqueta">
                    Fecha de Inicio:
                </label>
            </div>
            <div class="col-md-2">
                @Html.TextBox("txtFechaInicio", "", new { @class = "input-content fa fa-calendar", @maxlength = "20", @style = "width: 100px;" })
                @*<i class="fa fa-calendar" aria-hidden="true"></i>*@
            </div>
            <div class="col-md-2">
                <label class="etiqueta">
                    Hasta:
                </label>
            </div>
            <div class="col-md-2">
                @Html.TextBox("txtFechaFin", "", new { @class = "input-content", @maxlength = "20", @style = "width: 100px;" })
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-4 text-right">
                <button type="button" id="btnLimpiarBandeja" class="btn class-button-bandeja">
                    Limpiar
                </button>
                <button type="button" id="btnBuscarSolicitudes" class="btn class-button-bandeja">
                    Buscar
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="" id="divSolicitudes">

                </div>
            </div>
        </div>
    </div>


    <div class="modal fade bd-example-modal-lg" id="modalConsultaSolicitud" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lx" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="content-header cabecera-formulario">
                        <h3 style="color: #ffffff">Consulta de información de IMEIs Requeridos</h3>
                    </div>
                    <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="" id="divConsultaImei">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-cancelar" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade bd-example-modal-lg" id="modalApliacion" tabindex="-2" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <input type="hidden" id="ihidImeiEO" name="ihidImeiEO" />
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="content-header cabecera-formulario">
                        <h3 style="color: #ffffff">Cambiar Fecha de Vencimiento</h3>
                    </div>
                    <button type="button" class="close-modal cerrar-modal-descarte" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="etiqueta">
                                Fecha de Envío a EO:
                            </div>
                        </div>
                        <div class="col-md-8">
                            <label id="lblFechaEnviadaEO" name="lblFechaEnviadaEO"></label>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="etiqueta">
                                Motivo
                            </div>
                        </div>
                        <div class="col-md-8">
                            @Html.DropDownList("ddlMotivo", new SelectList(ViewBag.Lista_Vencimiento, "valor", "descripcion"), "Seleccione", new { title = "Estado", @class = "input-content " })
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="etiqueta">
                                Fecha de Vencimiento:
                            </div>
                        </div>
                        <div class="col-md-8">
                            @Html.TextBox("txtFechaVencimiento", "", new { @class = "input-content", @maxlength = "20", @style = "width: 100px;" })
                        </div>
                    </div>
                  
                    <div class="modal-footer">
                        <button type="button" id="btnRenovarVencimiento" class="btn class-button-bandeja">Grabar</button>
                        <button type="button" id="btnCancelarDescarte" data-dismiss="modal" class="btn cerrar-modal-descarte btn-cancelar">Cancelar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>

<script src="~/js/appjs/bandejaSolicitud/jsIndex.js"></script>