﻿@model List<Osiptel.SIGREI.BE.BE_REQUERIMIENTO_EO>;
@{
    ViewData["Title"] = "_DetalleBandeja";
    Layout = "";
}
<div class="tabla-content-result">
    <input type="hidden" id="hdreqeele" name="hdreqeele" />
    <table id="dtResultSolicitud" class="tabla-osiptel" style="width: 100%">
        
        <thead>
            <tr>

                <th scope="col">Nro</th>
                <th scope="col">Fecha Recibida EO</th>
                <th scope="col">Fecha Vencimiento</th>
                <th scope="col">Fecha Atención</th>
                <th scope="col">Cantidad IMEI <br /> Enviado</th>
                <th scope="col">Cantidad IMEI <br /> Por Atender</th>
                <th scope="col">Cantidad IMEI <br /> Atendido</th>
                <th scope="col">Estado</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@item.nroItem</td>
                    <td class="text-center">@item.fecRegistro</td>
                    <td class="text-center">@item.fechaPlazo</td>
                    <td class="text-center">@item.fechaAtendido</td>
                    <td class="text-center">@item.cantidadRegistrado</td>
                    <td class="text-center">@item.cantidadPorAtender</td>
                    <td class="text-center">@item.cantidadAtendido</td>
                    <td class="text-center">@item.descEstado</td>
                    <td class="text-center">
                        <a href="#" onclick="fn_CargarInformacion(@item.idRequerimientoEO)" class="fa fa-upload fa-lg" title="Cargar Información"></a>
                        <a href="#" onclick="fn_Descargar(@item.idRequerimientoEO)" class="fa fa-download fa-lg" title="Descargar Información"></a>
                        <a href="#" onclick="fn_AtenderEO(@item.idRequerimientoEO)" class="fa fa-check-square fa-lg" title="Atender"></a>
                        <a href="#" onclick="fn_verConsultar(@item.idRequerimientoEO)" class="fa fa-eye fa-lg" title="Consultar"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script src="~/js/appjs/cargaInformacion/jsDetalleCargaInformacion.js"></script>