﻿@model List<Osiptel.SIGREI.BE.BE_REQUERIMIENTO_IMEI_EO>;
@{
    Layout = "";
}
<div class="row">
    <div class="col-md-12">
        <input type="hidden" id="hdimeiseleccion" name="hdimeiseleccion" />
        <div class="tabla-content-result">
            <table id="dtImeisAtendidas" class="tabla-osiptel" style="width: 100%">
                
                <thead>
                    <tr>
                        <th scope="col">Nro</th>
                        <th scope="col">IMEI</th>
                        <th scope="col">Estado IMEI</th>
                        <th scope="col">Fecha y Hora de Reporte</th>
                        <th scope="col">Número de Servicio</th>
                        <th scope="col">Nombre y Apellidos <br /> del posible Propietario</th>
                        <th scope="col">Tipo de Documento</th>
                        <th scope="col">Número de Documento</th>
                        <th scope="col">Fecha Atendido</th>
                        <th scope="col">Motivo Observación</th>
                        <th scope="col">Estado Registro</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">@item.nroItem</td>
                            <td class="text-center">@item.nroImei</td>
                            <td class="text-center">@item.estadoImei</td>
                            <td class="text-center">@item.fecReporte</td>
                            <td class="text-center">@item.nroServicio</td>
                            <td class="text-center">@item.nombreCompletoTitular</td>
                            <td class="text-center">@item.descTipoDocumento</td>
                            <td class="text-center">@item.nroDocumento</td>
                            <td class="text-center">@item.fechaAtencion</td>
                            <td class="text-center">@item.descTipoObservacion</td>
                            <td class="text-center">@item.descEstado</td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#dtImeisAtendidas').DataTable({
            colReorder: true,
            //ordering: false,
            rowReorder: {
                selector: 'td:nth-child(2)'
            },

        });

    });
</script>

