﻿@model Osiptel.SIGREI.BE.BE_REQUERIMIENTO_EO;
@{
    Layout = "";
}
<div class="row">
    <div class="col-md-2">
        <div class="etiqueta">
            Fecha Recibido EO
        </div>
    </div>
    <div class="col-md-2">
        <div class="texto-display">
            @Html.DisplayFor(model => model.fecRegistro)
        </div>
    </div>
    <div class="col-md-2">
        <div class="etiqueta">
            Cantidad Atendido
        </div>
    </div>
    <div class="col-md-2">
        <div class="texto-display">
            @Html.DisplayFor(model => model.cantidadAtendido)
        </div>
    </div>
    <div class="col-md-2">
        <div class="etiqueta">
            Cantidad Por Atender
        </div>
    </div>
    <div class="col-md-2">
        <div class="texto-display">
            @Html.DisplayFor(model => model.cantidadPorAtender)

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <input type="hidden" id="hdimeiseleccion" name="hdimeiseleccion" />
        <div class="tabla-content-result">
            <table id="dtConsultaImeis" class="tabla-osiptel" style="width: 100%">
                
                <thead>
                    <tr>
                        <th scope="col">Nro</th>
                        <th scope="col">IMEI</th>
                        <th scope="col">Estado de Reporte</th>
                        <th scope="col">Fecha y Hora de Reporte</th>
                        <th scope="col">Número de Servicio</th>
                        <th scope="col">Nombre y Apellidos del posible Propietario</th>
                        <th scope="col">Tipo de Documento</th>
                        <th scope="col">Número de Documento</th>
                        <th scope="col">Fecha Atención</th>
                        <th scope="col">Motivo Devolución</th>
                        <th scope="col">Comentario</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.listaRequerimientoImeiEO)
                    {
                        <tr>
                            <td class="text-center">@item.nroItem</td>
                            <td class="text-center">@item.nroImei</td>
                            <td class="text-center">@item.estadoImei</td>
                            <td class="text-center">@item.fecReporte</td>
                            <td class="text-center">@item.nroServicio</td>
                            <td class="text-center">@item.nombreCompletoTitular</td>
                            <td class="text-center">@item.descTipoDocumento</td>
                            <td class="text-center">@item.nroDocumento</td>
                            <td class="text-center">@item.fechaAtencion</td>
                            <td class="text-center">@item.descTipoObservacion</td>
                            <td class="text-center">@item.comentario</td>
                            <td class="text-center">@item.descEstado</td>
                            <td class="text-center">
                                @if (item.documentoAdjunto.Length > 1)
                                {
                                    <a href="#" onclick="fn_DescargarArchivoDevolucion('@item.documentoAdjunto')" class="fa fa-download fa-lg " title="Descargar Archivo"></a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#dtConsultaImeis').DataTable({
            colReorder: true,
            //ordering: false,
            rowReorder: {
                selector: 'td:nth-child(2)'
            }
        });
    });


    //function fn_DescargarArchivoDevolucion(idreo) {
    //    $("#ihrequerimientoeoDes").val("");
    //    $("#ihrequerimientoeoDes").val(idreo);
    //    $("#frmDescargarImei").submit();
    //}

    function fn_DescargarArchivoDevolucion(nomArchivo) {
        var msg = "";
        var key = 0;        
        $.ajax({
            type: "GET",
            url: URLSERVICIO_IMEI + "/Asignar/ValidarDocumentoSIGREI",
            cache: false,
            data: { 'nombreDoc': nomArchivo },
            dataType: "json",
            success: function (data) {                
                key = data.key;
                msg = data.value;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                mostrarMensajeError(msg);
            },
            complete: function () {
                if (key == "0") {
                    mostrarMensajeError(msg);
                } else if (key == "1") {
                    window.location = URLSERVICIO_IMEI + '/Asignar/DescargarDocumento';
                }
            }
        });
    }



</script>

