﻿@model List<Osiptel.SIGREI.BE.BE_REQUERIMIENTO_IMEI_EO>;
@{
    Layout = "";
}
<div class="row">
    <div class="col-md-3">
        <div class="etiqueta">
            Adjuntar Archivo IMEI
        </div>
    </div>
    <div class="col-md-6">
        <input type="file" id="fileArchivoImei" name="fileArchivoImei" class="form-control " accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" title="El archivo xlsx debe contener mínimo un registro" />
    </div>
    <div class="col-md-3">
        <button type="button" id="btnCargarArchivoImei" class="btn class-button-bandeja">
            Cargar Archivo IMEI
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input type="hidden" id="hdimeiseleccion" name="hdimeiseleccion" />
        <div class="tabla-content-result">
            <table id="dtImeisPorAtender" class="tabla-osiptel" style="width: 100%">
                
                <thead>
                    <tr>
                        <th scope="col">Nro</th>
                        <th scope="col">IMEI</th>
                        <th scope="col">Estado IMEI</th>
                        <th scope="col">Fecha y Hora de Reporte</th>
                        <th scope="col">Número de Servicio</th>
                        <th scope="col">Nombre y Apellidos <br /> del posible Propietario</th>
                        <th scope="col">Tipo de Documento</th>
                        <th scope="col">Número de Documento</th>
                        <th scope="col">Estado Registro</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">@item.nroItem</td>
                            <td class="text-center">@item.nroImei</td>
                            <td class="text-center">@item.estadoImei</td>
                            <td class="text-center">@item.fecReporte</td>
                            <td class="text-center">@item.nroServicio</td>
                            <td class="text-left">@item.nombreCompletoTitular</td>
                            <td class="text-center">@item.descTipoDocumento</td>
                            <td class="text-center">@item.nroDocumento</td>
                            <td class="text-center">@item.descEstado</td>
                            <td class="text-center">
                                <a href="#" onclick="fn_DescartarImei(@item.idImeiEO)" class="fa fa-reply fa-lg" title="Descartar"></a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <input type="hidden" id="icantidadactualizar" name="icantidadactualizar" value="@ViewBag.Total_Actualizar" />
        <button type="button" id="btnActualizarImei" name="btnActualizarImei" class="btn class-button-bandeja" hidden="hidden">
            Actualizar IMEI
        </button>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="modalDescartar" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <input type="hidden" id="ihidImeiEO" name="ihidImeiEO" />
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="content-header cabecera-formulario">
                    <h3 style="color: #ffffff">Descartar IMEI</h3>
                </div>
                <button type="button" class="close-modal cerrar-modal-descarte"  aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="etiqueta">
                            Motivo
                        </div>
                    </div>
                    <div class="col-md-8">
                        @Html.DropDownList("ddlMotivo", new SelectList(ViewBag.Lista_Motivo, "valor", "descripcion"), "Seleccione", new { title = "Estado", @class = "input-content " })
                    </div>

                </div>               
                <div class="row">
                    <div class="col-md-4">
                        <div class="etiqueta">
                            Observación
                        </div>
                    </div>
                    <div class="col-md-8">
                        @Html.TextArea("comentariosDescarte", "", new { @class = "form-control comentario-registro", cols = "70", rows = "4", @maxlength = "500" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="etiqueta">
                            Adjuntar Documento (opcional)
                        </div>
                    </div>
                    <div class="col-md-8">
                        <input type="file" id="fileDocDescartar" name="fileDocDescartar" class="form-control " title="Archivo máximo de 4MB" />
                    </div>                  
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnDescartarImei" class="btn class-button-bandeja">Grabar</button>

                    <button type="button" id="btnCancelarDescarte" class="btn cerrar-modal-descarte btn-cancelar">Cancelar</button>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/js/appjs/cargaInformacion/jsTabPorAtender.js"></script>

