﻿@model Osiptel.SIGREI.BE.BE_REQUERIMIENTO_EO;
@{
    Layout = "";
}
<div class="row">
    <div class="col-md-2">
        <div class="etiqueta">
            Fecha Recibido EO
        </div>
    </div>
    <div class="col-md-2">
        <div class="texto-display">
            @Html.DisplayFor(model => model.fecRegistro)
        </div>
    </div>
    <div class="col-md-2">
        <div class="etiqueta">
            Cantidad Atendido
        </div>
    </div>
    <div class="col-md-2">
        <div class="texto-display">
            @Html.DisplayFor(model => model.cantidadAtendido)
            <input type="hidden" name="irTabPorAtender" id="irTabPorAtender" value="@ViewBag.IrTabPorAtender" />
        </div>
    </div>
    <div class="col-md-2">
        <div class="etiqueta">
            Cantidad Por Atender
        </div>
    </div>
    <div class="col-md-2">
        <div class="texto-display">
            @Html.DisplayFor(model => model.cantidadPorAtender)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs sidebar-tabs" id="sidebar" role="tablist">
            <li class="active">
                    <a href="#tab-1" role="tab" id="tabAtendida" data-toggle="tab">Atendidas</a>
            </li>
            <li>
                    <a href="#tab-2" role="tab" id="tabPorAtender" data-toggle="tab">Por Atender</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab-1">
                <div class="" id="divAtendidas" style="margin-top: 20px;">

                </div>              
            </div>
            <div class="tab-pane" id="tab-2">
                <div class="" id="divPorAtender" style="margin-top: 20px;">
                </div>
            </div>
           
        </div>
    </div>
</div>
<script src="~/js/appjs/cargaInformacion/jsModalTabCargaInformacion.js"></script>