﻿
@{
    Layout = "_Layout";
}

<form method="post" id="frmDescargarImei" enctype="multipart/form-data" asp-controller="CargaInformacion" asp-action="DescargarDocumentoIMEI">
    <input type="hidden" id="ihrequerimientoeoDes" name="ihrequerimientoeoDes" />
</form>
<form method="post" id="frmDescargarError" enctype="multipart/form-data" asp-controller="CargaInformacion" asp-action="DescargarError_ImeiEO"></form>
<form method="post" id="frmCargaInformacion" enctype="multipart/form-data">
    <input type="hidden" id="ihrequerimientoeo" name="ihrequerimientoeo" />
    <div class="container contenedor-bandeja">
        <div class="row">
            <div class="col-md-12">
                <div class="content-header cabecera-formulario">
                    @*<h3 style="color: #ffffff">Carga de Información empresa operadora - @ViewBag.Empresa_Operadora   </h3>*@
                    <h3 style="color: #ffffff">Carga de Información </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label class="etiqueta">
                    Nro IMEI
                </label>
            </div>
            <div class="col-md-4">
                @Html.TextBox("txtNroImei", "", new { @class = "input-content", @maxlength = "20" , @onkeypress = "return soloNumeros(event)" })
            </div>
            <div class="col-md-2">
                <label class="etiqueta">
                    Estado
                </label>
            </div>
            <div class="col-md-4">
                @Html.DropDownList("ddlEstado", new SelectList(ViewBag.Lista_Estado, "IDESTADO", "ESTADO"), "Todos", new { title = "Estado", @class = "input-content " })
            </div>
          
        </div>
        <div class="row">
            <div class="col-md-2">
                <label class="etiqueta">
                    Fecha de Inicio:
                </label>
            </div>
            <div class="col-md-4">
                @Html.TextBox("txtFechaInicio", "", new { @class = "input-content", @maxlength = "20", @style = "width: 100px;" })
            </div>
            <div class="col-md-2">
                <label class="etiqueta">
                    Hasta:
                </label>
            </div>
            <div class="col-md-4">
                @Html.TextBox("txtFechaFin", "", new { @class = "input-content", @maxlength = "20", @style = "width: 100px;" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-4 text-right">
                <button type="button" id="btnLimpiarBandeja" class="btn class-button-bandeja">
                    Limpiar
                </button>
                <button type="button" id="btnBuscarSolicitudes" class="btn class-button-bandeja">
                    Buscar
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="" id="divSolicitudes">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-lg" id="modalConsultaSolicitud" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="content-header cabecera-formulario">
                        <h3 style="color: #ffffff">Consulta de información de IMEIs Requeridos</h3>
                    </div>
                    <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="" id="divConsultaImei">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-cancelar" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-lg" id="modalCargaInfo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="content-header cabecera-formulario">
                        <h3 style="color: #ffffff">Carga información de IMEI</h3>
                    </div>
                    <button type="button" class="close-modal"  id="btnCerrarModalCargarInfo" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="" id="divCargaInformacion">
                       
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</form>
<script src="~/js/appjs/cargaInformacion/jsIndex.js"></script>