﻿@model List<Osiptel.SIGREI.BE.BE_REPORTE_IMEI>;
@{
    Layout = "";
}
<div class="tabla-content-result">
    <input type="hidden" id="hdreqeele" name="hdreqeele" />
    <table id="dtResultadoBusqueda" class="tabla-osiptel" style="width: 100%">
        <caption>DetalleTabla</caption>
        <thead>
            <tr>
                <th scope="col">Nro</th>
                <th scope="col">Departamento</th>
                <th scope="col">Nombre de la Institución Pública</th>
                <th scope="col">Código de solicitud</th>
                <th scope="col">IMEI</th>
                <th scope="col">Tipo de Respuesta</th>
                <th scope="col">Fecha en la que Ingresó el Requerimiento <br />de la Institución Pública</th>
                <th scope="col">Fecha en la que solicita informació a la E.O.</th>
                <th scope="col">Empresa Operadora</th>
                <th scope="col">¿Cumplió el Plazo Establecido?</th>
                <th scope="col">Fecha de Respuesta de la Empresa Operadora</th>
                <th scope="col">Fecha de Respuesta a la Institución Pública</th>
                <th scope="col">Usuario que Atendio</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>

                    <td class="text-center">@item.nroItem</td>
                    <td class="text-left">@item.departamento</td>
                    <td class="text-left">@item.nombreInstitucion</td>
                    <td class="text-center">@item.nroRequerimiento </td>
                    <td class="text-center">@item.nroImei </td>
                    <td class="text-center">@item.estadoImei</td>
                    <td class="text-center">@item.fechaRegistro</td>
                    <td class="text-center">@item.fechaEnvio</td>
                    <td class="text-center">@item.empresaOperadora</td>
                    <td class="text-center">@item.cumplioPlazo</td>
                    <td class="text-center">@item.fechaAtendido</td>
                    <td class="text-center">@item.fecRespuesta</td>
                    <td class="text-center">@item.usuRespuesta</td>



                </tr>

            }
        </tbody>
    </table>
</div>
<script type="text/javascript">

    $('#dtResultadoBusqueda').DataTable({
        colReorder: true,

        responsive: true,
        'columnDefs': [{
            'targets': [0, 1],
            'orderable': false
        }]
    });

</script>
@*<script src="~/js/appjs/requerimiento/jsDetalleIndex.js?0.0.3"></script>*@