﻿
@{
    ViewData["Title"] = "Index";
}
<form method="post" id="frmExportarReporte" enctype="multipart/form-data" asp-controller="Reporte" asp-action="DescargarReporte"></form>
<form method="post" id="frmBandejaReporte" enctype="multipart/form-data">
    <div class="container contenedor-bandeja">
        <div class="row">
            <div class="col-md-12">
                <div class="content-header cabecera-formulario">
                    <h3 style="color: #ffffff">Bandeja de Reportes</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="etiqueta">
                    Empresa Operadora
                </div>
            </div>
            <div class="col-md-10">
                @Html.DropDownList("ddlEmpresaOperadora", new SelectList(ViewBag.Lista_EmpresaEO, "idEmpresa", "empresaOperadora"), "Todos", new { title = "Empresa Operadora", @class = "input-content ", @style = "width: 180px;" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label class="etiqueta">
                    Fecha de Inicio:
                </label>
            </div>
            <div class="col-md-2">
                @Html.TextBox("txtFechaInicio", "", new { @class = "input-content fa fa-calendar", @maxlength = "20", @style = "width: 100px;" })
            </div>
            <div class="col-md-2">
                <label class="etiqueta">
                    Hasta:
                </label>
            </div>
            <div class="col-md-2">
                @Html.TextBox("txtFechaFin", "", new { @class = "input-content", @maxlength = "20", @style = "width: 100px;" })
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label class="etiqueta">
                    Nro IMEI
                </label>
            </div>
            <div class="col-md-2">
                @Html.TextBox("txtNroImei", "", new { @class = "input-content", @maxlength = "20", @onkeypress = "return soloNumeros(event)" })
            </div>
            <div class="col-md-2">
                <label class="etiqueta">
                    Nombre de Institución
                </label>
            </div>
            <div class="col-md-4">
                @Html.TextBox("txtNombreInstitucion", "", new { @class = "input-content", @maxlength = "20" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-4 text-right">
                <button type="button" id="btnLimpiarBandeja" class="btn class-button-bandeja">
                    Limpiar
                </button>
                <button type="button" id="btnBuscarReporte" class="btn class-button-bandeja">
                    Buscar
                </button>
                <button type="button" id="btnExportar" class="btn class-button-bandeja">
                    Exportar
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="" id="divReporte">

                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            CargarInicial();

            $("#txtFechaInicio").datepicker({ changeMonth: !0, changeYear: !0, showOn: "button", buttonImage: URLSERVICIO_IMEI + "/images/calendar-32-xxl.png", buttonImageOnly: !0 });
            $("#txtFechaFin").datepicker({ changeMonth: !0, changeYear: !0, showOn: "button", buttonImage: URLSERVICIO_IMEI + "/images/calendar-32-xxl.png", buttonImageOnly: !0 });
            $("#btnBuscarReporte").click(function () {
                buscarReporte();
            });

            $("#btnExportar").click(function () {                
                var msg = "";
                var key = 0;
                var formdata = $("#frmBandejaReporte").serialize();
                $.ajax({
                    type: "POST",
                    url: URLSERVICIO_IMEI + "/Reporte/ValidarDescargarReporte",
                    cache: false,
                    data: formdata,
                    dataType: "json",
                    success: function (data) {
                        key = data.key;
                        msg = data.value;
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                        mostrarMensajeError(msg);                        
                    },
                    complete: function () {                        
                        if (key == "0") {
                            mostrarMensajeError(msg);
                        } else if (key == "1") {
                            window.location = URLSERVICIO_IMEI + '/Reporte/DescargarReporte';
                        }
                    }
                });
            });
            $("#btnLimpiarBandeja").click(function () {
                fn_LimpiarCriterios();
            });

        });

        function CargarInicial() {
            var divReporte = $("#divReporte");
            var msg = "";
            var formdata = $("#frmBandejaReporte").serialize();

            $.ajax({
                type: "GET",
                url: URLSERVICIO_IMEI + "/Reporte/BandejaInicial",
                cache: false,
                data: formdata,
                success: function (data) {
                    divReporte.html("");
                    divReporte.html(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                    mostrarMensajeError(msg);
                },
                complete: function () { }
            });
        }


        function fn_LimpiarCriterios() {
            $("#txtNombreInstitucion").val("");
            $("#txtNroImei").val("");
            $("#txtFechaFin").val("");
            $("#txtFechaInicio").val("");
            $("#ddlEmpresaOperadora").val("");
        }

        function buscarReporte() {
            BloquearPantalla();
            var divReporte = $("#divReporte");
            var msg = "";
            var formdata = $("#frmBandejaReporte").serialize();

            $.ajax({
                type: "POST",
                url: URLSERVICIO_IMEI + "/Reporte/BuscarReporte",
                cache: false,
                data: formdata,
                success: function (data) {
                    divReporte.html("");
                    divReporte.html(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    DesbloquearPantalla();
                    console.log("error: " + errorThrown + " status: " + textStatus + " er:" + jqXHR.responseText);
                    mostrarMensajeError(msg);
                },
                complete: function () {
                    DesbloquearPantalla();
                }
            });
        }

    </script>

</form>

