﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
    <meta http-equiv="X-UA-Compatible" content="IE=5,8,9,10,11,edge">    
    

    <title>@ViewData["Title"] - ClienteSIGREI</title>

    <environment include="Staging,Production,Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/estiloRegistro.css?0.0.1" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link href="~/css/alerta/css/jquery.toastmessage.css" rel="stylesheet" />
        <link href="~/js/loadingDos/loading.css" rel="stylesheet" />
    </environment>
    <environment exclude="Staging,Production,Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <environment include="Staging,Production,Development">
        @*<script src="~/js/sweetalert2/sweetalert2.min.js"></script>
            <link href="~/css/sweetalert2/sweetalert2.min.css" rel="stylesheet" />*@

        <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>
        <script src="~/js/sweetalert2/sweetalert2.all.min.js"></script>

        <script type="text/javascript" src="~/js/sweetalert2/sweetalert2.min.js"></script>
        <link href="~/css/sweetalert2/sweetalert2.min.css" rel="stylesheet" />


    </environment>
    <environment include="Staging,Production,Development">
        <script src="~/js/appjs/jsUrlAplicativo.js?0.0.10"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>

        <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="~/js/alerta/jquery.toastmessage.js?0.0.2"></script>
        <script type="text/javascript" src="~/js/alerta/jquery.alerts.js"></script>

        <script type="text/javascript" src="~/js/loading/js/loader.js"></script>
        <script type="text/javascript" src="~/js/loadingDos/loading.js?0.0.1"></script>

        <script src="~/js/appjs/jsClasesGlobales.js?0.0.3"></script>

    </environment>
    <style type="text/css">
        #custom-overlay {
            background-color: #000;
            opacity: 0.7;
            overflow: hidden;
        }

        .loading-spinner {
            font-size: 12px;
            margin: 6.7em auto;
            width: 8em;
            height: 1em;
            border-radius: 50%;
            position: relative;
            text-indent: -9999em;
            -webkit-animation: load4 1.3s infinite linear;
            animation: load4 1.3s infinite linear;
        }
    </style>
</head>
<body>

    <div class="container body-content">
        @RenderBody()
        
        <footer>
            @*<p>&copy; 2019 - ClienteSIGREI</p>*@
            <p>&copy; 2019 - Gerencia de Tecnologías de la Información, Comunicaciones y Estadística  - OSIPTEL</p>
        </footer>
    </div>

   
    <environment exclude="Staging,Production,Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
