﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
    <meta http-equiv="X-UA-Compatible" content="IE=5,8,9,10,11,edge">        
    <title>SIGREI - Osiptel</title>
    <environment include="Staging,Production,Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css?0.0.12" />
        <link rel="stylesheet" href="~/css/site.css?0.0.3" />
        <link href="~/css/alerta/css/jquery.toastmessage.css?0.0.7" rel="stylesheet" />
        <link href="~/lib/bootstrap/responsive/jquery.responsive-collapse.css" rel="stylesheet" />
        <link href="~/css/font-awesome/css/font-awesome.css" rel="stylesheet" />
        @*datatables*@
        <link href="~/js/datatables/css/dataTables.bootstrap.css?0.0.1" rel="stylesheet" />
        <link href="~/js/datatables/css/jquery.dataTables.css?0.0.1" rel="stylesheet" />
        <link href="~/js/datatables/RowReorder-1.2.3/css/rowReorder.dataTables.min.css" rel="stylesheet" />
        <link href="~/js/datatables/Responsive-2.2.1/css/responsive.dataTables.min.css" rel="stylesheet" />
        <link href="~/js/loadingDos/loading.css" rel="stylesheet" />
    </environment>
    <environment exclude="Staging,Production,Development">

        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <environment include="Staging,Production,Development">
        <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>
        <script src="~/js/sweetalert2/sweetalert2.all.min.js"></script>

        <script type="text/javascript" src="~/js/sweetalert2/sweetalert2.min.js"></script>
        <link href="~/css/sweetalert2/sweetalert2.min.css?0.0.2" rel="stylesheet" />

        @*<script src="~/js/sweetalert2/polyfillAlert.js"></script>*@
        @*<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>*@


    </environment>
    <environment include="Staging,Production,Development">
        <script src="~/js/appjs/jsUrlAplicativo.js?0.0.10"></script>
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>

        <script src="~/lib/jquery/dist/jquery-ui-1.12.1.js"></script>
        <script type="text/javascript" src="~/js/moment/moment.js"></script>
        <script type="text/javascript" src="~/js/datepicker/bootstrap-datetimepicker.js"></script>
        <link href="~/css/datepicker/bootstrap-datetimepicker.css" rel="stylesheet" />
        <script src="~/js/datepicker/datepicker-inicializacion.js"></script>


        <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="~/js/alerta/jquery.toastmessage.js?0.0.7"></script>
        <script type="text/javascript" src="~/js/alerta/jquery.alerts.js"></script>

        <script type="text/javascript" src="~/js/loading/js/loader.js"></script>
        <script type="text/javascript" src="~/js/loadingDos/loading.js?0.0.1"></script>
        <script src="~/js/blockui/jquery.blockUI.js"></script>
        <script type="text/javascript" src="~/js/appjs/jsClasesGlobales.js?0.0.7"></script>
        <script type="text/javascript" src="~/js/appjs/util.js"></script>

        <script type="text/javascript" src="~/lib/bootstrap/responsive/jquery.responsive-collapse.js"></script>
        <script type="text/javascript" src="~/js/datatables/js/jquery.dataTables.min.js?0.0.1"></script>
        <script type="text/javascript" src="~/js/datatables/RowReorder-1.2.3/js/dataTables.rowReorder.min.js"></script>
        <script type="text/javascript" src="~/js/datatables/Responsive-2.2.1/js/dataTables.responsive.min.js"></script>
        <script type="text/javascript" src="~/js/datatables/js/dataTables.bootstrap.min.js"></script>
        <link href="~/css/CssPrincipal.css?0.0.11" rel="stylesheet" />
        <link href="~/css/jquery-ui-1.8.23.custom.css?0.0.1" rel="stylesheet" />
        <script type="text/javascript" src="~/js/appjs/jsPrincipal.js?0.0.1"></script>
        <link href="~/css/bootstrap-modal-bs3patch.css?0.0.1" rel="stylesheet" />
        <link href="~/css/bootstrap-modal.css?0.0.1" rel="stylesheet" />
    </environment>
    <style type="text/css">
      
    </style>
    <script type="text/javascript">

        function validarSesionCliente() {
            var valorSesion = 0;

            var statesProgress = $("#id_distrito-loading-progress");
            statesProgress.show();
            $.ajax({
                cache: false,
                type: "GET",
                url: URLSERVICIO_IMEI + "/Login/CheckSession",
                data: { "valor": valorSesion },
                success: function (data) {
                    if (data === 1) {
                        const swalWithBootstrapButtons = Swal.mixin({
                            customClass: {
                                confirmButton: 'btn btn-success',
                                cancelButton: 'btn btn-secondary'
                            },
                            buttonsStyling: false,
                        })
                        swalWithBootstrapButtons.fire({
                            title: MSJ_MENSAJE_SISTEMA,
                            text: "La sesión actual a expirado. vuelva a iniciar sesión",
                            type: 'info',
                            timer: 2000,
                            showCancelButton: false,
                            confirmButtonText: 'Aceptar',
                            cancelButtonText: 'No, cancel!',
                            reverseButtons: false
                        }).then(function (result) {
                            window.location = URLSERVICIO_IMEI + "/Login/Index";
                        });
                    }
                },
                failure: function (response) {
                    console.log("failure" + JSON.stringify(response));

                },
                error: function (response) {
                    console.log("ERROR" + JSON.stringify(response));
                }
            });
        }

        $(function () {
            setInterval(validarSesionCliente, 10000);
            fechaActual();
        });
        function fechaActual() {
            var d = new Date();
            var dia = new Array(7);
            dia[0] = "Domingo";
            dia[1] = "Lunes";
            dia[2] = "Martes";
            dia[3] = "Miercoles";
            dia[4] = "Jueves";
            dia[5] = "Viernes";
            dia[6] = "Sabado";

            var m2 = d.getMonth() + 1;
            var mesok = (m2 < 10) ? '0' + m2 : m2;
            var mesok = new Array(12);
            mesok[0] = "Enero";
            mesok[1] = "Febrero";
            mesok[2] = "Marzo";
            mesok[3] = "Abril";
            mesok[4] = "Mayo";
            mesok[5] = "Junio";
            mesok[6] = "Julio";
            mesok[7] = "Agosto";
            mesok[8] = "Septiembre";
            mesok[9] = "Octubre";
            mesok[10] = "Noviembre";
            mesok[11] = "Diciembre";

            var Digital = new Date()
            var hours = Digital.getHours()
            var minutes = Digital.getMinutes()
            var seconds = Digital.getSeconds()
            var dn = "AM";
            if (hours >= 12) {
                dn = "PM"
                hours = hours - 12
            }

            if (hours == 0)
                hours = 12
            if (minutes <= 9)
                minutes = "0" + minutes
            if (seconds <= 9)
                seconds = "0" + seconds

            var fecha = dia[d.getDay()] + "&nbsp;" + d.getDate() + "&nbsp;" + "de" + "&nbsp;" + mesok[d.getMonth()] + "&nbsp;" + "del" + "&nbsp;" + d.getFullYear() + "&nbsp;&nbsp;" + hours + ":" + minutes + ":" + seconds + " " + dn;
            $("#panelFecha").html(fecha);
            setTimeout("fechaActual()", 1000);
            return false;
        }
    </script>

</head>


<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="row" style="margin-top: 6px;">
                <div class="col-md-4 text-left">
                    <div class="da01" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;color:#1883c5;" id="panelFecha"></div>
                </div>
                <div class="col-md-2 text-right">
                    <p class="us01" style="color: #1883c5;">
                        @{
                            @using Microsoft.AspNetCore.Http;

                            var usuario = (String)Context.Session.GetString("IdUsuario");

                        }
                        Usuario:
                        <label id="lblUsuario" runat="server" style="font-weight: bold;">@usuario</label>
                        <input type="hidden" id="ifUsuario" name="ifUsuario" value="@usuario" >
                    </p>
                </div>
                <div class="col-md-2 text-right">
                    <p class="us02" style="color: #1883c5;">
                        @{
                            @using Microsoft.AspNetCore.Http;

                            var perfil = (String)Context.Session.GetString("DescripcionPerfil");

                        }
                        Perfil:
                        <label id="lblPerfil" runat="server" style="font-weight: bold;">@perfil</label>
                    </p>
                </div>
                <div class="col-md-2 text-right">
                    <a href="#" style="font-weight:bold;font-size:16px;color:#1883c5;" onclick="fn_descargarManual()">Manual</a>
                </div>
                <div class="col-md-2 text-right">
                    <a asp-area="" class="btn boton-close-sesion" asp-controller="Login" asp-action="Index"><i class="fa fa-power-off fa-lg" aria-hidden="true"></i> Cerrar Sesión</a>
                </div>
            </div>
        </div>
        <div class="container">
      
            <div class="row">
                <div class="col-md-12">
                    <div class="header-system">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td class="aligns">
                                    <div class="header-tittle">
                                        <p class="title01" style="color:white">
                                            Sistema de Registro de Requerimiento de Información de IMEI
                                        </p>
                                    </div>
                                </td>
                                <td class="aligns" align="right">
                                    <div class="header-img">
                                     
                                        <img src="~/banner-systems.png" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>            
            </div>
            
            <div id="divMenuHead" class="navbar-collapse collapse">
            </div>
        </div>
    </nav>

    @*<div id="divMenu">
        </div>*@

    <div id="custom-overlay" style="display:none">
        <div class="loading-spinner">
            <img src="~/images/osiptel/ajax-loader.gif" class="img-responsive" />
            <label style="width:200px; font-weight:bold;font-size:12px">Cargando Información... </label>
        </div>
    </div>
    @*<img src="~/images/osiptel/ajax-loader.gif" class="img-responsive" />*@

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - Gerencia de Tecnologías de la Información, Comunicaciones y Estadística  - OSIPTEL</p>
        </footer>
    </div>


    <environment exclude="Staging,Production,Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
